<!-- Child Boards -->
<div class="child-boards" ng-if="ThreadsCtrl.board.children.length > 0 && ThreadsCtrl.page === 1">
  <h5>Child Boards</h5>
  <div class="thin-underline"></div>
  <div class="board" ng-repeat="childBoard in ThreadsCtrl.board.children">

    <!-- Child Board's Name, Description, Child Boards -->
    <div class="info">
      <h5>
        <a ui-sref="threads.data({ boardId: childBoard.id })" class="board-name" ng-bind-html="childBoard.name"></a>
      </h5>

      <div class="description" ng-bind-html="childBoard.description"></div>

      <div ng-if="childBoard.children.length > 0">
        <strong>Child Boards:</strong>
        <span ng-repeat="child in childBoard.children">
          <a ui-sref="threads.data({ boardId: child.id })" ng-bind-html="child.name"></a>{{$last ? '' : ', '}}
        </span>
      </div>
    </div>

    <!-- Child Board Posts and Threads -->
    <div class="view-count">
      <div>
        <strong ng-bind="(childBoard.total_post_count | number:0) || 0"></strong> posts
      </div>
      <div>
        <strong ng-bind="(childBoard.total_thread_count | number:0) || 0"></strong> threads
      </div>
    </div>

    <!-- Child Board Last Post By -->
    <div class="last-post">
      <div ng-if="childBoard.last_thread_id">
        Last post by
        <span ng-if="!childBoard.last_post_username">deleted</span>
        <img ng-if="childBoard.last_post_username" class="avatar-small" ng-src="{{childBoard.last_post_avatar || $webConfigs.default_avatar}}" />
        <a ng-if="childBoard.last_post_username" ui-sref="profile.posts({ username: childBoard.last_post_username })" ng-bind="childBoard.last_post_username"></a>
      </div>
      <div ng-if="childBoard.last_thread_id">
        in
        <a ui-sref="posts.data({ threadId: childBoard.last_thread_id, start: childBoard.last_post_position })" ng-bind-html="childBoard.last_thread_title | decode | truncate:25" title="{{childBoard.last_thread_title | decode}}"></a>
      </div>
      <div ng-if="childBoard.last_thread_id">
        <span ng-bind="childBoard.last_post_created_at | humanDate"></span>
      </div>
    </div>

  </div>
</div>

<!-- Threads -->
<!-- Thread listing headers -->
<div class="threads-header" ng-if="ThreadsCtrl.threads">
  <div class="mobile-header">
    <h5>Threads</h5>
  </div>
  <div class="subject">
    <h5>Subject</h5>
  </div>
  <div class="replies">
    <h5>Replies</h5>
  </div>
  <div class="views">
    <h5>Views</h5>
  </div>
  <div class="last-reply">
    <h5>Last Post</h5>
  </div>
</div>
<div class="thin-underline"></div>

<!-- Sticky Thread listing -->
<div class="threads-data" ng-repeat="thread in ThreadsCtrl.stickyThreads track by thread.id">

  <div class="subject">
    <div class="title">
      <a ng-class="{bold: thread.has_new_post}" class="thread-title" ui-sref="posts.data({ threadId: thread.id })" ng-bind-html="thread.title"></a>
      <i class="icon-epoch-lock right" ng-if="thread.locked"></i>
      <i class="icon-epoch-verified right" ng-if="thread.sticky"></i>
      <i class="fa fa-bar-chart icon-fix right" ng-if="thread.poll"></i>
    </div>

    <div class="started-by">
      Started by
      <span ng-if="thread.user.deleted">deleted</span>
      <a ng-if="!thread.user.deleted" ui-sref="profile.posts({ username: thread.user.username })" ng-bind-html="thread.user.username"></a>
      <em ng-bind="'(' + (thread.created_at | humanDate) + ')'"></em>
    </div>

    <div class="mobile-stats">
      <strong class="mobile-replies" ng-bind="(thread.post_count - 1 | number:0) || 0"></strong>
      <span> Replies and </span>
      <strong class="mobile-views" ng-bind="(thread.view_count | number:0) || 0"></strong>
      <span> Views</span>
      <br />
      <span>Last post by </span>
      <span ng-if="thread.last_deleted">deleted</span>
      <img ng-if="!thread.last_deleted" class="avatar-small" ng-src="{{thread.last_post_avatar || $webConfigs.default_avatar}}" />
      <a ng-if="!thread.last_deleted" ui-sref="profile.posts({ username: thread.last_post_username })" ng-bind="thread.last_post_username"></a>
      <em ng-bind="' (' + (thread.last_post_created_at | humanDate) + ')'"></em>
    </div>

    <div class="pages" ng-if="thread.page_count > 1">
      <span ng-repeat="pageKey in thread.page_keys">
        <a ng-if="pageKey.threadId !== null" ui-sref="posts.data({ threadId: pageKey.threadId, page: pageKey.val })" ng-bind-html="pageKey.val"></a>
        <span ng-if="pageKey.threadId === null" ng-bind-html="pageKey.val"></span>
      </span>
    </div>
  </div>

  <div class="replies" ng-bind="(thread.post_count - 1 | number:0) || 0"></div>

  <div class="views" ng-bind="(thread.view_count | number:0) || 0"></div>

  <div class="last-reply">
    <a ui-sref="posts.data({ threadId: thread.id, start: thread.last_post_position, '#': thread.last_post_id })">Last post</a>
     by
     <span ng-if="thread.last_deleted">deleted</span>
     <img ng-if="!thread.last_deleted" class="avatar-small" ng-src="{{thread.last_post_avatar || $webConfigs.default_avatar}}" />
     <a ng-if="!thread.last_deleted" ui-sref="profile.posts({ username: thread.last_post_username })" ng-bind="thread.last_post_username"></a>
    <div ng-bind="thread.last_post_created_at | humanDate"></div>
    <div ng-if="thread.has_new_post">
      <a ui-sref="posts.data({ threadId: thread.id, start: thread.latest_unread_position, '#': thread.latest_unread_post_id })">Last unread post</a>
    </div>
  </div>
</div>

<!-- Thread listing -->
<div class="threads-data" ng-repeat="thread in ThreadsCtrl.threads track by thread.id">
  <div class="subject">
    <div class="title">
      <a ng-class="{bold: thread.has_new_post}" class="thread-title" ui-sref="posts.data({ threadId: thread.id })" ng-bind-html="thread.title"></a>
      <i class="icon-epoch-lock right" ng-if="thread.locked"></i>
      <i class="fa fa-bar-chart icon-fix right" ng-if="thread.poll"></i>
   </div>

    <div class="started-by">
      Started by
      <span ng-if="thread.user.deleted">deleted</span>
      <a ng-if="!thread.user.deleted" ui-sref="profile.posts({ username: thread.user.username })" ng-bind-html="thread.user.username"></a>
      <em ng-bind="'(' + (thread.created_at | humanDate) + ')'"></em>
    </div>

    <div class="mobile-stats">
      <strong class="mobile-replies" ng-bind="(thread.post_count - 1 | number:0) || 0"></strong>
      <span> Replies and </span>
      <strong class="mobile-views" ng-bind="(thread.view_count | number:0) || 0"></strong>
      <span> Views</span>
      <br />
      <span>Last post by </span>
      <span ng-if="thread.last_deleted">deleted</span>
      <img ng-if="!thread.last_deleted" class="avatar-small" ng-src="{{thread.last_post_avatar || $webConfigs.default_avatar}}" />
      <a ng-if="!thread.last_deleted" ui-sref="profile.posts({ username: thread.last_post_username })" ng-bind="thread.last_post_username"></a>
      <em ng-bind="' (' + (thread.last_post_created_at | humanDate) + ')'"></em>
    </div>

    <div class="pages" ng-if="thread.page_count > 1">
      <span ng-repeat="pageKey in thread.page_keys">
        <a ng-if="pageKey.threadId !== null" ui-sref="posts.data({ threadId: pageKey.threadId, page: pageKey.val })" ng-bind-html="pageKey.val"></a>
        <span ng-if="pageKey.threadId === null" ng-bind-html="pageKey.val"></span>
      </span>
    </div>
  </div>

  <div class="replies" ng-bind="(thread.post_count - 1 | number:0) || 0"></div>

  <div class="views" ng-bind="(thread.view_count | number:0) || 0"></div>

  <div class="last-reply">
    <a ui-sref="posts.data({ threadId: thread.id, start: thread.last_post_position, '#': thread.last_post_id })">Last post</a>
    by
    <span ng-if="thread.last_deleted">deleted</span>
    <img ng-if="!thread.last_deleted" class="avatar-small" ng-src="{{thread.last_post_avatar || $webConfigs.default_avatar}}" />
    <a ng-if="!thread.last_deleted" ui-sref="profile.posts({ username: thread.last_post_username })" ng-bind="thread.last_post_username"></a>
    <div ng-bind="thread.last_post_created_at | humanDate"></div>
    <div ng-if="thread.has_new_post">
      <a ui-sref="posts.data({ threadId: thread.id, start: thread.latest_unread_position, '#': thread.latest_unread_post_id })">Last unread post</a>
    </div>
  </div>
</div>
