<div class="admin-table-header">
  <div class="half-column">
    <div class="nested-input-container">
      <a ng-href="#" ng-click="insertNewCategory()" class="nested-btn">Add Category</a>
      <input class="input-text nested-input" type="text" id="new-cat" ng-model="newCatName" placeholder="New Category Name">
    </div>
  </div>
  <a ng-href="#" ng-click="showAddBoard = true" class="button half-column">Add New Board</a>
  <div class="clear"></div>
</div>

<div class="row-section">
  <div class="half-column">
    <h5 class="thin-underline">
      Categorized Boards
      <div class="right">
        <a ng-click="expandAll()"><i class="fa fa-expand"></i> Expand</a>&nbsp;
        <a ng-click="collapseAll()"><i class="fa fa-compress"></i> Collapse</a>
      </div>
    </h5>
    <nestable-categories></nestable-categories>
    <button class="tiny" ng-click="reset()"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Reset</button>&nbsp;
    <button class="tiny" ng-click="save()"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
  </div>
  <div class="half-column">
    <h5 class="thin-underline">Uncategorized Boards</h5>
    <nestable-boards></nestable-boards>
  </div>
</div>

<!-- MODALS -->
<modal show="showAddBoard" on-close="clearAddBoardFields()">
  <h3 class="thin-underline">Add New Board</h3>
  <label>Board Name
    <input type="text" class="input-text" id="newBoardName" placeholder="Board Name" />
  </label>
  <label>Board Description
    <textarea rows="5" id="newBoardDesc" placeholder="Board Description"></textarea>
  </label>
  <label>Board Viewable By:
    <input type="number" id="newBoardViewable" placeholder="User Priority" min="0"></input>
  </label>
  <div class="clear">
    <button ng-click="insertNewBoard()" class="fill-row">Add Board</button>
  </div>
</modal>

<modal show="showEditBoard">
  <h3 class="thin-underline">Edit Board</h3>
  <label>Board Name
    <input type="text" class="input-text" id="editBoardName" ng-model="editBoardName" placeholder="Board Name" />
  </label>
  <label>Board Description
    <textarea rows="5" id="editBoardDesc" ng-model="editBoardDesc" placeholder="Board Description"></textarea>
  </label>
  <label>Board Viewable By:
    <input type="number" id="editBoardViewable" placeholder="User Priority" min="0" />
  </label>
  <div class="clear">
    <button ng-click="editBoard()" class="fill-row">Edit Board</button>
  </div>
</modal>

<modal show="showDeleteBoard">
  <h3 class="thin-underline">Confirm Delete</h3>
  <p>
    Are you sure you would like to mark this board for deletion? Delete will not take effect until the changes are saved.
  </p>
  <p>
    <strong>WARNING: Deleting this board will delete all threads and posts in this board.</strong>
  </p>
  <div class="clear">
    <button ng-click="confirmBoardDelete()" class="fill-row">Delete</button>
  </div>
</modal>

<modal show="showEditCategory">
  <h3 class="thin-underline">Edit Category</h3>
  <label>Category Name
    <input type="text" class="input-text" id="editCatName" placeholder="Category Name" />
  </label>
  <label>Category Viewable By:
    <input type="number" id="editCatViewable" placeholder="User Priority" min="0"/>
  </label>
  <div class="clear">
    <button ng-click="editCategory()" class="fill-row">Edit Category</button>
  </div>
</modal>

<modal show="showDeleteCategory">
  <h3 class="thin-underline">Confirm Delete</h3>
  <p>
    Are you sure you would like to mark this category for deletion? Delete will not take effect until the changes are saved.
  </p>
  <p>
    All boards under this category will be moved to the 'Uncategorized Boards' section.
  </p>
  <div class="clear">
    <button ng-click="confirmCatDelete()" class="fill-row">Delete</button>
  </div>
</modal>
