// SASS variables

// Header Layout Colors

$header-bg-color: RGB(66, 71, 80);
$header-text-color: RGB(255, 255, 255);
$header-border-color: RGB(166, 168, 172);

$breadcrumbs-bg-color: RGB(244, 244, 244);
$breadcrumbs-link-color: RGB(85, 85, 85);
$breadcrumbs-border-color: RGB(232, 232, 232);
$breadcrumbs-shadow-color: RGB(214, 214, 214);

// Font Colors
$font-color-darkgray: RGB(40, 40, 40);

// Old Colors
$color-epoch: slategray;
$color-active: rgb(255, 78, 0); 		//orange
$color-active-fill: rgb(255, 116, 66); 		//lighter orange
// $color-active: 			rgb(255, 71, 175); 	//pink
// $color-active: 				rgb(44, 163, 48); 			//green
$color-active-light: lighten($color-active, 15);
$color-active-dark: darken($color-active, 15);
$color-body: #444;
$color-gray: lighten($color-body, 20%);
$color-gray-med: lighten($color-body, 40%);
$color-gray-light: lighten($color-body, 60%);
$color-gray-sub: lighten($color-body, 71%);
$color-gray-dark: darken($color-body, 10%);
$secondary-color: rgb(255, 71, 175); 	//pink

// Layout
$font-size-body: 100%;
$line-height: 1.5;

// Fonts
//$font-serif: "crimson_text_roman", "Times New Roman", serif;
$font-sans: "Lato", "Helvetica Neue", Helvetica, sans-serif;
$font-condensed: "HelveticaNeueMediumCondensed", "HelveticaNeue-Medium-Condensed", "Helvetica Neue Medium Condensed", "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;

// Mixins
@mixin list-clean {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

@mixin list-flat {
	display: inline-block;
	padding-right: 1rem;
	&:last-child {
		padding-right: 0;
	}
}

@mixin bg-cover {
	-webkit-background-size: 	cover;
	-moz-background-size: 		cover;
	background-size: 					cover;
}
