.editor-body {
  background-color: #fff;
  max-width: 100%;
  position: absolute;
  top: 40px; 
  bottom: 25px; }
.editor-column-left { padding: 0 5px 0 0; height: 100%; }
.editor-column-right { padding: 0 0 0 5px; height: 100%; }
.editor-footer { color: #777; }

.editor-input {
  white-space: pre;
  overflow: auto;
  height: 100%; }
.editor-input p { margin: 0; }
.editor-input span {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.6; }

.editor-preview { 
  white-space: pre;
  overflow: auto;
  height: 100%; }
.editor-preview p { margin: 0; }

.editor-footer {
  position: absolute;
  bottom: 0px;
  height: 25px; }