html { margin: 0; padding: 0; }
body { margin: 0; padding: 0; }

.editor-left-column { padding-right: 0px; }
.editor-right-column { padding-left: 0px; }
.editor-body { background-color: #fff; }
.editor-footer { color: #777; }

.editor-input {
  border: 1px solid #ccc;
  padding: 8px 10px 10px 10px;
  min-height: 60px;
  outline: none;
  white-space: pre;
  cursor: default; }
.editor-input p { margin: 0; }
.editor-input span {
  font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px; }

.editor-preview {
  padding: 8px 10px 10px 10px;
  border: 1px solid #ccc;
  border-left: 0;
  min-height: 60px;
  word-wrap: break-word;
  white-space: pre; }
.editor-preview p { margin: 0; }
