@import 'variables';
@import 'epoch-icons';
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

// Globals ----------------------------------------------------------------- //
body { font-family: $font-sans; }
h1, h2, h3, h4, h5, h6 { font-family: $font-sans; }

a {
  color: $color-active;
  &:hover, &:focus { color: $color-active-dark; }
}

/* Button Overrides */
.button,
button {
  background-color: $color-active-fill;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 2px;
  border-color: $color-active-fill;
  font-family: $font-sans;
  outline: none;
  padding: 10px 22px;
}

// disabled button and disabled button hover/focus styles
button.disabled:hover,
button.disabled:focus,
button[disabled]:hover,
button[disabled]:focus,
.button.disabled:hover,
.button.disabled:focus,
.button[disabled]:hover,
.button[disabled]:focus,
.button[disabled],
button[disabled],
.button.disabled {
  background-color: $color-gray-med;
  border-color: $color-gray-med;
}

// button hover/focus styles
button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: $color-active-dark;
  border-color: $color-active-dark;
}

a.button.prefix {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;}
a.button.postfix {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; }

/* Form style tweaks */
input[type] {
  box-shadow: none;

  &.ng-invalid,
  &.ng-invalid-mismatch { border-color: red; }
  &.ng-untouched { border-color: #ccc; }
  &:focus { box-shadow: none; }
}

label > input[type="checkbox"] { margin-right: .25rem; }

.form-action {
  padding: .5rem 0 1.5rem;
  text-align: center;
  button, .button { width: 100%; }
  .secondary-action { margin: 0 1rem; }
}
.form-action-secondary {
  border-top: 1px solid $color-gray-light;
  font-size: .875rem;
  padding-top: 1rem;
  text-align: center;
  width: 100%;
}
.secondary-action { color: $color-gray-med; }
.secondary-action:hover,
.secondary-action:focus { color: $color-active; }

// Page Structure ---------------------------------------------------------- //
.main-content {
  min-height: 100%;
  margin-bottom: -120px;
  padding-bottom: 120px; }
.content-spacer { min-height: 500px; }
.thin-dotted-underline,
.thin-underline {
  border-bottom: 1px dotted $color-gray-light;
  margin-bottom: 10px;
  padding-bottom: 10px; }
.thin-underline { border-bottom: 1px solid $color-gray-light; }
.text-info { font-size: 13px; color: #999; }
.bold-title { font-weight: bold; }
.no-margin { margin: 0; }
.anchor-offset {
  display: block;
  position: relative;
  top: -55px;
  visibility: hidden; }
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.inline-block { display: inline-block; }
.pointer { cursor: pointer; }
.full-width { max-width: none; padding: 0 20px; }
.word-wrap { word-wrap: break-word; }

// Foundation Tool Overrides ----------------- //
/* Magellan */
.magellan-override { padding: 0px; background: transparent; }
.top-bar .name h1 { font-family: 'Inconsolata'; font-size: 20px; }

// Page Controls ----------------------------- //
.page-controls {
  &> dl {
    margin-bottom: 0;
    padding: 0 0 20px;

    &> dd { margin: 0; }

    dd {
      a {
        display: block;
        padding: 10px 16px;
        border: 1px solid $color-gray-light;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;

        i { margin-right: 6px; }

        &:hover {
          background-color: $color-active;
          color: #fff;
        }
      }
    }
  }
}

.side-nav li a:not(.button) { color: $color-active; }
.side-nav li a:not(.button):hover,
.side-nav li a:not(.button):focus { color: $color-active-dark; }

// Modal Styles ----------------------------- //
.reveal-modal .close-reveal-modal,
dialog .close-reveal-modal { font-size: 1.5rem; right: 1rem; }

/* Modal Forms */
.input-error { margin-top: -25px; }
.input-section { margin-bottom: 30px; }
.input-section input { margin-bottom: 0; }
.input-section button { margin-bottom: 0; }
.input-section small { display: block; }
form .input-section:last-child {margin-bottom: 0px; }

// Layout ------------------------------------ //
/* Login - optimize for mobile layout */
.login-container > li { margin-right: 5px; }
.red.label { background-color: #e91c21; display: block; }
.error-container {
  div {
    background-color: red;
    color: #fff;
    padding: 8px 10px;
    margin: 0 0 1rem;
  }
}

/* Header */
.recover-btn { width: 85px; }
input.icon-padding { padding-right: 40px; }
.input-info { padding: 0 5px; line-height: inherit; }
.invalid { color: rgba(206, 4, 6, 0.64); }
.valid { color: rgba(27, 196, 63, 0.64); }
.input-icon {
  cursor: default;
  font-size: 20px;
  position: relative;
  float: right;
  width: 20px;
  height: 20px;
  z-index: 9999;
  top: -27px;
  right: 10px;
}

#header {
  background-color: #fff;
  border-bottom: 1px solid $color-gray-light;
  margin-bottom: 2rem;

  .top-bar {
    background-color: inherit;

    .name a { color: inherit; padding: 0; }
    .logo a { color: inherit; padding-top: 20px; }

    .title-area { background-color: inherit; }

    .top-bar-section {
      font-size: 0.875rem;
      font-weight: 300;

      .dropdown {
        border: 1px solid $color-gray-light;
        border-top: none;
        left: -1px;
        right: -1px;
      }

      ul li,
      ul > li a.button,
      li > a,
      .has-dropdown a {
        background-color: #fff;
        color: $color-gray;
        font-size: 0.875rem;
        font-weight: 400;
        font-family: $font-sans;
      }

      ul > li > a {
        &:hover { color: $color-active; }
      }

      .has-dropdown {
        border: 1px solid transparent;

        &:hover {
          border-right: 1px solid $color-gray-light;
          border-left: 1px solid $color-gray-light;
        }

        &:hover,
        &:hover a,
        .dropdown li a { background-color: #fafafa; }
      }
    }
  }

  .breadcrumbs {
    background-color: transparent;
    border: none;
    border-radius: 0;
    height: 30px;
    line-height: 30px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;

    li { line-height: 30px; }
  }

  .fixed {
    border-bottom: 1px solid $color-gray-light;

    ul {
      margin: 0 auto;
      max-width: 62.5rem;
      padding: 0 0.9375rem;
    }
  }

  [data-magellan-expedition],
  [data-magellan-expedition-clone] { padding: 0 0.9375rem; }

  .header-top { border-bottom: 1px solid $color-gray-light; }

  .search {
    // border-left: 1px solid $color-gray-light;
    // border-right: 1px solid $color-gray-light;
  }

  .form-group {
    position: relative;

    input[type="text"] {
      border: none;
      box-shadow: none;
      height: 45px;
      padding-left: 32px;
      top: 0;
      width: 250px;
    }

    label {
      color: $color-gray-med;
      font-size: 1.1rem;
      position: absolute;
      left: 8px;
      top: 8px;
    }
  }

  .avatar {
    height: auto;
    margin-bottom: 3px;
    margin-left: 6px;
    padding: 0 2px;
    width: 40px;
  }
}

#header-wrap #header {
  .admin-header {
    background-color: $color-gray-dark;
  }

  .admin-header {
    .top-bar-section {
      .login-container { padding-right: 5px;}
      .dropdown {
        border: 1px solid #666;
        border-top: none;
        left: -1px;
        right: -1px;
      }

      .top-bar-btn:active, .top-bar-btn, .top-bar-btn-selected, .top-bar-btn-selected:hover {
        line-height: 25px;
        height: auto;
        margin-top: 4px;
        text-align: center;
        background-color: trasparent;
        border-radius: 3px;
        color: #fff;
      }
      .top-bar-btn:hover, .top-bar-btn-selected {
        background-color: #555;
        color: #fff;
      }

      .has-dropdown {
        .avatar { margin-top: -1px; }
        border: 1px solid transparent;
        a { background-color: transparent; color: #fff; }
        &:hover {
          border-right: 1px solid #666;
          border-left: 1px solid #666;
        }

        &:hover,
        &:hover a,
        .dropdown li a { background-color: $color-gray-dark; }
      }

      ul.left li {
        padding-right:10px;
        padding-top:6px;
      }
      ul.left:first-child {
        padding-left:10px;
      }
      ul {
        li {
          background-color: transparent;

          &>a {
            background-color: transparent;
            color: #fff;

            &:hover { color: $color-active-light; }
          }
        }
      }

      .form-group {
        border-color: $color-gray;

        input[type="text"] {
          background-color: transparent;
          color: #fff;
        }
      }
    }

    .form-group {
      input[type="text"] { width: 100%; }
    }
  }
}

.admin-header {
  // border-bottom: 1px solid $color-gray-sub;
  // height: 3.2rem;
  position: fixed;
  width: 100%;
  z-index: 999;

  .title-area {
    margin-left: 1rem;
    .logo {
      padding-top: 7px;
      color: $color-active;
    }
  }
}

/* Pagination */
pagination {
  .pagination {
    float: right;

    li {
      &.current {
        a {
          background: $color-active;

          button:focus {
            background: $color-active;
          }

          &:hover, &:focus {
            background: $color-active-dark;
          }
        }
      }
    }
  }
}

/* Breadcrumb CSS */
.breadcrumbs > * a { color: $color-active; }
.breadcrumbs > .news:before {
  content: "";
  margin: 0 0;
  position: relative;
  top: 1px; }
.breadcrumbs > .news { color: #444; text-transform: none; }
.breadcrumbs > li > span  { color: #444; }

/* Sidebar */

#sidebar {
  position: fixed;
  width: 225px;
  z-index: 998;
  height: 100%;
  margin-top: 12px;
  padding-bottom: 45px;
  background-color: #EFEFEF;
  overflow-y: auto;

  .sidebar-category {
    padding-left: 8px;
    margin: 0;
    font-weight:bold;
    display: inline-block;
  }
  .sidebar-collapse-btn {
    font-size: 0.7rem;
    padding-left: 12px;
    color:  $color-active;
    display:inline-block;
    position: relative;
    top: -1px;
    width: 15px;
    margin-right: 5px;
  }

  .side-nav {
    padding-top: 0;

    li {
      border-top: 1px solid $color-gray-light;
      padding: 1rem 0;

      ul {
        list-style-type: none;
        margin-top: 0.25rem;
      }
    }
  }

  .collapsible {
    margin-left: 20px;

    li {
        border-top: none;
        padding: 0;
      }
  }
}

.sidebar-spacer { padding-top: 15px; }
.has-form { min-width: 400px; }

/* Content */

.admin-content,
.public-content {
  .content-header {
    padding: 40px 36px 20px;
  }

  h2 {
    color: $color-gray-dark;
    margin-bottom: 0;
    display: inline-block;
  }

  // .data {
  //   margin-top: 2rem;
  // }

  // Moderation Queue
  .tabs dd {
    top: 6px;
  }

  .custom-tabs {
    display: inline-block;
    padding-left: 25px;
    dd {
      &.active a {
        border: 1px solid $color-active;
        border-radius: 3px;
        color: $color-active;
      }

      a {
        background-color: transparent;
        padding: 0.4rem 1rem;
      }
    }
  }

  table {
    border: none;

    thead {
      background-color: transparent;
      tr {
        border-bottom: 1px solid $color-gray-light;
      }
      th {
        color: $color-gray-med;
        font-weight: 400;
      }
    }

    tr {
      border-bottom: 1px solid $color-gray-sub;
      vertical-align: top;
      &:nth-of-type(even) {
        background: transparent;
      }
      &:nth
      td {
        padding-top: 24px;
        padding-bottom: 24px;
      }
      td {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }
  }
}

.public-content {
  .content-header {
    margin: 0 auto;
    max-width: 62.5rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding-top: 0;
  }
}

/* Footer */
.footer {
  position: relative;
  clear:both;
  background-color: $color-gray-sub;
  color: $color-gray;
  font-size: .8rem;
  padding: 10px 10px 40px 10px;
  margin-bottom: 0;

  a {
    color: $color-gray;
    &:hover { color: $color-active; }
  }

  ul {
    font-size: .8rem;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .title {
    font-weight: 600;
    line-height: 3;
  }

  .copyright,
  .attrib {
    display: block;
    text-align: right;
  }

  .copyright {
    font-size: 1.5rem;
    font-weight: 200;
  }
}

// PAGES ------------------------------------------------------------------- //

// Admin Page -------------------------------- //
/* Admin Manage Groups */
.admin-content table tr.selectable-row:hover { background-color: $secondary-color; }
.pointer { cursor: pointer; }
.admin-content table tr.active-row { background-color:  $color-active; }
.admin-content table tr.active-row.selectable-row:hover { background-color:  $color-active }
input.member-select { margin: 0px; }
.admin-content table tr.active-row td { color: #fff; }

/* Admin Moderation Queue */
// .tabs {
//   border-bottom: 1px dotted #ccc;
//   width: 65%;
//   min-width: 550px;
// }
// .custom-tabs dd.active a { background-color: #eaeaea; }
// .custom-tabs dd a { background-color: #fff; }


// Board Page -------------------------------- //
.board-page { padding-bottom: 15px; }
.child-board { padding-bottom: 5px; }
.child-board h5 { margin-bottom: 0px; }
.child-board-desc { font-size: 14px; line-height: 1.1; padding-bottom: 3px; word-wrap: break-word; overflow-wrap: break-word; }
.child-board-desc :last-child { padding-bottom: 0; }
.thread-header {
  h6 {
    color: $color-gray-med;
    font-weight: 400;
  }
}
.thread-title {
  font-weight: 600;
  word-wrap: break-word;
  overflow-wrap: break-word; }
.thread-listItem { padding: 5px 0 15px; }
.thread-listItem .division { font-size: 80%; line-height: 1.5; }

.board-name {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.board-name a { text-decoration: none; }

.thread-editor-container {
  position: relative;
  padding-top: 20px;
  background-color: white;
  height: 500px; }

// Boards Page ------------------------------- //
.board-header {
  background-color: $color-gray-sub;
  padding: 20px 0 0;
  margin-bottom: 2rem;
  margin-top: -2rem;
}

.category { margin-bottom: 30px; }
.category-title {
  h3 {
    color: $color-gray;
    font-size: 1.3em;
    margin-bottom: 0;
    margin-top: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .collapse-btn {
    font-size: .7em;
    margin-right: 4px;
  }

  .thin-dotted-underline {
    margin-left: 24px;
  }
}

.category-board {
  margin-bottom: 30px;
  padding-left: 24px;
}

.category-board-name { font-size: 20px; margin-bottom: 5px; }

.category-board-desc {
  font-size: 14px;
  line-height: 1.1;
  word-wrap: break-word;
  overflow-wrap: break-word; }

.moderators {
  color: #999;
  font-size: 13px;
  margin-bottom: 5px; }

.child-boards {
  color: #666;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px; }

.collapse-btn {
  display:inline-block;
  position: relative;
  top: -3px;
  width: 15px;
  margin-right: 5px;
  font-size: .875em;
}

// New Thread Page --------------------------- //
.info-box { margin-bottom: 10px; }

// Post Page --------------------------------- //
.post-sig-border {
  clear: both;
  width: 250px;
  border-top: 1px solid $color-gray-light;
  margin-bottom: 1.4rem;
  margin-top: 1.4rem;
}

.post-signature {
  clear: both;
  color: $color-gray-med;
  font-size: 13px;
  height: 80px;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;

  a {
    color: $color-gray-med;

    &:hover { color: $color-active; }
  }
}

.post-block {
  border-bottom: 1px solid $color-gray-light;
  margin-bottom: 1.6rem;
  padding-bottom: 2.4rem;
}

.post-user {
  width: 100%;

  .user-avatar {
    background: no-repeat center center;
    @include bg-cover;
    height: 120px;
    position: relative;
    width: 100%;
  }
  .user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .user-role {
    background-color: rgba(0,0,0,.75);
    bottom: 0;
    color: #fff;
    font-size: .8125em;
    font-weight: 600;
    left: 0;
    padding: 3px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  .user-details {
    @include list-clean;
    font-size: .8125rem;

    .name {
      font-size: 1rem;
      font-weight: 600;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }

  .user-role-sm {
    display: none;
  }
}

.post-title {
  color: $color-gray-med;
  // float: left;
  width: 100%;
}

.post-action {
  @include list-clean;
  clear: both;
  float: right;
  padding-left: 1rem;

  &:hover a {
    color: $color-gray-med;
  }

  li {
    @include list-flat;
  }

  a {
    color: $color-gray-light;
    transition: all .1s ease;

    &:hover {
      color: $color-active;
    }
  }
}

.post-body {
  margin-bottom: 1.2rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word; }
.post-body img.loaded { opacity: 1; }
.post-body img {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  -ms-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}
.post-body .imageContainer.loaded { background: none; }
.post-body .imageContainer {
  background: url('/static/img/loading.gif') no-repeat center;
  display: inline;
}
.editor-preview .imageContainer { display: inline; }

.quoteHeader {
  border-top: 1px solid #eee;
  margin: 0;
  padding: 10px 10px 0;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-radius: 8px 8px 0 0;
}

.quote {
  border-bottom: 1px solid #eee;
  color: $color-gray-med;
  margin: 0 0 10px;
  padding: 0 10px 15px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-radius: 0 0 8px 8px;

  &>br:first-child,
  &>br:last-child,
  &+br { display: none; }
}

.resize-cursor { cursor: ns-resize; }
.editor-fixed-bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1000; }

.post-toolbar {
  // background-color: $color-active;
  background-color: $color-gray-dark;
  border: 2px solid #fff;
  border-bottom: none;
  color: #fff;
  float: right;
  margin: 0 1rem 0 0;
  -webkit-border-radius:  25px 25px 0 0;
  -moz-border-radius:     25px 25px 0 0;
  border-radius:          25px 25px 0 0;

  li {
    cursor: pointer;
    float: left;
    list-style-type: none;
    padding: 10px 14px;

    &:nth-child(2) {
      cursor: auto;
      padding: 10px 0;
    }
  }

  i {
    margin-right: .3rem;
  }

}

.editor-container {
  background-color: $color-gray-dark;
  position: relative;
  padding-top: 20px;
  min-height: 288px;
}
.editor-container-bar {
  display: block;
  position: relative;
  text-align: center;
  top: -28px;
  width: 100%;
  height: 10px;
}

.editor-form {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.9375rem;
  right: 0.9375rem;

  label {
    color: $color-gray-light;
    margin-top: 0;
  }

  .editor-body {
    width: 100%;
    position: absolute;
    top: 40px;
    bottom: 65px;

    input[type],
    .editor-input,
    .editor-preview {
      background-color: #fff;
      border: 1px solid $color-gray-med;
      padding: 0.5rem;
      resize: none;

      &:focus {
        outline: 1px solid $color-active;
      }
    }
  }

  .editor-column-left { padding: 0 5px 0 0; }
  .editor-column-right { padding: 0 0 0 5px; }
  .editor-column-left,
  .editor-column-right {
    height: 100%;
    label { margin-bottom: 0.2rem; }
  }

  .editor-input {
    white-space: pre-wrap;
    overflow: auto;
    height: 100%;

    p { margin: 0; }
    span {
      font-family: inherit;
      font-size: 1rem;
      line-height: 1.6; }
  }

  .editor-preview {
    white-space: pre-wrap;
    overflow: auto;
    height: 100%;
    word-wrap: break-word;

    p { margin: 0; }
  }

  .editor-footer {
    color: $color-gray;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: .875rem;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 65px;
  }

  .editor-images-container {
    height: 100%;
    padding-left: 0px;
    padding-right: 5px;
  }

  .editor-image-uploader {
    display: block;
    width: 100%;
    text-align: center;
  }

  .editor-images {
    height: 100%;
    width: 100%;
    padding: 11px 10px 0px;
  }
  .editor-images:hover {
    background: rgba(0,0,0,0.1);
    border: 2px dashed #777;
    padding-top: 9px;
  }
}
.editor-form div label { margin-top: 15px; }
.editor-form small {
  display: block;
  line-height: 1;
  padding: 0.25rem 0.5rem 0.375rem;
  font-size: 0.6875rem;
  margin: 0; }
.posts-editor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
.editor-button-container {
  position: absolute;
  bottom: 0;
  right: 0.9375rem;
  height: 53px;
  text-align: right;
  width: 49%;

  button.button {
    // float: right;
    margin-right: 1.9%;
    width: 48%;

    &:last-child {
      margin-right: 0;
    }

    &.cancel {
      background-color: transparent;
      color: $color-gray-light;
      width: 25%;
      &:hover {
        color: $color-active;
      }
    }
  }
}

.image-picker {
  .header {
    background-color: #4b4b4b;
    color: #777777;
    padding-left: 5px;
    border-bottom: 5px solid #ccc;
    font-size: smaller;
  }
  .picker-body {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .picker-body img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.picker-body .after {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  color: #FFF;
  padding: 45px;
  text-align: center;
  background: rgba(0, 0, 0, .6);
}
.image-picker {
  height: 170px;
  border: 5px solid #ccc;
  overflow: hidden;
}
.picker-list { margin-top: 20px; }

// Profile Page ------------------------------ //
.profile-form label { margin-top: 20px; }
.profile-form label:first-child { margin-top: 0; }
.profile-form label:last-child { margin-bottom: 20px; }
.profile-form input { margin-bottom: 0; }
.profile-form small {
  display: block;
  line-height: 1;
  padding: 0.25rem 0.5rem 0.375rem;
  font-size: 0.6875rem;
  margin: 0; }

/* Profile Avatar */
.profile-avatar-container {
  position: relative;
  width: 100%;
  height: 200px;
  }
.profile-avatar-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-avatar-container .after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  color: #FFF;
  padding: 10px;
  background: rgba(0, 0, 0, .6);
}
.profile-boxes { padding: 10px; margin-bottom: 1.25rem; }
.profile-stats { text-align: center; }
.profile-stat { font-size: 26px; }
.profile-edit-container { padding-top: 10px; text-align: center; }
.profile-save-container { padding-top: 20px; }

// 404 --------------------------------------- //
.error-code { font-weight: 100; font-size:200px; }
.error-message { font-size:30px; color:  $color-active; }

// NoScript ---------------------------------- //
.sad-face { font-size:300px; }
.noscript-message { margin-top: 200px; font-size: 20px; }

// Admin - Common ---------------------------- //
.admin-table-header {
  background-color: $color-gray-sub;
  padding: 20px 0 0;
  margin-bottom: 2rem;
}
.admin-table-fix { clear: both; }
.nested-input-container { position: relative; }
input[type].nested-input { padding-right: 146px; }
.nested-btn {
  position: absolute;
  right: 4px;
  top: 4px;
  display: inline-block;
  width: 140px;
  height: 29px;
  line-height: 30px;
  border-radius: 2px;
  font-size: 13px;
  z-index:2;
  background: $color-active-fill;
  color: #fff;
  text-align: center;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
.nested-btn:hover,
.nested-btn:focus {
  background-color: $color-active-dark;
  border-color: $color-active-dark;
  color: #fff;
}

.onoffswitch {
    position: relative;
    float: right;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}
.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.2s ease-in 0s;
    -webkit-transition: margin 0.2s ease-in 0s;
    -o-transition: margin 0.2s ease-in 0s;
    transition: margin 0.2s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 36px;
    padding: 0;
    line-height: 36px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 12px;
    width: 79px;
    background-color: #FF7442;
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    width: 79px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 30px;
    height: 32px;
    margin: 3px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    position: absolute;
    top: 1px;
    bottom: 0;
    right: 45px;
    -moz-transition: all 0.2s ease-in 0s;
    -webkit-transition: all 0.2s ease-in 0s;
    -o-transition: all 0.2s ease-in 0s;
    transition: all 0.2s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

// Admin - General Settings ------------------ //
.column-padding-fix { padding-left: 0px; padding-right:0px; }
.column-spacing-fix { padding-right: 25px; }
.section-header-top-spacing { padding-top: 35px; clear: both; }
span.postfix-custom { background: #fff; }
.upload-btn { pointer-events: none; }
.file-upload {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  display: inline-block;
}
.admin-btn {
  background: $color-active-fill;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  font-size: 13px;
}
.desc-label { color: #BBBBBB; }
input[type].hide-radio {
  display: none;
}
.radio-spacer {
  clear: both;
  padding-top: 12px;
}
.radio-toolbar label, admin-btn {
  display: inline-block;
  height: 36px;
  width: 100%;
  border-radius: 2px;
  font-size: 13px;
  line-height: 36px;
  text-align: center;
}
.radio-toolbar input[type="radio"]:checked + label {
    background: $color-active-fill;
    color: #fff;
}

// Media Queries
// Medium
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .column-spacing-fix { padding-right: 0px; }
}
//Small
@media only screen and (max-width: 40em) {
  .column-spacing-fix { padding-right: 0px; }
  .post-user {
    margin-bottom: .5rem;

    .user-avatar,
    .points,
    .activity {
      display: none;
    }

    .user-role-sm {
      color: $color-gray-med;
      display: inline;
      font-size: .75rem;
      margin-left: .4rem;
      text-transform: uppercase;
    }
  }

  .posts-editor {
    .editor-preview,
    .editor-footer {
      display: none;
    }
  }

  .post-block {
    padding-bottom: 1.2rem;
  }

  .post-title .post-action {
    display: none;
  }

  .post-signature {
    display: none;
  }

  .post-sig-border {
    display: none;
  }

  .post-action {
    float: left;
    font-size: 1.2rem;
    padding-left: 0;
  }

  .view-count {
    padding-top: 15px;
    float: right;
  }
  .last-post {
    padding-top: 15px;
    float: left;
  }

  .noscript-message {
    margin-top: 0px;
  }

  #header .fixed ul {
    padding: 0px;
  }

  .footer {
    ul {
      margin-bottom: 1rem;
    }

    li {
      display: inline-block;
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }

    .title {
      display: block;
      line-height: inherit;
    }
    .copyright,
    .attrib {
      text-align: left;
    }
  }

  .editor-container {
    &:after {
      display: none;
    }
  }

  .editor-button-container {
    right: 0;
    left: 0;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    width: 90%;

    button.button {
      // float: right;
      margin: 0;
      width: 49%;

      &.cancel {
        width: 49%;
      }
    }
  }
}
