@import 'variables';
@import 'epoch-icons';
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

/** Globals ---------------------------------------------------------------- */
body { font-family: $font-sans; }
h1, h2, h3, h4, h5, h6 { font-family: $font-sans; }

a {
  color: $color-active;

  &:hover, &:focus {
    color: $color-active-dark;
  }
}

.sad-face {
  font-size:300px;
}

.noscript-message {
  margin-top: 200px;
  font-size: 20px;
}

// Form style tweaks ------------------------- //
input[type] {
  box-shadow: none;

  &.ng-invalid,
  &.ng-invalid-mismatch {
    border-color: red;
  }

  &.ng-untouched {
    border-color: #ccc;
  }

  &:focus {
    box-shadow: none;
  }
}

// Form style tweaks ------------------------- //
input[type] {
  box-shadow: none;

  &.ng-invalid,
  &.ng-invalid-mismatch {
    border-color: red;
  }

  &.ng-untouched {
    border-color: #ccc;
  }

  &:focus {
    box-shadow: none;
  }
}

label > input[type="checkbox"] {
  margin-right: .25rem;
}

.form-action {
  padding: .5rem 0 1.5rem;
  text-align: center;

  button, .button {
    width: 100%;
  }

  .secondary-action {
    margin: 0 1rem;
  }
}

.form-action-secondary {
  border-top: 1px solid $color-gray-light;
  font-size: .875rem;
  padding-top: 1rem;
  text-align: center;
  width: 100%;
}

.body-scroll-lock { overflow: hidden; }
.main-content { min-height: 100%; }
.content-spacer { min-height: 500px; }
.thin-dotted-underline, .thin-underline {
  border-bottom: 1px dotted $color-gray-light;
  margin-bottom: 10px;
  padding-bottom: 10px; }
.thin-underline {
  border-bottom: 1px solid $color-gray-light;
}
.text-info { font-size: 13px; color: #999; }
.bold-title { font-weight: bold; }
.no-margin { margin: 0; }
.anchor-offset { display: block; position: relative; top: -35px; visibility: hidden; }
.no-select { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.inline-block { display: inline-block; }
.pointer { cursor: pointer; }
.full-width { max-width: none; padding: 0 20px; }

/* Foundation Overrides */
.magellan-override { padding: 0px; background: transparent; }
.top-bar .name h1 { font-family: 'Inconsolata'; font-size: 20px; }
.button, button {
  background-color: $color-active;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  border-color: $color-active;
  font-family: $font-sans;
  outline: none;
  padding: 10px 22px;
}

// disabled button and disabled button hover/focus styles
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus, .button[disabled], button[disabled], .button.disabled {
  background-color: $color-gray-med;
  border-color: $color-gray-med;
}

// button hover/focus styles
button:hover, button:focus, .button:hover, .button:focus {
  background-color: $color-active-dark;
  border-color: $color-active-dark;
}

.secondary-action {
  color: $color-gray-med;
}

.secondary-action:hover, .secondary-action:focus {
  color: $color-active;
}

// Page Controls ----------------------------- //
.page-controls {
  &> dl {
    margin-bottom: 0;
    padding: 0 0 20px;

    &> dd {
      margin: 0;
    }

    dd {
      a {
        display: block;
        padding: 10px 16px;
        border: 1px solid $color-gray-light;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;

        i {
          margin-right: 6px;
        }

        &:hover {
          background-color: $color-active;
          color: #fff;
        }
      }
    }
  }
}

/* Admin Panel CSS */
.admin-header {
  position: fixed;
  width: 100%;
  z-index: 999;
}
#sidebar {
  position: fixed;
  width: 225px;
  z-index: 998;
  height: 100%;
  margin-top: 45px;
  padding-bottom: 45px;
  background-color: #EFEFEF;
  overflow-y: auto;
}
.sidebar-category { padding-left: 12px; margin: 0; font-weight:bold; display: inline-block; }
.sidebar-collapse-btn { padding-left: 12px; color: $primary-color; display:inline-block; position: relative; top: -1px; width: 15px; margin-right: 5px; font-size: 1em;}
.sidebar-spacer { padding-top: 15px; }
.has-form { min-width: 400px; }
.admin-padding {
  padding-left: 225px;
  padding-top: 65px;
}

/* Admin Manage Groups */
tr.selectable-row:hover { background-color: $secondary-color; }
.pointer { cursor: pointer; }
tr.active-row { background-color: $primary-color; }
tr:nth-of-type(even).active-row { background-color: $primary-color; }
tr.active-row.selectable-row:hover { background-color: $primary-color }
input.member-select { margin: 0px; }
tr.active-row td { color: #fff; }

/* Admin Moderation Queue */
.tabs {
  border-bottom: 1px dotted #ccc;
  width: 65%;
  min-width: 550px;
}
.custom-tabs dd.active a { background-color: #eaeaea; }
.custom-tabs dd a { background-color: #fff; }

/* Login CSS */
/* optimize for mobile layout */
.login-container > li { margin-right: 5px; }
.red.label { background-color: #e91c21; display: block; }
.error-container {
  div {
    background-color: red;
    color: #fff;
    padding: 8px 10px;
    margin: 0 0 1rem;
  }
}

/* Header CSS */
.recover-btn { width: 85px; }
input.icon-padding { padding-right: 40px; }
.input-info { padding: 0 5px; line-height: inherit; }
.invalid { color: rgba(206, 4, 6, 0.64); }
.valid { color: rgba(27, 196, 63, 0.64); }
.input-icon {
  cursor: default;
  font-size: 20px;
  position: relative;
  float: right;
  width: 20px;
  height: 20px;
  z-index: 9999;
  top: -27px;
  right: 10px;
}

#header {
  background-color: #fff;
  border-bottom: 1px solid $color-gray-light;
  margin-bottom: 2rem;

  .top-bar {
    background-color: inherit;

    .name a {
      color: inherit;
      padding: 0;
    }

    .title-area {
      background-color: inherit;
    }

    .top-bar-section {
      font-size: 0.875rem;
      font-weight: 300;

      .dropdown {
        border: 1px solid $color-gray-light;
        border-top: none;
        left: -1px;
        right: -1px;
      }

      ul li,
      ul > li a.button,
      li > a,
      .has-dropdown a {
        background-color: #fff;
        color: $color-gray-med;
        font-size: 0.875rem;
      }

      .has-dropdown {
        border: 1px solid transparent;

        &:hover {
          border-right: 1px solid $color-gray-light;
          border-left: 1px solid $color-gray-light;
        }

        &:hover,
        &:hover a,
        .dropdown li a {
          background-color: #fafafa;
        }
      }
    }
  }

  .breadcrumbs {
    background-color: transparent;
    border: none;
    border-radius: 0;
    height: 45px;
    line-height: 45px;
    margin-bottom: 0;
    padding: 0;

    li {
      line-height: 45px;
    }
  }

  .fixed {
    border-bottom: 1px solid $color-gray-light;

    ul {
      margin: 0 auto;
      max-width: 62.5rem;
      padding: 0 0.9375rem;
    }
  }

  [data-magellan-expedition],
  [data-magellan-expedition-clone] {
    padding: 0 0.9375rem;
  }

  .header-top {
    border-bottom: 1px solid $color-gray-light;
  }

  .search {
    // border-left: 1px solid $color-gray-light;
    // border-right: 1px solid $color-gray-light;
  }

  .form-group {
    border-left: 1px solid $color-gray-light;
    border-right: 1px solid $color-gray-light;
    position: relative;

    input[type="text"] {
      border: none;
      box-shadow: none;
      height: 45px;
      padding-left: 32px;
      top: 0;
      width: 250px;
    }

    label {
      color: $color-gray-med;
      font-size: 1.1rem;
      position: absolute;
      left: 8px;
      top: 8px;
    }
  }

  .avatar {
    height: auto;
    margin-bottom: 3px;
    margin-left: 6px;
    padding: 0 2px;
    width: 40px;
  }
}

// Pagination styles ------------------------- //
pagination {
  .pagination {
    float: right;

    li {
      &.current {
        a {
          background: $color-active;

          button:focus {
            background: $color-active;
          }

          &:hover, &:focus {
            background: $color-active-dark;
          }
        }
      }
    }
  }
}


/* Footer CSS */
.footer {
  position: relative;
//  height: 190px;
  clear:both;
  background-color: #444;
  color: #ccc;
  font-size: 14px;
  padding: 10px 10px 20px 10px;
  margin-bottom: 0;}
.footer h3 { color: #999;}
.copyright {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
  display: block; }

/* Breadcrumb CSS */
.breadcrumbs > * a {
  color: $color-active;
}
.breadcrumbs > .news:before {
  content: "";
  margin: 0 0;
  position: relative;
  top: 1px; }
.breadcrumbs > .news {
  color: #444;
  text-transform: none; }
.breadcrumbs > li > span  { color: #444; }

/* Board Page */
.board-page { padding-bottom: 15px; }
.child-board { padding-bottom: 5px; }
.child-board h5 { margin-bottom: 0px; }
.child-board-desc { font-size: 14px; line-height: 1.1; padding-bottom: 3px; word-wrap: break-word; overflow-wrap: break-word; }
.child-board-desc :last-child { padding-bottom: 0; }
.thread-header {
  h6 {
    color: $color-gray-med;
    font-weight: 400;
  }
}
.thread-title {
  font-weight: 600;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.thread-listItem { padding: 5px 0 15px; }
.thread-listItem .division { font-size: 80%; line-height: 1.5; }
.board-name { word-wrap: break-word; overflow-wrap: break-word; }
.thread-editor-container {
  position: relative;
  padding-top: 20px;
  background-color: white;
  height: 500px; }

/* Boards Page */
.board-header {
  background-color: #f9f9f9;
  padding: 20px 0 0;
  margin-bottom: 2rem;
  margin-top: -2rem;
}

.category { margin-bottom: 30px; }
.category-title {
  h3 {
    color: $color-gray;
    font-size: 1.3em;
    margin-bottom: 0;
    margin-top: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .collapse-btn {
    font-size: .7em;
    margin-right: 4px;
  }

  .thin-dotted-underline {
    margin-left: 24px;
  }
}


.category-board {
  margin-bottom: 30px;
  padding-left: 24px;
}

.category-board-name {font-size: 20px; margin-bottom: 5px; }
.category-board-name a {text-decoration: underline;}

.category-board-desc { font-size: 14px; line-height: 1.1; word-wrap: break-word; overflow-wrap: break-word; }
.moderators {
  color: #999;
  font-size: 13px;
  margin-bottom: 5px; }
.child-boards {
  color: #666;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px; }
.collapse-btn {
  display:inline-block;
  position: relative;
  top: -3px;
  width: 15px;
  margin-right: 5px;
  font-size: .875em;
}

/* New Thread Page */
.info-box { margin-bottom: 10px; }

/* Post Page */
// .post-title { font-weight: 700; margin-top: 10px; margin-bottom: 2px; }
// .post-preview-lbl { padding-left: 0; }
// .post-editor { height: 100%; width: 100%; display: block; }
// .post-editor-container { height: 200px; width: 100%; margin-bottom: 20px; }
// .post-editor-auth { padding: 10px 0; }
// .edit-btn { margin: 0; }

.post-sig-border {
  clear: both;
  width: 250px;
  border-top: 1px solid $color-gray-light;
  margin-bottom: 1.4rem;
  margin-top: 1.4rem;
}

.post-signature {
  clear: both;
  font-size: 13px;
  height: 80px;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.post-block {
  border-bottom: 1px solid $color-gray-light;
  margin-bottom: 1.6rem;
  padding-bottom: 2.4rem;
}

.post-user {
  width: 100%;

  .user-avatar {
    background: no-repeat center center;
    @include bg-cover;
    height: 120px;
    position: relative;
    width: 100%;
  }

  .user-role {
    background-color: rgba(0,0,0,.75);
    bottom: 0;
    color: #fff;
    font-size: .8125em;
    font-weight: 600;
    padding: 6px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  .user-details {
    @include list-clean;
    font-size: .8125rem;

    .name {
      font-size: 1rem;
      font-weight: 600;
    }
  }

  .user-role-sm {
    display: none;
  }
}

.post-title {
  color: $color-gray-med;
  float: left;
  width: 100%;
}

.post-action {
  @include list-clean;
  float: right;
  padding-left: 1rem;

  &:hover a {
    color: $color-gray-med;
  }

  li {
    @include list-flat;
  }

  a {
    color: $color-gray-light;
    transition: all .1s ease;

    &:hover {
      color: $color-epoch;
    }
  }
}

.post-body {
  margin-bottom: 1.2rem;
  float: left;
  // width: 83.3333%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.quoteHeader {
  border-top: 1px solid $color-gray-light;
  margin: 10px 24px 0;
  // padding-left: 24px;
  padding-top: 16px;
}

.quote {
  // font-style: italic;
  // border: 2px solid #DDD;
  // background-color: #EEE;
  border-bottom: 1px solid $color-gray-light;
  color: $color-gray-med;
  margin-bottom: 16px;
  margin: 0 24px 16px;
  padding: 6px 0 24px;

  &>br {
    display: none;
  }

  .quote {
    // padding-top: 0;
  }
}

// Generic Modal Styles ---------------------- /
.reveal-modal .close-reveal-modal,
dialog .close-reveal-modal {
  font-size: 1.5rem;
  right: 1rem;
}

/* Registration Modal */
.reg-page-title { margin-bottom: 21px; }
.reg-input-section { margin-bottom: 20px; }
.reg-input-section input { margin-bottom: 0; }
.reg-input-section button { margin-bottom: 0; }
.reg-input-section small { display: block; }

/* Profile Page */
.profile-form label { margin-top: 20px; }
.profile-form label:first-child { margin-top: 0; }
.profile-form label:last-child { margin-bottom: 20px; }
.profile-form input { margin-bottom: 0; }
.profile-form small {
  display: block;
  line-height: 1;
  padding: 0.25rem 0.5rem 0.375rem;
  font-size: 0.6875rem;
  margin: 0; }

/* Post Page Again */
.resize-cursor { cursor: ns-resize; }
.editor-fixed-bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 8000; }
.post-toolbar { background-color: #ccc; margin: 0; float: right; }
.post-toolbar li { display: inline; list-style-type: none; padding-right: 10px; }
.post-toolbar li:first-child { padding-left: 10px; }
.editor-container {
  position: relative;
  padding-top: 20px;
  border: 5px #ccc solid;
  background-color: white;
  min-height: 288px; }
/* editor form */
.editor-form {
  position: absolute;
  top: 20px;
  bottom: 90px;
  left: 0.9375rem;
  right: 0.9375rem; }
.editor-form label { margin-top: 0; }
.editor-form div label { margin-top: 20px; }
.editor-form input { margin-bottom: 0; }
.editor-form small {
  display: block;
  line-height: 1;
  padding: 0.25rem 0.5rem 0.375rem;
  font-size: 0.6875rem;
  margin: 0; }
.posts-editor {
  position: absolute;
  top: 58px;
  bottom: 0px;
  left: 0px;
  right: 0px; }
.editor-button-container {
  position: absolute;
  bottom: 0px;
  left: 0.9375rem;
  right: 0.9375rem;
  height: 70px; }

// Media Queries
@media only screen and (max-width: 40em) {
  .post-user {
    margin-bottom: .5rem;

    .user-avatar,
    .points,
    .activity {
      display: none;
    }

    .user-role-sm {
      color: $color-gray-med;
      display: inline;
      font-size: .75rem;
      margin-left: .4rem;
      text-transform: uppercase;
    }
  }

  .post-block {
    padding-bottom: 1.2rem;
  }

  .post-title .post-action {
    display: none;
  }

  .post-signature {
    display: none;
  }

  .post-sig-border {
    display: none;
  }

  .post-action {
    float: left;
    font-size: 1.2rem;
    padding-left: 0;
  }

  .view-count {
    padding-top: 15px;
    float: right;
  }
  .last-post {
    padding-top: 15px;
    float: left;
  }

  .noscript-message {
    margin-top: 0px;
  }
}

/* 404 Not Found Page */
.error-code { font-weight: 100; font-size:200px; }
.error-message { font-size:30px; color: $primary-color; }
