/*-- Footer --*/
footer {
  // @include clearfix();
  @include pad(1rem $base-grid-padding);
  width: 100%;
  height: 9.4375rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color:$footer-bg-color;
  color: $footer-font-color;
  font-size: 0.8rem;
  margin-bottom: 0;
  #footer {
    @include base-layout-width;
    .row { @include row; }
    .links {
      @include span-columns(3);
      a {
        color: $footer-link-color;
        &:hover { color: $footer-link-hover-color; }
      }
      ul { font-size: 0.8rem; margin: 0; padding: 0; list-style: none; }
      .title { font-weight: 600;  line-height: 3; }
    }
    .info {
      @include span-columns(6);
      text-align: right;
      .copyright { display: block; font-size: 1.5rem; font-weight: 200; }
    }
  }

  // Mobile Footer Layout
  @include media($mobile) {
    bottom: -3rem;
    #footer .row .links { @include span-columns(4); @include omega(2n); text-align: center; }
    #footer .row .info { @include span-columns(8); text-align: center; padding-top: 1rem; }
  }
}
