<!-- Column One -->
<div class="half-column">
  <!-- Forum Configurations -->
  <h5 class="thin-underline">Forum Configurations</h5>
  <div class="setting-row">
    <div class="switch-desc">
      <label for="public-forum">Public Forum</label>
      <label class="desc-label" for="public-forum">Allow guests to view forum content</label>
    </div>
    <div class="switch-block">
      <input id="public-forum" class="toggle-switch" type="checkbox" ng-model="AdminSettingsCtrl.settings.login_required" ng-true-value="false" ng-false-value="true">
      <label for="public-forum"></label>
    </div>
  </div>
  <div class="setting-row">
    <div class="switch-desc">
      <label for="verify-registration">Verify Registration</label>
      <label class="desc-label" for="verify-registration">Users must verify their accounts when registering</label>
    </div>
    <div class="switch-block">
      <input id="verify-registration" class="toggle-switch" type="checkbox" ng-model="AdminSettingsCtrl.settings.verify_registration">
      <label for="verify-registration"></label>
    </div>
  </div>
</div>
