<div id="admin-subnav" class="fill-row">
  <h2>Settings</h2>
  <dl class="tabs custom-tabs">
    <dd ng-if="AdminSettingsCtrl.hasPermission('adminAccess.settings.general')" class="no-select" ng-class="{'active': AdminSettingsCtrl.tab == 'general'}">
      <a ui-sref=".general" ng-click="AdminSettingsCtrl.tab = 'general'">General</a>
    </dd>
    <dd ng-if="AdminSettingsCtrl.hasPermission('adminAccess.settings.forum')" class="no-select" ng-class="{'active': AdminSettingsCtrl.tab == 'forum'}">
      <a ui-sref=".forum" ng-click="AdminSettingsCtrl.tab = 'forum'">Forum</a>
    </dd>
    <dd ng-if="AdminSettingsCtrl.hasPermission('adminAccess.settings.theme')" class="no-select" ng-class="{'active': AdminSettingsCtrl.tab == 'theme'}">
      <a ui-sref=".theme" ng-click="AdminSettingsCtrl.tab = 'theme'">Theme</a>
    </dd>
  </dl>

  <div class="right mobile-buttons">
    <a class="button" ng-click="child.save()"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</a>&nbsp;
    <a class="button" ng-click="child.reset()"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Reset</a>
  </div>
</div>

<div ui-view="data" id="admin-data" class="fill-row"></div>
