<!-- Page Header -->
<div class="about-section">
  <h1 class="view-title">About <span ng-bind="$webConfigs.title | decode"></span></h1>
  <div class="description">{{$webConfigs.description}}</div>

  <span class="copyright">&copy; {{$webConfigs.currentYear}} {{$webConfigs.title}}</span>
</div>

<div class="sidebar">
  <ul class="about-links">
    <span class="section-header">
      Legal Info
    </span>
    <li>
      <a ng-href="/legal#tos" target="_blank" rel="noopener noreferrer">
        Terms of Service
      </a>
    </li>
    <li>
      <a ng-href="/legal#privacy" target="_blank" rel="noopener noreferrer">
        Privacy Policy
      </a>
    </li>
    <li>
      <a ng-href="/legal#disclaimer" target="_blank" rel="noopener noreferrer">
        Disclaimer
      </a>
    </li>
</div>
