<!-- Menu -->
<div id="menu-wrap">
  <nav id="menu" class="admin-menu">
    <!-- Logo Section -->
    <h3 class="hide-mobile brand">
      <a ui-sref="admin" ng-if="$webConfigs.logo" class="brandLogo"><img ng-src="{{$webConfigs.logo}}" id="logo" /></a>
      <a ui-sref="admin" id="logo-text" class="brandName" ng-bind="$webConfigs.title | decode">Epochtalk</a>
    </h3>

    <ul id="menu-left">
      <li ng-if="HeaderCtrl.hasPermission('adminAccess.settings')"><a ng-class="HeaderCtrl.checkAdminRoute('settings') ? 'menu-btn-selected' : 'menu-btn'" ui-sref="admin-settings" ui-sref-opts="{ reload: true }"><i class="fa fa-cogs"></i><span class="hide-mobile">&nbsp;&nbsp;&nbsp;Settings</span></a></li>
      <li ng-if="HeaderCtrl.hasPermission('adminAccess.management')"><a ng-class="HeaderCtrl.checkAdminRoute('management') ? 'menu-btn-selected' : 'menu-btn'" ui-sref="admin-management" ui-sref-opts="{ reload: true }"><i class="fa fa-briefcase"></i><span class="hide-mobile">&nbsp;&nbsp;&nbsp;Management</span></a></li>
      <li ng-if="HeaderCtrl.hasPermission('modAccess')"><a ng-class="HeaderCtrl.checkAdminRoute('moderation') ? 'menu-btn-selected' : 'menu-btn'" ui-sref="admin-moderation" ui-sref-opts="{ reload: true }"><i class="fa fa-users"></i><span class="hide-mobile">&nbsp;&nbsp;&nbsp;Moderation</span></a></li>
      <!--<li ng-if="HeaderCtrl.hasPermission('adminAccess')"><a ng-class="HeaderCtrl.checkAdminRoute('analytics') ? 'menu-btn-selected' : 'menu-btn'" ng-href="#" style="color: #888;"><i class="fa fa-line-chart"></i><span class="hide-mobile">&nbsp;&nbsp;&nbsp;Analytics</span></a></li>-->
    </ul>

    <!-- User Dropdown -->
    <ul id="menu-right" ng-if="HeaderCtrl.loggedIn()">
      <li>
        <a ui-sref="^.home()"><span class="hide-mobile">Back to</span> Forum</a>
      </li>
      <li class="show-mobile">
        <a ng-href="#" ng-click="HeaderCtrl.logout()">Logout</a>
      </li>
      <li class="hide-mobile" id="user-dropdown-wrap">
        <div>
          <a ui-sref="^.profile.posts({ username: HeaderCtrl.currentUser.username })">
            <img ng-src="{{ HeaderCtrl.currentUser.avatar || $webConfigs.default_avatar }}" class="avatar image-loader">
            <span ng-bind-html="HeaderCtrl.currentUser.username"></span>
          </a>
        </div>
        <ul id="user-dropdown">
          <li ng-if="HeaderCtrl.isPatroller()">
            <a ui-sref="patrol.data">Patrol</a>
          </li>
          <li>
            <a ui-sref="^.profile.posts({ username: HeaderCtrl.currentUser.username })">Profile</a>
          </li>
          <li>
            <a ui-sref="messages">Messages</a>
          </li>
          <li>
            <a ui-sref="watchlist">Watchlist</a>
          </li>
          <li>
            <a ng-href="#" ng-click="HeaderCtrl.logout()">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

<alert></alert>
