lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store

pids
logs
results

npm-debug.log
node_modules
/id_deploy

test/coverage/
/public/js/bundle.js
/public/js/.bundle.js
/public/js/bundle.min.js

/app/css/medium-editor.css
/app/css/default.css

/epoch.db
