lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.env
.DS_Store

pids
logs
doc
results
config.json
plugin-conf.js
plugins/*/

npm-debug.log
node_modules
bower_components

test/coverage/
/public/js/bundle.js
/public/js/bundle.map
/public/js/.bundle.js
/public/js/bundle.min.js
/public/js/*.bundle.js
/public/css/**
/public/images/*.jpg
/public/images/*.jpeg
/public/images/*.png
/public/images/*.gif
/public/templates/*

/app/scss/loading-bar.scss
/app/.sass-cache/
/app/plugins.js
/app/resources/plugins.js
