<!-- Page Title -->
<div class="thread-header">
  <div class="title">
    <!-- Show Title -->
    <div ng-if="!PostsParentCtrl.editThread">
      <h4 ng-bind-html="::PostsParentCtrl.thread.title"></h4>
      <i class="icon-epoch-lock" ng-if="PostsParentCtrl.thread.locked"></i>
      <i class="icon-epoch-verified" ng-if="PostsParentCtrl.thread.sticky"></i>
      <a ng-href="#" ng-if="PostsParentCtrl.controlAccess.privilegedTitle" ng-click="PostsParentCtrl.openEditThread()">
        <i class="icon-epoch-edit-pencil"></i>
      </a>
    </div>
    <!-- Edit Title -->
    <div ng-if="PostsParentCtrl.editThread">
      <form ng-submit="PostsParentCtrl.updateThreadTitle()">
        <input type="text" ng-model="PostsParentCtrl.thread.title">
        <button type="submit" ng-disabled="PostsParentCtrl.thread.title.length === 0">Save</button>
        <button class="cancel" ng-click="PostsParentCtrl.closeEditThread()">Cancel</button>
      </form>
    </div>
  </div>
  <div class="pagination-wrap">
    <pagination page-count="PostsParentCtrl.pageCount" page="PostsParentCtrl.page"></pagination>
  </div>
</div>

<!-- Thread Controls Section -->
<h5 class="thin-underline" ng-if="PostsParentCtrl.showThreadControls">Thread Controls</h5>
<div class="thread-controls thin-underline" ng-if="PostsParentCtrl.showThreadControls">

  <!-- Thread Lock -->
  <div class="control" ng-if="PostsParentCtrl.controlAccess.privilegedLock">
    <input id="lockThread" type="checkbox" ng-model="PostsParentCtrl.thread.locked">
    <label for="lockThread" class="icon-epoch-lock" ng-click="PostsParentCtrl.updateThreadLock()">Lock <span class="hide-mobile">Thread</span></label>
  </div>

  <!-- Thread Sticky -->
  <div class="control" ng-if="PostsParentCtrl.controlAccess.privilegedSticky">
    <input id="stickyThread" type="checkbox" ng-model="PostsParentCtrl.thread.sticky">
    <label for="stickyThread" class="icon-epoch-verified" ng-click="PostsParentCtrl.updateThreadSticky()">Sticky <span class="hide-mobile">Thread</span></label>
  </div>

  <!-- Purge Delete -->
  <div class="control" ng-if="PostsParentCtrl.controlAccess.privilegedPurge">
    <a ng-href="#" id="purgeThread" class="fa fa-trash" ng-class="{'clicked' : PostsParentCtrl.showPurgeThreadModal }" ng-click="PostsParentCtrl.showPurgeThreadModal = true">
      <label>Purge <span class="hide-mobile">Thread</span></label>
    </a>
  </div>

  <!-- Move Thread -->
  <div class="control-full-width"  ng-if="PostsParentCtrl.controlAccess.privilegedMove">
    <label>Move Thread</label>
    <select name="boards" id="moveThreadBoards" ng-model="PostsParentCtrl.moveBoard" ng-options="board.name for board in PostsParentCtrl.boards"></select>
    <a class="button" ng-click="PostsParentCtrl.moveThread()"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;&nbsp;Move</a>
  </div>
</div>

<!-- Posts Listing -->
<div class="thread-data" ui-view="data"></div>

<!-- Bottom Pagination -->
<div class="thread-footer">
  <div class="pagination-wrap">
    <pagination page-count="PostsParentCtrl.pageCount" page="PostsParentCtrl.page"></pagination>
  </div>
</div>

<!-- Editor -->
<div ng-if="PostsParentCtrl.allowPosting()">

  <!-- fixed bottom toolbar -->
  <ul class="post-toolbar">
    <li ng-click="PostsParentCtrl.loadEditor()" ng-if="PostsParentCtrl.allowPosting()">
      <span>+</span>
    </li>
  </ul>

  <div ng-class="PostsParentCtrl.editorPosition" ng-show="PostsParentCtrl.showEditor" resizeable="PostsParentCtrl.resize">
    <!-- Editor Container-->
    <div class="editor-container">
      <!-- Editor Header -->
      <div class="editor-top-bar">
        <div class="buttons">
          <button ng-click="PostsParentCtrl.showFormatting = true">formatting</button>
          <button ng-click="PostsParentCtrl.fullscreen()">fullscreen</button>
        </div>

        <div class="editor-formatting" ng-if="PostsParentCtrl.showFormatting">
          <a class="close-formatting" ng-click="PostsParentCtrl.showFormatting = false">X</a>
          <div class="thin-underline fill-row">
            <a ng-href="https://github.com/epochtalk/bbcode-parser" target="_blank">
              <h4>BBCode Lookup</h4>
            </a>
          </div>
          <div class="half-column">
            <strong>Bold</strong>:<div class="right">[b][/b]</div><br />
            <em>Italics</em>:<div class="right">[i][/i]</div><br />
            <u>Underline</u>:<div class="right">[u][/u]</div><br />
            <del>Strikethrough</del>:<div class="right">[s][/s]</div><br />
            BTC:<div class="right">[btc][/btc]</div><br />
            <span style="background-color: green">Glow</span>:
            <div class="right">[glow={color}][/glow]</div><br />
            <span style="text-shadow: red 1px 1px 5px;">Shadow</span>:
            <div class="right">[shadow={color}, {direction}, {blur}][/shadow]</div><br />
            Font Size:<div class="right">[size={size}][/size]</div><br />
            <sup>Superscript</sup>:<div class="right">[sup][/sup]</div><br />
            <sub>Subscript</sub>:<div class="right">[sub][/sub]</div><br />

            <hr class="clear" />

            <code class="preview">Code</code>:<div class="right">[code][/code]</div><br />
            <tt>TeleText</tt>:<div class="right">[tt][/tt]</div><br />
            Preformatted Text:<div class="right">[pre][/pre]</div><br />
            Justify Left:<div class="right">[left][/left]</div><br />
            Justify Right:<div class="right">[right][/right]</div><br />
            Justify Center:<div class="right">[center][/center]</div><br />

            <hr class="clear" />

            Horizontal Rule:<div class="right">[hr][/hr]</div><br /><br />
          </div>
          <div class="half-column">
            Black:<div class="right">[black][/black]</div><br />
            Blue:<div class="right">[blue][/blue]</div><br />
            Green:<div class="right">[green][/green]</div><br />
            Red:<div class="right">[red][/red]</div><br />
            White:<div class="right">[white][/white]</div><br />
            Additional Colors:<div class="right">[color={color}][/color]</div><br />

            <hr class="clear" />

            Image:<div class="right">[img]{URL}[/img]</div><br />
            URL:<div class="right">[url={URL}][/url]</div><br />
            Email:<div class="right">[email={email}][/email]</div><br />
            FTP:<div class="right">[ftp={URL}][/ftp]</div><br />

            <hr class="clear" />

            Lists:
            <div class="right">
              [list]<br />
              &nbsp;&nbsp;[li][/li]<br />
              &nbsp;&nbsp;[li][/li]<br />
              [/list]<br /><br />
            </div>

            <hr class="clear" />

            Tables:
            <div class="right">
              [table]<br />
              &nbsp;&nbsp;[tr]<br />
              &nbsp;&nbsp;&nbsp;&nbsp;[td][/td]<br />
              &nbsp;&nbsp;[/tr]<br />
              [/table]
            </div><br />
          </div>
        </div>
      </div>
      <!-- Editor -->
      <form name="form" class="editor-form" novalidate>
        <epochtalk-editor class="posts-editor" body="PostsParentCtrl.posting.post.body" raw-body="PostsParentCtrl.posting.post.raw_body" reset-switch="PostsParentCtrl.resetEditor" focus-switch="PostsParentCtrl.focusEditor" dirty="PostsParentCtrl.dirtyEditor" quote="PostsParentCtrl.quote">
        </epochtalk-editor>
      </form>
      <!-- Editor Controls -->
      <div class="editor-button-container">
        <button class="cancel" ng-click="PostsParentCtrl.cancelPost()">
          Cancel
        </button>
        <button class="send" ng-click="PostsParentCtrl.savePost()" ng-disabled="form.title.$error.required || !PostsParentCtrl.posting.post.raw_body.length > 0">
          Send
        </button>

        <span class="label alert" ng-if="PostsParentCtrl.posting.error" ng-bind="PostsParentCtrl.posting.error.message"></span>
      </div>
    </div>
  </div>
</div>

<!-- Reporting Modal -->
<modal show="PostsParentCtrl.showReportModal" on-close="PostsParentCtrl.closeReportModal()">
  <form name="$parent.form" class="css-form">
    <h3 class="thin-underline" ng-if="PostsParentCtrl.reportControlAccess.reportPosts && PostsParentCtrl.reportControlAccess.reportUsers">Report User/Post</h3>
    <h3 class="thin-underline" ng-if="PostsParentCtrl.reportControlAccess.reportPosts && !PostsParentCtrl.reportControlAccess.reportUsers">Report Post</h3>
    <h3 class="thin-underline" ng-if="!PostsParentCtrl.reportControlAccess.reportPosts && PostsParentCtrl.reportControlAccess.reportUsers">Report User</h3>
    <label ng-if="PostsParentCtrl.reportControlAccess.reportPosts && PostsParentCtrl.reportControlAccess.reportUsers">Which would you like to report?</label>
    <input ng-if="PostsParentCtrl.reportControlAccess.reportUsers" type="radio" name="reportPost" ng-model="PostsParentCtrl.offendingId" ng-value="PostsParentCtrl.reportedPost.user.id" id="reportUser" ng-disabled="PostsParentCtrl.reportSubmitted" required><label ng-if="PostsParentCtrl.reportControlAccess.reportUsers" for="reportUser">{{PostsParentCtrl.reportedPost.user.username}}</label>
    <input ng-if="PostsParentCtrl.reportControlAccess.reportPosts" type="radio" name="reportPost" ng-model="PostsParentCtrl.offendingId" ng-value="PostsParentCtrl.reportedPost.id" id="reportPost" ng-disabled="PostsParentCtrl.reportSubmitted" required><label ng-if="PostsParentCtrl.reportControlAccess.reportPosts" for="reportPost">{{PostsParentCtrl.reportedPost.user.username}}'s Post</label>
    <label>Reason for Report</label>
    <textarea name="reportReason" ng-model="PostsParentCtrl.reportReason" ng-disabled="PostsParentCtrl.reportSubmitted" placeholder="Give a brief reason for your report" rows="4" required></textarea>
    <div class="clear">
      <button class="fill-row" ng-click="PostsParentCtrl.submitReport()"
        ng-disabled="$parent.form.$invalid || $parent.form.$errors || PostsParentCtrl.reportSubmitted" ng-bind="PostsParentCtrl.reportBtnLabel"></button>
    </div>
  </form>
</modal>

<!-- Purge Thread Modal -->
<modal show="PostsParentCtrl.showPurgeThreadModal" on-close="PostsParentCtrl.closePurgeThreadModal()">
  <form name="$parent.form" class="css-form" novalidate>
    <h3 class="thin-underline">Purge Thread</h3>
    <p>Are you sure you want to permanently delete this thread?</p>
    <!-- Save Button -->
    <div class="clear">
      <button class="fill-row" ng-click="PostsParentCtrl.purgeThread()">
        Purge Thread
      </button>
    </div>
  </form>
</modal>
