<div class="row post-block" ng-repeat="post in PostsCtrl.posts track by post.id">
  <!-- Post Anchor -->
  <a class="anchor-offset" id="{{post.id}}"></a>

  <!-- Post Profile Section -->
  <div class="small-12 medium-2 columns">
    <div class="post-user">
      <div class="user-avatar" style="background-image:url('/static/img/rides-a-fixie.jpg');">
        <span class="user-role">Hero</span>
      </div>
      <ul class="user-details">
        <li class="name">
          <a href="/profiles/{{post.user.username}}" ng-bind-html="post.user.username"></a>
          <span class="user-role-sm">Hero</span>
        </li>
        <li class="points"> * * * * *</li>
        <li class="activity">Activity: 879</li>
      </ul>
    </div>
  </div>

  <!-- Post Body Section -->
  <div class="small-12 medium-10 columns">
    <!-- Post Title -->
    <div class="post-title">
      <!-- <span ng-bind-html="post.title"></span> -->
      <span class="timestamp" ng-bind="post.created_at | humanDate"></span>
      <ul class="post-action">
        <li ng-if="post.editable">
          <a ng-href="#" ng-click="PostsCtrl.writePost($index)">
            <i class="icon-epoch-edit-pencil"></i>
          </a>
        </li>
        <li><a href="#"><i class="icon-epoch-heart"></i></a></li>
        <li><a href="#"><i class="icon-epoch-flag"></i></a></li>
        <li><a href="#"><i class="icon-epoch-reply"></i></a></li>
        <li><a href="#"><i class="icon-epoch-quote"></i></a></li>
      </ul>
    </div>
    <!-- Post Body -->
    <div class="post-body" ng-bind-html="post.body"></div>
    <ul class="post-action">
      <li ng-if="post.editable">
        <a ng-href="#" ng-click="PostsCtrl.writePost($index)">
          <i class="icon-epoch-edit-pencil"></i>
        </a>
      </li>
      <li><a href="#"><i class="icon-epoch-heart"></i></a></li>
      <li><a href="#"><i class="icon-epoch-flag"></i></a></li>
      <li><a href="#"><i class="icon-epoch-reply"></i></a></li>
      <li><a href="#"><i class="icon-epoch-quote"></i></a></li>
    </ul>
    <div ng-if="post.user.signature">
      <div class="post-signature"></div>
      <div ng-bind-html="post.user.signature"></div>
    </div>
  </div>
</div>

<div ng-if="PostsCtrl.loggedIn()">
  <div class="small-12 columns editor-fixed-bottom" ng-if="!PostsCtrl.showEditor">
    <ul class="post-action">
      <li ng-click="PostsCtrl.showEditor = true">
        <span><i class="icon-epoch-add"> Show Editor</i></span>
      </li>
    </ul>
  </div>

  <div class="small-12 columns editor-fixed" ng-if="PostsCtrl.showEditor">
    <div class="small-12 columns">
      <ul class="post-action">
      <li ng-click="PostsCtrl.showEditor = false">
        <span>Hide Editor</i> </span>
      </li>
      <li ng-click="PostsCtrl.writePost()">
        <span>New Post</i></span>
      </li>
    </ul>
    </div>

    <!-- Editor -->
    <form name="form" class="editor-form" novalidate>
      <!-- Title -->
      <label>Title:
        <input type="text" name="title" placeholder="Title" ng-model="PostsCtrl.posting.post.title" required>
        <small class="label error" ng-if="form.title.$touched && form.title.$error.required">
          Title is Required
        </small>
      </label>
      <!-- Post Editor -->
      <epochtalk-editor body="PostsCtrl.posting.post.body" encoded-body="PostsCtrl.posting.post.encodedBody" reset="PostsCtrl.resetEditor" focus-editor="false">
      </epochtalk-editor>
    </form>
    <!-- Editor Controls -->
    <div class="editor-button-container">
      <button class="button expand" ng-click="PostsCtrl.savePost()" ng-disabled="form.title.$error.required || !PostsCtrl.posting.post.encodedBody.length > 0">
        Send
      </button>
      <span class="label alert" ng-if="PostsCtrl.posting.error" ng-bind="PostsCtrl.posting.error.message"></span>
    </div>
  </div>
</div>


