<div class="row post-block" ng-class="{ 'admin': post.user.role === USER_ROLES.admin || post.user.role === USER_ROLES.superAdmin, 'global-mod': post.user.role === USER_ROLES.globalMod, 'mod': post.user.role === USER_ROLES.mod }"
ng-repeat="post in PostsCtrl.posts track by post.id">
  <!-- Post Anchor -->
  <a class="anchor-offset" id="{{post.id}}"></a>

  <!-- Post Profile Section -->
  <div class="small-12 medium-2 columns">
    <div class="post-user">
      <a style="display: block" href="/profiles/{{post.user.username}}">
        <div class="user-avatar">
          <img ng-src="{{post.avatar}}">
          <span class="user-role">Hero</span>
        </div>
      </a>
      <ul class="user-details">
        <li class="name">
          <a href="/profiles/{{post.user.username}}" ng-bind-html="post.user.username"></a>
          <span class="user-role-sm">Hero</span>
        </li>
        <!-- <li class="points"> * * * * *</li> -->
        <!-- <li class="activity">Activity: 879</li> -->
      </ul>
    </div>
  </div>

  <!-- Post Body Section -->
  <div class="small-12 medium-10 columns">
    <!-- Post Title -->
    <div class="post-title">
      <!-- <span ng-bind-html="post.title"></span> -->
      <span class="timestamp" ng-bind="post.created_at | humanDate"></span>
      <ul class="post-action">
        <li ng-if="PostsParentCtrl.loggedIn()">
          <a ng-href="#" class="css-tooltip" data-css-tooltip="Report" ng-click="PostsCtrl.openReportModal(post)">
            <i class="icon-epoch-flag"></i>
          </a>
        </li>
        <li ng-if="post.user.id === PostsCtrl.user.id && !PostsParentCtrl.thread_locked">
          <a ng-href="#" class="css-tooltip" data-css-tooltip="Edit" ng-click="PostsCtrl.loadEditor($index)">
            <i class="icon-epoch-edit-pencil"></i>
          </a>
        </li>
        <li ng-if="PostsParentCtrl.loggedIn() && !PostsParentCtrl.thread_locked">
          <a ng-href="#" class="css-tooltip" data-css-tooltip="Quote" ng-click="PostsCtrl.addQuote($index)">
            <i class="icon-epoch-quote"></i>
          </a>
        </li>
        <li>
          <a ng-href="{{PostsCtrl.rootUrl}}#{{post.id}}" class="css-tooltip" data-css-tooltip="Permalink">
            <i class="icon-epoch-link"></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- Post Body -->
    <div class="post-body" post-processing="post.body" style-fix="true"></div>
    <div ng-if="post.user.signature">
      <div class="post-sig-border"></div>
      <div class="post-signature" post-processing="post.user.signature" style-fix="true"></div>
    </div>
  </div>
</div>
