<pagination page-count="PostsParentCtrl.pageCount" page="PostsParentCtrl.page"></pagination>

<div class="row">
  <div class="small-12 columns board-title">
    <h4 ng-bind-html="PostsParentCtrl.thread_title"></h3>
  </div>
</div>
<br />

<div class="content-spacer" ui-view="data"></div>

<pagination page-count="PostsParentCtrl.pageCount" page="PostsParentCtrl.page"></pagination>

<div ng-if="PostsParentCtrl.loggedIn() && PostsParentCtrl.newPostEnabled">
  <div class="editor-fixed-bottom">

    <!-- fixed bottom toolbar -->
    <ul class="post-toolbar">
      <li ng-click="PostsParentCtrl.openEditor()" ng-if="!PostsParentCtrl.showEditor">
        <span><i class="icon-epoch-edit-pencil"></i>Show Editor</span>
      </li>
      <li ng-click="PostsParentCtrl.closeEditor()" ng-if="PostsParentCtrl.showEditor">
        <span><i class="icon-epoch-edit-pencil"></i>Hide Editor</i> </span>
      </li>
      <li>|</li>
      <li ng-click="PostsParentCtrl.loadEditor()" ng-if="PostsParentCtrl.newPostEnabled">
        <span><i class="icon-epoch-add-outline"></i>New Post</i></span>
      </li>
    </ul>

    <!-- Editor Container-->
    <div class="small-12 columns editor-container" ng-show="PostsParentCtrl.showEditor" resizeable>
      <div class="editor-container-bar">
        <img src="/static/img/btn-dragbar.png" />
      </div>
      <!-- Editor -->
      <form name="form" class="editor-form" novalidate>
        <!-- Post Editor -->
        <epochtalk-editor class="posts-editor" body="PostsParentCtrl.posting.post.body" raw-body="PostsParentCtrl.posting.post.raw_body" reset-switch="PostsParentCtrl.resetEditor" focus-switch="PostsParentCtrl.focusEditor" dirty="PostsParentCtrl.dirtyEditor" quote="PostsParentCtrl.quote">
        </epochtalk-editor>
      </form>
      <!-- Editor Controls -->
      <div class="editor-button-container">
        <button class="button secondary expand cancel" ng-click="PostsParentCtrl.cancelPost()">
          Cancel
        </button>
        <button class="button expand" ng-click="PostsParentCtrl.savePost()" ng-disabled="form.title.$error.required || !PostsParentCtrl.posting.post.raw_body.length > 0">
          Send
        </button>

        <span class="label alert" ng-if="PostsParentCtrl.posting.error" ng-bind="PostsParentCtrl.posting.error.message"></span>
      </div>
    </div>

  </div>
</div>
