<div class="row post-block" ng-repeat="post in PostsCtrl.posts track by post.id">
  <!-- Post Anchor -->
  <a class="anchor-offset" id="{{post.id}}"></a>

  <!-- Post Profile Section -->
  <div class="small-12 medium-2 columns">
    <div class="post-user">
      <div class="user-avatar" style="background-image:url('/static/img/rides-a-fixie.jpg');">
        <span class="user-role">Hero</span>
      </div>
      <ul class="user-details">
        <li class="name">
          <a href="/profiles/{{post.user.username}}" ng-bind-html="post.user.username"></a>
          <span class="user-role-sm">Hero</span>
        </li>
        <li class="points"> * * * * *</li>
        <!-- <li class="activity">Activity: 879</li> -->
      </ul>
    </div>
  </div>

  <!-- Post Body Section -->
  <div class="small-12 medium-10 columns">
    <!-- Post Title -->
    <div class="post-title">
      <!-- <span ng-bind-html="post.title"></span> -->
      <span class="timestamp" ng-bind="post.created_at | humanDate"></span>
      <ul class="post-action">
        <li ng-if="post.editable">
          <a ng-href="#" ng-click="PostsCtrl.loadEditor($index)">
            <i class="icon-epoch-edit-pencil"></i>
          </a>
        </li>
        <!-- <li><a href="#"><i class="icon-epoch-heart"></i></a></li>
        <li><a href="#"><i class="icon-epoch-flag"></i></a></li>
        <li><a href="#"><i class="icon-epoch-reply"></i></a></li> -->
        <li ng-if="PostsParentCtrl.loggedIn()">
          <a href="#" ng-click="PostsCtrl.addQuote($index)">
            <i class="icon-epoch-quote"></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- Post Body -->
    <div class="post-body" ng-bind-html="post.body" auto-link auto-date></div>
    <ul class="post-action">
      <li ng-if="post.editable">
        <a ng-href="#" ng-click="PostsCtrl.loadEditor($index)">
          <i class="icon-epoch-edit-pencil"></i>
        </a>
      </li>
      <!-- <li><a href="#"><i class="icon-epoch-heart"></i></a></li>
      <li><a href="#"><i class="icon-epoch-flag"></i></a></li>
      <li><a href="#"><i class="icon-epoch-reply"></i></a></li> -->
      <li ng-if="PostsParentCtrl.loggedIn()">
          <a href="#" ng-click="PostsCtrl.addQuote($index)">
            <i class="icon-epoch-quote"></i>
          </a>
        </li>
    </ul>
    <div ng-if="post.user.signature">
      <div class="post-sig-border"></div>
      <div class="post-signature" ng-bind-html="post.user.signature"></div>
    </div>
  </div>
</div>
