  <div class="footer">
    <div class="row">
      <div class="small-12 columns">
        <h3>Generic Footer Stuff</h3>
        Prosciutto pork loin hamburger t-bone tail porchetta meatball, shoulder frankfurter chicken cow leberkas strip steak tenderloin kielbasa. Venison short loin beef ribs swine, short ribs doner shoulder brisket chicken tenderloin turducken pork. Kevin venison pancetta, pork belly short ribs prosciutto meatball. Sausage frankfurter ham hock, filet mignon short ribs pork belly sirloin andouille swine meatloaf capicola jerky ball tip. Pork loin ham hock shankle, shank meatball hamburger sirloin tri-tip andouille kielbasa capicola rump. Turducken biltong tri-tip spare ribs ground round chuck.
        <br />
        <span class="copyright">&copy; 2014 EpochTalk</span>
      </div>
    </div>
  </div>
