  <div class="footer">
    <div class="row">
      <div class="small-12 medium-3 columns">
        <ul>
          <li class="title">EpochTalk</li>
          <li><a href="#">Latest Posts</a></li>
          <li><a href="#">Forum Statistics</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </div>
      <div class="small-12 medium-3 columns">
        <ul>
          <li class="title">Support</li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="small-12 medium-6 columns">
        <span class="copyright">&copy; 2014 EpochTalk</span>
        <span class="attrib"><a href="#">Powered by Epoch</a></span>
      </div>
    </div>
  </div>
