<div id="footer">
  <div class="row">
    <div class="links">
      <ul>
        <li class="title">EpochTalk</li>
        <li><a href="#">Latest Posts</a></li>
        <li><a href="#">Forum Statistics</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </div>
    <div class="links">
      <ul>
        <li class="title">Support</li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="info">
      <span class="copyright">&copy; 2015 EpochTalk</span>
    </div>
  </div>
</div>
