<!-- Navigation -->
<nav class="top-bar admin-header" data-topbar role="navigation">
  <!-- For mobile -->
  <ul class="title-area">
    <li class="name">
      <h1><a ng-href="/admin">Epochtalk Admin</a></h1>
    </li>

    <li class="toggle-topbar menu-icon">
      <a ng-href="#"><span>Menu</span></a>
    </li>
  </ul>

  <!-- For Desktop -->
  <section class="top-bar-section">
    <ul class="left">

    </ul>
    <!-- Right Nav Section -->
    <ul class="right login-container">
    <li class="has-form">
      <form action="" class="search">
        <div class="form-group">
          <input type="text" name="search" placeholder="Search">
          <label for="search" class="icon-epoch-search"></label>
        </div>
      </form>
    </li>
      <li>
        <a href="/">Forum</a>
      </li>
      <li>
        <a ng-if="!HeaderCtrl.loggedIn()" ng-click="HeaderCtrl.openLoginModal()">Login</a>
        <a ng-if="HeaderCtrl.loggedIn()" ng-click="HeaderCtrl.logout()">Logout</a>
      </li>
    </ul>
  </section>
</nav>
