<div class="row">
  <div class="small-12 columns">

    <!-- Navigation -->
    <nav class="top-bar" data-topbar role="navigation">
      <!-- For mobile -->
      <ul class="title-area">
        <li class="name">
          <h1><a ng-href="/">Epochtalk Forum</a></h1>
        </li>
        <li class="toggle-topbar menu-icon">
          <a ng-href="#"><span>Menu</span></a>
        </li>
      </ul>

      <!-- For Desktop -->
      <section class="top-bar-section">

        <!-- Right Nav Section -->
        <ul ng-if="!HeaderCtrl.loggedIn()" class="right login-container">
          <li>
            <a ng-click="HeaderCtrl.openRegisterModal()">Register</a>
          </li>
          <li>
            <a class="button" ng-click="HeaderCtrl.openLoginModal()">Login</a>
          </li>
        </ul>

        <!-- User Drop Down -->
        <ul ng-if="HeaderCtrl.loggedIn()" class="right">
          <li class="has-dropdown">
            <a ng-href="/profiles/{{ HeaderCtrl.currentUser() }}" ng-bind-html="HeaderCtrl.currentUser()"></a>
            <ul class="dropdown">
              <li><a ng-href="/profiles/{{ HeaderCtrl.currentUser() }}">Profile</a></li>
              <li><a ng-click="HeaderCtrl.logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>

    <!-- Breadcrumbs -->
    <div class="magellan-override" data-magellan-expedition="fixed">
      <ul class="breadcrumbs">
        <li ng-repeat="breadcrumb in HeaderCtrl.breadcrumbs() track by breadcrumb.label" ng-class="{ active: $last }">
            <a ng-if="!$last && breadcrumb.url" ng-href="{{ breadcrumb.url }}" ng-bind-html="breadcrumb.label | truncate:30" class="margin-right-xs"></a>
            <span ng-if="$last || !breadcrumb.url" ng-bind-html="breadcrumb.label | truncate:30"></span>
        </li>

        <li class="news right text-right"><strong>Latest News:</strong> <a href="#news">Dolor mollit jerky pork</a></li>

      </ul>
    </div>

  </div>
</div>
