<!-- Menu -->
<div id="menu-wrap">
  <nav id="menu">
    <!-- Logo Section -->
    <h3>
      <a ui-sref="boards" ng-if="$webConfigs.logo"><img ng-src="{{$webConfigs.logo}}" id="logo" /></a>
      <a ui-sref="boards" id="logo-text" ng-bind="$webConfigs.title">Epochtalk</a>
    </h3>

    <!-- Login Section -->
    <ul class="signed-out" ng-if="!HeaderCtrl.loggedIn()">
      <li>
        <a ng-click="HeaderCtrl.showRegister = true">REGISTER</a>
      </li>
      <li>
        <a ng-click="HeaderCtrl.showLogin = true">LOGIN</a>
      </li>
    </ul>

    <!-- User Dropdown -->
    <ul ng-if="HeaderCtrl.loggedIn()">
      <li class="search">
        <form action="" autocomplete="off">
          <div>
            <input class="search-input" type="text" name="search" placeholder="Search" autocomplete="off" />
            <label for="search" class="icon-epoch-search"></label>
          </div>
        </form>
      </li>
      <li id="user-dropdown-wrap">
        <div>
          <img ng-src="{{ HeaderCtrl.currentUser.avatar }}" class="avatar">
          <a ui-sref="profile({ username: HeaderCtrl.currentUser.username })" ui-sref-opts="{ reload: true }" ng-bind-html="HeaderCtrl.currentUser.username"></a>
          <button class="icon-epoch-active-very" ng-click="HeaderCtrl.refreshNotificationsCounts()"></button>
        </div>
        <ul id="user-dropdown">
          <li ng-if="HeaderCtrl.hasPermission('adminAccess')">
            <a ui-sref="^.admin" ui-sref-opts="{ reload: true }">Admin Panel</a>
          </li>
          <li ng-if="HeaderCtrl.hasPermission('modAccess') && !HeaderCtrl.hasPermission('adminAccess')">
            <a ui-sref="^.admin-moderation" ui-sref-opts="{ reload: true }">Mod Panel</a>
          </li>
          <li>
            <a ui-sref="watchlist">Watchlist</a>
          </li>
          <li>
            <a ui-sref="profile({ username: HeaderCtrl.currentUser.username })" ui-sref-opts="{ reload: true }">Profile</a>
          </li>
          <li>
          <a ui-sref="messages" ui-sref-opts="{ reload: true }">Messages <button
              ng-if="HeaderCtrl.notifications.messages > 0"
              ng-bind-html="HeaderCtrl.notifications.messages"></button> </a>
          </li>
          <li>
            <a ng-href="#" ng-click="HeaderCtrl.logout()">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

<!-- Breadcrumbs -->
<div id="breadcrumbs-wrap">
  <div id="breadcrumbs">
    <ul>
      <li ng-repeat="breadcrumb in HeaderCtrl.breadcrumbs()" ng-if="breadcrumb.label" ng-class="{ active: $last }">
          <a ng-if="!$last && breadcrumb.state" title="{{breadcrumb.label}}" ui-sref="{{breadcrumb.state}}({{breadcrumb.opts}})" ng-bind-html="breadcrumb.label | truncate:30"></a>
          <span ng-if="$last || !breadcrumb.state" title="{{breadcrumb.label}}" ng-bind-html="breadcrumb.label | truncate:30"></span>
      </li>
    </ul>
  </div>
</div>

<alert></alert>
