<!-- Menu -->
<div id="menu-wrap">
  <nav id="menu" class="admin-menu">
    <!-- Logo Section -->
    <h3 class="hide-mobile">
      <a ui-sref="admin" ng-if="$webConfigs.logo"><img ng-src="{{$webConfigs.logo}}" id="logo" /></a>
      <a ui-sref="admin" id="logo-text" ng-bind="$webConfigs.title">Epochtalk</a>
    </h3>

    <ul id="menu-left">
      <li ng-if="HeaderCtrl.currentUser.isAdmin"><a ng-class="HeaderCtrl.checkAdminRoute('settings') ? 'menu-btn-selected' : 'menu-btn'" ui-sref="admin-settings.general" ui-sref-opts="{ reload: true }"><i class="fa fa-cogs"></i><span class="hide-mobile">&nbsp;&nbsp;&nbsp;Settings</span></a></li>
      <li ng-if="HeaderCtrl.currentUser.isAdmin"><a ng-class="HeaderCtrl.checkAdminRoute('management') ? 'menu-btn-selected' : 'menu-btn'" ui-sref="admin-management.boards" ui-sref-opts="{ reload: true }"><i class="fa fa-briefcase"></i><span class="hide-mobile">&nbsp;&nbsp;&nbsp;Management</span></a></li>
      <li ng-if="HeaderCtrl.currentUser.isAdmin || HeaderCtrl.currentUser.isMod"><a ng-class="HeaderCtrl.checkAdminRoute('moderation') ? 'menu-btn-selected' : 'menu-btn'" ui-sref="admin-moderation.users({ filter: 'Pending' })" ui-sref-opts="{ reload: true }"><i class="fa fa-users"></i><span class="hide-mobile">&nbsp;&nbsp;&nbsp;Moderation</span></a></li>
      <li ng-if="HeaderCtrl.currentUser.isAdmin"><a ng-class="HeaderCtrl.checkAdminRoute('analytics') ? 'menu-btn-selected' : 'menu-btn'" ng-href="#" style="color: #888;"><i class="fa fa-line-chart"></i><span class="hide-mobile">&nbsp;&nbsp;&nbsp;Analytics</span></a></li>
    </ul>

    <!-- User Dropdown -->
    <ul id="menu-right" ng-if="HeaderCtrl.loggedIn()">
      <li>
        <a ui-sref="^.boards()"><span class="hide-mobile">Back to</span> Forum</a>
      </li>
      <li class="show-mobile">
        <a ng-href="#" ng-click="HeaderCtrl.logout()">Logout</a>
      </li>
      <li class="hide-mobile" id="user-dropdown-wrap">
        <div>
          <img ng-src="{{ HeaderCtrl.currentUser.avatar }}" class="avatar">
          <a ui-sref="^.profile({ username: HeaderCtrl.currentUser.username })" ng-bind-html="HeaderCtrl.currentUser.username"></a>
        </div>
        <ul id="user-dropdown">
          <li>
            <a ui-sref="^.profile({ username: HeaderCtrl.currentUser.username })">Profile</a>
          </li>
          <li>
            <a ng-href="#" ng-click="HeaderCtrl.logout()">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

<alert></alert>
