<!-- Navigation -->
<nav class="top-bar admin-header" data-topbar role="navigation">
  <!-- For mobile -->
  <ul class="title-area">
    <li class="logo">
      <a ng-href="/admin"><i class="fa fa-list-ul fa-2x"></i></a>
    </li>

    <li class="toggle-topbar menu-icon">
      <a ng-href="#"><span>Menu</span></a>
    </li>
  </ul>

  <!-- For Desktop -->
  <section class="top-bar-section">
    <ul class="left">
      <li ng-if="HeaderCtrl.currentUser.isAdmin"><a ng-class="HeaderCtrl.checkAdminRoute('settings') ? 'top-bar-btn-selected' : 'top-bar-btn'" ng-href="/admin/settings"><i class="fa fa-cogs"></i>&nbsp;&nbsp;&nbsp;Settings</a></li>
      <li ng-if="HeaderCtrl.currentUser.isAdmin"><a ng-class="HeaderCtrl.checkAdminRoute('management') ? 'top-bar-btn-selected' : 'top-bar-btn'" ng-href="/admin/management"><i class="fa fa-briefcase"></i>&nbsp;&nbsp;&nbsp;Management</a></li>
      <li ng-if="HeaderCtrl.currentUser.isAdmin || HeaderCtrl.currentUser.isMod"><a ng-class="HeaderCtrl.checkAdminRoute('moderation') ? 'top-bar-btn-selected' : 'top-bar-btn'" ng-href="/admin/moderation"><i class="fa fa-users"></i>&nbsp;&nbsp;&nbsp;Moderation</a></li>
      <li ng-if="HeaderCtrl.currentUser.isAdmin"><a ng-class="HeaderCtrl.checkAdminRoute('analytics') ? 'top-bar-btn-selected' : 'top-bar-btn'" ng-href="/admin/analytics"><i class="fa fa-line-chart"></i>&nbsp;&nbsp;&nbsp;Analytics</a></li>
    </ul>
    <!-- Right Nav Section -->
    <ul class="right login-container">
      <li>
        <a href="/">Back to Forum</a>
      </li>
      <li class="has-dropdown">
        <div><img ng-src="{{ HeaderCtrl.currentUser.avatar }}" class="avatar">
        <a ng-href="/profiles/{{ HeaderCtrl.currentUser.username }}" ng-bind-html="HeaderCtrl.currentUser.username"></a></div>
        <ul class="dropdown">
          <li><a ng-href="/profiles/{{ HeaderCtrl.currentUser.username }}">Profile</a></li>
          <li><a ng-href="#" ng-click="HeaderCtrl.logout()">Logout</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>

<alert></alert>
