<div class="header-top">
  <div class="row">
    <div class="nav-main small-12 columns">
      <!-- Navigation -->
      <nav class="top-bar" data-topbar role="navigation">
        <!-- For mobile -->
        <ul class="title-area">
          <li class="name">
            <h1><a ng-href="/">Epochtalk</a></h1>
          </li>
          <li class="toggle-topbar menu-icon">
            <a ng-href="#"><span>Menu</span></a>
          </li>
        </ul>

        <!-- For Desktop -->
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul ng-if="!HeaderCtrl.loggedIn()" class="right login-container">
            <li>
              <a ng-click="HeaderCtrl.showRegister = true">Register</a>
            </li>
            <li>
              <a ng-click="HeaderCtrl.showLogin = true">Login</a>
            </li>
          </ul>

          <!-- User Drop Down on anything that is not a small sized screen -->
          <ul ng-if="HeaderCtrl.loggedIn()" class="right show-for-medium-up">
            <li class="search">
              <form action="" class="search">
                <div class="form-group">
                  <input type="text" name="search" placeholder="Search">
                  <label for="search" class="icon-epoch-search"></label>
                </div>
              </form>
            </li>
            <li class="has-dropdown">
              <div>
                <img ng-src="{{ HeaderCtrl.currentUser.avatar }}" class="avatar">
                <a ng-href="/profiles/{{ HeaderCtrl.currentUser.username }}" ng-bind-html="HeaderCtrl.currentUser.username"></a>
              </div>
              <ul class="dropdown">
                <li ng-if="HeaderCtrl.currentUser.isAdmin">
                  <a ng-href="/admin">Admin Panel</a>
                </li>
                <li ng-if="HeaderCtrl.currentUser.isMod && !HeaderCtrl.currentUser.isAdmin">
                  <a ng-href="/admin/moderation">Mod Panel</a>
                </li>
                <li>
                  <a ng-href="/profiles/{{ HeaderCtrl.currentUser.username }}">Profile</a>
                </li>
                <li>
                  <a ng-href="#" ng-click="HeaderCtrl.logout()">Logout</a>
                </li>
              </ul>
            </li>
          </ul>

          <!-- User menu on small sized screens -->
          <ul ng-if="HeaderCtrl.loggedIn()" class="right show-for-small-only">
            <li>
              <div>
                <img ng-src="{{ HeaderCtrl.currentUser.avatar }}" alt="" class="avatar">
                <a ng-href="/profiles/{{ HeaderCtrl.currentUser.username }}" ng-bind-html="HeaderCtrl.currentUser.username"></a>
              </div>
            </li>
            </li>
            <li ng-if="HeaderCtrl.currentUser.isAdmin">
              <a ng-href="/admin">Admin Panel</a>
            </li>
            <li ng-if="HeaderCtrl.currentUser.isMod && !HeaderCtrl.currentUser.isAdmin">
              <a ng-href="/admin/moderation">Mod Panel</a>
            </li>
            <li>
              <a ng-href="/profiles/{{ HeaderCtrl.currentUser.username }}">Profile</a>
            </li>
            <li>
              <a ng-href="#" ng-click="HeaderCtrl.logout()">Logout</a>
            </li>
          </ul>
        </section>
      </nav>
    </div>
  </div>
</div>

<div class="row">
  <div class="nav-secondary small-12 columns" data-magellan-expedition="fixed">
    <ul class="breadcrumbs">
      <li ng-repeat="breadcrumb in HeaderCtrl.breadcrumbs() track by breadcrumb.label" ng-class="{ active: $last }">
          <a ng-if="!$last && breadcrumb.url" ng-href="{{ breadcrumb.url }}" ng-bind-html="breadcrumb.label | truncate:30" class="margin-right-xs"></a>
          <span ng-if="$last || !breadcrumb.url" ng-bind-html="breadcrumb.label | truncate:30"></span>
      </li>
    </ul>
  </div>
</div>
