  <div id="sidebar" ng-cloak scroll-lock>
    <ul class="side-nav">

      <!-- General Header-->
      <li>
        <div ng-click="AdminNavCtrl.toggle('general')" class="pointer no-select">
          <span ng-class="{ 'fa-chevron-right' : AdminNavCtrl.toggles.general, 'fa-chevron-down': !AdminNavCtrl.toggles.general }"
          class="fa sidebar-collapse-btn no-select"></span>
          <h6 class="sidebar-category">General</h6>
        </div>
        <div class="thin-dotted-underline"></div>
      </li>
      <!-- Genral Links -->
      <div slide-toggle="AdminNavCtrl.toggles.general">
        <li><a href="#">Getting Started</a></li>
        <li><a href="#">Post News</a></li>
        <li><a href="#">Forum Statistics</a></li>
        <li class="sidebar-spacer"></li>
      </div>

      <!-- Manage Header -->
      <li>
        <div ng-click="AdminNavCtrl.toggle('manage')" class="pointer no-select">
          <span ng-class="{ 'fa-chevron-right' : AdminNavCtrl.toggles.manage, 'fa-chevron-down': !AdminNavCtrl.toggles.manage }"
          class="fa sidebar-collapse-btn no-select"></span>
          <h6 class="sidebar-category">Manage</h6>
        </div>
        <div class="thin-dotted-underline"></div>
      </li>
      <!-- Manage Links -->
      <div slide-toggle="AdminNavCtrl.toggles.manage">
        <li><a href="/admin/moderate">Moderation Queue</a></li>
        <li><a href="/admin/categories">Boards and Categories</a></li>
        <li><a href="/admin/users">Users</a></li>
        <li><a href="/admin/groups">Groups</a></li>
        <li class="sidebar-spacer"></li>
      </div>

      <!-- Settings Header-->
      <li>
        <div ng-click="AdminNavCtrl.toggle('settings')" class="pointer no-select">
          <span ng-class="{ 'fa-chevron-right' : AdminNavCtrl.toggles.settings, 'fa-chevron-down': !AdminNavCtrl.toggles.settings }"
          class="fa sidebar-collapse-btn no-select"></span>
          <h6 class="sidebar-category">Settings</h6>
        </div>
        <div class="thin-dotted-underline"></div>
      </li>
      <!-- Settings Links -->
      <div slide-toggle="AdminNavCtrl.toggles.settings">
        <li><a href="#">Forum</a></li>
        <li><a href="#">Users</a></li>
        <li><a href="#">Messaging</a></li>
        <li><a href="#">Profiles</a></li>
        <li><a href="#">Appearance</a></li>
        <li class="sidebar-spacer"></li>
      </div>

      <!-- Advanced Header -->
      <li>
        <div ng-click="AdminNavCtrl.toggle('advanced')" class="pointer no-select">
          <span ng-class="{ 'fa-chevron-right' : AdminNavCtrl.toggles.advanced, 'fa-chevron-down': !AdminNavCtrl.toggles.advanced }"
          class="fa sidebar-collapse-btn no-select"></span>
          <h6 class="sidebar-category">Advanced</h6>
        </div>
        <div class="thin-dotted-underline"></div>
      </li>
      <!-- Advanced Links -->
      <div slide-toggle="AdminNavCtrl.toggles.advanced">
        <li><a href="#">Database</a></li>
        <li><a href="#">Logs</a></li>
      </div>
    </ul>
  </div>
