body {
  margin-top:10px;
  background: url(/static/img/white_wall_hash.png);
}

.padding-top-15 { padding-top: 15px; }

.page-height { min-height: 80%;}

.breadcrumbs > .news:before {
  content: "";
  margin: 0 0;
  position: relative;
  top: 1px;
}
.breadcrumbs > .news {
  color: #444;
  text-transform: none;
}

.thin-dotted-underline { border-bottom: 1px dotted #ccc; }

h1, h2, h3, h4, h5, h6 { margin-bottom: 0px; }

.top-spacer-10 { margin-top: 10px; }
.top-spacer-15 { margin-top: 15px; }
.top-spacer-5 { margin-top: 5px; }
.bottom-spacer-10 { margin-bottom: 10px; }

.no-margin {
  margin-top: 0;
  line-height: normal;
  margin-bottom: 0 !important;
}

.header-element { height: 80px; }
.header-container { position: relative; height:80px; }
.header-centered-both {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header-centered-height {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header-checkbox { font-size: 0.75rem; padding-top: 5px; }

.board {
  font-size: 20px;
  text-decoration: underline;
  display: inline-block;
  padding-bottom: 5px;
}

.moderators {
  color: #999;
  font-size: 13px;
  display: inline-block;
  margin-bottom: 5px;
}

.child-boards {
  color: #666;
  font-size: 16px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.board-info {
  display: inline-block;
  font-size: 13px;
  color: #999;
}

.board-info-spacer { margin-top: 10px; }

.post-alert {
  color: #777 !important;
  font-weight: bold;
}

.board-section { margin-bottom: 20px; }

.footer {
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
  background-color: #444 !important;
  color: #ccc !important;
  font-size: 14px !important;
}

.footer h3 { color: #999 !important; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.inactive {
  background-color:#CCC;
  color: #666;
}

.page-go-btn {
  display: inline !important;
  height: 20px !important;
  width: 40px !important;
  padding: 2px !important;
  margin: 0px !important;
  font-size: 10px !important;
}

.page-dropdown {
  outline: 0px !important;
  padding: 5px !important;
}

.page-input {
  display: inline !important;
  width: 28px !important;
  height: 20px !important;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 12px !important;
}

.copyright {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
  display: block;
}