<!-- Report Status Type Filtering -->
<div class="admin-table-header">
  <div class="filter radio-button">
    <input type="radio" class="hide-radio" name="table-filter" ng-value="0" id="posts-filter-0" ng-model="ModerationCtrl.tableFilter" ng-click="ModerationCtrl.setFilter()" />
    <label for="posts-filter-0">All</label>
  </div>
  <div class="filter radio-button">
    <input type="radio" class="hide-radio" name="table-filter" ng-value="1" id="posts-filter-1" ng-model="ModerationCtrl.tableFilter" ng-click="ModerationCtrl.setFilter('Pending')" />
    <label for="posts-filter-1">Pending</label>
  </div>
  <div class="filter radio-button">
    <input type="radio" class="hide-radio" name="table-filter" ng-value="2" id="posts-filter-2" ng-model="ModerationCtrl.tableFilter" ng-click="ModerationCtrl.setFilter('Reviewed')" />
    <label for="posts-filter-2">Reviewed</label>
  </div>
  <div class="filter radio-button">
    <input type="radio" class="hide-radio" name="table-filter" ng-value="3" id="posts-filter-3" ng-model="ModerationCtrl.tableFilter" ng-click="ModerationCtrl.setFilter('Ignored')" />
    <label for="posts-filter-3">Ignored</label>
  </div>
  <div class="filter radio-button">
    <input type="radio" class="hide-radio" name="table-filter" ng-value="4" id="posts-filter-4" ng-model="ModerationCtrl.tableFilter" ng-click="ModerationCtrl.setFilter('Bad Report')" />
    <label for="posts-filter-4">Bad Report</label>
  </div>
  <div class="filter header-spacer">&nbsp;</div>
  <div class="user-search clear">
    <div class="nested-input-container">
      <a ng-if="ModerationCtrl.search" ng-click="ModerationCtrl.clearSearch()" class="nested-clear-btn fa fa-times"></a>
      <a ng-click="ModerationCtrl.searchReports()" class="nested-btn">Search</a>
      <input class="input-text nested-input" ng-model="ModerationCtrl.searchStr" type="text" id="posts-search" placeholder="Search reported posts" ng-keydown="$event.which === 13 && ModerationCtrl.searchReports()" ng-keyup="$event.which === 27 && ModerationCtrl.clearSearch()" />
    </div>
  </div>
</div>

<!-- no content warning -->
<div class="fill-row" ng-if="ModerationCtrl.search">
  <h5>Displaying {{ModerationCtrl.count | number}} search result(s) for "<strong>{{ModerationCtrl.search}}</strong>" in <strong>{{ModerationCtrl.filter ? ModerationCtrl.filter : 'All'}}</strong>:</h5> <br />
</div>

<div class="padded-row" ng-if="!ModerationCtrl.isGlobalModerator">
  <div class="option">
    <input type="checkbox" id="showModeratedOnly" ng-checked="ModerationCtrl.allReports" ng-click="ModerationCtrl.toggleModeratedBoards()" />
    <label class="no-select" for="showModeratedOnly">Show <strong>Post Reports</strong> for all boards</label>
  </div>
</div>

<div class="fill-row centered-text" ng-if="!ModerationCtrl.search && ModerationCtrl.count < 1">
  <h4>
    <span ng-if="ModerationCtrl.allReports">No Post Reports to display in <strong>{{ModerationCtrl.filter ? ModerationCtrl.filter : 'All'}}</strong></span>
    <span ng-if="!ModerationCtrl.allReports">No <strong>{{ModerationCtrl.filter ? ModerationCtrl.filter : ''}}</strong> Post Reports to display in the boards you moderate.</span>
  </h4>
  <a ng-if="!ModerationCtrl.allReports" ng-click="ModerationCtrl.toggleModeratedBoards()">View Post Reports for All Boards</a>
</div>

  <!-- Reports -->
<div class="fill-row" ng-if="ModerationCtrl.count > 0">
  <div class="fill-row admin-content-selectable">
    <table class="underlined" width="100%">

      <thead>
        <th class="left-icon-col"></th>
        <th class="pointer hide-mobile" ng-click="ModerationCtrl.setSortField('reporter_username')"><span ng-class="ModerationCtrl.getSortClass('reporter_username')"></span>&nbsp;Reported By</th>
        <th class="pointer" ng-click="ModerationCtrl.setSortField('created_at')"><span ng-class="ModerationCtrl.getSortClass('created_at')"></span>&nbsp;Reported Date</th>
        <th class="pointer" ng-click="ModerationCtrl.setSortField('priority')"><span ng-class="ModerationCtrl.getSortClass('priority')"></span>&nbsp;Status</th>
        <th class="pointer hide-mobile" ng-click="ModerationCtrl.setSortField('offender_created_at')"><span ng-class="ModerationCtrl.getSortClass('offender_created_at')"></span>&nbsp;Posted Date</th>
        <th class="pointer hide-mobile" style="" ng-click="ModerationCtrl.setSortField('offender_title')"><span ng-class="ModerationCtrl.getSortClass('offender_title')"></span>&nbsp;Title</th>
        <th width="25"></th>
        <th class="pointer" ng-click="ModerationCtrl.setSortField('offender_author_username')"><span ng-class="ModerationCtrl.getSortClass('offender_author_username')"></span>&nbsp;Author</th>
        <th class="reason hide-mobile">Reason</th>
        <th class="mod-actions">Actions</th>
      </thead>

      <tbody>
        <tr ng-class="{ 'active-row' : ModerationCtrl.reportId === postReport.id }" class="selectable-row pointer" ng-click="ModerationCtrl.selectReport(postReport)" ng-repeat="postReport in ModerationCtrl.postReports track by postReport.id">
          <td class="left-icon-col">
            <i ng-if="ModerationCtrl.isGlobalModerator || ModerationCtrl.moderatesBoard(postReport.board_id)" class="fa fa-star-o"></i>
          </td>
          <td class="hide-mobile">
            <a ui-sref="profile.posts({ username: postReport.reporter_username })" ng-bind="postReport.reporter_username">
          </td>
          <td ng-bind="postReport.created_at | date:'MM/dd/yy @ h:mma'"></td>
          <td ng-bind="postReport.status"></td>
          <td class="hide-mobile" ng-bind="postReport.offender_created_at | date:'MM/dd/yy @ h:mma'"></td>
          <td class="hide-mobile">
            <a ui-sref="posts.data({ threadId: postReport.offender_thread_id, '#': postReport.offender_post_id })" ng-bind="postReport.offender_title"></a>
          </td>
          <td>
            <i ng-show="postReport.offender_ban_expiration || postReport.offender_board_banned" class="fa fa-user-times"></i>
          </td>
          <td>
            <a ui-sref="profile.posts({ username: postReport.offender_author_username })" ng-bind="postReport.offender_author_username"></a>
          </td>
          <td class="hide-mobile"><div ng-bind="postReport.reporter_reason"></div></td>
          <td class="inline">
            <!-- Modify Report -->
            <button class="icon" data-balloon="Modify Report Status" ng-click="ModerationCtrl.showSetStatus(postReport)" ng-disabled="!ModerationCtrl.canUpdateUserReport()"><i class="fa fa-cog"></i></button>

            <!-- Warn User -->
            <button class="icon" data-balloon="Warn User" ng-click="ModerationCtrl.showWarn({ id: postReport.offender_author_id, username: postReport.offender_author_username })" ng-disabled="!ModerationCtrl.canCreateConversation()"><i class="fa fa-exclamation-circle"></i></button>

            <!-- Ban User -->
            <button class="icon" data-balloon="Manage Bans" ng-click="ModerationCtrl.showManageBans({ id: postReport.offender_author_id, username: postReport.offender_author_username, email: postReport.offender_author_email, created_at: postReport.offender_author_created_at, ban_expiration: postReport.offender_ban_expiration })" ng-disabled="!ModerationCtrl.canBanUser()"><i class="fa fa-ban"></i></button>
          </td>
        </tr>
      </tbody>

    </table>

    <div class="fill-row">
      <div class="half-column">
        <div class="indicator">
          <i class="fa fa-star-o"></i> Indicates a report made in a board you moderate
        </div>
      </div>
      <div class="half-column">
        <pagination page-count="ModerationCtrl.pageCount" page="ModerationCtrl.page" query-params="ModerationCtrl.queryParams"></pagination>
      </div>
    </div>
  </div>
</div>

<br />

<!-- Report Viewer -->
<div ng-show="ModerationCtrl.previewPost !== null">
  <div class="report-details-wrap">
    <h5 class="thin-underline">Report Details</h5>

    <table width="100%" class="report-details">

      <tbody>
        <tr>
          <td class="field">Actions</td>
          <td class="desc">
            <!-- Modify Report -->
            <button class="icon" data-balloon="Modify Report Status" ng-click="ModerationCtrl.showSetStatus(ModerationCtrl.previewReport)" ng-disabled="!ModerationCtrl.canUpdateUserReport()"><i class="fa fa-cog"></i></button>

            <!-- Warn User -->
            <button class="icon" data-balloon="Warn User" ng-click="ModerationCtrl.showWarn({ id: ModerationCtrl.previewReport.offender_author_id, username: ModerationCtrl.previewReport.offender_author_username })" ng-disabled="!ModerationCtrl.canCreateConversation()"><i class="fa fa-exclamation-circle"></i></button>

            <!-- Ban/Unban User -->
            <button class="icon" data-balloon="Manage Bans" ng-click="ModerationCtrl.showManageBans({ id: ModerationCtrl.previewReport.offender_author_id, username: ModerationCtrl.previewReport.offender_author_username, email: ModerationCtrl.previewReport.offender_author_email, created_at: ModerationCtrl.previewReport.offender_author_created_at, ban_expiration: ModerationCtrl.previewReport.offender_ban_expiration })" ng-disabled="!ModerationCtrl.canBanUser()"><i class="fa fa-ban"></i></button>

            <!-- Edit Post -->
            <button class="icon" data-balloon="Edit Post" ng-disabled="!ModerationCtrl.canUpdatePost()" ng-click="ModerationCtrl.loadEditor()" >
              <i class="fa fa-pencil"></i>
            </button>

            <!-- Hide/Unhide Post -->
            <button class="icon" data-balloon="{{ ModerationCtrl.previewPost.deleted ? 'Unhide Post' : 'Hide Post' }}" ng-click="ModerationCtrl.previewPost.deleted ? ModerationCtrl.showPostConfirm({ postId: ModerationCtrl.previewReport.offender_post_id, undelete: true, label: 'Unhide' }) : ModerationCtrl.showPostConfirm({ postId: ModerationCtrl.previewReport.offender_post_id, delete: true, label: 'Hide' })" ng-disabled="!ModerationCtrl.canDeletePost()">
              <i ng-class="{ 'fa fa-eye':ModerationCtrl.previewPost.deleted, 'fa fa-eye-slash':!ModerationCtrl.previewPost.deleted }"></i>
            </button>

            <!-- Purge Post -->
            <button class="icon" data-balloon="Purge Post" ng-disabled="!ModerationCtrl.canPurgePost()" ng-click="ModerationCtrl.showPostConfirm({ postId: ModerationCtrl.previewReport.offender_post_id, purge: true, label: 'Purge' })"><i class="fa fa-trash"></i></button>

            <div ng-show="ModerationCtrl.previewReport.offender_thread_starter" class="note">First post in thread cannot be purged or hidden</div>
          </td>
        </tr>
        <tr>
          <td class="field">Reported Date</td>
          <td class="desc" ng-bind="ModerationCtrl.previewReport.created_at | humanDate"></td>
        </tr>
        <tr ng-if="ModerationCtrl.previewReport.reviewer_user_id">
          <td class="field">Reviewed Date</td>
          <td class="desc" ng-bind="ModerationCtrl.previewReport.updated_at | humanDate"></td>
        </tr>
        <tr>
          <td class="field">Current Status</td>
          <td class="desc" ng-bind="ModerationCtrl.previewReport.status"></td>
        </tr>
        <tr>
          <td class="field">Reported By</td>
          <td class="desc"><a ui-sref="profile.posts({ username: ModerationCtrl.previewReport.reporter_username })" ng-bind="ModerationCtrl.previewReport.reporter_username"></a></td>
        </tr>
        <tr>
          <td class="field">Reason for Report</td>
          <td class="desc" ng-bind="ModerationCtrl.previewReport.reporter_reason"></td>
        </tr>
        <tr>
          <td class="field">Reported Post</td>
          <td class="desc"><a ui-sref="posts.data({ threadId: ModerationCtrl.previewReport.offender_thread_id, '#': ModerationCtrl.previewReport.offender_post_id })" ui-sref-opts="{ reload: true }" ng-bind="ModerationCtrl.previewReport.offender_title"></a></td>
        </tr>
        <tr>
          <td class="field">Reported Post Author</td>
          <td class="desc"><a ui-sref="profile.posts({ username: ModerationCtrl.previewReport.offender_author_username })" ng-bind="ModerationCtrl.previewReport.offender_author_username"></a></td>
        </tr>
        <tr>
          <td class="field">Reported Post Date</td>
          <td class="desc" ng-bind="ModerationCtrl.previewPost.created_at | humanDate"></td>
        </tr>
        <tr>
          <td class="field">Moderation Notes</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div ng-repeat="note in ModerationCtrl.reportNotes track by note.id">
      <div class="note-avatar-container" ng-if="!note.edit">
        <img class="note-avatar" ng-src="{{ note.avatar || $webConfigs.default_avatar }}" />
      </div>
      <div class="note-details" ng-if="!note.edit">
        <span class="note-author"><a ui-sref="profile.posts({ username: note.username })" ng-bind="note.username"></a>&nbsp;</span>
        <span class="note-date" ng-bind="note.created_at | humanDate"></span>
        <span class="note-date" ng-if="note.created_at !== note.updated_at"> &mdash; Edited <span ng-bind="note.updated_at | humanDate"></span></span>
        <span class="right" ng-if="ModerationCtrl.user.id === note.user_id"><a ng-href="#" ng-click="note.edit = true; note.noteCopy = note.note">Edit</a></span>
        <div class="note-message" ng-bind="note.note"></div>
      </div>
      <div ng-if="note.edit" class="note-details">
        <a class="right" ng-href="#" ng-click="ModerationCtrl.updateReportNote(note)">Save</a>
        <a class="right" ng-href="#" ng-click="note.edit = undefined; note.note = note.noteCopy; note.noteCopy = undefined">Cancel&nbsp;&nbsp;&nbsp;</a>
        <textarea rows="3" ng-model="note.note" maxlength="255"></textarea>
      </div>
      <div class="thin-underline"></div>
    </div>
    <div class="pagination-slide" ng-if="ModerationCtrl.reportNotes.length">
      <div class="prev">
        <button ng-click="ModerationCtrl.pageReportNotes(ModerationCtrl.previewReport.id, ModerationCtrl.reportNotesPage - 1)" ng-disabled="ModerationCtrl.reportNotesPage <= 1" disabled="disabled">❮</button>
      </div>
      <div class="page">{{ModerationCtrl.reportNotesPage}} of {{ModerationCtrl.reportNotesPageCount}}</div>
      <div class="next">
        <button ng-click="ModerationCtrl.pageReportNotes(ModerationCtrl.previewReport.id, ModerationCtrl.reportNotesPage + 1)" ng-disabled="ModerationCtrl.reportNotesPage >= ModerationCtrl.reportNotesPageCount" disabled="disabled">❯</button>
      </div>
    </div>
    <form name="$parent.form" class="css-form">
      <textarea name="reportNote" ng-model="ModerationCtrl.reportNote" ng-disabled="ModerationCtrl.noteSubmitted" placeholder="Leave a note on this report..." rows="3" required maxlength="255"></textarea>
      <div class="clear">
        <button class="fill-row" ng-click="ModerationCtrl.submitReportNote(); $parent.form.$setUntouched()"
          ng-disabled="$parent.form.$invalid || $parent.form.$errors || ModerationCtrl.noteSubmitted" ng-bind="ModerationCtrl.submitBtnLabel"></button>
      </div>
    </form>
  </div>
  <!-- Post Body Section -->
  <div class="preview-wrap">
    <h5 class="thin-underline">Reported Post <span ng-if="ModerationCtrl.previewReport.offender_thread_starter">(First Post in Thread)</span></h5>
    <!-- Post Body -->
    <div class="post-body" post-processing="ModerationCtrl.previewPost.body_html" style-fix="true"></div>
  </div>
</div>

<!-- Editor -->
<div ng-if="ModerationCtrl.showEditor">

  <epochtalk-editor class="posts-editor"
    body-html="ModerationCtrl.posting.post.body_html"
    body="ModerationCtrl.posting.post.body"
    posting="ModerationCtrl.posting"
    reset-switch="ModerationCtrl.resetEditor"
    focus-switch="ModerationCtrl.focusEditor"
    dirty="ModerationCtrl.dirtyEditor"
    quote="ModerationCtrl.quote"
    thread="ModerationCtrl.thread"
    post-editor-mode="true"
    create-action="ModerationCtrl.savePost"
    can-create="ModerationCtrl.canSave"
    show-switch="ModerationCtrl.showEditor">
  </epochtalk-editor>
</div>

<!-- Manage Bans Modal -->
<ban-modal show-modal="ModerationCtrl.showManageBansModal" selected-user="ModerationCtrl.selectedUser" callback="ModerationCtrl.updateReportBans"></ban-modal>

<!-- Set Status Modal -->
<modal show="ModerationCtrl.showSetStatusModal" on-close="ModerationCtrl.closeSetStatus()">
  <form name="$parent.statusForm" class="css-form">
    <h3 class="thin-underline">Set Report Status</h3>
    <label>Report Information</label>
    <table class="striped" width="100%">
      <tr>
        <td>Current Status</td>
        <td ng-bind="ModerationCtrl.selectedPostReport.status"></td>
      </tr>
      <tr>
        <td>Reported Post</td>
        <td ng-bind="ModerationCtrl.selectedPostReport.offender_title"></td>
      </tr>
      <tr>
        <td>Reported Post Author</td>
        <td ng-bind="ModerationCtrl.selectedPostReport.offender_author_username"></td>
      </tr>
      <tr>
        <td>Reported By</td>
        <td ng-bind="ModerationCtrl.selectedPostReport.reporter_username"></td>
      </tr>
      <tr>
        <td>Reported Date</td>
        <td ng-bind="ModerationCtrl.selectedPostReport.created_at | humanDate"></td>
      </tr>
    </table>
    <label for="newStatus">Select New Report Status:</label>
    <input modal-focus="{{ModerationCtrl.showSetStatusModal}}" ng-if="ModerationCtrl.selectedPostReport.status !== 'Pending'" type="radio" name="newStatus" ng-model="ModerationCtrl.selectedStatus" value="Pending" id="pending" ng-disabled="ModerationCtrl.setStatusSubmitted" required><label ng-if="ModerationCtrl.selectedPostReport.status !== 'Pending'" for="pending">Pending</label>
    <input modal-focus="{{ModerationCtrl.showSetStatusModal}}" ng-if="ModerationCtrl.selectedPostReport.status !== 'Reviewed'" type="radio" name="newStatus" ng-model="ModerationCtrl.selectedStatus" value="Reviewed" id="reviewed" ng-disabled="ModerationCtrl.setStatusSubmitted" required><label ng-if="ModerationCtrl.selectedPostReport.status !== 'Reviewed'" for="reviewed">Reviewed</label>
    <input ng-if="ModerationCtrl.selectedPostReport.status !== 'Ignored'" type="radio" name="newStatus" ng-model="ModerationCtrl.selectedStatus" value="Ignored" id="ignored" ng-disabled="ModerationCtrl.setStatusSubmitted" required><label ng-if="ModerationCtrl.selectedPostReport.status !== 'Ignored'" for="ignored">Ignored</label>
    <input ng-if="ModerationCtrl.selectedPostReport.status !== 'Bad Report'" type="radio" name="newStatus" ng-model="ModerationCtrl.selectedStatus" value="Bad Report" id="badReport" ng-disabled="ModerationCtrl.setStatusSubmitted" required><label ng-if="ModerationCtrl.selectedPostReport.status !== 'Bad Report'" for="badReport">Bad Report</label>
    <label for="statusReportNote">Leave a note (optional):</label>
    <textarea name="statusReportNote" ng-model="ModerationCtrl.statusReportNote" ng-disabled="ModerationCtrl.noteSubmitted" placeholder="Leave a note on this report..." rows="3" maxlength="255"></textarea>
    <div class="clear">
      <button class="fill-row" ng-click="ModerationCtrl.setStatus()"
        ng-disabled="$parent.statusForm.$invalid || $parent.statusForm.$errors || ModerationCtrl.setStatusSubmitted || ModerationCtrl.selectedStatus === ModerationCtrl.selectedPostReport.status" ng-bind="ModerationCtrl.setStatusBtnLabel"></button>
    </div>
  </form>
</modal>

<!-- Warn Modal -->
<modal show="ModerationCtrl.showWarnModal" on-close="ModerationCtrl.closeWarn()">
  <form name="$parent.form" class="css-form">
    <h3 class="thin-underline">Warn User</h3>
    <label>User to Warn
      <input type="text" disabled="disabled" ng-value="ModerationCtrl.selectedUser.username">
    </label>

    <label>Warning Message
      <textarea modal-focus="{{ModerationCtrl.showWarnModal}}" type="text" rows="10" ng-model="ModerationCtrl.newConversation.body" maxlength="5000"></textarea>
    </label>

    <div class="clear">
      <button class="fill-row" ng-click="ModerationCtrl.createConversation()"
        ng-disabled="$parent.form.$invalid || $parent.form.$errors || ModerationCtrl.warnSubmitted" ng-bind="ModerationCtrl.warnBtnLabel"></button>
    </div>
  </form>
</modal>

<!-- Post Confirm Action Modal -->
<modal show="ModerationCtrl.showPostConfirmModal" on-close="ModerationCtrl.closePostConfirm()">
  <form name="$parent.form" class="css-form">
    <h3 class="thin-underline">Confirm {{ModerationCtrl.postActionParams.label}} Post</h3>
    <p>Are you sure you want to <strong>{{ModerationCtrl.postActionParams.label}}</strong> this post?</p>
    <p ng-if="ModerationCtrl.postActionParams.purge" class="bold">
      Purging this post will completely remove it from the forum and database. This will also delete this post report, as the post no longer exists to reference.
    </p>
    <div class="clear">
      <button class="fill-row" ng-click="ModerationCtrl.postAction()"
        ng-disabled="$parent.form.$invalid || $parent.form.$errors || ModerationCtrl.postActionSubmitted" ng-bind="ModerationCtrl.postActionBtnLabel"></button>
    </div>
  </form>
</modal>
