<div class="search-header">
  <div>
    <form action="." ng-submit="$event.preventDefault();">
      <div class="nested-input-container">
        <a ng-if="PostSearchCtrl.search" ng-click="PostSearchCtrl.clearSearch()" class="nested-clear-btn fa fa-times"></a>
        <a ng-click="PostSearchCtrl.searchPosts()" class="nested-btn">Search</a>
        <input class="input-text nested-input" type="search" ng-model="PostSearchCtrl.searchStr" type="text" id="search-users" placeholder="Search forum posts" ng-keydown="$event.which === 13 && PostSearchCtrl.searchPosts()" ng-keyup="$event.which === 27 && PostSearchCtrl.clearSearch()" />
      </div>
    </form>
  </div>
</div>
<div class="search-data" ng-if="PostSearchCtrl.count > 0 || PostSearchCtrl.search">
  <div ng-if="PostSearchCtrl.search">
  Displaying search result(s) for "<strong>{{PostSearchCtrl.search}}</strong>":<br /><br />
  </div>
  <div id="{{::post.id}}" ng-repeat="post in PostSearchCtrl.posts track by post.id" class="post-block" ng-class="{ 'hidden': post.hidden, 'deleted': post._deleted || post.user.ignored, 'first': $first }">
    <!-- Delete Post View -->
    <div class="deleted" ng-if="post._deleted || post.user.ignored">
      Post
      <span ng-if="post._deleted">Deleted</span>
      <span ng-if="post.user.ignored">Ignored</span>
      <small class="pointer" ng-if="post.user.ignored" ng-click="post.user.ignored = false">
        <strong>- Show Post</strong>
      </small>
    </div>

    <!-- Visible Post View -->
    <div ng-if="!post._deleted && !post.user.ignored">

      <!-- Post Body Section -->
      <div class="post-content">
        <!-- Post Title -->
        <div class="thread-title">
          <h5>
            <a ui-sref="posts.data({ threadId: post.thread_id, start: post.position, '#': post.id })" ng-bind-html="::post.thread_title"></a>
          </h5>
          <span ng-if="post.user.online" class="online green"><i class="fa fa-circle"></i></span>
          <span ng-if="!post.user.online" class="online green"><i class="fa fa-circle-o"></i></span>
          <a class="username" data-balloon="{{post.user.role_name || 'User'}}" ui-sref="profile.posts({ username: post.user.username})" ng-style="PostSearchCtrl.usernameHighlight(post.user.highlight_color)" ng-bind="::post.user.username"></a>
          <div class="posted-in">posted in</div>
          <a class="board-name" ui-sref="threads.data({ boardId: post.board_id })" ng-bind-html="::post.board_name"></a>
          <div class="timestamp">
            <span ng-bind="::post.created_at | humanDate"></span>
          </div>

          <div class="clear"></div>
        </div>
        <!-- Post Body -->
        <div class="post-body" ng-class="{ 'rtl': post.right_to_left }" post-processing="post.body_html" style-fix="true"></div>
      </div>
    </div>
  </div>
  <div class="pagination-simple">
    <a ng-show="PostSearchCtrl.prev" ui-sref=".({ page: PostSearchCtrl.prev, limit: PostSearchCtrl.limit, search: PostSearchCtrl.search, field: PostSearchCtrl.field, desc: PostSearchCtrl.desc })">
      &#10094; Previous
    </a>
    <span ng-hide="PostSearchCtrl.prev">&#10094; Previous</span>
    &nbsp;&nbsp;&nbsp;
    <a ng-show="PostSearchCtrl.next" ui-sref=".({ page: PostSearchCtrl.next, limit: PostSearchCtrl.limit, search: PostSearchCtrl.search, field: PostSearchCtrl.field, desc: PostSearchCtrl.desc })">
       Next &#10095;
    </a>
    <span ng-hide="PostSearchCtrl.next">Next &#10095;</span>
  </div>
</div>
