<div id="{{::post.id}}" ng-repeat="post in PostsCtrl.posts track by post.id" class="post-block" ng-class="{ 'highlighted': post.highlighted, 'hidden': post.hidden, 'deleted': post._deleted || post.user.ignored,  'editing': post.id === PostsParentCtrl.posting.post.id }">
  <!-- Delete Post View -->
  <div class="deleted" ng-if="post._deleted || post.user.ignored">
    Post
    <span ng-if="post._deleted">Deleted</span>
    <span ng-if="post.user.ignored">Ignored</span>
    <small class="pointer" ng-if="post.user.ignored" ng-click="post.user.ignored = false">
      <strong>- Show Post</strong>
    </small>
  </div>

  <!-- Visible Post View -->
  <div ng-if="!post._deleted && !post.user.ignored">
    <!-- Post Profile Section -->
    <div class="post-user">
      <a ui-sref="profile.posts({ username: post.user.username})">
        <div class="user-avatar">
          <img ng-style="PostsCtrl.avatarHighlight(post.user.highlight_color)" ng-src="{{::post.avatar || $webConfigs.default_avatar}}">
        </div>
        <div title="{{post.user.role_name || 'user'}}" class="user-role" ng-bind="post.user.role_name || 'user'"></div>
        <div ng-if="post.user.activity > -1" title="{{ 'Activity: ' + post.user.activity }}" class="user-activity">Act: <span ng-bind="post.user.activity"></span></div>
      </a>


      <div class="user-role" ng-if="PostsParentCtrl.loggedIn()">
        <trust-score user="post.user" visible="PostsParentCtrl.thread.trust_visible"></trust-score>
      </div>

      <div class="user-role">
        <rank-display ranks="PostsParentCtrl.pageData.metadata.ranks" maps="PostsParentCtrl.pageData.metadata.rank_metric_maps" user="post.user"></rank-display>

        <ignore-posts post="post"></ignore-posts>
      </div>
    </div>

    <!-- Post Body Section -->
    <div class="post-content">
      <!-- Post Title -->
      <div class="post-title">
        <span ng-if="post.user.online" class="online green"><i class="fa fa-circle"></i></span>
        <span ng-if="!post.user.online" class="online green"><i class="fa fa-circle-o"></i></span>
        <a class="username" data-balloon="{{post.user.role_name || 'User'}}" ui-sref="profile.posts({ username: post.user.username})" ng-style="PostsCtrl.usernameHighlight(post.user.highlight_color)" ng-bind="::post.user.username"></a>
        <div title="{{post.user.name}}" ng-if="post.user.name" class="display-name">
          <span ng-bind-html="::post.user.name | truncate:33"></span>
          <span class="hide-mobile">&nbsp;&mdash;&nbsp;</span>
        </div>
        <div class="timestamp">
          <span ng-bind="::post.created_at | humanDate"></span>
          <span ng-if="PostsCtrl.showEditDate(post)" ng-bind-html="'&nbsp;&mdash;&nbsp;Edited ' + (post.updated_at | humanDate)"></span>
        </div>

        <ul class="post-action">
          <li ng-if="PostsCtrl.canPurge() && post.position !== 1">
            <a ng-href="#" data-balloon="Purge" ng-click="PostsParentCtrl.openPurgeModal($index)">
              <i class="fa fa-trash"></i>
            </a>
          </li>
          <li ng-if="PostsCtrl.canDelete(post) && post.position !== 1 && !post.deleted">
            <a ng-href="#" data-balloon="Hide" ng-click="PostsParentCtrl.openDeleteModal($index)">
              <i class="fa fa-eye-slash"></i>
            </a>
          </li>
          <li ng-if="PostsCtrl.canDelete(post) && post.deleted">
            <a ng-href="#" data-balloon="Unhide" ng-click="PostsParentCtrl.openUndeleteModal($index)">
              <i class="fa fa-eye"></i>
            </a>
          </li>
          <li ng-if="PostsCtrl.canPostLock(post) && !post.locked">
            <a ng-href="#" data-balloon="Lock Post" ng-click="PostsParentCtrl.lockPost(post)">
              <i class="icon-epoch-lock"></i>
            </a>
          </li>
          <li ng-if="PostsCtrl.canPostLock(post) && post.locked">
            <a ng-href="#" data-balloon="Unlock Post" ng-click="PostsParentCtrl.unlockPost(post)">
              <i class="icon-epoch-lock clicked"></i>
            </a>
          </li>
          <li ng-if="PostsParentCtrl.loggedIn() && post.user.id !== PostsCtrl.user.id && (PostsParentCtrl.reportControlAccess.reportPosts || PostsParentCtrl.reportControlAccess.reportUsers) && !PostsParentCtrl.bannedFromBoard" ng-hide="post.reported && post.reported_author">
            <a ng-href="#" data-balloon="Report" ng-click="PostsCtrl.openReportModal(post)">
              <i class="icon-epoch-flag"></i>
            </a>
          </li>
          <li ng-if="PostsCtrl.canUpdate(post)">
            <a ng-href="#" data-balloon="Edit" ng-click="PostsCtrl.loadEditor(post)">
              <i class="icon-epoch-edit-pencil"></i>
            </a>
          </li>
          <li ng-if="PostsCtrl.canPost()">
            <a ng-href="#" data-balloon="Quote" ng-click="PostsCtrl.addQuote(post)">
              <i class="icon-epoch-quote"></i>
            </a>
          </li>
          <li>
            <a ng-href="{{::PostsCtrl.rootUrl}}?start={{::post.position}}#{{::post.id}}" ng-click="PostsCtrl.highlightPost()" data-balloon="Permalink">
              <i class="icon-epoch-link"></i>
            </a>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
      <!-- Post Body -->
      <div class="post-body" ng-class="{ 'rtl': post.right_to_left }" post-processing="post.body_html" style-fix="true"></div>
      <div ng-if="post.user.signature">
        <div class="post-sig-border"></div>
        <div class="post-signature" post-processing="post.user.signature" style-fix="true"></div>
      </div>
    </div>
  </div>
</div>

<!-- Delete Post Modal -->
<modal show="PostsParentCtrl.showDeleteModal">
  <form name="$parent.form" class="css-form" novalidate>
    <h3 class="thin-underline">Hide Post</h3>
    <p>Are you sure you want to hide this post?</p>
    <label ng-if="PostsParentCtrl.canPostLockQuick(PostsParentCtrl.deletePostIndex)">
      <input type="checkbox" ng-model="PostsParentCtrl.deleteAndLock" modal-focus="{{PostsParentCtrl.showDeleteModal}}" />
      Lock Post (poster cannot hide/edit this post)?
    </label>
    <!-- Delete Button -->
    <div class="clear">
      <button class="fill-row" ng-click="PostsParentCtrl.deletePost()">
        Hide Post
      </button>
    </div>
  </form>
</modal>

<!-- Undelete Post Modal -->
<modal show="PostsParentCtrl.showUndeleteModal">
  <form name="$parent.form" class="css-form" novalidate>
    <h3 class="thin-underline">Unhide Post</h3>
    <p>Are you sure you want to unhide this post?</p>
    <!-- Undelete Button -->
    <div class="clear">
      <button class="fill-row" ng-click="PostsParentCtrl.undeletePost()">
        Unhide Post
      </button>
    </div>
  </form>
</modal>

<!-- Purge Post Modal -->
<modal show="PostsParentCtrl.showPurgeModal">
  <form name="$parent.form" class="css-form" novalidate>
    <h3 class="thin-underline">Purge Post</h3>
    <p>Are you sure you want to permanently delete this post?</p>
    <!-- Save Button -->
    <div class="clear">
      <button class="fill-row" ng-click="PostsParentCtrl.purgePost()">
        Purge Post
      </button>
    </div>
  </form>
</modal>
