<div class="thread-controls-wrap">
  <!-- Moderated Thread Banner -->
  <div class="banner-container">
    <div class="banner warning" ng-if="PostsParentCtrl.thread.moderated">
      Moderated Thread &mdash; <em>Thread starter can <strong>delete</strong> posts.</em>
    </div>
  </div>

  <!-- Page Title -->
  <div class="page-header-split">
    <!-- Show Title -->
    <div ng-if="!PostsParentCtrl.editThread">
      <h4 ng-bind-html="::PostsParentCtrl.thread.title"></h4>
      <i class="icon-epoch-lock" ng-if="PostsParentCtrl.thread.locked"></i>
      <i class="icon-epoch-verified" ng-if="PostsParentCtrl.thread.sticky"></i>
      <a data-balloon="Edit Thread Title" ng-href="#" ng-if="PostsParentCtrl.canEditTitle()" ng-click="PostsParentCtrl.openEditThread()">
        <i class="icon-epoch-edit-pencil"></i>
      </a>
    </div>
    <!-- Edit Title -->
    <div ng-if="PostsParentCtrl.editThread">
      <form ng-submit="PostsParentCtrl.updateThreadTitle()">
        <input type="text" ng-model="PostsParentCtrl.thread.title" maxlength="255">
        <button type="submit" ng-disabled="PostsParentCtrl.thread.title.length === 0">Save</button>
        <button ng-click="PostsParentCtrl.closeEditThread()">Cancel</button>
      </form>
    </div>
    <!-- Pagination -->
    <div>
      <pagination page-count="PostsParentCtrl.pageCount" page="PostsParentCtrl.page"></pagination>
    </div>
  </div>

  <!-- User Controls -->
  <div class="fill-row" ng-if="PostsParentCtrl.showUserControls() || PostsParentCtrl.showThreadControls() || PostsParentCtrl.canPost()">
    <div class="half-column">
      <!-- Watch Thread -->
      <span ng-if="PostsParentCtrl.showUserControls()">
        <a class="inverted-button" ng-if="!PostsParentCtrl.thread.watched" ng-click="PostsParentCtrl.watchThread()">
          <i class="icon-epoch-watch"></i>Watch This Thread
        </a>
      </span>
      <!-- Add Poll -->
      <span ng-if="PostsParentCtrl.showUserControls()">
        <a class="inverted-button" ng-if="PostsParentCtrl.canCreatePoll()" ng-click="PostsParentCtrl.addPoll = !PostsParentCtrl.addPoll">
          <i class="fa fa-bar-chart"></i>Add a Poll
        </a>
      </span>
      <span ng-if="!PostsParentCtrl.showUserControls()">&nbsp;</span>
    </div>
    <div class="half-column">
      <div>
        <div class="controls two-thirds-column">

        <!-- Thread Lock -->
        <div class="control" data-balloon="{{PostsParentCtrl.thread.locked ? 'Unlock Thread' : 'Lock Thread'}}" ng-if="PostsParentCtrl.canLock()">
          <a ng-href="#" id="lockThread" class="icon-epoch-lock" ng-class="{'clicked' : PostsParentCtrl.thread.locked }" ng-click="PostsParentCtrl.updateThreadLock()">
          </a>
        </div>

        <!-- Thread Sticky -->
        <div class="control" data-balloon="{{PostsParentCtrl.thread.sticky ? 'Unsticky Thread' : 'Sticky Thread'}}"  ng-if="PostsParentCtrl.canSticky()">
          <a ng-href="#" id="stickyThread" class="icon-epoch-verified" ng-class="{'clicked' : PostsParentCtrl.thread.sticky }" ng-click="PostsParentCtrl.updateThreadSticky()">
          </a>
        </div>

          <!-- Purge Delete -->
          <div class="control" data-balloon="Purge Thread" ng-if="PostsParentCtrl.canPurge()">
            <a ng-href="#" id="purgeThread" class="fa fa-times-circle" ng-class="{'clicked' : PostsParentCtrl.showPurgeThreadModal }" ng-click="PostsParentCtrl.showPurgeThreadModal = true">
            </a>
          </div>

          <!-- Move Thread -->
          <div class="control" data-balloon="Move Thread" ng-if="PostsParentCtrl.canMove()">
            <a ng-href="#" id="moveBoard" class="fa fa-arrow-right" ng-class="{'clicked' : PostsParentCtrl.showMoveThreadModal }" ng-click="PostsParentCtrl.openMoveThreadModal()">
            </a>
          </div>
          <span ng-if="!PostsParentCtrl.showThreadControls()">&nbsp;</span>
        </div>
        <div class="controls one-third-column">
          <a class="button right" ng-click="PostsParentCtrl.loadEditor()" ng-if="PostsParentCtrl.canPost()"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;Post Reply</a>
        </div>
      </div>

    </div>
  </div>
  <div class="clear"></div>

  <!-- Polls -->
  <div class="fill-row" ng-if="PostsParentCtrl.addPoll">
    <poll-creator poll="PostsParentCtrl.poll" valid="PostsParentCtrl.pollValid"></poll-creator>
    <button class="fill-row" ng-disabled="!PostsParentCtrl.pollValid" ng-click="PostsParentCtrl.createPoll()">Create Poll</button>
  </div>
  <poll-viewer thread="PostsParentCtrl.thread" reset="PostsParentCtrl.resetPoll"></poll-viewer>
  <div class="clear"></div>

</div>

<!-- Ads -->
<ad-viewer page="PostsParentCtrl.page"></ad-viewer>

<!-- Posts Listing -->
<div class="thread-data" ui-view="data"></div>

<!-- Bottom Pagination -->
<div class="fill-row">
  <pagination page-count="PostsParentCtrl.pageCount" page="PostsParentCtrl.page"></pagination>
</div>

<!-- spacer for editor -->
<div id="post-spacer"></div>

<!-- Editor -->
<div ng-if="PostsParentCtrl.canPost()">

  <div id="post-tools-fixed">
    <div class="tool-wrap">
      <div class="tool-container">
        <div class="half-column left-col" ng-bind-html="PostsParentCtrl.thread.title">
        </div>
        <div class="half-column right-col">
          <!-- Thread Lock -->
          <div class="control hide-mobile" data-balloon="{{PostsParentCtrl.thread.locked ? 'Unlock Thread' : 'Lock Thread'}}" ng-if="PostsParentCtrl.canLock()">
            <a ng-href="#" id="lockThread" class="icon-epoch-lock" ng-class="{'clicked' : PostsParentCtrl.thread.locked }" ng-click="PostsParentCtrl.updateThreadLock()">
            </a>
          </div>

          <!-- Thread Sticky -->
          <div class="control hide-mobile" data-balloon="{{PostsParentCtrl.thread.sticky ? 'Unsticky Thread' : 'Sticky Thread'}}"  ng-if="PostsParentCtrl.canSticky()">
            <a ng-href="#" id="stickyThread" class="icon-epoch-verified" ng-class="{'clicked' : PostsParentCtrl.thread.sticky }" ng-click="PostsParentCtrl.updateThreadSticky()">
            </a>
          </div>

          <!-- Purge Delete -->
          <div class="control hide-mobile" data-balloon="Purge Thread" ng-if="PostsParentCtrl.canPurge()">
            <a ng-href="#" id="purgeThread" class="fa fa-times-circle" ng-class="{'clicked' : PostsParentCtrl.showPurgeThreadModal }" ng-click="PostsParentCtrl.showPurgeThreadModal = true">
            </a>
          </div>

          <!-- Move Thread -->
          <div class="control hide-mobile" data-balloon="Move Thread" ng-if="PostsParentCtrl.canMove()">
            <a ng-href="#" id="moveBoard" class="fa fa-arrow-right" ng-class="{'clicked' : PostsParentCtrl.showMoveThreadModal }" ng-click="PostsParentCtrl.openMoveThreadModal()">
            </a>
          </div>

          <a class="button" ng-click="PostsParentCtrl.loadEditor()" ng-if="PostsParentCtrl.canPost()"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;<span class="hide-post">Post</span> Reply</a>
        </div>
      </div>
    </div>
  </div>

  <div ng-class="PostsParentCtrl.editorPosition" ng-show="PostsParentCtrl.showEditor" resizeable="PostsParentCtrl.resize">
    <!-- Editor Container-->
    <div class="editor-container">
      <!-- Editor Header -->
      <div class="editor-top-bar">
        <div class="buttons">

          <div class="left toolbar-title" title="Click to go to this post" ng-if="PostsParentCtrl.posting.post.id">
              Editing Post:&nbsp;&nbsp;<a ui-sref="posts.data({ threadId: PostsParentCtrl.thread.id, page: PostsParentCtrl.posting.post.page, '#': PostsParentCtrl.posting.post.id })">{{ PostsParentCtrl.posting.post.id }}</a>
            </a>
          </div>

          <div class="left toolbar-title" ng-if="!PostsParentCtrl.posting.post.id">
            New Post in "{{ PostsParentCtrl.thread.title}}"
          </div>
        </div>

        <div class="editor-formatting" ng-if="PostsParentCtrl.showFormatting">
          <a class="close-formatting" ng-click="PostsParentCtrl.showFormatting = false">X</a>
          <div class="thin-underline fill-row">
            <a ng-href="https://github.com/epochtalk/bbcode-parser" target="_blank">
              <h4>BBCode Lookup</h4>
            </a>
          </div>
          <div class="half-column">
            <strong>Bold</strong>:<div class="right">[b][/b]</div><br />
            <em>Italics</em>:<div class="right">[i][/i]</div><br />
            <u>Underline</u>:<div class="right">[u][/u]</div><br />
            <del>Strikethrough</del>:<div class="right">[s][/s]</div><br />
            BTC:<div class="right">[btc][/btc]</div><br />
            <span style="background-color: green">Glow</span>:
            <div class="right">[glow={color}][/glow]</div><br />
            <span style="text-shadow: red 1px 1px 5px;">Shadow</span>:
            <div class="right">[shadow={color}, {direction}, {blur}][/shadow]</div><br />
            Font Size:<div class="right">[size={size}][/size]</div><br />
            <sup>Superscript</sup>:<div class="right">[sup][/sup]</div><br />
            <sub>Subscript</sub>:<div class="right">[sub][/sub]</div><br />

            <hr class="clear" />

            <code class="preview">Code</code>:<div class="right">[code][/code]</div><br />
            <tt>TeleText</tt>:<div class="right">[tt][/tt]</div><br />
            Preformatted Text:<div class="right">[pre][/pre]</div><br />
            Justify Left:<div class="right">[left][/left]</div><br />
            Justify Right:<div class="right">[right][/right]</div><br />
            Justify Center:<div class="right">[center][/center]</div><br />

            <hr class="clear" />

            Horizontal Rule:<div class="right">[hr][/hr]</div><br /><br />
          </div>
          <div class="half-column">
            Black:<div class="right">[black][/black]</div><br />
            Blue:<div class="right">[blue][/blue]</div><br />
            Green:<div class="right">[green][/green]</div><br />
            Red:<div class="right">[red][/red]</div><br />
            White:<div class="right">[white][/white]</div><br />
            Additional Colors:<div class="right">[color={color}][/color]</div><br />

            <hr class="clear" />

            Image:<div class="right">[img]{URL}[/img]</div><br />
            URL:<div class="right">[url={URL}][/url]</div><br />
            Email:<div class="right">[email={email}][/email]</div><br />
            FTP:<div class="right">[ftp={URL}][/ftp]</div><br />

            <hr class="clear" />

            Lists:
            <div class="right">
              [list]<br />
              &nbsp;&nbsp;[li][/li]<br />
              &nbsp;&nbsp;[li][/li]<br />
              [/list]<br /><br />
            </div>

            <hr class="clear" />

            Tables:
            <div class="right">
              [table]<br />
              &nbsp;&nbsp;[tr]<br />
              &nbsp;&nbsp;&nbsp;&nbsp;[td][/td]<br />
              &nbsp;&nbsp;[/tr]<br />
              [/table]
            </div><br />
          </div>
        </div>
      </div>
      <!-- Editor -->
      <form name="form" class="editor-form" novalidate>
        <epochtalk-editor class="posts-editor" body-html="PostsParentCtrl.posting.post.body_html" body="PostsParentCtrl.posting.post.body" reset-switch="PostsParentCtrl.resetEditor" focus-switch="PostsParentCtrl.focusEditor" dirty="PostsParentCtrl.dirtyEditor" quote="PostsParentCtrl.quote">
        </epochtalk-editor>
      </form>

      <div class="editor-tools">
        <div class="tools">
          <a data-balloon="Formatting Help" ng-click="PostsParentCtrl.showFormatting = true"><i class="fa fa-code"></i></a>
          <a data-balloon="{{ PostsParentCtrl.isMinimized ? 'Expand Editor' : 'Minimize Editor' }}" ng-click="PostsParentCtrl.fullscreen()"><i class="fa expand" ng-class="{ 'fa-expand': PostsParentCtrl.isMinimized, 'fa-compress': !PostsParentCtrl.isMinimized }"></i></a>
        </div>
      </div>

      <!-- Editor Controls -->
      <div class="editor-button-container">
        <button class="inverted-button cancel" ng-click="PostsParentCtrl.cancelPost()">
          Cancel
        </button>
        <button class="send" ng-click="PostsParentCtrl.savePost()" ng-disabled="form.title.$error.required || !PostsParentCtrl.canSave()">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{ PostsParentCtrl.posting.post.id ? 'Edit Post' : 'Send Reply' }}
        </button>

        <span class="label alert" ng-if="PostsParentCtrl.posting.error" ng-bind="PostsParentCtrl.posting.error.message"></span>
      </div>
    </div>
  </div>
</div>

<!-- Reporting Modal -->
<modal show="PostsParentCtrl.showReportModal" on-close="PostsParentCtrl.closeReportModal()">
  <form name="$parent.form" class="css-form">
    <h3 class="thin-underline" ng-if="PostsParentCtrl.reportControlAccess.reportPosts && PostsParentCtrl.reportControlAccess.reportUsers && !PostsParentCtrl.reportedPost.reported">Report User/Post</h3>
    <h3 class="thin-underline" ng-if="PostsParentCtrl.reportControlAccess.reportPosts && !PostsParentCtrl.reportControlAccess.reportUsers && !PostsParentCtrl.reportedPost.reported">Report Post</h3>
    <h3 class="thin-underline" ng-if="(!PostsParentCtrl.reportControlAccess.reportPosts && PostsParentCtrl.reportControlAccess.reportUsers) || (PostsParentCtrl.reportControlAccess.reportUsers && PostsParentCtrl.reportedPost.reported)">Report User</h3>
    <label ng-if="PostsParentCtrl.reportControlAccess.reportPosts && PostsParentCtrl.reportControlAccess.reportUsers && !PostsParentCtrl.reportedPost.reported">Which would you like to report?</label>
    <input ng-if="PostsParentCtrl.reportControlAccess.reportUsers && !PostsParentCtrl.reportedPost.reported_author" type="radio" name="reportPost" ng-model="PostsParentCtrl.offendingId" ng-value="PostsParentCtrl.reportedPost.user.id" id="reportUser" ng-disabled="PostsParentCtrl.reportSubmitted" required><label ng-if="PostsParentCtrl.reportControlAccess.reportUsers && !PostsParentCtrl.reportedPost.reported_author" for="reportUser">{{PostsParentCtrl.reportedPost.user.username}}</label>
    <input ng-if="PostsParentCtrl.reportControlAccess.reportPosts && !PostsParentCtrl.reportedPost.reported" type="radio" name="reportPost" ng-model="PostsParentCtrl.offendingId" ng-value="PostsParentCtrl.reportedPost.id" id="reportPost" ng-disabled="PostsParentCtrl.reportSubmitted" required><label ng-if="PostsParentCtrl.reportControlAccess.reportPosts && !PostsParentCtrl.reportedPost.reported" for="reportPost">{{PostsParentCtrl.reportedPost.user.username}}'s Post</label>
    <label>Reason for Report</label>
    <textarea name="reportReason" ng-model="PostsParentCtrl.reportReason" ng-disabled="PostsParentCtrl.reportSubmitted" placeholder="Give a brief reason for your report" rows="4" required maxlength="255"></textarea>
    <div class="clear">
      <button class="fill-row" ng-click="PostsParentCtrl.submitReport()"
        ng-disabled="$parent.form.$invalid || $parent.form.$errors || PostsParentCtrl.reportSubmitted" ng-bind="PostsParentCtrl.reportBtnLabel"></button>
    </div>
  </form>
</modal>

<!-- Purge Thread Modal -->
<modal show="PostsParentCtrl.showPurgeThreadModal" on-close="PostsParentCtrl.closePurgeThreadModal()">
  <form name="$parent.form" class="css-form" novalidate>
    <h3 class="thin-underline">Purge Thread</h3>
    <p>Are you sure you want to permanently delete this thread?</p>
    <!-- Save Button -->
    <div class="clear">
      <button class="fill-row" ng-click="PostsParentCtrl.purgeThread()">
        Purge Thread
      </button>
    </div>
  </form>
</modal>

<!-- Purge Thread Modal -->
<modal show="PostsParentCtrl.showMoveThreadModal" on-close="PostsParentCtrl.closeMoveThreadModal()">
  <form name="$parent.form" class="css-form" novalidate>
    <h3 class="thin-underline">Move Thread</h3>
    <label>Select a board to move this thread to:</label>
    <div class="control-full-width">
      <select name="boards" id="moveThreadBoards" ng-model="PostsParentCtrl.moveBoard" ng-options="board.name group by board.parent_name for board in PostsParentCtrl.boards | orderBy:board.view_order"></select>
    </div>
    <!-- Save Button -->
    <div class="clear">
      <button class="fill-row" ng-click="PostsParentCtrl.moveThread()">
        Move Thread
      </button>
    </div>
  </form>
</modal>
