// Black theme --------------------------------------------
$base-line-height: 1.3rem;
$base-background-color:  rgb(10 , 10 , 10 );
$color-primary:          rgb(255, 210, 40);
$base-font-sans: "roboto", "helvetica neue", helvetica, sans-serif;
$base-font-color:        rgb(240, 240, 240);
$base-font-size: 16px;
$secondary-font-color:   rgb(220, 220, 220);
$text-gray-med: #777;
$input-font-color:       rgb(200, 200, 200);
$input-background-color: rgb(0, 0, 0);
$border-color:           rgb(80, 80, 80);
$header-font-color:      rgb(80,80,80);
$header-bg-color:        rgb(20,20,20);
$sub-header-color:       rgb(40,40,40);
