<!-- Page Title -->
<div class="patrol-section">
  <h4>Patrol</h4>
</div>


<!-- Posts Listing -->
<div class="patrol-list">
  <div class="thread-data" ui-view="data"></div>
  <!-- Pagination -->
  <div class="actions-bottom">
    <div class="pagination-slide">
      <div class="pagination-components">
        <button class="prev" ng-disabled="PatrolParentCtrl.page <= 1" ng-click="PatrolParentCtrl.changePage(-1);">&#10094; Newer</button>
        <div class="page" ng-bind="PatrolParentCtrl.page"></div>
        <button class="next" ng-disabled="!PatrolParentCtrl.hasMorePosts" ng-click="PatrolParentCtrl.changePage(1);">Older &#10095;</button>
      </div>
    </div>
  </div>
</div>

<!-- Editor -->
<div ng-if="PatrolParentCtrl.canPost() && PatrolParentCtrl.showEditor">
  <epochtalk-editor class="posts-editor"
    body-html="PatrolParentCtrl.posting.post.body_html"
    body="PatrolParentCtrl.posting.post.body"
    posting="PatrolParentCtrl.posting"
    reset-switch="PatrolParentCtrl.resetEditor"
    focus-switch="PatrolParentCtrl.focusEditor"
    dirty="PatrolParentCtrl.dirtyEditor"
    post-editor-mode="true"
    create-action="PatrolParentCtrl.savePost"
    can-create="PatrolParentCtrl.canSave"
    show-switch="PatrolParentCtrl.showEditor">
  </epochtalk-editor>
</div>

<!-- Reporting Modal -->
<modal show="PatrolParentCtrl.showReportModal" on-close="PatrolParentCtrl.closeReportModal()">
  <form name="$parent.form" class="css-form">
    <h3 class="thin-underline" ng-if="PatrolParentCtrl.reportControlAccess.reportPosts && PatrolParentCtrl.reportControlAccess.reportUsers">Report User/Post</h3>
    <h3 class="thin-underline" ng-if="PatrolParentCtrl.reportControlAccess.reportPosts && !PatrolParentCtrl.reportControlAccess.reportUsers">Report Post</h3>
    <h3 class="thin-underline" ng-if="!PatrolParentCtrl.reportControlAccess.reportPosts && PatrolParentCtrl.reportControlAccess.reportUsers">Report User</h3>
    <label ng-if="PatrolParentCtrl.reportControlAccess.reportPosts && PatrolParentCtrl.reportControlAccess.reportUsers">Which would you like to report?</label>
    <input ng-if="PatrolParentCtrl.reportControlAccess.reportUsers" type="radio" name="reportPost" ng-model="PatrolParentCtrl.offendingId" ng-value="PatrolParentCtrl.reportedPost.user.id" id="reportUser" ng-disabled="PatrolParentCtrl.reportSubmitted" required><label ng-if="PatrolParentCtrl.reportControlAccess.reportUsers" for="reportUser">{{PatrolParentCtrl.reportedPost.user.username}}</label>
    <input ng-if="PatrolParentCtrl.reportControlAccess.reportPosts" type="radio" name="reportPost" ng-model="PatrolParentCtrl.offendingId" ng-value="PatrolParentCtrl.reportedPost.id" id="reportPost" ng-disabled="PatrolParentCtrl.reportSubmitted" required><label ng-if="PatrolParentCtrl.reportControlAccess.reportPosts" for="reportPost">{{PatrolParentCtrl.reportedPost.user.username}}'s Post</label>
    <label>Reason for Report</label>
    <textarea modal-focus="{{PatrolParentCtrl.showReportModal}}" name="reportReason" ng-model="PatrolParentCtrl.reportReason" ng-disabled="PatrolParentCtrl.reportSubmitted" placeholder="Give a brief reason for your report" rows="4" required maxlength="255"></textarea>
    <div class="clear">
      <button class="fill-row" ng-click="PatrolParentCtrl.submitReport()"
        ng-disabled="$parent.form.$invalid || $parent.form.$errors || PatrolParentCtrl.reportSubmitted" ng-bind="PatrolParentCtrl.reportBtnLabel"></button>
    </div>
  </form>
</modal>
