<!-- Page Header -->
<div class="watchlist-section">
  <h1 class="">Watchlist</h1>
  <dl class="tabs">
    <dd class="no-select" >
      <a ui-sref="watchlist">Unread</a>
    </dd>
    <dd class="no-select active">
      <a ui-sref="watchlist-edit">Edit</a>
    </dd>
  </dl>
</div>

<div class="watchlist-data">
  <!-- Watched Boards -->
  <div class="watchlist-watched-boards watchlist-panel">
    <div class="watchlist-panel-header">
      <h2>Watched Boards</h2>
      <div class="pagination-slide">
        <div class="pagination-components">
          <button clas="prev" ng-disabled="WatchlistEditCtrl.boardPage <= 1" ng-click="WatchlistEditCtrl.pullBoards(-1);">&#10094; Newer</button>
          <div class="page" ng-bind="WatchlistEditCtrl.boardPage"></div>
          <button class="next" ng-disabled="!WatchlistEditCtrl.hasMoreBoards" ng-click="WatchlistEditCtrl.pullBoards(1);">Older &#10095;</button>
        </div>
      </div>
    </div>

    <!-- Watched Boards Table -->
    <div class="watchlist-table watchlist-data-edit">
      <table>
        <thead>
          <tr>
            <td class="subject">Boards</td>
            <td class="threads">Threads</td>
            <td class="views">Views</td>
            <td class="actions">Actions</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="board in WatchlistEditCtrl.boards track by board.id">
            <td class="title">
              <a ui-sref="threads.data({ boardId: board.id })" ng-bind-html="board.name"></a>
            </td>
            <td class="threads-views-mobile">
              <span class="value" ng-bind="board.thread_count | number:0"></span>&nbsp;threads, &nbsp;
              <span class="value" ng-bind="board.post_count | number:0"> </span>
              &nbsp;views
            </td>
            <td class="replies" ng-bind="board.thread_count | number:0"></td>
            <td class="views" ng-bind="board.post_count | number:0"></td>
            <td class="actions">
              <a ng-click="WatchlistEditCtrl.unwatchBoard(board.id, board.name); board.unwatched = true" ng-hide="board.unwatched">
                Unwatch
              </a>
              <a ng-click="WatchlistEditCtrl.watchBoard(board.id, board.name); board.unwatched = false" ng-show="board.unwatched">
                Watch
              </a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <!-- No Boards Listed -->
    <div ng-if="WatchlistEditCtrl.boards.length < 1" class="centered-text">
      <h5>No Boards Being watched</h5>
    </div>

  </div>
  
  
  
  <!-- Watched Threads -->
  <div class="watchlist-watched-threads watchlist-panel" ng-if="WatchlistEditCtrl.threads">
    <div class="watchlist-panel-header">
      <h2>Watched Threads</h2>
      <div class="pagination-slide">
        <div class="pagination-components">
          <button class="prev" ng-disabled="WatchlistEditCtrl.threadPage <= 1" ng-click="WatchlistEditCtrl.pullThreads(-1);">&#10094; Newer</button>
          <div class="page" ng-bind="WatchlistEditCtrl.threadPage"></div>
          <button class="next" ng-disabled="!WatchlistEditCtrl.hasMoreThreads" ng-click="WatchlistEditCtrl.pullThreads(1);">Older &#10095;</button>
        </div>
      </div>
    </div>

    <div class="watchlist-table watchlist-data-edit" >
      <table>
        <thead>
          <tr>
            <td class="subject">Threads</td>
            <td class="replies">Replies</td>
            <td class="views">Views</td>
            <td class="actions">Actions</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="thread in WatchlistEditCtrl.threads track by thread.id">
            <td class="title">
              <a ui-sref="posts.data({ threadId: thread.id })" ng-bind-html="thread.title"></a>
              <span class="parent-board">In Board: <strong><span ng-bind-html="thread.board_name"></</strong></span>
            </td>
            <td class="threads-views-mobile">
              <span class="value" ng-bind="thread.post_count - 1 | number:0"></span>&nbsp;replies,&nbsp;
              <span class="value" ng-bind="thread.view_count | number:0">&nbsp;views</span>
            </td>
            <td class="replies" ng-bind="thread.post_count - 1 | number:0"></td>
            <td class="views" ng-bind="thread.view_count | number:0"></td>
            <td class="actions">
              <a ng-click="WatchlistEditCtrl.unwatchThread(thread.id, thread.title); thread.unwatched = true" ng-hide="thread.unwatched">
                Unwatch
              </a>
              <a ng-click="WatchlistEditCtrl.watchThread(thread.id, thread.title); thread.unwatched = false" ng-show="thread.unwatched">
                Watch
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- No Threads Listed -->
    <div ng-if="WatchlistEditCtrl.threads.length < 1" class="centered-text">
      <h5>No Threads Being watched</h5>
    </div>

  </div>

</div>
