<!-- Page Header -->
<div class="watchlist-section">
  <div class="leftcol">
    <h2 class="inline-block">Watchlist</h2>
    <dl class="tabs">
      <dd class="no-select" >
        <a ui-sref="watchlist">Unread</a>
      </dd>
      <dd class="no-select active">
        <a ui-sref="watchlist-edit">Edit</a>
      </dd>
    </dl>
  </div>
</div>

<!-- Watched Boards -->
<div class="watchlist-section">
  <div class="leftcol">
    <h3>Watched Boards</h3>
  </div>
  <div class="rightcol">
    <div class="pagination-slide">
      <div class="prev">
        <button ng-disabled="WatchlistEditCtrl.boardPage <= 1" ng-click="WatchlistEditCtrl.pullBoards(-1);">&#10094; Newer</button>
      </div>
      <div class="page" ng-bind="WatchlistEditCtrl.boardPage"></div>
      <div class="next">
        <button ng-disabled="!WatchlistEditCtrl.hasMoreBoards" ng-click="WatchlistEditCtrl.pullBoards(1);">Older &#10095;</button>
      </div>
    </div>
  </div>
</div>

<div class="watchlist-data watchlist-data-edit watchlist-data-spacer">
  <!-- All Threads Header -->
  <div class="threads-header" ng-if="WatchlistEditCtrl.boards">
    <div class="mobile-header">
      <h5>Boards</h5>
    </div>
    <div class="subject">
      <h5>Boards</h5>
    </div>
    <div class="replies">
      <h5>Threads</h5>
    </div>
    <div class="views">
      <h5>Posts</h5>
    </div>
    <div class="actions">
      <h5>Actions</h5>
    </div>
  </div>
  <div class="thin-underline"></div>

  <!-- All Thread listing -->
  <div class="threads-data" ng-repeat="board in WatchlistEditCtrl.boards track by board.id">

    <div class="subject">
      <div class="title">
        <a ui-sref="threads.data({ boardId: board.id })" ng-bind-html="board.name"></a>
      </div>

      <div class="mobile-stats">
        <strong class="mobile-replies" ng-bind="board.thread_count | number:0"></strong>
        <span> Threads and </span>
        <strong class="mobile-views" ng-bind="board.post_count | number:0"></strong>
        <span> Posts</span>
        <br />
        <a ng-click="WatchlistEditCtrl.unwatchBoard(board.id, board.name); board.unwatched = true" ng-hide="board.unwatched">
          Unwatch
        </a>
        <a ng-click="WatchlistEditCtrl.watchBoard(board.id, board.name); board.unwatched = false" ng-show="board.unwatched">
          Watch
        </a>
      </div>
    </div>

    <div class="replies" ng-bind="board.thread_count | number:0"></div>

    <div class="views" ng-bind="board.post_count | number:0"></div>

    <div class="actions">
      <a ng-click="WatchlistEditCtrl.unwatchBoard(board.id, board.name); board.unwatched = true" ng-hide="board.unwatched">
        Unwatch
      </a>
      <a ng-click="WatchlistEditCtrl.watchBoard(board.id, board.name); board.unwatched = false" ng-show="board.unwatched">
        Watch
      </a>
    </div>
  </div>

  <!-- No Boards listed -->
  <div ng-if="WatchlistEditCtrl.boards.length < 1" class="centered-text">
    <h5>No Boards Being watched</h5>
  </div>

</div>


<!-- Watched Threads -->
<div class="watchlist-section">
  <div class="leftcol">
    <h3>Watched Threads</h3>
  </div>
  <div class="rightcol">
    <div class="pagination-slide">
      <div class="prev">
        <button ng-disabled="WatchlistEditCtrl.threadPage <= 1" ng-click="WatchlistEditCtrl.pullThreads(-1);">&#10094; Newer</button>
      </div>
      <div class="page" ng-bind="WatchlistEditCtrl.threadPage"></div>
      <div class="next">
        <button ng-disabled="!WatchlistEditCtrl.hasMoreThreads" ng-click="WatchlistEditCtrl.pullThreads(1);">Older &#10095;</button>
      </div>
    </div>
  </div>
</div>
<div class="watchlist-data watchlist-data-edit">

  <!-- Threads Header -->
  <div class="threads-header" ng-if="WatchlistEditCtrl.threads">
    <div class="mobile-header">
      <h5>Threads</h5>
    </div>
    <div class="subject">
      <h5>Threads</h5>
    </div>
    <div class="replies">
      <h5>Replies</h5>
    </div>
    <div class="views">
      <h5>Views</h5>
    </div>
    <div class="actions">
      <h5>Actions</h5>
    </div>
  </div>
  <div class="thin-underline"></div>

  <!-- Thread listing -->
  <div class="threads-data" ng-repeat="thread in WatchlistEditCtrl.threads track by thread.id">

    <div class="subject">
      <div class="title">
        <a ui-sref="posts.data({ threadId: thread.id })" ng-bind-html="thread.title"></a>
      </div>
      <small>In Board: </small><strong><small ng-bind-html="thread.board_name"></small></strong>

      <div class="mobile-stats">
        <strong class="mobile-replies" ng-bind="thread.post_count - 1 | number:0"></strong>
        <span> Replies and </span>
        <strong class="mobile-views" ng-bind="thread.view_count | number:0"></strong>
        <span> Views</span>
        <br />
        <a ng-click="WatchlistEditCtrl.unwatchThread(thread.id, thread.title); thread.unwatched = true" ng-hide="thread.unwatched">
          Unwatch
        </a>
        <a ng-click="WatchlistEditCtrl.watchThread(thread.id, thread.title); thread.unwatched = false" ng-show="thread.unwatched">
          Watch
        </a>
      </div>
    </div>

    <div class="replies" ng-bind="thread.post_count - 1 | number:0"></div>

    <div class="views" ng-bind="thread.view_count | number:0"></div>

    <div class="actions">
      <a ng-click="WatchlistEditCtrl.unwatchThread(thread.id, thread.title); thread.unwatched = true" ng-hide="thread.unwatched">
        Unwatch
      </a>
      <a ng-click="WatchlistEditCtrl.watchThread(thread.id, thread.title); thread.unwatched = false" ng-show="thread.unwatched">
        Watch
      </a>
    </div>
  </div>

  <!-- No Threads Listed -->
  <div ng-if="WatchlistEditCtrl.threads.length < 1" class="centered-text">
    <h5>No Threads Being watched</h5>
  </div>

</div>
