<div ng-if="MessagesCtrl.recentMessages.length < 1">
  <br />
  <h4 class="centered-text">You're message inbox is currently empty, message someone to get started!</h4>

  <br /><br />

  <div class="centered-text">
    <button ng-if='MessagesCtrl.canCreateConversation()' ng-click="MessagesCtrl.loadEditor(false); MessagesCtrl.editorConvoMode = true;">Start a Conversation</button>
  </div>
</div>


<!-- Recent Conversations -->
<div class="conversations" ng-if="MessagesCtrl.recentMessages.length > 0">
  <div id="recentMessagesHeader">
    <div class="inbox" ng-click="MessagesCtrl.loadRecentMessages(); MessagesCtrl.reloadConversation()">
      <i class="fa fa-envelope"></i> Inbox
    </div>
    <div class="add" ng-if="MessagesCtrl.canCreateConversation()" ng-click="MessagesCtrl.loadEditor(false); MessagesCtrl.editorConvoMode = true;">
      <i class="fa fa-plus"></i> New Message
    </div>
  </div>

  <div class="pagination-slide" ng-if="MessagesCtrl.pageMax > 0">
    <div class="prev">
      <button ng-click="MessagesCtrl.loadRecentMessages(MessagesCtrl.page - 1)" ng-disabled="MessagesCtrl.page === 1">&#10094;</button>
    </div>
    <div class="page" ng-bind="'Page ' + MessagesCtrl.page + ' of ' + MessagesCtrl.pageMax"></div>
    <div class="next">
      <button ng-click="MessagesCtrl.loadRecentMessages(MessagesCtrl.page + 1)" ng-disabled="MessagesCtrl.page === MessagesCtrl.pageMax">&#10095;</button>
    </div>
  </div>

  <div class="list" ng-if="MessagesCtrl.pageMax > 0">
    <div ng-repeat="message in MessagesCtrl.recentMessages track by message.id" class="cell" ng-click="MessagesCtrl.loadConversation(message.conversation_id)" ng-class="{ 'active': MessagesCtrl.selectedConversationId === message.conversation_id, 'unread': !message.viewed }">
      <strong ng-bind="::MessagesCtrl.listMessageReceivers(message)"></strong>
      <br />
      <span class="msg-preview" ng-bind-html="message.created_at | humanDate"></span>
      <br />
      <strong><span class="msg-preview" ng-bind-html="message.content.subject"></span></strong>
      <a ng-if="MessagesCtrl.canDeleteConversation()" ng-href="#" class="action" ng-click="MessagesCtrl.openDeleteConvoModal(message.conversation_id)" data-balloon="Delete" data-balloon-pos="left">
        <i class="fa fa-trash"></i>
      </a>
    </div>
  </div>
</div>

<!-- Current Conversation -->
<div class="messages">
  <!-- New Message -->
  <div ng-if="MessagesCtrl.currentConversation.messages.length > 0">
    <a class="right no-select" ng-if='MessagesCtrl.canCreateMessage()' ng-click="MessagesCtrl.loadEditor(); MessagesCtrl.editorConvoMode = false;">
      <i class="fa fa-reply"></i> Reply
    </a>
    <h4>Conversation with
      <strong ng-repeat="name in MessagesCtrl.receiverNames">
        <a ui-sref="profile.posts({ username: name})">{{name}}</a>{{ $last ? '' : ', '}}
      </strong>
    </h4>
    <h4>Subject: <strong>{{MessagesCtrl.currentSubject}}</strong></h4>
  </div>
  <h4 ng-if="MessagesCtrl.recentMessages.length > 0 && MessagesCtrl.currentConversation.messages.length < 1" class="centered-text">
    No Conversation selected<br />
  </h4>

  <!-- Conversation Messages -->
  <div class="msg-container">
    <div id="{{message.id}}" ng-repeat="message in MessagesCtrl.currentConversation.messages track by message.id" class="message" ng-class="{ 'sender': MessagesCtrl.currentUserId === message.sender_id, 'unread': !message.viewed}">
      <div class="content">
        <div class="avatar">
          <img ng-src="{{ message.sender_avatar || $webConfigs.default_avatar }}" />
        </div>
        <div class="title">
          <strong ng-bind="message.sender_username"></strong>
          <span class="date" ng-bind="message.created_at | humanDate"></span>
          <div class="right">
            <a ng-href="" class="action" data-balloon="Quote" ng-click="MessagesCtrl.addQuote(message); MessagesCtrl.editorConvoMode = false;">
              <i class="icon-epoch-quote"></i>
            </a>
            <a ng-if="MessagesCtrl.canDeleteMessage(message.sender_id)" ng-href="#" class="action" ng-click="MessagesCtrl.openDeleteModal(message.id)" data-balloon="Delete">
              <i class="fa fa-trash"></i>
            </a>
            <a ng-if="message.sender_id !== MessagesCtrl.currentUserId && MessagesCtrl.controlAccess.reportMessages && !message.reported" ng-href="#" class="action" ng-click="MessagesCtrl.openReportModal(message)" data-balloon="Report">
              <i class="icon-epoch-flag"></i>
            </a>
          </div>
        </div>
        <div class="msg-content post-body" post-processing="message.content.body_html" style-fix="true"></div>
      </div>
    </div>
  </div>

  <!-- load more message -->
  <div class="clear">
    <button class="fill-row no-animate" ng-if="MessagesCtrl.hasMoreMessages()" ng-click="MessagesCtrl.loadMoreMessages()">
      Load More Messages
    </button>
  </div>
</div>

<div class="clear"></div>

<!-- spacer for editor -->
<div ng-hide="!MessagesCtrl.showEditor" id="post-spacer" style="height: 387px;"></div>

<!-- Editor -->
<div class="messages-wrap">
  <div ng-class="MessagesCtrl.editorPosition" ng-show="MessagesCtrl.showEditor" resizeable="MessagesCtrl.resize" data-default-height="500px">
    <!-- Editor Container-->
    <div class="editor-container" ng-class="{ 'new-message' : MessagesCtrl.editorConvoMode }">
      <!-- Editor Header -->
      <div class="editor-top-bar">
        <div ng-if="MessagesCtrl.editorConvoMode">
          <!-- Select User -->
          <label>To</label>
          <tags-input min-length="1" placeholder="Type username(s) to message" add-from-autocomplete-only="true" replace-spaces-with-dashes="false" display-property="username" allow-leftover-text="false" ng-model="MessagesCtrl.receivers" modal-focus="{{MessagesCtrl.showEditor && MessagesCtrl.editorConvoMode}}">
              <auto-complete min-length="1" debounce-delay="250" source="MessagesCtrl.loadTags($query)"></auto-complete>
            </tags-input>
          <!-- Subject -->
          <label>Subject</label>
          <input type="text" ng-model="MessagesCtrl.newMessage.content.subject" minlength="1" maxlength="255" />
        </div>

        <div class="editor-formatting" ng-if="MessagesCtrl.showFormatting">
          <a class="close-formatting" ng-click="MessagesCtrl.showFormatting = false">X</a>
          <div class="thin-underline fill-row">
            <a ng-href="https://github.com/epochtalk/bbcode-parser" target="_blank">
              <h4>BBCode Lookup</h4>
            </a>
          </div>
          <div class="half-column">
            <strong>Bold</strong>:<div class="right">[b][/b]</div><br />
            <em>Italics</em>:<div class="right">[i][/i]</div><br />
            <u>Underline</u>:<div class="right">[u][/u]</div><br />
            <del>Strikethrough</del>:<div class="right">[s][/s]</div><br />
            BTC:<div class="right">[btc][/btc]</div><br />
            <span style="background-color: green">Glow</span>:
            <div class="right">[glow={color}][/glow]</div><br />
            <span style="text-shadow: red 1px 1px 5px;">Shadow</span>:
            <div class="right">[shadow={color}, {direction}, {blur}][/shadow]</div><br />
            Font Size:<div class="right">[size={size}][/size]</div><br />
            <sup>Superscript</sup>:<div class="right">[sup][/sup]</div><br />
            <sub>Subscript</sub>:<div class="right">[sub][/sub]</div><br />

            <hr class="clear" />

            <code class="preview">Code</code>:<div class="right">[code][/code]</div><br />
            <tt>TeleText</tt>:<div class="right">[tt][/tt]</div><br />
            Preformatted Text:<div class="right">[pre][/pre]</div><br />
            Justify Left:<div class="right">[left][/left]</div><br />
            Justify Right:<div class="right">[right][/right]</div><br />
            Justify Center:<div class="right">[center][/center]</div><br />

            <hr class="clear" />

            Horizontal Rule:<div class="right">[hr][/hr]</div><br /><br />
          </div>
          <div class="half-column">
            Black:<div class="right">[black][/black]</div><br />
            Blue:<div class="right">[blue][/blue]</div><br />
            Green:<div class="right">[green][/green]</div><br />
            Red:<div class="right">[red][/red]</div><br />
            White:<div class="right">[white][/white]</div><br />
            Additional Colors:<div class="right">[color={color}][/color]</div><br />

            <hr class="clear" />

            Image:<div class="right">[img]{URL}[/img]</div><br />
            URL:<div class="right">[url={URL}][/url]</div><br />
            Email:<div class="right">[email={email}][/email]</div><br />
            FTP:<div class="right">[ftp={URL}][/ftp]</div><br />

            <hr class="clear" />

            Lists:
            <div class="right">
              [list]<br />
              &nbsp;&nbsp;[li][/li]<br />
              &nbsp;&nbsp;[li][/li]<br />
              [/list]<br /><br />
            </div>

            <hr class="clear" />

            Tables:
            <div class="right">
              [table]<br />
              &nbsp;&nbsp;[tr]<br />
              &nbsp;&nbsp;&nbsp;&nbsp;[td][/td]<br />
              &nbsp;&nbsp;[/tr]<br />
              [/table]
            </div><br />
          </div>
        </div>
      </div>
      <!-- Editor -->
      <form name="form" class="editor-form" novalidate>
        <epochtalk-editor class="posts-editor" body-html="MessagesCtrl.newMessage.content.body_html" body="MessagesCtrl.newMessage.content.body" reset-switch="MessagesCtrl.resetEditor" focus-switch="MessagesCtrl.focusEditor" quote="MessagesCtrl.quote" dirty="MessagesCtrl.dirtyEditor">
        </epochtalk-editor>
      </form>

      <div class="editor-tools">
        <div class="tools">
          <a data-balloon="Formatting Help" ng-click="MessagesCtrl.showFormatting = true"><i class="fa fa-code"></i></a>
          <a data-balloon="{{ MessagesCtrl.isMinimized ? 'Expand Editor' : 'Minimize Editor' }}" ng-click="MessagesCtrl.fullscreen()"><i class="fa expand" ng-class="{ 'fa-expand': MessagesCtrl.isMinimized, 'fa-compress': !MessagesCtrl.isMinimized }"></i></a>
        </div>
      </div>

      <!-- Editor Controls -->
      <div class="editor-button-container">
        <button class="inverted-button cancel" ng-click="MessagesCtrl.cancelMsg()">
          Cancel
        </button>
        <button class="no-animate" ng-if="MessagesCtrl.editorConvoMode" class="send" ng-click="MessagesCtrl.createConversation()" ng-disabled="!MessagesCtrl.receivers.length || form.title.$error.required || !MessagesCtrl.canCreateConversation() || !MessagesCtrl.newMessage.content.subject.length || !MessagesCtrl.newMessage.content.body.length">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Start New Conversation
        </button>
        <button class="no-animate" ng-if="!MessagesCtrl.editorConvoMode" class="send" ng-click="MessagesCtrl.saveMessage()" ng-disabled="form.title.$error.required || !MessagesCtrl.canCreateMessage() || !MessagesCtrl.newMessage.content.body.length">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Send Reply
        </button>

        <span class="label alert" ng-if="PostsParentCtrl.posting.error" ng-bind="PostsParentCtrl.posting.error.message"></span>
      </div>
    </div>
  </div>
</div>

<!-- Delete Message Modal -->
<modal show="MessagesCtrl.showDeleteModal" on-close="MessagesCtrl.closeDeleteModal()">
  <form name="$parent.form" class="css-form" novalidate>
    <h3 class="thin-underline">Delete Reply</h3>
    <p>Are you sure you want to permanently delete this reply?</p>

    <!-- Save Button -->
    <div class="clear">
      <button class="fill-row" ng-click="MessagesCtrl.deleteMessage()">
        Delete Reply
      </button>
    </div>
  </form>
</modal>

<!-- Delete Conversation Modal -->
<modal show="MessagesCtrl.showDeleteConvoModal" on-close="MessagesCtrl.closeDeleteConvoModal()">
  <form name="$parent.form" class="css-form" novalidate>
    <h3 class="thin-underline">Delete Messages</h3>
    <p>Are you sure you want to permanently delete this conversation and all its replies?</p>

    <!-- Save Button -->
    <div class="clear">
      <button class="fill-row" ng-click="MessagesCtrl.deleteConversation()">
        Delete Messages
      </button>
    </div>
  </form>
</modal>

<!-- Report Message Modal -->
<modal show="MessagesCtrl.showReportModal" on-close="MessagesCtrl.closeReportModal()">
  <form name="$parent.form" class="css-form" novalidate>
    <h3 class="thin-underline">Report Message</h3>
    <label for="reportReason">Reason for Report</label>
    <textarea name="reportReason" ng-model="MessagesCtrl.reportReason" ng-disabled="MessagesCtrl.reportSubmitted" placeholder="Give a brief reason for your report" rows="4" required maxlength="255"></textarea>
    <div class="clear">
      <button class="fill-row" ng-click="MessagesCtrl.submitReport()"
        ng-disabled="$parent.form.$invalid || $parent.form.$errors || MessagesCtrl.reportSubmitted" ng-bind="MessagesCtrl.reportBtnLabel"></button>
    </div>
  </form>
</modal>
