/*-- Header Layout --*/
header {
  #ban-notice {
    @include pad(0.2rem 0);
    text-align: center;
    margin-top: -$breadcrumbs-bottom-margin;
    margin-bottom: $breadcrumbs-bottom-margin;
    font-weight: bold;
    font-size: 0.85rem;
    color: #ffffff;
    background-color: #f04124;
  }
  #menu-wrap {
    @include clearfix();
    @include pad(0 $base-grid-padding);
    background-color: $header-bg-color;
    text-align: center;
    min-height: $header-height;
    #menu {
      @include outer-container;
      h3 {
        float: left;
        font-family: $base-font-sans;
        line-height: $header-height;
        font-size: $header-logo-font-size;
        #logo {
          padding-right: 10px;
          width: 2.1875rem;
          height: auto;
          max-height: 2.1875rem;
          margin-bottom: 0.25rem;
        }
        #logo-text { color: $header-logo-font-color; }
      }
      ul {
        display: inline-block;
        float: right;
        margin: 0;
        height: $header-height;
        padding: 0;
        list-style-type: none;
        &.signed-out li a {
          display: table-cell;
          height: inherit;
          vertical-align: middle;
        }
        li { float: left; height: inherit; }
        li a { color: $header-login-font-color; font-size: $header-login-font-size; padding-left: 1.25rem; }
        form, form div { height: inherit; }
        .search {
          position: relative;
          height: inherit;
          ::-webkit-input-placeholder { color: $placeholder-text-color; }
          :-moz-placeholder { color: $placeholder-text-color; }
          ::-moz-placeholder { color: $placeholder-text-color; }
          :-ms-input-placeholder { color: $placeholder-text-color; }
          .search-input {
            height: inherit;
            display: inline-block;
            background-color: inherit;
            color: $header-logo-font-color;
            border: none;
            box-shadow: none;
            margin: 0;
            padding: 0 0.4rem 0 2rem;
            width: 250px;
          }
          label { color: $header-logo-font-color; position: absolute; left: 0.4rem; top: 1rem; bottom: 1rem; }
        }
        #notifications-tray {
          line-height: $header-height;
          height: inherit;
          .tray-icon {
            @include pad(0 1rem);
            cursor: pointer;
            display: inline-block;
            color: $header-logo-font-color;
            position: relative;
            &:hover { background-color:  $header-dropdown-bg-color; }
            .count {
              @include pad(0 0.125rem);
              @include border-radius(0.2rem);
              border: 1px solid $header-bg-color;
              position: absolute;
              background-color: red;
              height: 1rem;
              line-height: 0.85rem;
              min-width: 1rem;
              font-size: 0.5rem;
              font-weight: bolder;
              top: 0.5rem;
              right: 0.45rem;
            }
          }
        }
        #user-dropdown-wrap {
          min-width: 125px;
          position: relative;
          div {
            text-align: left;
            padding: 0 10px;
            height: inherit;
            display: table-cell;
            vertical-align: middle;
            .avatar {
              @include border-radius(100px);
              height: 2.1875rem;
              width: 2.1875rem;
              border: 2px solid $header-logo-font-color;
            }
            a { padding-left: 0.8rem; }
          }
          #user-dropdown {
            @include pad(0 1rem);
            display: none;
            width: 100%;
            height: auto;
            text-align: left;
            margin-top: -1px;
            background-color: $header-dropdown-bg-color;
            position: absolute;
            z-index: 9999;
            li, li a { float: none; display: block; height: 2.2rem; line-height: 2.2rem; }
            li a { @include pad(0); &:hover { color: $color-primary; } }
          }
        }
        #user-dropdown-wrap:hover {
          box-shadow: 0 2px 4px $header-dropdown-shadow-color;
          background-color: $header-dropdown-bg-color;
          #user-dropdown { display: block; box-shadow: 0 2px 4px $header-dropdown-shadow-color; }
        }
      }
    }
    #menu.admin-menu {
      max-width: none;
      h3 #logo-text { padding-right: 0.8rem; }
      #menu-left {
        float: left;
        .menu-btn, .menu-btn-selected {
          padding: 0 0.8rem;
          display: table-cell;
          height: inherit;
          vertical-align: middle;
        }
        .menu-btn-selected { background-color: $header-dropdown-bg-color; border-bottom: 2px solid $color-primary; }
      }
      #menu-right {
        float: right;
        li:first-child, li:nth-child(2n) {
          padding-right: 0.8rem;
          a {
            display: table-cell;
            height: inherit;
            vertical-align: middle;
          }
        }
      }
    }

    // Mobile Menu Layout
    @include media($mobile) {
      #menu ul .search { display: none; }
    }
  }

  #breadcrumbs-wrap {
    @include clearfix();
    @include pad(0 $base-grid-padding);
    background-color: $breadcrumbs-bg-color;
    border-bottom: 1px solid $breadcrumbs-border-color;
    box-shadow: 0px 2px 6px $breadcrumbs-shadow-color;
    text-align: center;
    height: $breadcrumbs-height;
    margin-bottom: $breadcrumbs-bottom-margin;
    #breadcrumbs {
      @include outer-container;
      min-width: 0;
      padding: 0;
      background: none;
      text-transform: uppercase;
      ul {
        float: left;
        display: inline-block;
        margin: 0;
        line-height: $breadcrumbs-height;
        padding: 0;
        list-style-type: none;
        white-space: nowrap;
        li { color: $breadcrumbs-link-color; display: inline-block; }
        li::before { content: "/"; padding: 0 0.4rem; }
        li:first-child::before { content: none; }
        li a { color: $breadcrumbs-link-color; font-size: $breadcrumbs-font-size; cursor: pointer; }
        li span { color: $breadcrumbs-dead-link-color; font-size: $breadcrumbs-font-size; }
        li a, li span { &.ng-enter, &.ng-leave { @include transition(none !important); } }
      }
    }

    // Mobile Breadcrumbs Layout
    @include media($mobile) {
      #breadcrumbs::-webkit-scrollbar { height: 0; width: 0; }
      #breadcrumbs { overflow: hidden; overflow-x: scroll; }
    }
  }
}
