/*-------------- Error Layout -------------- */
main #http-error {
  @include outer-container;
  @include row;
  text-align: center;
  line-height: normal;
  .code { @include span-columns(12); @include omega; font-size: 12.5rem; font-weight: 100; }
  .message { @include span-columns(12); @include omega; font-size: 1.875rem; color: $color-primary; }

  // Mobile HTTP Error Layout
  @include media($mobile) {
    .code { font-size: 8rem; }
    .message { font-size: 1.5rem; }
  }
}
