/*-- No Script Message --*/
noscript {
  @include clearfix();
  #noscript {
    @include outer-container;
    @include row;
    margin-top: 12.5rem;
    .sad-face { @include span-columns(4); font-size: 18.75rem; }
    .message { @include span-columns(8); font-size: 1.25rem; }
  }

  // Mobile Noscript Layout
  @include media($mobile) {
    #noscript {
       text-align: center;
      .sad-face { @include span-columns(8); @include omega; }
      .message { @include span-columns(8); @include omega; margin: 0; padding: 0 1rem; }
    }
  }
}
