<!-- Page Header -->
<h3 class="thin-underline">Ignored User Posts</h3>
<div class="row">
  <autocomplete-user-id admin="false" user-id="vmIgnoreUserPosts.userToIgnore.user_id" username="vmIgnoreUserPosts.userToIgnore.username" input-placeholder="Type username to add to ignored posts list"></autocomplete-user-id>
  <button class="fill-row" ng-click="vmIgnoreUserPosts.ignoreUser(vmIgnoreUserPosts.userToIgnore)" ng-disabled="!vmIgnoreUserPosts.userToIgnore.user_id">Add to Ignore List</button>
</div>
<div class="clear"></div>
<!-- All Users -->
<table class="striped ignored-users" width="100%">
  <thead>
    <th></th>
    <th>Username</th>
    <th>Action</th>
  </thead>
  <tbody ng-if="vmIgnoreUserPosts.users.length < 1">
    <tr>
      <td class="centered-text no-data" colspan="3"><h5>No User Posts Being Ignored</h5></td>
    </tr>
  </tbody>
  <tbody ng-repeat="user in vmIgnoreUserPosts.users track by user.id">
    <tr>
      <td>
        <div class="user-avatar {{$webConfigs.default_avatar_shape}}">
          <a ui-sref="profile.posts({ username: user.username })">
            <img ng-src="{{::user.avatar || $webConfigs.default_avatar}}">
          </a>
        </div>
      </td>
      <td>
        <a class="user-username" ui-sref="profile.posts({ username: user.username })" ng-bind-html="user.username"></a>
      </td>
      <td ng-if="user.ignored">
        <a ng-click="vmIgnoreUserPosts.unignore(user)">
          <i class="fa fa-user"></i>&nbsp;&nbsp;
          Stop Ignoring<span class="hide-mobile"> User's Posts</span>
        </a>
      </td>
      <td ng-if="!user.ignored">
        <a ng-click="vmIgnoreUserPosts.ignore(user)">
          <i class="fa fa-user-times"></i>&nbsp;&nbsp;
          Ignore<span class="hide-mobile"> User's Posts</span>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<div class="pagination-simple">
  <a ng-show="vmIgnoreUserPosts.prev" ng-click="vmIgnoreUserPosts.pullPage(-1)">
    &#10094; Previous
  </a>
  <span ng-show="!vmIgnoreUserPosts.prev">&#10094; Previous</span>
  &nbsp;&nbsp;&nbsp;
  <a ng-show="vmIgnoreUserPosts.next" ng-click="vmIgnoreUserPosts.pullPage(1)">
     Next &#10095;
  </a>
  <span ng-show="!vmIgnoreUserPosts.next">Next &#10095;</span>
</div>

