<div class="board-header">
  <div class="title">
    <h4 ng-bind-html="BoardWrapperCtrl.board.name"></h4>
  </div>
  <div class="pagination-wrap">
    <pagination page-count="BoardWrapperCtrl.pageCount" page="BoardWrapperCtrl.page"></pagination>
  </div>
  <div class="moderators" ng-if="BoardWrapperCtrl.board.moderators.length > 0">
    <strong>Moderators: </strong>
    <a ui-sref="profile({ username: mod.username })" ng-repeat="mod in BoardWrapperCtrl.board.moderators" ng-bind="mod.username + ($last ? '' : ', ')"></a>
  </div>
</div>

<div class="board-controls" ng-if="BoardWrapperCtrl.loggedIn() && BoardWrapperCtrl.controlAccess.createPost && BoardWrapperCtrl.controlAccess.createThread">
  <a ui-sref="newThread({boardId: BoardWrapperCtrl.board.id})"><i class="icon-epoch-add"></i>Start a New Thread</a>
  <a ng-click="BoardWrapperCtrl.watchBoard()" ng-if="!BoardWrapperCtrl.board.watched">
    <i class="icon-epoch-watch"></i>Watch This Board
  </a>
</div>

<template-hook hook="board-actions" />

<div class="board-data" ui-view="data"></div>

<div class="board-footer">
  <div class="pagination-wrap">
    <pagination page-count="BoardWrapperCtrl.pageCount" page="BoardWrapperCtrl.page"></pagination>
  </div>
</div>
