<div class="row">

  <!-- Auth error message -->
  <div class="small-12 columns info-box text-center" ng-if="!NewThreadCtrl.loggedIn()">
    <span class="label alert radius">
      You need to be logged in to make a new thread
    </span>
  </div>

  <!-- POST error message -->
  <div class="small-12 columns text-center" ng-if="NewThreadCtrl.error.post.found">
    <span class="label alert" ng-bind="NewThreadCtrl.error.post.message"></span>
  </div>

  <!-- Editor -->
  <div class="small-12 columns thread-editor-container">
    <!-- editor -->
    <form name="form" class="editor-form" novalidate>
      <!-- Title -->
      <label>Title:
        <input type="text" name="title" placeholder="Title" ng-model="NewThreadCtrl.thread.title" required autofocus tabIndex="1">
        <small class="label error" ng-if="form.title.$touched && form.title.$error.required">
          Title is Required
        </small>
      </label>
      <!-- New Thread Editor -->
      <epochtalk-editor class="posts-editor" body="NewThreadCtrl.thread.body" raw-body="NewThreadCtrl.thread.raw_body" exit-switch="NewThreadCtrl.exitEditor"></epochtalk-editor tabIndex="2">
    </form>
    <!-- Editor Controls -->
    <div class="editor-button-container">
      <button class="button expand" ng-click="NewThreadCtrl.save()" ng-disabled="!NewThreadCtrl.loggedIn() || form.title.$error.required || !NewThreadCtrl.thread.body.length > 0" tabIndex="3">
        Submit
      </button>
    </div>
  </div>
</div>
