!!! 5
%html{"ng-app": "ept"}
  %head
    %title Epochtalk Development Preview
    %style
      /
        body {
          font-family: sans-serif;
          font-size: 12px;
        }
  %body
    %ng-view
    %script{src: "/bundle.js", type: "text/javascript"}
