<div class="thread-controls-wrap">
  <!-- Moderated Thread Banner -->
  <div class="banner-container">
    <div class="banner warning" ng-if="PostsParentCtrl.thread.moderated">
      Moderated Thread &mdash; <em>Thread starter can moderate posts.</em>
    </div>
  </div>

  <!-- Page Title -->
  <div class="page-header-split">
    <!-- Show Title -->
    <div ng-if="!PostsParentCtrl.editThread" class="thread-title">
      <h1 ng-bind-html="::PostsParentCtrl.thread.title"></h1>
      <a data-balloon="Edit Thread Title" ng-href="#" class="do-edit" ng-if="PostsParentCtrl.canEditTitle()" ng-click="PostsParentCtrl.openEditThread()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
          <title>edit-pencil</title>
          <path d="M7.38,33.74h0L4,44l10.26-3.39h0L41.74,13.14,34.86,6.26Zm31-21.15.54.55L14.26,37.79l-.54-.54" />
          <path d="M45.48,6.89,41.11,2.52a1.78,1.78,0,0,0-2.5,0L36.11,5,43,11.89l2.5-2.5A1.76,1.76,0,0,0,45.48,6.89Z" />
        </svg>
      </a>
      <div class="threadStates">
        <div class="badge locked" ng-if="PostsParentCtrl.thread.locked">
          <div class="">
            <a ng-href="#" id="lockThread" ng-if="PostsParentCtrl.canLock()" ng-class="{'clicked' : PostsParentCtrl.thread.locked }"
              ng-click="PostsParentCtrl.updateThreadLock()" class="badgeContents" data-balloon="{{PostsParentCtrl.thread.locked ? 'Unlock Thread' : 'Lock Thread'}}">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                <title>lock</title>
                <path
                  d="M40,21H37.5V16.48a13.5,13.5,0,0,0-27,0V21H8a2,2,0,0,0-2,2V43a2,2,0,0,0,2,2H40a2,2,0,0,0,2-2V23A2,2,0,0,0,40,21ZM15.5,16.48a8.5,8.5,0,0,1,17,0V21h-17Z" />
              </svg>
              Locked
            </a>
            <span id="cannotThread" ng-if="!PostsParentCtrl.canLock()" ng-class="{'clicked' : PostsParentCtrl.thread.locked }" class="badgeContents">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                <title>lock</title>
                <path
                  d="M40,21H37.5V16.48a13.5,13.5,0,0,0-27,0V21H8a2,2,0,0,0-2,2V43a2,2,0,0,0,2,2H40a2,2,0,0,0,2-2V23A2,2,0,0,0,40,21ZM15.5,16.48a8.5,8.5,0,0,1,17,0V21h-17Z" />
              </svg>
              Locked
            </span>
          </div>
        </div>
        <div class="badge sticky" ng-if="PostsParentCtrl.thread.sticky">
          <a ng-href="#" id="badge__stickyThread"
            ng-class="{'clicked' : PostsParentCtrl.thread.sticky }"
            ng-if="PostsParentCtrl.canSticky()"
            ng-click="PostsParentCtrl.updateThreadSticky()" class="badgeContents"
            data-balloon="{{PostsParentCtrl.thread.canSticky ? 'Sticky Thread' : 'Unsticky Thread'}}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
              <title>sticky</title>
                <g id="icons"><path d="M44.27,11.92,35.08,2.73a2.5,2.5,0,1,0-3.53,3.53l9.19,9.19a2.5,2.5,0,0,0,3.53-3.53Z"/><path d="M16.34,16.51a3,3,0,1,0-4.24,4.25l5.66,5.65L6.44,37.73l-2.12,5,4.95-2.12L20.59,29.24l5.65,5.66a3,3,0,1,0,4.25-4.24Z"/><rect x="21.78" y="11.22" width="16" height="12" transform="translate(-3.46 26.1) rotate(-45)"/>
              </g>
            </svg>
            Sticky
          </a>
          <span id="badge__cannotStickyThread"
            ng-class="{'clicked' : PostsParentCtrl.thread.sticky }"
            ng-if="!PostsParentCtrl.canSticky()"
            class="badgeContents">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
              <title>sticky</title>
                <g id="icons"><path d="M44.27,11.92,35.08,2.73a2.5,2.5,0,1,0-3.53,3.53l9.19,9.19a2.5,2.5,0,0,0,3.53-3.53Z"/><path d="M16.34,16.51a3,3,0,1,0-4.24,4.25l5.66,5.65L6.44,37.73l-2.12,5,4.95-2.12L20.59,29.24l5.65,5.66a3,3,0,1,0,4.25-4.24Z"/><rect x="21.78" y="11.22" width="16" height="12" transform="translate(-3.46 26.1) rotate(-45)"/>
              </g>
            </svg>
            Sticky
          </span>
        </div>
      </div>
    </div>
    <!-- Edit Title -->
    <div ng-if="PostsParentCtrl.editThread" class="edit-thread-title">
      <form ng-submit="PostsParentCtrl.updateThreadTitle()">
        <input type="text" ng-model="PostsParentCtrl.thread.title" maxlength="255">
        <div class="actions">
          <button ng-click="PostsParentCtrl.closeEditThread()" class="secondary small">Cancel</button>
          <button type="submit" ng-disabled="PostsParentCtrl.thread.title.length === 0" class="small">Save</button>
        </div>
      </form>
    </div>
  </div>


  <!-- Polls -->
  <div class="fill-row" ng-if="PostsParentCtrl.addPoll">
    <poll-creator poll="PostsParentCtrl.poll" valid="PostsParentCtrl.pollValid"></poll-creator>
    <button class="fill-row" ng-disabled="!PostsParentCtrl.pollValid" ng-click="PostsParentCtrl.createPoll()">Create Poll</button>
  </div>
  <!-- <poll-viewer thread="PostsParentCtrl.thread" user-priority="PostsParentCtrl.posts[0].user.priority" reset="PostsParentCtrl.resetPoll"></poll-viewer> -->

  <!-- <pagination page-count="PostsParentCtrl.pageCount" page="PostsParentCtrl.page"></pagination> -->

</div>

<!-- Ads -->
<ad-viewer page="PostsParentCtrl.page"></ad-viewer>

<!-- Posts Listing -->
<div class="thread-data" ui-view="data"></div>

<!-- Sidebar -->
<div class="sidebar">
  <div class="sidebar-block">
    <div ng-if="PostsParentCtrl.canPost()" class="sidebar-actions">
      <!-- <a class="button" ng-click="PostsParentCtrl.loadEditor()" ng-if="PostsParentCtrl.canPost()">Post Reply</a> -->

      <!-- Post Tools -->
      <div class="post-tools">
        <!-- Watch Thread -->
        <div ng-if="PostsParentCtrl.showUserControls()" data-balloon="Watch Thread">
          <a class="" ng-if="!PostsParentCtrl.thread.watched" ng-click="PostsParentCtrl.watchThread()" >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
              <title>watch</title>
              <path
                d="M24,9.75C11.3,9.75,0,24,0,24S11.3,38.25,24,38.25,48,24,48,24,36.7,9.75,24,9.75ZM24,36A12,12,0,1,1,36,24,12,12,0,0,1,24,36Z" />
              <path d="M24,15a8.89,8.89,0,0,0-3.06.57,3.93,3.93,0,1,1-5.37,5.37A8.89,8.89,0,0,0,15,24a9,9,0,1,0,9-9Z" />
            </svg>
          </a>
        </div>

        <!-- Add a Poll -->
        <div ng-if="PostsParentCtrl.showUserControls()" data-balloon="Add a Poll">
          <a class="" ng-if="PostsParentCtrl.canCreatePoll()"
            ng-click="PostsParentCtrl.addPoll = !PostsParentCtrl.addPoll">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
              <title>graph-bar</title>
              <polygon points="43.25 41.75 4.75 41.75 4.75 6.25 7.75 6.25 7.75 38.75 43.25 38.75 43.25 41.75" />
              <rect x="9.75" y="28.75" width="6" height="8" />
              <rect x="18.75" y="18.75" width="6" height="18" />
              <rect x="27.75" y="23.75" width="6" height="13" />
              <rect x="36.75" y="8.75" width="6" height="28" />
            </svg>
          </a>
        </div>

        <!-- Thread Lock -->
        <div class="control" data-balloon="{{PostsParentCtrl.thread.locked ? 'Unlock Thread' : 'Lock Thread'}}"
          ng-if="PostsParentCtrl.canLock()">
          <a ng-href="#" id="lockThread" ng-class="{'clicked' : PostsParentCtrl.thread.locked }"
            ng-click="PostsParentCtrl.updateThreadLock()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
              <title>lock</title>
              <path
                d="M40,21H37.5V16.48a13.5,13.5,0,0,0-27,0V21H8a2,2,0,0,0-2,2V43a2,2,0,0,0,2,2H40a2,2,0,0,0,2-2V23A2,2,0,0,0,40,21ZM15.5,16.48a8.5,8.5,0,0,1,17,0V21h-17Z" />
            </svg>
          </a>
        </div>

        <!-- Thread Sticky -->
        <div class="control" data-balloon="{{PostsParentCtrl.thread.sticky ? 'Unsticky Thread' : 'Sticky Thread'}}"
          ng-if="PostsParentCtrl.canSticky()">
          <a ng-href="#" id="stickyThread" ng-class="{'clicked' : PostsParentCtrl.thread.sticky }"
            ng-click="PostsParentCtrl.updateThreadSticky()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
              <title>sticky</title>
                <g id="icons"><path d="M44.27,11.92,35.08,2.73a2.5,2.5,0,1,0-3.53,3.53l9.19,9.19a2.5,2.5,0,0,0,3.53-3.53Z"/><path d="M16.34,16.51a3,3,0,1,0-4.24,4.25l5.66,5.65L6.44,37.73l-2.12,5,4.95-2.12L20.59,29.24l5.65,5.66a3,3,0,1,0,4.25-4.24Z"/><rect x="21.78" y="11.22" width="16" height="12" transform="translate(-3.46 26.1) rotate(-45)"/>
              </g>
            </svg>
          </a>
        </div>

        <!-- Purge Delete -->
        <div class="control" data-balloon="Purge Thread" ng-if="PostsParentCtrl.canPurge()">
          <a ng-href="#" id="purgeThread" ng-class="{'clicked' : PostsParentCtrl.showPurgeThreadModal }"
            ng-click="PostsParentCtrl.showPurgeThreadModal = true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
              <title>delete-circle</title>
              <path
                d="M24,2A22,22,0,1,0,46,24,22,22,0,0,0,24,2ZM35.67,32.13l-3.54,3.54L24,27.54l-8.13,8.13-3.54-3.54L20.46,24l-8.13-8.13,3.54-3.54L24,20.46l8.13-8.13,3.54,3.54L27.54,24Z" />
            </svg>
          </a>
        </div>

        <!-- Move Thread -->
        <div class="control" data-balloon="Move Thread" ng-if="PostsParentCtrl.canMove()">
          <a ng-href="#" id="moveBoard" ng-class="{'clicked' : PostsParentCtrl.showMoveThreadModal }"
            ng-click="PostsParentCtrl.openMoveThreadModal()">
            <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
              <title>Move</title>
              <path d="m29.36 7.74a3 3 0 0 0 -4.25 4.26l9 9h-28.73a3 3 0 0 0 0 6h28.76l-9 9a3 3 0 0 0 4.25 4.24l16.23-16.24z" />
            </svg>
          </a>
        </div>

      </div>
    </div>

    <!-- Poll Viewer -->
    <poll-viewer thread="PostsParentCtrl.thread" user-priority="PostsParentCtrl.posts[0].user.priority" reset="PostsParentCtrl.resetPoll"></poll-viewer>

    <!-- <div class="controls">
      <pagination page-count="PostsParentCtrl.pageCount" page="PostsParentCtrl.page"></pagination>
    </div> -->
  </div>
</div>

<!-- Bottom Actions and Pagination -->
<div class="actions-bottom">
  <div class="actions-bottom-grid">
    <div id="pagination-bottom" class="pagination-bottom">
      <pagination page-count="PostsParentCtrl.pageCount" page="PostsParentCtrl.page"></pagination>
    </div>
    <div ng-if="PostsParentCtrl.canPost()" class="sidebar-actions">
      <a class="button small" ng-click="PostsParentCtrl.loadEditor()" ng-if="PostsParentCtrl.canPost()">Post Reply</a>
    </div>
  </div>
</div>

<!-- spacer for editor -->
<!-- <div id="post-spacer"></div> -->

<!-- Editor -->
<div ng-if="PostsParentCtrl.canPost() && PostsParentCtrl.showEditor">

  <epochtalk-editor class="posts-editor"
    body-html="PostsParentCtrl.posting.post.body_html"
    body="PostsParentCtrl.posting.post.body"
    posting="PostsParentCtrl.posting"
    reset-switch="PostsParentCtrl.resetEditor"
    focus-switch="PostsParentCtrl.focusEditor"
    dirty="PostsParentCtrl.dirtyEditor"
    quote="PostsParentCtrl.quote"
    thread="PostsParentCtrl.thread"
    post-editor-mode="true"
    create-action="PostsParentCtrl.savePost"
    can-create="PostsParentCtrl.canSave"
    show-switch="PostsParentCtrl.showEditor">
  </epochtalk-editor>
</div>

<!-- Reporting Modal -->
<modal show="PostsParentCtrl.showReportModal" on-close="PostsParentCtrl.closeReportModal()">
  <form name="$parent.form" class="css-form">
    <h3 class="thin-underline" ng-if="PostsParentCtrl.reportControlAccess.reportPosts && PostsParentCtrl.reportControlAccess.reportUsers && !PostsParentCtrl.reportedPost.reported">Report User/Post</h3>
    <h3 class="thin-underline" ng-if="PostsParentCtrl.reportControlAccess.reportPosts && !PostsParentCtrl.reportControlAccess.reportUsers && !PostsParentCtrl.reportedPost.reported">Report Post</h3>
    <h3 class="thin-underline" ng-if="(!PostsParentCtrl.reportControlAccess.reportPosts && PostsParentCtrl.reportControlAccess.reportUsers) || (PostsParentCtrl.reportControlAccess.reportUsers && PostsParentCtrl.reportedPost.reported)">Report User</h3>
    <label ng-if="PostsParentCtrl.reportControlAccess.reportPosts && PostsParentCtrl.reportControlAccess.reportUsers && !PostsParentCtrl.reportedPost.reported">Which would you like to report?</label>
    <input ng-if="PostsParentCtrl.reportControlAccess.reportUsers && !PostsParentCtrl.reportedPost.reported_author" type="radio" name="reportPost" ng-model="PostsParentCtrl.offendingId" ng-value="PostsParentCtrl.reportedPost.user.id" id="reportUser" ng-disabled="PostsParentCtrl.reportSubmitted" required><label ng-if="PostsParentCtrl.reportControlAccess.reportUsers && !PostsParentCtrl.reportedPost.reported_author" for="reportUser">{{PostsParentCtrl.reportedPost.user.username}}</label>
    <input ng-if="PostsParentCtrl.reportControlAccess.reportPosts && !PostsParentCtrl.reportedPost.reported" type="radio" name="reportPost" ng-model="PostsParentCtrl.offendingId" ng-value="PostsParentCtrl.reportedPost.id" id="reportPost" ng-disabled="PostsParentCtrl.reportSubmitted" required><label ng-if="PostsParentCtrl.reportControlAccess.reportPosts && !PostsParentCtrl.reportedPost.reported" for="reportPost">{{PostsParentCtrl.reportedPost.user.username}}'s Post</label>
    <label>Reason for Report</label>
    <textarea modal-focus="{{PostsParentCtrl.showReportModal}}" name="reportReason" ng-model="PostsParentCtrl.reportReason" ng-disabled="PostsParentCtrl.reportSubmitted" placeholder="Give a brief reason for your report" rows="4" required maxlength="255"></textarea>
    <div class="clear">
      <button class="fill-row" ng-click="PostsParentCtrl.submitReport()"
        ng-disabled="$parent.form.$invalid || $parent.form.$errors || PostsParentCtrl.reportSubmitted" ng-bind="PostsParentCtrl.reportBtnLabel"></button>
    </div>
  </form>
</modal>

<!-- Purge Thread Modal -->
<modal show="PostsParentCtrl.showPurgeThreadModal" on-close="PostsParentCtrl.closePurgeThreadModal()">
  <form name="$parent.form" class="css-form" novalidate>
    <h3 class="thin-underline">Purge Thread</h3>
    <p>Are you sure you want to permanently delete this thread?</p>
    <!-- Save Button -->
    <div class="clear">
      <button class="fill-row" ng-click="PostsParentCtrl.purgeThread()">
        Purge Thread
      </button>
    </div>
  </form>
</modal>

<!-- Move Thread Modal -->
<modal show="PostsParentCtrl.showMoveThreadModal" on-close="PostsParentCtrl.closeMoveThreadModal()">
  <form name="$parent.form" class="css-form" novalidate>
    <h3 class="thin-underline">Move Thread</h3>
    <label>Select a board to move this thread to:</label>
    <div class="control-full-width">
      <select modal-focus="{{PostsParentCtrl.showMoveThreadModal}}" name="boards" id="moveThreadBoards" ng-model="PostsParentCtrl.moveBoard" ng-options="board.name group by board.parent_name for board in PostsParentCtrl.boards | orderBy:board.view_order"></select>
    </div>
    <!-- Save Button -->
    <div class="clear">
      <button class="fill-row" ng-click="PostsParentCtrl.moveThread()">
        Move Thread
      </button>
    </div>
  </form>
</modal>
