<!-- Page Header -->
<h3 class="thin-underline">Thread Notification Settings</h3>

<div class="row">
  <div class="two-thirds-column">
    <label for="enable-thread-notifications">Thread Notifications Enabled</label>
    <label class="desc-label" for="enable-thread-notifications">Receive an email when there are replies to threads you have created or participated in</label>
  </div>
  <div class="one-third-column">
    <input id="enable-thread-notifications" class="toggle-switch" type="checkbox" ng-model="vmThreadSettings.notificationsDisabled" ng-click="vmThreadSettings.enableNotifications()">
    <label for="enable-thread-notifications"></label>
  </div>
</div>
