<div class="fill-row polls poll-form">
  <!-- Poll Question -->
  <h4>Question:</h4>
  <input type="text" id="question" ng-model="poll.question">
  <div class="fill-row thin-underline"></div>
  <!-- Poll Answers -->
  <h4>Answers:</h4>
  <div class="answer-row" ng-repeat="answer in poll.answers track by $index">
    <div>
      <input type="text" id="answer-{{$index}}" ng-model="poll.answers[$index]">
      <button ng-if="$index > 1" tabindex="-1" ng-click="removePollAnswer($index)"><i class="fa fa-minus-circle"></i></button>
    </div>
  </div>
  <!-- Add Answer Button -->
  <button ng-click="addPollAnswer()" ng-disabled="poll.answers.length > 19">Add Answer</button>

  <hr />

  <h4>Options:</h4>
  <div class="poll-options">
    <input type="checkbox" id="pollVote" ng-model="poll.change_vote">
    <label for="pollVote">Allow user to change vote</label>
    <label for="pollMaxVote">Poll expires at -- {{(poll.expiration|humanDate) || 'No Expiration'}}</label>
    <div class="fill-row">
      <div class="half-column">
        <input type="date" ng-model="poll.expiration_date" ng-change="calcExpiration()">
      </div>
      <div class="half-column">
        <input type="time" ng-model="poll.expiration_time" ng-change="calcExpiration()">
      </div>
    </div>
    <div class="fill-row">
      <div class="half-column">
        <label for="pollMaxVote">Maximum answers per vote:</label>
        <input type="number" id="pollMaxVote" min="1" max="{{poll.answers.length}}" value="1" ng-model="poll.max_answers">
      </div>
      <div class="half-column">
        <label>Show poll results: </label>
        <div class="fill-row thin-underline"></div>
        <label for="displayAlways">
          <input type="radio" id="displayAlways" ng-model="poll.display_mode"value="always">
          Always shown
        </label>
        <label for="displayVoted">
          <input type="radio" id="displayVoted" ng-model="poll.display_mode" value="voted">
          After voting
        </label>
        <label for="displayExpired">
          <input type="radio" id="displayExpired" ng-model="poll.display_mode" value="expired" ng-disabled="!poll.expiration">
          After expiration
        </label>
      </div>
    </div>
  </div>
</div>
