<div ng-if="vm.hasPermission()">
<h5 class="thin-underline section-header-top-spacing">Rank Management
  <span class="info-tooltip" data-balloon="Allows forum owners to create ranks, which is a title associated with metrics like post count, activity, or merit" data-balloon-pos="down" data-balloon-length="large" data-balloon-break><i class="fa fa-info-circle"></i></span>
  <a ng-click="vm.showEditMapModal = true" class="right"><i class="fa fa-code"></i>&nbsp;&nbsp;Edit Rank Map</a></h5>

<table class="striped rulesTable" width="100%">
  <thead>
    <th>Rank Name</th>
    <th ng-repeat="metric in vm.metricNames track by metric">{{metric}}</th>
  </thead>
  <tbody ng-if="!vm.ranks.length">
    <tr>
      <td colspan="3">
        <h6>There are currently no ranks. Click "Edit Rank Map" above to create a new rank mapping.</h6>
      </td>
  </tbody>
  <tbody ng-if="vm.ranks.length" ng-repeat="rank in vm.ranks track by rank.name">
    <tr>
      <td class="name" ng-bind-html="rank.name"></td>
      <td ng-repeat="metric in vm.metrics track by metric">{{rank[metric]}}</td>
    </tr>
  </tbody>
</table>

<!-- Add Rank Modal -->
<modal show="vm.showEditMapModal">
  <form name="$parent.form" class="css-form">
    <h3 class="thin-underline">Edit Rank Map</h3>

    <label>
      Rank Map
      <textarea json-text ng-model="vm.rankMapping" ng-disabled="vm.editMapSubmitted" modal-focus="{{vm.showEditMapModal}}" required></textarea>
    </label>

    <div class="clear">
      <button class="fill-row" ng-click="vm.editMap();" ng-disabled="$parent.form.$invalid || $parent.form.$errors || vm.editMapSubmitted" ng-bind="vm.saveRankBtnLabel"></button>
    </div>
  </form>
</modal>

