.img-picker-list {
  margin-left: 0;
  &.one-col {
    li {
      @include span-columns(12);
      @include omega;
    }
  }
  &.two-col {
    li {
      @include span-columns(6);
      &:nth-child(even) { @include omega; }
    }
  }
  .image-picker-cell {
    margin-bottom: 0.5rem;
    border: 2px solid $border-color;
    .header {
      background-color: $border-color-alt;
      color: $base-font-color;
      padding-left: 0.3125rem;
      border-bottom: 2px solid $border-color;
      font-size: 0.8125rem;
    }
    .picker-body {
      @include fill-parent;
      @include clearfix;
      height: 8rem;
      position: relative;
      img {height: 8rem; @include fill-parent; object-fit: cover; }
      .after {
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        color: #FFF;
        padding: 2.8125rem;
        text-align: center;
        background: rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.progress {
  background-color: $sub-header-color;
  height: 1.5625rem;
  border: 1px solid $border-color;
  margin-bottom: 0.625rem;
  .meter { background: $color-primary; height: 100%; display: block; }
}
