<div class="admin-table-header">
  <div class="filter radio-button">
    <input type="radio" class="hide-radio" name="table-filter" value="0" id="posts-filter-0" ng-model="ModerationCtrl.tableFilter" ng-click="ModerationCtrl.setFilter()" />
    <label for="posts-filter-0">All</label>
  </div>
  <div class="filter radio-button">
    <input type="radio" class="hide-radio" name="table-filter" value="1" id="posts-filter-1" ng-model="ModerationCtrl.tableFilter" ng-click="ModerationCtrl.setFilter('Pending')" />
    <label for="posts-filter-1">Pending</label>
  </div>
  <div class="filter radio-button">
    <input type="radio" class="hide-radio" name="table-filter" value="2" id="posts-filter-2" ng-model="ModerationCtrl.tableFilter" ng-click="ModerationCtrl.setFilter('Reviewed')" />
    <label for="posts-filter-2">Reviewed</label>
  </div>
  <div class="filter radio-button">
    <input type="radio" class="hide-radio" name="table-filter" value="3" id="posts-filter-3" ng-model="ModerationCtrl.tableFilter" ng-click="ModerationCtrl.setFilter('Ignored')" />
    <label for="posts-filter-3">Ignored</label>
  </div>
  <div class="filter radio-button">
    <input type="radio" class="hide-radio" name="table-filter" value="4" id="posts-filter-4" ng-model="ModerationCtrl.tableFilter" ng-click="ModerationCtrl.setFilter('Bad Report')" />
    <label for="posts-filter-4">Bad Report</label>
  </div>
  <div class="filter header-spacer">&nbsp;</div>
  <div class="user-search clear">
    <div class="nested-input-container">
      <a ng-if="ModerationCtrl.search" ng-click="ModerationCtrl.clearSearch()" class="nested-clear-btn fa fa-times"></a>
      <a ng-click="ModerationCtrl.searchReports()" class="nested-btn">Search</a>
      <input class="nested-input" ng-model="ModerationCtrl.searchStr" type="text" id="posts-search" placeholder="Search reported posts" ng-keydown="$event.which === 13 && ModerationCtrl.searchReports()" ng-keyup="$event.which === 27 && ModerationCtrl.clearSearch()" />
    </div>
  </div>
</div>
<div class="fill-row centered-text" ng-if="!ModerationCtrl.search && ModerationCtrl.count < 1">
  <h4>No Post Reports to display in <strong>{{ModerationCtrl.filter ? ModerationCtrl.filter : 'All'}}</strong></h4>
</div>
<div class="fill-row" ng-if="ModerationCtrl.count > 0 || ModerationCtrl.search">
  <div ng-if="ModerationCtrl.search">
    Displaying {{ModerationCtrl.count | number}} search result(s) for "<strong>{{ModerationCtrl.search}}</strong>" in <strong>{{ModerationCtrl.filter ? ModerationCtrl.filter : 'All'}}</strong>:<br /><br />
  </div>
  <div class="fill-row admin-content-selectable">
    <table width="100%">
      <thead>
        <th class="pointer hide-mobile" ng-click="ModerationCtrl.setSortField('reporter_username')"><span ng-class="ModerationCtrl.getSortClass('reporter_username')"></span>&nbsp;Reported By</th>
        <th class="pointer" ng-click="ModerationCtrl.setSortField('created_at')"><span ng-class="ModerationCtrl.getSortClass('created_at')"></span>&nbsp;Reported Date</th>
        <th class="pointer" ng-click="ModerationCtrl.setSortField('priority')"><span ng-class="ModerationCtrl.getSortClass('priority')"></span>&nbsp;Status</th>
        <th class="pointer hide-mobile" ng-click="ModerationCtrl.setSortField('offender_created_at')"><span ng-class="ModerationCtrl.getSortClass('offender_created_at')"></span>&nbsp;Posted Date</th>
        <th class="pointer hide-mobile" style="" ng-click="ModerationCtrl.setSortField('offender_title')"><span ng-class="ModerationCtrl.getSortClass('offender_title')"></span>&nbsp;Title</th>
        <th class="pointer" ng-click="ModerationCtrl.setSortField('offender_author_username')"><span ng-class="ModerationCtrl.getSortClass('offender_author_username')"></span>&nbsp;Author</th>
        <th class="reason hide-mobile">Reason</th>
        <th class="post-actions">Actions</th>
      </thead>
      <tbody>
        <tr ng-class="{ 'active-row' : ModerationCtrl.reportId === postReport.id }" class="selectable-row pointer" ng-click="ModerationCtrl.selectReport(postReport)" ng-repeat="postReport in ModerationCtrl.postReports track by postReport.id">
          <td class="hide-mobile"><a ui-sref="profile({ username: postReport.reporter_username })" ng-bind="postReport.reporter_username"></td>
          <td ng-bind="postReport.created_at | date:'MM/dd/yy @ h:mma'"></td>
          <td ng-bind="postReport.status"></td>
          <td class="hide-mobile" ng-bind="postReport.offender_created_at | date:'MM/dd/yy @ h:mma'"></td>
          <td class="hide-mobile"><a ui-sref="posts.data({ threadId: postReport.offender_thread_id, '#': postReport.offender_post_id })" ng-bind="postReport.offender_title"></a></td>
          <td><a ui-sref="profile({ username: postReport.offender_author_username })" ng-bind="postReport.offender_author_username"></a></td>
          <td class="hide-mobile"><div ng-bind="postReport.reporter_reason"></div></td>
          <td>
            <a ng-href="#" ng-click="ModerationCtrl.showSetStatus(postReport)">Status</a>&nbsp;&nbsp;
            <span>Edit</span>&nbsp;&nbsp;
            <span>Delete</span>&nbsp;&nbsp;
            <span>Warn</span>&nbsp;&nbsp;
            <a ng-href="#" ng-hide="postReport.offender_ban_expiration" ng-click="ModerationCtrl.showBanConfirm({ id: postReport.offender_author_id, username: postReport.offender_author_username, email: postReport.offender_author_email, created_at: postReport.offender_author_created_at })">Ban</a>
            <a ng-href="#" ng-show="postReport.offender_ban_expiration" ng-click="ModerationCtrl.showUnbanConfirm({ id: postReport.offender_author_id, username: postReport.offender_author_username, email: postReport.offender_author_email, created_at: postReport.offender_author_created_at })">Unban</a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination-wrap">
      <pagination page-count="ModerationCtrl.pageCount" page="ModerationCtrl.page" query-params="ModerationCtrl.queryParams"></pagination>
    </div>
  </div>
</div>
<br />
<div ng-show="ModerationCtrl.previewPost !== null">
  <div class="report-details-wrap">
    <h5 class="thin-underline">Report Details</h5>
    <table width="100%" class="report-details">
      <tbody>
        <tr>
          <td class="field">Reported Date</td>
          <td class="desc" ng-bind="ModerationCtrl.previewReport.created_at | humanDate"></td>
        </tr>
        <tr ng-if="ModerationCtrl.previewReport.reviewer_user_id">
          <td class="field">Reviewed Date</td>
          <td class="desc" ng-bind="ModerationCtrl.previewReport.updated_at | humanDate"></td>
        </tr>
        <tr>
          <td class="field">Current Status</td>
          <td class="desc" ng-bind="ModerationCtrl.previewReport.status"></td>
        </tr>
        <tr>
          <td class="field">Reported By</td>
          <td class="desc"><a ui-sref="profile({ username: ModerationCtrl.previewReport.reporter_username })" ng-bind="ModerationCtrl.previewReport.reporter_username"></a></td>
        </tr>
        <tr>
          <td class="field">Reason for Report</td>
          <td class="desc" ng-bind="ModerationCtrl.previewReport.reporter_reason"></td>
        </tr>
        <tr>
          <td class="field">Reported Post</td>
          <td class="desc"><a ui-sref="posts.data({ threadId: ModerationCtrl.previewReport.offender_thread_id, '#': ModerationCtrl.previewReport.offender_post_id })" ui-sref-opts="{ reload: true }" ng-bind="ModerationCtrl.previewReport.offender_title"></a></td>
        </tr>
        <tr>
          <td class="field">Reported Post Author</td>
          <td class="desc"><a ui-sref="profile({ username: ModerationCtrl.previewReport.offender_author_username })" ng-bind="ModerationCtrl.previewReport.offender_author_username"></a></td>
        </tr>
        <tr>
          <td class="field">Reported Post Date</td>
          <td class="desc" ng-bind="ModerationCtrl.previewPost.created_at | humanDate"></td>
        </tr>
        <tr>
          <td class="field">Moderation Notes</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div ng-repeat="note in ModerationCtrl.reportNotes track by note.id">
      <div class="note-avatar-container" ng-if="!note.edit">
        <img class="note-avatar" ng-src="{{ note.avatar || 'https://fakeimg.pl/50x50/ccc/444/?text=' + note.username }}" />
      </div>
      <div class="note-details" ng-if="!note.edit">
        <span class="note-author"><a ui-sref="profile({ username: note.username })" ng-bind="note.username"></a>&nbsp;</span>
        <span class="note-date" ng-bind="note.created_at | humanDate"></span>
        <span class="note-date" ng-if="note.created_at !== note.updated_at"> &mdash; Edited <span ng-bind="note.updated_at | humanDate"></span></span>
        <span class="right" ng-if="ModerationCtrl.user.id === note.user_id"><a ng-href="#" ng-click="note.edit = true; note.noteCopy = note.note">Edit</a></span>
        <div class="note-message" ng-bind="note.note"></div>
      </div>
      <div ng-if="note.edit" class="note-details">
        <a class="right" ng-href="#" ng-click="ModerationCtrl.updateReportNote(note)">Save</a>
        <a class="right" ng-href="#" ng-click="note.edit = undefined; note.note = note.noteCopy; note.noteCopy = undefined">Cancel&nbsp;&nbsp;&nbsp;</a>
        <textarea rows="3" ng-model="note.note"></textarea>
      </div>
      <div class="thin-underline"></div>
    </div>
    <form name="$parent.form" class="css-form">
      <textarea name="reportNote" ng-model="ModerationCtrl.reportNote" ng-disabled="ModerationCtrl.noteSubmitted" placeholder="Leave a note on this report..." rows="3" required></textarea>
      <div class="form-action">
        <button class="button no-margin" ng-click="ModerationCtrl.submitReportNote()"
          ng-disabled="$parent.form.$invalid || $parent.form.$errors || ModerationCtrl.noteSubmitted" ng-bind="ModerationCtrl.submitBtnLabel"></button>
      </div>
    </form>
  </div>
  <!-- Post Body Section -->
  <div class="preview-wrap">
    <h5 class="thin-underline">Reported Post</h5>
    <!-- Post Body -->
    <div class="post-body" post-processing="ModerationCtrl.previewPost.body" style-fix="true"></div>
  </div>
</div>

<!-- Confirm Ban Modal -->
<modal show="ModerationCtrl.showConfirmBanModal" on-close="ModerationCtrl.closeConfirmBan()">
  <form name="$parent.form" class="css-form">
    <h3 class="thin-underline">Confirm Ban</h3>
    <label>User Information</label>
    <table class="striped" width="100%">
      <tr>
        <td>Username</td>
        <td ng-bind="ModerationCtrl.selectedUser.username"></td>
      </tr>
      <tr>
        <td>Email</td>
        <td ng-bind="ModerationCtrl.selectedUser.email"></td>
      </tr>
      <tr>
        <td>Register Date</td>
        <td ng-bind="ModerationCtrl.selectedUser.created_at | humanDate"></td>
      </tr>
    </table>

    <label for="banType">Select Ban Type:</label>
    <input type="radio" name="banType" ng-model="ModerationCtrl.permanentBan" ng-value="true" id="permanent" ng-disabled="ModerationCtrl.banSubmitted" required><label for="permanent">Permanent</label>
    <input type="radio" name="banType" ng-model="ModerationCtrl.permanentBan" ng-value="false" id="temporary" ng-disabled="ModerationCtrl.banSubmitted" required><label for="temporary">Temporary</label>
    <br /><br />
    <div ng-show="ModerationCtrl.permanentBan === false">
      <label for="banUntil">Enter Ban Expiration Date:</label>
      <input type="date" ng-model="ModerationCtrl.banUntil" min="{{ModerationCtrl.minDate()}}" name="banUntil" ng-required="ModerationCtrl.permanentBan === false" />
    </div>
    <div class="clear">
      <button class="fill-row" ng-click="ModerationCtrl.banUser()"
        ng-disabled="$parent.form.$invalid || $parent.form.$errors || ModerationCtrl.banSubmitted" ng-bind="ModerationCtrl.confirmBanBtnLabel"></button>
    </div>
  </form>
</modal>

<!-- Confirm Unban Modal -->
<modal show="ModerationCtrl.showConfirmUnbanModal" on-close="ModerationCtrl.closeConfirmUnban()">
  <form name="$parent.form" class="css-form">
    <h3 class="thin-underline">Confirm Unban</h3>
    <label>User Information</label>
    <table class="striped" width="100%">
      <tr>
        <td>Username</td>
        <td ng-bind="ModerationCtrl.selectedUser.username"></td>
      </tr>
      <tr>
        <td>Email</td>
        <td ng-bind="ModerationCtrl.selectedUser.email"></td>
      </tr>
      <tr>
        <td>Register Date</td>
        <td ng-bind="ModerationCtrl.selectedUser.created_at | humanDate"></td>
      </tr>
    </table>

    <div class="clear">
      <button class="fill-row" ng-click="ModerationCtrl.unbanUser()"
        ng-disabled="$parent.form.$invalid || $parent.form.$errors || ModerationCtrl.banSubmitted" ng-bind="ModerationCtrl.confirmBanBtnLabel"></button>
    </div>
  </form>
</modal>

<!-- Set Status Modal -->
<modal show="ModerationCtrl.showSetStatusModal" on-close="ModerationCtrl.closeSetStatus()">
  <form name="$parent.statusForm" class="css-form">
    <h3 class="thin-underline">Set Report Status</h3>
    <label>Report Information</label>
    <table class="striped" width="100%">
      <tr>
        <td>Current Status</td>
        <td ng-bind="ModerationCtrl.selectedPostReport.status"></td>
      </tr>
      <tr>
        <td>Reported Post</td>
        <td ng-bind="ModerationCtrl.selectedPostReport.offender_title"></td>
      </tr>
      <tr>
        <td>Reported Post Author</td>
        <td ng-bind="ModerationCtrl.selectedPostReport.offender_author_username"></td>
      </tr>
      <tr>
        <td>Reported By</td>
        <td ng-bind="ModerationCtrl.selectedPostReport.reporter_username"></td>
      </tr>
      <tr>
        <td>Reported Date</td>
        <td ng-bind="ModerationCtrl.selectedPostReport.created_at | humanDate"></td>
      </tr>
    </table>
    <label for="newStatus">Select New Report Status:</label>
    <input ng-if="ModerationCtrl.selectedPostReport.status !== 'Pending'" type="radio" name="newStatus" ng-model="ModerationCtrl.selectedStatus" value="Pending" id="pending" ng-disabled="ModerationCtrl.setStatusSubmitted" required><label ng-if="ModerationCtrl.selectedPostReport.status !== 'Pending'" for="pending">Pending</label>
    <input ng-if="ModerationCtrl.selectedPostReport.status !== 'Reviewed'" type="radio" name="newStatus" ng-model="ModerationCtrl.selectedStatus" value="Reviewed" id="reviewed" ng-disabled="ModerationCtrl.setStatusSubmitted" required><label ng-if="ModerationCtrl.selectedPostReport.status !== 'Reviewed'" for="reviewed">Reviewed</label>
    <input ng-if="ModerationCtrl.selectedPostReport.status !== 'Ignored'" type="radio" name="newStatus" ng-model="ModerationCtrl.selectedStatus" value="Ignored" id="ignored" ng-disabled="ModerationCtrl.setStatusSubmitted" required><label ng-if="ModerationCtrl.selectedPostReport.status !== 'Ignored'" for="ignored">Ignored</label>
    <input ng-if="ModerationCtrl.selectedPostReport.status !== 'Bad Report'" type="radio" name="newStatus" ng-model="ModerationCtrl.selectedStatus" value="Bad Report" id="badReport" ng-disabled="ModerationCtrl.setStatusSubmitted" required><label ng-if="ModerationCtrl.selectedPostReport.status !== 'Bad Report'" for="badReport">Bad Report</label>
    <br /><br />
    <label for="statusReportNote">Leave a note (optional):</label>
    <textarea name="statusReportNote" ng-model="ModerationCtrl.statusReportNote" ng-disabled="ModerationCtrl.noteSubmitted" placeholder="Leave a note on this report..." rows="3"></textarea>
    <div class="clear">
      <button class="fill-row" ng-click="ModerationCtrl.setStatus()"
        ng-disabled="$parent.statusForm.$invalid || $parent.statusForm.$errors || ModerationCtrl.setStatusSubmitted || ModerationCtrl.selectedStatus === ModerationCtrl.selectedPostReport.status" ng-bind="ModerationCtrl.setStatusBtnLabel"></button>
    </div>
  </form>
</modal>
