<div class="admin-table-header">
  <div class="small-4 medium-1 columns radio-toolbar">
    <input type="radio" class="hide-radio" name="table-filter" value="0" id="posts-filter-0" ng-model="ModerationCtrl.tableFilter" ng-click="ModerationCtrl.setFilter()" />
    <label for="posts-filter-0">All</label>
  </div>
  <div class="small-4 medium-1 columns radio-toolbar">
    <input type="radio" class="hide-radio" name="table-filter" value="1" id="posts-filter-1" ng-model="ModerationCtrl.tableFilter" ng-click="ModerationCtrl.setFilter('Pending')" />
    <label for="posts-filter-1">Pending</label>
  </div>
  <div class="small-4 medium-1 columns radio-toolbar">
    <input type="radio" class="hide-radio" name="table-filter" value="2" id="posts-filter-2" ng-model="ModerationCtrl.tableFilter" ng-click="ModerationCtrl.setFilter('Reviewed')" />
    <label for="posts-filter-2">Reviewed</label>
  </div>
  <div class="small-12 medium-3 columns">&nbsp;</div>
  <div class="small-12 medium-6 columns">
    <div class="nested-input-container">
      <a ng-href="" class="nested-btn">Search</a>
      <input class="nested-input" type="text" id="posts-search" placeholder="Search reported posts" />
    </div>
  </div>
  <div class="admin-table-fix"></div>
</div>
<div class="row full-width">
  <div class="small-12 columns admin-content-selectable">
    <table width="100%">
      <thead>
        <th class="pointer" ng-click="ModerationCtrl.setSortField('reporter_username')"><span ng-class="ModerationCtrl.getSortClass('reporter_username')"></span>&nbsp;Reported By</th>
        <th width="200" class="pointer" ng-click="ModerationCtrl.setSortField('created_at')"><span ng-class="ModerationCtrl.getSortClass('created_at')"></span>&nbsp;Reported Date</th>
        <th class="pointer" ng-click="ModerationCtrl.setSortField('priority')"><span ng-class="ModerationCtrl.getSortClass('priority')"></span>&nbsp;Status</th>
        <th width="200" class="pointer" ng-click="ModerationCtrl.setSortField('offender_created_at')"><span ng-class="ModerationCtrl.getSortClass('offender_created_at')"></span>&nbsp;Posted Date</th>
        <th class="pointer" ng-click="ModerationCtrl.setSortField('offender_title')"><span ng-class="ModerationCtrl.getSortClass('offender_title')"></span>&nbsp;Title</th>
        <th width="200" class="pointer" ng-click="ModerationCtrl.setSortField('offender_author_username')"><span ng-class="ModerationCtrl.getSortClass('offender_author_username')"></span>&nbsp;Author</th>
        <th width="400">Reason</th>
        <th width="225">Actions</th>
      </thead>
      <tbody>
        <tr ng-class="{ 'active-row' : ModerationCtrl.reportId === postReport.id }" class="selectable-row pointer" ng-click="ModerationCtrl.selectPostReport(postReport)" ng-repeat="postReport in ModerationCtrl.postReports track by postReport.id">
          <td><a href="/profiles/{{postReport.reporter_username}}" ng-bind="postReport.reporter_username"></td>
          <td ng-bind="postReport.created_at | humanDate"></td>
          <td ng-bind="postReport.status"></td>
          <td ng-bind="postReport.offender_created_at | humanDate"></td>
          <td><a href="/threads/{{postReport.offender_thread_id}}/posts#{{postReport.offender_post_id}}" ng-bind="postReport.offender_title"></a></td>
          <td><a href="/profiles/{{postReport.offender_author_username}}" ng-bind="postReport.offender_author_username"></a></td>
          <td><div ng-bind="postReport.reporter_reason"></div></td>
          <td>
            <a href="#">Edit</a>&nbsp;&nbsp;
            <a href="#">Delete</a>&nbsp;&nbsp;
            <a href="#">Ignore</a>&nbsp;&nbsp;
            <a href="#">Warn</a>&nbsp;&nbsp;
            <a href="#">Ban</a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="right"><pagination page-count="ModerationCtrl.pageCount" page="ModerationCtrl.page" query-params="ModerationCtrl.queryParams"></pagination></div>
  </div>
</div>
<br />
<div class="row full-width" ng-show="ModerationCtrl.previewPost !== null">
  <div class="small-12 large-4 columns">
    <h5 class="thin-dotted-underline">Report Details</h5>
    <table width="100%" class="report-details">
      <tbody>
        <tr>
          <td class="field">Reported By</td>
          <td class="desc"><a href="/profiles/{{ModerationCtrl.previewReport.reporter_username}}" ng-bind="ModerationCtrl.previewReport.reporter_username"></a></td>
        </tr>
        <tr>
          <td class="field">Reported Date</td>
          <td class="desc" ng-bind="ModerationCtrl.previewReport.created_at | humanDate"></td>
        </tr>
        <tr>
          <td class="field">Current Status</td>
          <td class="desc" ng-bind="ModerationCtrl.previewReport.status"></td>
        </tr>
        <tr>
          <td class="field">Reason for Report</td>
          <td class="desc" ng-bind="ModerationCtrl.previewReport.reporter_reason"></td>
        </tr>
        <tr>
          <td class="field">Reported Post</td>
          <td class="desc"><a href="/threads/{{ModerationCtrl.previewReport.offender_thread_id}}/posts#{{ModerationCtrl.previewReport.offender_post_id}}" ng-bind="ModerationCtrl.previewReport.offender_title"></a></td>
        </tr>
        <tr>
          <td class="field">Reported Post Author</td>
          <td class="desc"><a href="/profiles/{{ModerationCtrl.previewReport.offender_author_username}}" ng-bind="ModerationCtrl.previewReport.offender_author_username"></a></td>
        </tr>
        <tr>
          <td class="field">Reported Post Date</td>
          <td class="desc" ng-bind="ModerationCtrl.previewPost.created_at | humanDate"></td>
        </tr>
        <tr>
          <td class="field">Moderation Notes</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div ng-repeat="note in ModerationCtrl.reportNotes track by note.id">
      <div class="note-avatar-container" ng-if="!note.edit">
        <img class="note-avatar" ng-src="{{ note.avatar || 'http://placehold.it/50&text=' + note.username }}" />
      </div>
      <div class="note-details" ng-if="!note.edit">
        <span class="note-author"><a href="/profiles/{{note.username}}" ng-bind="note.username"></a>&nbsp;</span>
        <span class="note-date" ng-bind="note.created_at | humanDate"></span>
        <span class="note-date" ng-if="note.created_at !== note.updated_at"> &mdash; Edited <span ng-bind="note.updated_at | humanDate"></span></span>
        <span class="right" ng-if="ModerationCtrl.user.id === note.user_id"><a href="#" ng-click="note.edit = true; note.noteCopy = note.note">Edit</a></span>
        <div class="note-message" ng-bind="note.note"></div>
      </div>
      <div ng-if="note.edit" class="note-details">
        <a class="right" href="#" ng-click="ModerationCtrl.updateReportNote(note)">Save</a>
        <a class="right" href="#" ng-click="note.edit = undefined; note.note = note.noteCopy; note.noteCopy = undefined">Cancel&nbsp;&nbsp;&nbsp;</a>
        <textarea rows="3" ng-model="note.note"></textarea>
      </div>
      <div class="thin-dotted-underline"></div>
    </div>
    <form name="$parent.form" class="css-form">
      <textarea name="reportNote" ng-model="ModerationCtrl.reportNote" ng-disabled="ModerationCtrl.noteSubmitted" placeholder="Leave a note on this report..." rows="3" required></textarea>
      <div class="form-action">
        <button class="button no-margin" ng-click="ModerationCtrl.submitReportNote()"
          ng-disabled="$parent.form.$invalid || $parent.form.$errors || ModerationCtrl.noteSubmitted" ng-bind="ModerationCtrl.submitBtnLabel"></button>
      </div>
    </form>
  </div>
  <!-- Post Body Section -->
  <div class="small-12 large-8 columns">
    <h5 class="thin-dotted-underline">Reported Post</h5>
    <!-- Post Body -->
    <div class="post-body" post-processing="ModerationCtrl.previewPost.body" style-fix="true"></div>
  </div>
</div>
