<div class="admin-table-header">
  <div class="small-4 medium-1 columns radio-toolbar">
    <input type="radio" class="hide-radio" name="table-filter" value="0" id="users-filter-0" ng-model="ModerationCtrl.tableFilter" ng-click="ModerationCtrl.setFilter()" />
    <label for="users-filter-0">All</label>
  </div>
  <div class="small-4 medium-1 columns radio-toolbar">
    <input type="radio" class="hide-radio" name="table-filter" value="1" id="users-filter-1" ng-model="ModerationCtrl.tableFilter" ng-click="ModerationCtrl.setFilter('Pending')" />
    <label for="users-filter-1">Pending</label>
  </div>
  <div class="small-4 medium-1 columns radio-toolbar">
    <input type="radio" class="hide-radio" name="table-filter" value="2" id="users-filter-2" ng-model="ModerationCtrl.tableFilter" ng-click="ModerationCtrl.setFilter('Reviewed')" />
    <label for="users-filter-2">Reviewed</label>
  </div>
  <div class="small-12 medium-3 columns">&nbsp;</div>
  <div class="small-12 medium-6 columns">
    <div class="nested-input-container">
      <a ng-href="" class="nested-btn">Search</a>
      <input class="nested-input" type="text" id="users-search" placeholder="Search reported users" />
    </div>
  </div>
  <div class="admin-table-fix"></div>
</div>
<div class="row full-width">
  <div class="small-12 columns admin-content-selectable">
    <table width="100%">
      <thead>
        <th class="pointer" ng-click="ModerationCtrl.setSortField('reporter_username')"><span ng-class="ModerationCtrl.getSortClass('reporter_username')"></span>&nbsp;Reported By</th>
        <th width="200" class="pointer" ng-click="ModerationCtrl.setSortField('created_at')"><span ng-class="ModerationCtrl.getSortClass('created_at')"></span>&nbsp;Reported Date</th>
        <th class="pointer" ng-click="ModerationCtrl.setSortField('priority')"><span ng-class="ModerationCtrl.getSortClass('priority')"></span>&nbsp;Status</th>
        <th class="pointer" ng-click="ModerationCtrl.setSortField('offender_username')"><span ng-class="ModerationCtrl.getSortClass('offender_username')"></span>&nbsp;Reported User</th>
        <th class="pointer" ng-click="ModerationCtrl.setSortField('offender_email')"><span ng-class="ModerationCtrl.getSortClass('offender_email')"></span>&nbsp;Email</th>
        <th width="200" class="pointer" ng-click="ModerationCtrl.setSortField('offender_created_at')"><span ng-class="ModerationCtrl.getSortClass('offender_created_at')"></span>&nbsp;Registered Date</th>
        <th width="500">Reason</th>
        <th width="200">Actions</th>
      </thead>
      <tbody>
        <tr ng-class="{ 'active-row' : ModerationCtrl.reportId === userReport.id }" ng-click="ModerationCtrl.selectReport(userReport)" class="selectable-row pointer" ng-repeat="userReport in ModerationCtrl.userReports track by userReport.id">
          <td><a href="/profiles/{{userReport.reporter_username}}" ng-bind="userReport.reporter_username"></a></td>
          <td ng-bind="userReport.created_at | humanDate"></td>
          <td ng-bind="userReport.status"></td>
          <td><a href="/profiles/{{userReport.offender_username}}" ng-bind="userReport.offender_username"></a></td>
          <td ng-bind="userReport.offender_email"></td>
          <td ng-bind="userReport.offender_created_at | humanDate"></td>
          <td><div ng-bind="userReport.reporter_reason"></div></td>
          <td>
            <a href="#">Modify</a>&nbsp;&nbsp;
            <a href="#">Ignore</a>&nbsp;&nbsp;
            <a href="#">Warn</a>&nbsp;&nbsp;
            <a href="#">Ban</a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="right"><pagination page-count="ModerationCtrl.pageCount" page="ModerationCtrl.page" query-params="ModerationCtrl.queryParams"></pagination></div>
  </div>
</div>
<br />
<div ng-if="ModerationCtrl.selectedUsername !== null" class="row full-width">
  <div class="small-12 large-4 columns">
    <h5 class="thin-dotted-underline">Report Details</h5>
    <table width="100%" class="report-details">
      <tbody>
        <tr>
          <td class="field">Reported By</td>
          <td class="desc"><a href="/profiles/{{ModerationCtrl.previewReport.reporter_username}}" ng-bind="ModerationCtrl.previewReport.reporter_username"></a></td>
        </tr>
        <tr>
          <td class="field">Reported Date</td>
          <td class="desc" ng-bind="ModerationCtrl.previewReport.created_at | humanDate"></td>
        </tr>
        <tr>
          <td class="field">Current Status</td>
          <td class="desc" ng-bind="ModerationCtrl.previewReport.status"></td>
        </tr>
        <tr>
          <td class="field">Reason for Report</td>
          <td class="desc" ng-bind="ModerationCtrl.previewReport.reporter_reason"></td>
        </tr>
        <tr>
          <td class="field">Reported User</td>
          <td class="desc"><a href="/profiles/{{ModerationCtrl.previewReport.offender_username}}" ng-bind="ModerationCtrl.previewReport.offender_username"></a></td>
        </tr>
        <tr>
          <td class="field">Reported User Email</td>
          <td class="desc"><a href="mailto:{{ModerationCtrl.previewReport.offender_email}}" ng-bind="ModerationCtrl.previewReport.offender_email"></a></td>
        </tr>
        <tr>
          <td class="field">Reported User Registered Date</td>
          <td class="desc" ng-bind="ModerationCtrl.previewReport.offender_created_at | humanDate"></td>
        </tr>
        <tr>
          <td class="field">Moderation Notes</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div ng-repeat="note in ModerationCtrl.reportNotes track by note.id">
      <div class="note-avatar-container"><img class="note-avatar" ng-src="{{ note.avatar || 'http://placehold.it/50&text=' + note.username }}" /></div>
      <div class="note-details">
        <span class="note-author"><a href="/profiles/{{note.username}}" ng-bind="note.username"></a></span>
        <span class="note-date" ng-bind="note.created_at | humanDate"></span>
        <div class="note-message" ng-bind="note.note"></div>
      </div>
      <div class="thin-dotted-underline"></div>
    </div>
    <form name="$parent.form" class="css-form">
      <textarea name="reportNote" ng-model="ModerationCtrl.reportNote" ng-disabled="ModerationCtrl.noteSubmitted" placeholder="Leave a note on this report..." rows="3" required></textarea>
      <div class="form-action">
        <button class="button no-margin" ng-click="ModerationCtrl.submitReportNote()"
          ng-disabled="$parent.form.$invalid || $parent.form.$errors || ModerationCtrl.noteSubmitted" ng-bind="ModerationCtrl.submitBtnLabel"></button>
      </div>
    </form>
  </div>
  <div class="small-12 large-8 columns">
    <h5 class="thin-dotted-underline">Reported User {{ModerationCtrl.selectedUsername}}</h5>
    <div ui-view="preview"></div>
  </div>
</div>
