<div class="admin-table-header">
  <div class="filter radio-button">
    <input type="radio" class="hide-radio" name="table-filter" value="0" id="users-filter-0" ng-model="ModerationCtrl.tableFilter" ng-click="ModerationCtrl.setFilter()" />
    <label for="users-filter-0">All</label>
  </div>
  <div class="filter radio-button">
    <input type="radio" class="hide-radio" name="table-filter" value="1" id="users-filter-1" ng-model="ModerationCtrl.tableFilter" ng-click="ModerationCtrl.setFilter('Pending')" />
    <label for="users-filter-1">Pending</label>
  </div>
  <div class="filter radio-button">
    <input type="radio" class="hide-radio" name="table-filter" value="2" id="users-filter-2" ng-model="ModerationCtrl.tableFilter" ng-click="ModerationCtrl.setFilter('Reviewed')" />
    <label for="users-filter-2">Reviewed</label>
  </div>
  <div class="filter radio-button">
    <input type="radio" class="hide-radio" name="table-filter" value="3" id="posts-filter-3" ng-model="ModerationCtrl.tableFilter" ng-click="ModerationCtrl.setFilter('Ignored')" />
    <label for="posts-filter-3">Ignored</label>
  </div>
  <div class="filter radio-button">
    <input type="radio" class="hide-radio" name="table-filter" value="4" id="posts-filter-4" ng-model="ModerationCtrl.tableFilter" ng-click="ModerationCtrl.setFilter('Bad Report')" />
    <label for="posts-filter-4">Bad Report</label>
  </div>
  <div class="filter header-spacer">&nbsp;</div>
  <div class="user-search clear">
    <div class="nested-input-container">
      <a ng-if="ModerationCtrl.search" ng-click="ModerationCtrl.clearSearch()" class="nested-clear-btn fa fa-times"></a>
      <a ng-click="ModerationCtrl.searchReports()" class="nested-btn">Search</a>
      <input class="input-text nested-input" ng-model="ModerationCtrl.searchStr" type="text" id="users-search" placeholder="Search reported users" ng-keydown="$event.which === 13 && ModerationCtrl.searchReports()" ng-keyup="$event.which === 27 && ModerationCtrl.clearSearch()" />
    </div>
  </div>
</div>
<div class="fill-row centered-text" ng-if="!ModerationCtrl.search && ModerationCtrl.count < 1">
  <h4>No User Reports to display in <strong>{{ModerationCtrl.filter ? ModerationCtrl.filter : 'All'}}</strong></h4>
</div>
<div class="fill-row" ng-if="ModerationCtrl.count > 0 || ModerationCtrl.search">
  <div ng-if="ModerationCtrl.search">
    Displaying {{ModerationCtrl.count | number}} search result(s) for "<strong>{{ModerationCtrl.search}}</strong>" in <strong>{{ModerationCtrl.filter ? ModerationCtrl.filter : 'All'}}</strong>:<br /><br />
  </div>
  <div class="fill-row admin-content-selectable">
    <table class="underlined" width="100%">
      <thead>
        <th class="pointer hide-mobile" ng-click="ModerationCtrl.setSortField('reporter_username')"><span ng-class="ModerationCtrl.getSortClass('reporter_username')"></span>&nbsp;Reported By</th>
        <th class="pointer" ng-click="ModerationCtrl.setSortField('created_at')"><span ng-class="ModerationCtrl.getSortClass('created_at')"></span>&nbsp;Reported Date</th>
        <th class="pointer" ng-click="ModerationCtrl.setSortField('priority')"><span ng-class="ModerationCtrl.getSortClass('priority')"></span>&nbsp;Status</th>
        <th width="25"></th>
        <th class="pointer" ng-click="ModerationCtrl.setSortField('offender_username')"><span ng-class="ModerationCtrl.getSortClass('offender_username')"></span>&nbsp;Reported User</th>
        <th class="pointer hide-mobile" ng-click="ModerationCtrl.setSortField('offender_email')"><span ng-class="ModerationCtrl.getSortClass('offender_email')"></span>&nbsp;Email</th>
        <th class="pointer hide-mobile" ng-click="ModerationCtrl.setSortField('offender_created_at')"><span ng-class="ModerationCtrl.getSortClass('offender_created_at')"></span>&nbsp;Registered Date</th>
        <th class="reason hide-mobile">Reason</th>
        <th class="mod-actions">Actions</th>
      </thead>
      <tbody>
        <tr ng-class="{ 'active-row' : ModerationCtrl.reportId === userReport.id }" ng-click="ModerationCtrl.selectReport(userReport)" class="selectable-row pointer" ng-repeat="userReport in ModerationCtrl.userReports track by userReport.id">
          <td class="hide-mobile">
            <a ui-sref="profile({ username: userReport.reporter_username })" ng-bind="userReport.reporter_username"></a>
          </td>
          <td ng-bind="userReport.created_at | date:'MM/dd/yy @ h:mma'"></td>
          <td ng-bind="userReport.status"></td>
          <td>
            <i ng-show="userReport.offender_ban_expiration || userReport.offender_board_banned" class="fa fa-user-times"></i>
          </td>
          <td><a ui-sref="profile({ username: userReport.offender_username })" ng-bind="userReport.offender_username"></a></td>
          <td class="hide-mobile"><a ng-href="mailto:{{userReport.offender_email}}" ng-bind="userReport.offender_email"></a></td>
          <td class="hide-mobile" ng-bind="userReport.offender_created_at | date:'MM/dd/yy @ h:mma'"></td>
          <td class="hide-mobile"><div ng-bind="userReport.reporter_reason"></div></td>
          <td class="inline">
            <!-- Modify Report -->
            <button class="icon css-tooltip" data-css-tooltip="Modify Report Status" ng-click="ModerationCtrl.showSetStatus(userReport)" ng-disabled="!ModerationCtrl.actionAccess.reportControls.updateUserReport"><i class="fa fa-cog"></i></button>

            <!-- Warn User -->
            <button class="icon css-tooltip" data-css-tooltip="Warn User" ng-click="ModerationCtrl.showWarn({ id: userReport.offender_user_id, username: userReport.offender_username })" ng-disabled="!ModerationCtrl.actionAccess.messageControls.createConversations"><i class="fa fa-exclamation-circle"></i></button>

            <!-- Ban User -->
            <button class="icon css-tooltip" data-css-tooltip="Manage Bans" ng-click="ModerationCtrl.showManageBans({ id: userReport.offender_user_id, username: userReport.offender_username, email: userReport.offender_email, created_at: userReport.offender_created_at, ban_expiration: userReport.offender_ban_expiration })" ng-disabled="!ModerationCtrl.actionAccess.userControls.privilegedBan"><i class="fa fa-ban"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination-wrap">
      <pagination page-count="ModerationCtrl.pageCount" page="ModerationCtrl.page" query-params="ModerationCtrl.queryParams"></pagination>
    </div>
  </div>
</div>
<br />
<div ng-if="ModerationCtrl.selectedUsername !== null">
  <div class="report-details-wrap">
    <h5 class="thin-underline">Report Details</h5>
    <table width="100%" class="report-details">
      <tbody>
        <tr>
          <td class="field">Actions</td>
          <td class="desc">
          <!-- Modify Report -->
          <button class="icon css-tooltip" data-css-tooltip="Modify Report Status" ng-click="ModerationCtrl.showSetStatus(ModerationCtrl.previewReport)" ng-disabled="!ModerationCtrl.actionAccess.reportControls.updateUserReport"><i class="fa fa-cog"></i></button>

          <!-- Warn User -->
          <button class="icon css-tooltip" data-css-tooltip="Warn User" ng-click="ModerationCtrl.showWarn({ id: ModerationCtrl.previewReport.offender_user_id, username: ModerationCtrl.previewReport.offender_username })" ng-disabled="!ModerationCtrl.actionAccess.messageControls.createConversations"><i class="fa fa-exclamation-circle"></i></button>

          <!-- Ban User -->
          <button class="icon css-tooltip" data-css-tooltip="Manage Bans" ng-click="ModerationCtrl.showManageBans({ id: ModerationCtrl.previewReport.offender_user_id, username: ModerationCtrl.previewReport.offender_username, email: ModerationCtrl.previewReport.offender_email, created_at: ModerationCtrl.previewReport.offender_created_at, ban_expiration: ModerationCtrl.previewReport.offender_ban_expiration })" ng-disabled="!ModerationCtrl.actionAccess.userControls.privilegedBan"><i class="fa fa-ban"></i></button>
          </td>
        </td>
        <tr>
          <td class="field">Reported Date</td>
          <td class="desc" ng-bind="ModerationCtrl.previewReport.created_at | humanDate"></td>
        </tr>
        <tr ng-if="ModerationCtrl.previewReport.reviewer_user_id">
          <td class="field">Reviewed Date</td>
          <td class="desc" ng-bind="ModerationCtrl.previewReport.updated_at | humanDate"></td>
        </tr>
        <tr>
          <td class="field">Current Status</td>
          <td class="desc" ng-bind="ModerationCtrl.previewReport.status"></td>
        </tr>
        <tr>
          <td class="field">Reported By</td>
          <td class="desc"><a ui-sref="profile({ username: ModerationCtrl.previewReport.reporter_username })" ng-bind="ModerationCtrl.previewReport.reporter_username"></a></td>
        </tr>
        <tr>
          <td class="field">Reason for Report</td>
          <td class="desc" ng-bind="ModerationCtrl.previewReport.reporter_reason"></td>
        </tr>
        <tr>
          <td class="field">Reported User</td>
          <td class="desc">
            <a ui-sref="profile({ username: ModerationCtrl.previewReport.offender_username })" ng-bind="ModerationCtrl.previewReport.offender_username"></a>
          </td>
        </tr>
        <tr>
          <td class="field">Reported User Email</td>
          <td class="desc"><a ng-href="mailto:{{ModerationCtrl.previewReport.offender_email}}" ng-bind="ModerationCtrl.previewReport.offender_email"></a></td>
        </tr>
        <tr>
          <td class="field">Reported User Registered Date</td>
          <td class="desc" ng-bind="ModerationCtrl.previewReport.offender_created_at | humanDate"></td>
        </tr>
        <tr>
          <td class="field">Moderation Notes</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div ng-repeat="note in ModerationCtrl.reportNotes track by note.id">
      <div class="note-avatar-container" ng-if="!note.edit">
        <img class="note-avatar" ng-src="{{ note.avatar || 'https://fakeimg.pl/50x50/ccc/444/?text=' + note.username }}" />
      </div>
      <div class="note-details" ng-if="!note.edit">
        <span class="note-author"><a ui-sref="profile({ username: note.username })" ng-bind="note.username"></a>&nbsp;</span>
        <span class="note-date" ng-bind="note.created_at | humanDate"></span>
        <span class="note-date" ng-if="note.created_at !== note.updated_at"> &mdash; Edited <span ng-bind="note.updated_at | humanDate"></span></span>
        <span class="right" ng-if="ModerationCtrl.user.id === note.user_id"><a ng-href="#" ng-click="note.edit = true; note.noteCopy = note.note">Edit</a></span>
        <div class="note-message" ng-bind="note.note"></div>
      </div>
      <div ng-if="note.edit" class="note-details">
        <a class="right" ng-href="#" ng-click="ModerationCtrl.updateReportNote(note)">Save</a>
        <a class="right" ng-href="#" ng-click="note.edit = undefined; note.note = note.noteCopy; note.noteCopy = undefined">Cancel&nbsp;&nbsp;&nbsp;</a>
        <textarea rows="3" ng-model="note.note"></textarea>
      </div>
      <div class="thin-underline"></div>
    </div>
    <div class="pagination-slide" ng-if="ModerationCtrl.reportNotes.length">
      <div class="prev">
        <button ng-click="ModerationCtrl.pageReportNotes(ModerationCtrl.previewReport.id, ModerationCtrl.reportNotesPage - 1)" ng-disabled="ModerationCtrl.reportNotesPage <= 1" disabled="disabled">❮</button>
      </div>
      <div class="page">{{ModerationCtrl.reportNotesPage}} of {{ModerationCtrl.reportNotesPageCount}}</div>
      <div class="next">
        <button ng-click="ModerationCtrl.pageReportNotes(ModerationCtrl.previewReport.id, ModerationCtrl.reportNotesPage + 1)" ng-disabled="ModerationCtrl.reportNotesPage >= ModerationCtrl.reportNotesPageCount" disabled="disabled">❯</button>
      </div>
    </div>
    <form name="$parent.form" class="css-form">
      <textarea name="reportNote" ng-model="ModerationCtrl.reportNote" ng-disabled="ModerationCtrl.noteSubmitted" placeholder="Leave a note on this report..." rows="3" required></textarea>
      <div class="clear">
        <button class="fill-row" ng-click="ModerationCtrl.submitReportNote(); $parent.form.$setUntouched()"
          ng-disabled="$parent.form.$invalid || $parent.form.$errors || ModerationCtrl.noteSubmitted" ng-bind="ModerationCtrl.submitBtnLabel"></button>
      </div>
    </form>
  </div>
  <div class="preview-wrap">
    <h5 class="thin-underline">Reported User {{ModerationCtrl.selectedUsername}}</h5>
    <div ui-view="preview"></div>
  </div>
</div>

<!-- Manage Bans Modal -->
<modal show="ModerationCtrl.showManageBansModal" on-close="ModerationCtrl.closeManageBans()">
  <form name="$parent.form" class="css-form">
    <h3 class="thin-underline">Manage Bans</h3>
    <label class="bold">User Information</label>
    <table class="striped" width="100%">
      <tr>
        <td>Username</td>
        <td ng-bind="ModerationCtrl.selectedUser.username"></td>
      </tr>
      <tr>
        <td>Email</td>
        <td ng-bind="ModerationCtrl.selectedUser.email"></td>
      </tr>
      <tr>
        <td>Register Date</td>
        <td ng-bind="ModerationCtrl.selectedUser.created_at | humanDate"></td>
      </tr>
      <tr ng-if="ModerationCtrl.selectedUser.ban_expiration">
        <td>Global Ban Expiration</td>
        <td ng-bind="ModerationCtrl.selectedUser.ban_expiration | humanDate:true"></td>
      </tr>
      <tr ng-if="ModerationCtrl.selectedUser.banned_board_names.length">
        <td>Banned From Boards</td>
        <td>
          <span ng-repeat="boardName in ModerationCtrl.selectedUser.banned_board_names" ng-bind-html="$last ? boardName : boardName + ', '"></span>
        </td>
      </tr>
    </table>

    <label class="bold" for="banType">
      Ban Globally
    </label>
    <input type="radio" name="banType" ng-model="ModerationCtrl.permanentBan" ng-value="true" id="permanent" ng-disabled="ModerationCtrl.banSubmitted"><label for="permanent">Permanent</label>
    <input type="radio" name="banType" ng-model="ModerationCtrl.permanentBan" ng-value="false" id="temporary" ng-disabled="ModerationCtrl.banSubmitted"><label for="temporary">Temporary</label>
    <a class="right" ng-click="ModerationCtrl.permanentBan = undefined; ModerationCtrl.banUntil = undefined;" ng-show="ModerationCtrl.permanentBan !== undefined">
      <i class="fa fa-times"></i> Remove Global Ban
    </a>

    <div ng-show="ModerationCtrl.permanentBan === false">
      <label for="banUntil">Enter Ban Expiration Date:</label>
      <input type="date" ng-model="ModerationCtrl.banUntil" min="{{ModerationCtrl.minDate()}}" name="banUntil" ng-required="ModerationCtrl.permanentBan === false" />
    </div>


    <label for="banUntil">
      <strong>Ban from my Boards</strong>
      <div class="right">
        <a ng-href="#" ng-click="ModerationCtrl.checkModBoards();"><i class="fa fa-check-square-o"></i> Check All</a>
        &nbsp;&nbsp;
        <a ng-href="#" ng-click="ModerationCtrl.uncheckModBoards();"><i class="fa fa-square-o"></i> Uncheck All</a>
      </div>
    </label>
    <div class="board-bans-list">
      <script type="text/ng-template" id="board_renderer.html">
        <input id="{{board.id}}" ng-checked="ModerationCtrl.boardBanList.indexOf(board.id) > -1" value="{{board.id}}" ng-click="ModerationCtrl.toggleBoardBan(board.id)" ng-disabled="ModerationCtrl.user.moderating.indexOf(board.id) < 0" type="checkbox" />
        <label for="{{board.id}}" ng-bind-html="board.name"></label>
        <ul>
          <li ng-repeat="board in board.children track by board.id" ng-include="'board_renderer.html'"></li>
        </ul>
      </script>
      <div ng-repeat="cat in ModerationCtrl.boards track by cat.id">
        <label class="bold" ng-bind-html="cat.name"></label>
        <ul>
          <li ng-repeat="board in cat.boards track by board.id" ng-include="'board_renderer.html'">
          </li>
        </ul>
      </div>
    </div>

    <div class="clear">
      <button class="fill-row" ng-click="ModerationCtrl.updateBans()"
        ng-disabled="$parent.form.$invalid || $parent.form.$errors || ModerationCtrl.banSubmitted" ng-bind="ModerationCtrl.confirmBanBtnLabel"></button>
    </div>
  </form>
</modal>

<!-- Set Status Modal -->
<modal class="tiny" show="ModerationCtrl.showSetStatusModal" on-close="ModerationCtrl.closeSetStatus()">
  <form name="$parent.statusForm" class="css-form">
    <h3 class="thin-underline">Set Report Status</h3>
    <label>Report Information</label>
    <table class="striped" width="100%">
      <tr>
        <td>Current Status</td>
        <td ng-bind="ModerationCtrl.selectedUserReport.status"></td>
      </tr>
      <tr>
        <td>Reported User</td>
        <td ng-bind="ModerationCtrl.selectedUserReport.offender_username"></td>
      </tr>
      <tr>
        <td>Reported By</td>
        <td ng-bind="ModerationCtrl.selectedUserReport.reporter_username"></td>
      </tr>
      <tr>
        <td>Reported Date</td>
        <td ng-bind="ModerationCtrl.selectedUserReport.created_at | humanDate"></td>
      </tr>
    </table>
    <label for="newStatus">Select New Report Status:</label>
    <input ng-if="ModerationCtrl.selectedUserReport.status !== 'Pending'" type="radio" name="newStatus" ng-model="ModerationCtrl.selectedStatus" value="Pending" id="pending" ng-disabled="ModerationCtrl.setStatusSubmitted" required><label ng-if="ModerationCtrl.selectedUserReport.status !== 'Pending'" for="pending">Pending</label>
    <input ng-if="ModerationCtrl.selectedUserReport.status !== 'Reviewed'" type="radio" name="newStatus" ng-model="ModerationCtrl.selectedStatus" value="Reviewed" id="reviewed" ng-disabled="ModerationCtrl.setStatusSubmitted" required><label ng-if="ModerationCtrl.selectedUserReport.status !== 'Reviewed'" for="reviewed">Reviewed</label>
    <input ng-if="ModerationCtrl.selectedUserReport.status !== 'Ignored'" type="radio" name="newStatus" ng-model="ModerationCtrl.selectedStatus" value="Ignored" id="ignored" ng-disabled="ModerationCtrl.setStatusSubmitted" required><label ng-if="ModerationCtrl.selectedUserReport.status !== 'Ignored'" for="ignored">Ignored</label>
    <input ng-if="ModerationCtrl.selectedUserReport.status !== 'Bad Report'" type="radio" name="newStatus" ng-model="ModerationCtrl.selectedStatus" value="Bad Report" id="badReport" ng-disabled="ModerationCtrl.setStatusSubmitted" required><label ng-if="ModerationCtrl.selectedUserReport.status !== 'Bad Report'" for="badReport">Bad Report</label>
    <label for="statusReportNote">Leave a note (optional):</label>
    <textarea name="statusReportNote" ng-model="ModerationCtrl.statusReportNote" ng-disabled="ModerationCtrl.noteSubmitted" placeholder="Leave a note on this report..." rows="3"></textarea>
    <div class="clear">
      <button class="fill-row" ng-click="ModerationCtrl.setStatus()"
        ng-disabled="$parent.statusForm.$invalid || $parent.statusForm.$errors || ModerationCtrl.setStatusSubmitted || ModerationCtrl.selectedStatus === ModerationCtrl.selectedUserReport.status" ng-bind="ModerationCtrl.setStatusBtnLabel"></button>
    </div>
  </form>
</modal>

<!-- Warn Modal -->
<modal show="ModerationCtrl.showWarnModal" on-close="ModerationCtrl.closeWarn()">
  <form name="$parent.form" class="css-form">
    <h3 class="thin-underline">Warn User</h3>
    <label>User to Warn
      <input type="text" disabled="disabled" ng-value="ModerationCtrl.selectedUser.username">
    </label>

    <label>Warning Message
      <textarea type="text" rows="10" ng-model="ModerationCtrl.newConversation.body"></textarea>
    </label>

    <div class="clear">
      <button class="fill-row" ng-click="ModerationCtrl.createConversation()"
        ng-disabled="$parent.form.$invalid || $parent.form.$errors || ModerationCtrl.warnSubmitted" ng-bind="ModerationCtrl.warnBtnLabel"></button>
    </div>
  </form>
</modal>
