<div>
  <h3 class="thin-underline">Merit Summary for {{UserMeritCtrl.user.username}}</h3>
  <br />
  <h4>Merit: <strong ng-bind="UserMeritCtrl.user.merit"></strong><br /><br /></h4>
  <h4 ng-if="UserMeritCtrl.user.sendable_merit.sendable_user_merit">Sendable Merit: <strong ng-bind="UserMeritCtrl.user.sendable_merit.sendable_user_merit"></strong><br /><br /></h4>
  <h4 ng-if="UserMeritCtrl.user.sendable_merit.sendable_source_merit > 0">Source Merit: <strong ng-bind="UserMeritCtrl.user.sendable_merit.sendable_source_merit"></strong><br /><br /></h4>
  <p ng-if="UserMeritCtrl.viewingSelf">
    You have received a total of <strong ng-bind="UserMeritCtrl.user.merit"></strong> merit. This is what determines your forum rank. You typically cannot lose this merit. You have <strong ng-bind="UserMeritCtrl.user.sendable_merit.sendable_user_merit"></strong> sendable merit (sMerit) <span ng-if="UserMeritCtrl.user.sendable_merit.sendable_source_merit > 0">and <strong ng-bind="UserMeritCtrl.user.sendable_merit.sendable_source_merit"></strong> source merit </span> which you can send to other people. There is no point in hoarding sMerit; keeping it yourself does not benefit you, and we reserve the right to decay unused sMerit in the future.
    <br /><br />
  </p>
</div>

<div>
  <h4>Sent by {{UserMeritCtrl.user.username}} in the last 120 days</h4>
  <ul class="indent">
    <li ng-repeat="sMerit in UserMeritCtrl.statistics.recently_sent">
      {{sMerit.time | humanDate}}:&nbsp;&nbsp;Sent <strong>{{sMerit.amount}} merit{{ sMerit.amount > 1 ? 's' : '' }}</strong> to <a ui-sref="profile.posts({ username: sMerit.username})" ng-bind-html="sMerit.username"></a> for post in thread <a ng-if="sMerit.post_id" ui-sref="posts.data({ threadId: sMerit.thread_id, start: sMerit.position, '#': sMerit.post_id })" ng-bind-html="sMerit.title"></a><strong ng-if="!sMerit.post_id">(Deleted or Off-limits)</strong>
    </li>
  </ul>
</div>

<div>
  <h4>Received by {{UserMeritCtrl.user.username}} in the last 120 days</h4>
  <ul class="indent">
    <li ng-repeat="rMerit in UserMeritCtrl.statistics.recently_received">
      {{rMerit.time | humanDate}}:&nbsp;&nbsp;Received <strong>{{rMerit.amount}} merit{{ rMerit.amount > 1 ? 's' : '' }}</strong> from <a ui-sref="profile.posts({ username: rMerit.username})" ng-bind-html="rMerit.username"></a> for post in thread <a ng-if="rMerit.post_id" ui-sref="posts.data({ threadId: rMerit.thread_id, start: rMerit.position, '#': rMerit.post_id })" ng-bind-html="rMerit.title"></a><strong ng-if="!rMerit.post_id">(Deleted or Off-limits)</strong>
    </li>
  </ul>
</div>
