<div class="polls" ng-if="poll">
  <!-- Poll Header -->
  <div class="poll-header">
    <span ng-if="poll.locked"><i  class="icon-epoch-lock"></i></span>
    <div class="poll-control" ng-if="permissions.privilegedLock">
      <input id="lockPoll" class="icon" type="checkbox" ng-model="poll.locked">
      <label for="lockPoll" class="icon-epoch-lock" ng-click="updateLockPoll()">
      </label>
    </div>
    <div class="poll-control" ng-if="permissions.privilegedLock || (permissions.create && user.id === thread.user.id)">
      <input id="editPoll" class="icon" type="checkbox" ng-model="switches.editPoll">
      <label for="editPoll" class="icon-epoch-edit">
      </label>
    </div>
    <h5 class="poll-question" ng-bind="poll.question"></h5>
  </div>
  <hr>

  <!-- Poll Options Information -->
  <div class="poll-info">
    <div class="fourth-columns label">
      <span ng-if="poll.expired">Expired</span>
      <span ng-if="!poll.expired">{{(poll.expiration|humanDate) || 'No Expiration'}}</span>
    </div>
    <div class="fourth-columns label">
      <span>Up to {{poll.max_answers}} Choices</span>
    </div>
    <div class="fourth-columns label">
      <span ng-if="poll.change_vote">Vote Can Be Change</span>
      <span ng-if="!poll.change_vote">Vote Permanent</span>
    </div>
    <div class="fourth-columns label">
      Results
      <span ng-if="poll.display_mode === 'always'">Always Shown</span>
      <span ng-if="poll.display_mode === 'voted'">After Voting</span>
      <span ng-if="poll.display_mode === 'expired'">After Expiration</span>
    </div>
  </div>

<!-- Poll Edit -->
  <div class="poll-edit slide" ng-class="{ open: switches.editPoll }">
    <div class="poll-edit-container">
      <h5>Edit Poll Options:</h5>
      <input type="checkbox" id="pollVote" ng-model="options.change_vote">
      <label for="pollVote">Allow user to change vote</label>
      <label for="pollMaxVote">Poll expires at -- {{(options.expiration|humanDate) || 'No Expiration'}}</label>
      <div class="fill-row">
        <div class="half-column">
          <input type="date" ng-model="options.expiration_date" ng-change="calcExpiration()">
        </div>
        <div class="half-column">
          <input type="time" ng-model="options.expiration_time" ng-change="calcExpiration()">
        </div>
      </div>
      <div class="fill-row">
        <div class="half-column">
          <label for="pollMaxVote">Maximum answers per vote:</label>
          <input type="number" id="pollMaxVote" min="1" max="{{poll.answers.length}}" value="1" ng-model="options.max_answers">
        </div>
        <div class="half-column">
          <label>Show poll results: </label>
          <div class="fill-row thin-underline"></div>
          <label for="displayAlways">
            <input type="radio" id="displayAlways" ng-model="options.display_mode" value="always">
            Always shown
          </label>
          <label for="displayVoted">
            <input type="radio" id="displayVoted" ng-model="options.display_mode" value="voted">
            After voting
          </label>
          <label for="displayExpired">
            <input type="radio" id="displayExpired" ng-model="options.display_mode" value="expired" ng-disabled="!options.expiration">
            After expiration
          </label>
        </div>
      </div>
      <div class="fill-row">
        <div class="half-column">
          <button class="fill-row" ng-click="switches.editPoll = false">Cancel</button>
        </div>
        <div class="half-column">
          <button class="fill-row" ng-disabled="!pollValid()" ng-click="saveOptions()">Save Changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Poll Results -->
  <div class="poll-answer" ng-repeat="answer in poll.answers">
    <label>
      <div class="poll-select" ng-if="canVote()">
        <input type="checkbox" ng-click="toggleAnswer(answer.id)" ng-disabled="pollAnswers.length >= poll.max_answers && pollAnswers.indexOf(answer.id) === -1"/>
      </div>
      <div class="poll-bar">
        <span class="poll-answer-title" ng-bind="answer.answer"></span>
        <span class="poll-answer-fill" ng-bind="'(' + answer.percentage + '%) ' + answer.votes + (answer.votes > 1 || answer.votes === 0 ? ' votes' : ' vote')" ng-if="showPollResults()"></span>
        <section ng-style="answer.style" ng-if="showPollResults()"></section>
      </div>
    </label>
  </div>
  <button ng-click="vote()" ng-disabled="pollAnswers.length === 0" ng-if="canVote()">Vote</button>
  <button ng-if="canRemoveVote()" ng-click="removeVote()">Remove Vote</button>
</div>
