// Style overrides

.gridAuto
  display: grid
  margin: 1rem 0;

  grid-gap: 2rem
  grid-template-columns repeat(auto-fill, minmax(80px, 1fr))
  row-gap: 3rem

  .gridCellImage
    display: flex
    flex-direction: column
    font-size: 0.875rem
    align-items: center
    justify-content: flex-start
    text-align: center

    img
      padding-bottom: 0.5rem