// Spacing User Customizable
$base-line-height: 1.3rem;

// Primary Layout Colors User Customizable
$base-background-color: rgb(255, 255, 255);
$color-primary: rgb(255, 100, 0);

// Fonts User Customizable
$base-font-sans: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
$base-font-color: rgb(34, 34, 54);
$base-font-size: 16px;
$secondary-font-color: rgb(153, 153, 153);

// Components User Customizable
$input-font-color: rgb(34, 34, 54);
$input-background-color: rgb(255, 255, 255);
$border-color: rgb(215, 215, 215);

// Header Colors User Customizable
$header-font-color: rgb(255, 255, 255);
$header-bg-color: rgb(66, 71, 80);
$sub-header-color: rgb(245, 245, 245);
