<!-- Legal Text -->
<h5 class="thin-underline">Terms of Service
  <span class="info-tooltip" data-balloon="Allows editing of the html that will be displayed on the Terms of Service page" data-balloon-pos="down" data-balloon-length="large" data-balloon-break><i class="fa fa-info-circle"></i></span>
</h5>
<textarea ng-model="AdminSettingsCtrl.text.tos"></textarea>
<br />

<h5 class="thin-underline">Privacy Policy
  <span class="info-tooltip" data-balloon="Allows editing of the html that will be displayed on the Privacy Policy page" data-balloon-pos="down" data-balloon-length="large" data-balloon-break><i class="fa fa-info-circle"></i></span>
</h5>
<textarea ng-model="AdminSettingsCtrl.text.privacy"></textarea>
<br />

<h5 class="thin-underline">Disclaimers
  <span class="info-tooltip" data-balloon="Allows editing of the html that will be displayed on the Disclaimers page" data-balloon-pos="down" data-balloon-length="large" data-balloon-break><i class="fa fa-info-circle"></i></span>
</h5>
<textarea ng-model="AdminSettingsCtrl.text.disclaimer"></textarea>
<br />
