<div class="fill-row recent-mentions-header">
  <h3 class="thin-underline">
    Recent Mentions
    <div ng-if="MentionsCtrl.mentions.length" class="mention-actions">
      <a ng-click="MentionsCtrl.delete({ type: 'mention' })"><i class="fa fa-trash-o"></i> Delete all</a>
      <a ng-click="MentionsCtrl.dismiss({ type: 'mention' })"><i class="fa fa-book"></i> Mark all read</a>
    </div>
  </h3>
</div>
<div class="fill-row recent-mentions">
  <div class="mention" ng-repeat="mention in MentionsCtrl.mentions" ng-class="{ 'dismissed': mention.viewed }">
    <a class="mention-content" ui-sref="posts.data({ threadId: mention.thread_id, start: mention.post_start, '#': mention.post_id })" ui-sref-opts="{reload: true}" ng-click="MentionsCtrl.dismiss({ type: 'mention', id: mention.notification_id, viewed: mention.viewed })">
      <div class="mention-header">
        <div class="mention-unread">
          <div class="dot"></div>
        </div>
        <div class="avatar">
          <img src="{{mention.mentioner_avatar}}" />
        </div>
        <div class="msg">
          <div>
            <strong>{{mention.mentioner}}</strong> mentioned you in <span class="hidden-mobile"><strong><span ng-bind-html="mention.board_name"></span></strong> &#x27A4; </span><strong>{{mention.title}}</strong>
          </div>
          {{mention.created_at | humanDate}}
        </div>
      </div>
      <div class="mention-body">
        <div post-processing="mention.body" style-fix="true"></div>
      </div>
    </a>
    <div class="actions">
      <div ng-click="MentionsCtrl.delete({ id: mention.id, type: 'mention', notification_id: mention.notification_id })" class="delete" data-balloon="Delete" data-balloon-pos="left">
        <i class="fa fa-times"></i>
      </div>
      <div ng-if="!mention.viewed" ng-click="MentionsCtrl.dismiss({ type: 'mention', id: mention.notification_id, viewed: mention.viewed })" class="unmarked" data-balloon="Mark Read" data-balloon-pos="left">
        <i class="fa fa-circle-o"></i>
      </div>
      <div ng-if="mention.viewed" class="marked" data-balloon="Read" data-balloon-pos="left">
        <i class="fa fa-check-circle-o"></i>
      </div>
    </div>
  </div>
</div>

<div class="fill-row recent-mentions centered-text" ng-if="MentionsCtrl.mentions.length <= 0">
  <h4>You currently have no mentions</h4>
</div>

<div class="pagination-simple">
  <a ng-show="MentionsCtrl.prev" ui-sref=".({ page: MentionsCtrl.page - 1, limit: MentionsCtrl.limit })">
    &#10094; Previous
  </a>
  <span ng-show="!MentionsCtrl.prev">&#10094; Previous</span>
  &nbsp;&nbsp;&nbsp;
  <a ng-show="MentionsCtrl.next" ui-sref=".({ page: MentionsCtrl.page + 1, limit: MentionsCtrl.limit })">
     Next &#10095;
  </a>
  <span ng-show="!MentionsCtrl.next">Next &#10095;</span>
</div>
