$base-line-height: 1.3rem;
$base-background-color: #333;
$color-primary: lime;
$base-font-sans: monospace;
$base-font-color: white;
$base-font-size: 16px;
$secondary-font-color: #bbb;
$input-font-color: rgb(34, 34, 34);
$input-background-color: #eaeaea;
$border-color: #999;
$header-font-color: lime;
$header-bg-color: #222;
$sub-header-color: #555;
