$base-font-size: 16px;
$base-font-sans: "lato", "helvetica neue", helvetica, sans-serif;
$base-line-height: 1.3rem;
$base-font-color: #fff;
$secondary-font-color: rgb(153, 153, 153);
$base-background-color: #333;
$color-primary: rgb(255, 78, 0);
$header-bg-color: #111;
$header-font-color: rgb(255, 255, 255);
$sub-header-color: #444;
$border-color: #999;
$input-font-color: rgb(34, 34, 34);
$input-background-color: rgb(255, 255, 255);
