@import 'variables';
@import 'icons';
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

// Epochtalk Vars
$base-font-sans: "Lato", "Helvetica Neue", Helvetica, sans-serif;
$base-font-color: RGB(34, 34, 34);
$base-font-size: 16px;

// Primary layout colors
$color-active: rgb(255, 78, 0);
$color-active-fill: rgb(255, 116, 66);

$header-height: 3.125rem;
$header-bg-color: RGB(66, 71, 80);
$header-border-color: RGB(166, 168, 172);
$header-logo-font-size: 1.3rem;
$header-logo-font-color: RGB(255, 255, 255);
$header-login-font-size: 0.815rem;
$header-login-font-color: $header-logo-font-color;
$header-dropdown-bg-color: RGBA(46, 50, 58, 0.98);
$header-dropdown-shadow-color: RGBA(0, 0, 0, 0.3);

$breadcrumbs-height: 2.8125rem;
$breadcrumbs-font-size: $header-login-font-size;
$breadcrumbs-bg-color: RGB(244, 244, 244);
$breadcrumbs-link-color: RGB(102, 102, 102);
$breadcrumbs-dead-link-color: RGB(153, 153, 153);
$breadcrumbs-border-color: RGB(227, 227, 227);
$breadcrumbs-shadow-color: RGBA(0, 0, 0, 0.1);
$breadcrumbs-bottom-margin: 1.75rem;

$footer-bg-color: lighten(#444, 71%);
$footer-font-color: lighten(#444, 20%);
$footer-link-color: $footer-font-color;
$footer-link-hover-color: $color-active;


/*-------------- Main Layout -------------- */
// Page
html, body {
  font-size: $base-font-size;
  font-family: $base-font-sans;
  color: $base-font-color;
  @include media($mobile) { font-size: $base-font-size * 0.8; }
}

// Components
.button, button {
  background-color: $color-active-fill;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border-color: $color-active-fill;
  font-family: $base-font-sans;
  outline: none;
  padding: 0.625rem 1.375rem;
}

// Header
header {
  #menu-wrap {
    @include clearfix();
    background-color: $header-bg-color;
    padding: 0 1em;
    text-align: center;
    min-height: $header-height;
    #menu {
      @include outer-container;
      h3 {
        float: left;
        margin: 0;
        font-family: $base-font-sans;
        line-height: $header-height;
        font-size: $header-logo-font-size;
        #logo {
          padding-right: 10px;
          width: 2.1875rem;
          height: auto;
          max-height: 2.1875rem;
          margin-bottom: 0.25rem;
        }
        #logo-text { color: $header-logo-font-color; }
      }
      ul {
        display: inline-block;
        float: right;
        margin: 0;
        line-height: $header-height;
        padding: 0;
        list-style-type: none;
        li { float: left; }
        li a {
          color: $header-login-font-color;
          font-size: $header-login-font-size;
          padding-left: 1.25rem;
        }
        .search {
          @include media($mobile) { display: none; }
          position: relative;
          input[type="text"] {
            display: inline-block;
            background-color: inherit;
            color: $header-logo-font-color;
            border: none;
            box-shadow: none;
            margin: 0;
            padding: 0 0.4rem 0 2rem;
            width: 250px;
          }
          label {
            color: $header-logo-font-color;
            font-size: 1.1rem;
            position: absolute;
            left: 0.4rem;
            top: 0.7125rem;
          }
        }
        #user-dropdown-wrap {
          min-width: 125px;
          position: relative;
          div {
            text-align: left;
            padding: 0 10px;
            .avatar {
              height: 2.1875rem;
              width: 2.1875rem;
              border: 2px solid white;
              border-radius: 100px;
              margin-bottom: 0.25rem;
            }
            a {
              padding-left: 0.8rem;
            }
          }
          #user-dropdown {
            display: none;
            width: 100%;
            text-align: left;
            margin-top: -1px;
            background-color: $header-dropdown-bg-color;
            position: absolute;
            z-index: 9999;
            li, li a { float: none; display: block; height: 2.5rem; line-height: 2.5rem; }
          }
        }
        #user-dropdown-wrap:hover {
          box-shadow: 0 2px 4px $header-dropdown-shadow-color;
          background-color: $header-dropdown-bg-color;
          #user-dropdown { display: block; box-shadow: 0 2px 4px $header-dropdown-shadow-color; }
        }
      }
    }
    #menu.admin-menu {
      max-width: none;
      h3 #logo-text { padding-right: 0.8rem; }
      #menu-left {
        float: left;
        .menu-btn, .menu-btn-selected { padding: 0 0.8rem; display: inline-block; }
        .menu-btn-selected { background-color: $header-dropdown-bg-color; }
      }
      #menu-right {
        float: right;
        li:first-child { padding-right: 0.8rem }
      }
    }
  }

  #breadcrumbs-wrap {
    @include clearfix();
    background-color: $breadcrumbs-bg-color;
    border-bottom: 1px solid $breadcrumbs-border-color;
    box-shadow: 0px 2px 6px $breadcrumbs-shadow-color;
    padding: 0 1em;
    text-align: center;
    height: $breadcrumbs-height;
    margin-bottom: $breadcrumbs-bottom-margin;
    #breadcrumbs {
      @include outer-container;
      min-width: 0;
      padding: 0;
      background: none;
      text-transform: uppercase;
      ul {
        float: left;
        display: inline-block;
        margin: 0;
        line-height: $breadcrumbs-height;
        padding: 0;
        list-style-type: none;
        li { color: $breadcrumbs-link-color; display: inline-block; }
        li::before { content: "/"; padding: 0 0.4rem; }
        li:first-child::before { content: none; }
        li a { color: $breadcrumbs-link-color; font-size: $breadcrumbs-font-size; }
        li span { color: $breadcrumbs-dead-link-color; font-size: $breadcrumbs-font-size; }
      }
    }
  }
}

// Main
main {
  @include clearfix();
  min-height: 100%;
  #public-content {
    @include outer-container;
  }
  #error-404 {
    @include outer-container;
    @include row();
    text-align: center;
    .code { @include span-columns(12); @include omega; font-size: 12.5rem; font-weight: 100; }
    .message { @include span-columns(12); @include omega; font-size: 1.875rem; color: $color-active; }
  }
}

// No Script
noscript {
  @include clearfix();
  #noscript {
    @include outer-container;
    @include row();
    .sad-face {
      @include span-columns(4);
      font-size: 18.75rem;
    }
    .message {
      @include span-columns(8);
      font-size: 1.25rem;
      margin-top: 12.5rem;
    }
  }
  @include media($mobile) {
    #noscript {
       text-align: center;
      .sad-face { @include span-columns(8); @include omega; }
      .message { @include span-columns(8); @include omega; margin: 0; padding: 0 1rem; }
    }
  }
}


// Footer
footer {
  @include clearfix();
  position: relative;
  background-color:$footer-bg-color;
  color: $footer-font-color;
  font-size: 0.8rem;
  padding: 10px 10px 15px 10px;
  margin-bottom: 0;
  #footer {
    @include outer-container;
    .row {
      @include row();
      .links {
        @include span-columns(3);
        a {
          color: $footer-link-color;
          &:hover { color: $footer-link-hover-color; }
        }
        ul {
          font-size: .8rem;
          margin: 0;
          padding: 0;
          list-style: none;
        }
        .title {
          font-weight: 600;
          line-height: 3;
        }
      }
      .info {
        @include span-columns(6);
        text-align: right;
        .copyright {
          display: block;
          font-size: 1.5rem;
          font-weight: 200;
        }
      }
    }
  }
  @include media($mobile) {
    #footer .row .links { @include span-columns(4); @include omega(2n); text-align: center; }
    #footer .row .info { @include span-columns(8); text-align: center; padding-top: 1rem; }
  }
}

