@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

$dark-text-default: rgb(34, 34, 34);
$light-text-default: rgb(255,255,255);

@function brightness($color) {
  @if type-of($color) == color {
    @return (red($color) * 0.299 + green($color) * 0.587 + blue($color) * 0.114) / 255 * 100%;
  }
  @else { @return unquote("brightness(#{$color})"); }
}

@function color-contrast($color, $dark: $dark-text-default, $light: $light-text-default) {
  @if $color == null { @return null; }
  @else {
    $color-brightness: brightness($color);
    $light-text-brightness: brightness($light);
    $dark-text-brightness: brightness($dark);
    @return if(abs($color-brightness - $light-text-brightness) > abs($color-brightness - $dark-text-brightness), $light, $dark);
  }
}

// Spacing User Customizable
$base-line-height: 1.3rem;

// Primary Layout Colors User Customizable
$base-background-color: rgb(255, 255, 255);
$color-primary: rgb(255, 78, 0);

// Fonts User Customizable
$base-font-sans: "Lato", "Helvetica Neue", Helvetica, sans-serif; // user customizable
$base-font-color: rgb(34, 34, 34); // user customizable
$base-font-size: 16px; // user customizable
$secondary-font-color: rgb(153, 153, 153); // user customizable

// Components User Customizable
$input-font-color: rgb(34, 34, 34); // user customizable
$input-background-color: rgb(255, 255, 255); // user customizable
$border-color: rgb(215, 215, 215); // user customizable

// Header Colors
$header-font-color: rgb(255, 255, 255);
$header-bg-color: rgb(66, 71, 80);
$sub-header-color: rgb(245, 245, 245);

@import 'custom-variables';

// Spacing
$base-grid-padding: 1rem;

// Primary Layout Colors
@if (lightness($color-primary) > 50) { $color-primary-alt: darken($color-primary, 15%); }
@else { $color-primary-alt: lighten($color-primary, 15%); }

// Fonts
$button-text-color: color-contrast($color-primary);
@if (lightness($secondary-font-color) > 50) {
  $secondary-font-color-dark: darken($secondary-font-color, 15%);
  $secondary-font-color-light: lighten($secondary-font-color, 20%);
}
@else {
  $secondary-font-color-dark: lighten($secondary-font-color, 15%);
  $secondary-font-color-light: darken($secondary-font-color, 20%);
}

// Components
$color-highlighted: HSL(60, 100%, 95%);
@if (lightness($base-background-color) > 50) { $border-color-alt: lighten($border-color, 10%); }
@else { $border-color-alt: darken($border-color, 30%); }

//Header Colors
$header-height: 3.125rem;
$header-logo-font-size: 1.3rem;
$header-logo-font-color: $header-font-color;
$header-login-font-size: 0.815rem;
$header-login-font-color: $header-logo-font-color;
$header-dropdown-bg-color: darken(rgba($header-bg-color, 0.98), 8%);
$header-dropdown-shadow-color: rgba(0, 0, 0, 0.3);

// Breadcrumbs
$breadcrumbs-height: 2.8125rem;
$breadcrumbs-font-size: $header-login-font-size;
$breadcrumbs-bg-color: $sub-header-color;
$breadcrumbs-link-color: color-contrast($breadcrumbs-bg-color);
$breadcrumbs-dead-link-color: $secondary-font-color;
$breadcrumbs-border-color: darken($breadcrumbs-bg-color, 8%);
$breadcrumbs-shadow-color: rgba(0, 0, 0, 0.1);
$breadcrumbs-bottom-margin: 1rem;

// Footer
$footer-font-color: $secondary-font-color;
$footer-bg-color: $sub-header-color;
$footer-link-color: $footer-font-color;
$footer-link-hover-color: $color-primary;
