@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

// Epochtalk Vars
$base-font-sans: "Lato", "Helvetica Neue", Helvetica, sans-serif;
$base-font-color: RGB(34, 34, 34);
$base-font-size: 16px;
$base-line-height: 1.3rem;
$base-grid-padding: 1rem;

// Primary layout colors
$color-active: rgb(255, 78, 0);
$color-active-fill: rgb(255, 116, 66);

$color-gray: #444;
$color-gray-med: lighten($color-gray, 33.5%);
$color-gray-light: lighten($color-gray, 60%);
$color-gray-disabled: lighten($color-gray, 40%);
$color-gray-sub: lighten($color-gray, 71%);
$color-gray-dark: darken($color-gray, 10%);

$header-height: 3.125rem;
$header-bg-color: RGB(66, 71, 80);
$header-border-color: RGB(166, 168, 172);
$header-logo-font-size: 1.3rem;
$header-logo-font-color: RGB(255, 255, 255);
$header-login-font-size: 0.815rem;
$header-login-font-color: $header-logo-font-color;
$header-dropdown-bg-color: RGBA(46, 50, 58, 0.98);
$header-dropdown-shadow-color: RGBA(0, 0, 0, 0.3);

$breadcrumbs-height: 2.8125rem;
$breadcrumbs-font-size: $header-login-font-size;
$breadcrumbs-bg-color: RGB(244, 244, 244);
$breadcrumbs-link-color: $base-font-color;
$breadcrumbs-dead-link-color: RGB(153, 153, 153);
$breadcrumbs-border-color: RGB(227, 227, 227);
$breadcrumbs-shadow-color: RGBA(0, 0, 0, 0.1);
$breadcrumbs-bottom-margin: 1rem;

$footer-bg-color: $color-gray-sub;
$footer-font-color: lighten($color-gray, 20%);
$footer-link-color: $footer-font-color;
$footer-link-hover-color: $color-active;
