<!-- Reported Posts -->
<div class="content">
  <h4>Pending Moderation</h4>
  <div class="small-6 columns queue-search">
    <div class="row collapse">
      <div class="small-10 columns">
        <input type="text" placeholder="Search">
      </div>
      <div class="small-2 columns">
        <a href="#" class="button postfix">Search</a>
      </div>
    </div>
  </div>
  <div class="small-6 columns">
    <div class="right"><pagination page-count="5" page="1"></pagination></div>
  </div>
  <table width="100%">
    <thead>
      <th>Post</th>
      <th>Reason</th>
      <th width="200">Date</th>
      <th width="250">Actions</th>
    </thead>
    <tbody>
      <tr ng-repeat="reportedPost in ModerationCtrl.reportedPosts track by reportedPost.post">
        <td><a href="#" ng-bind="reportedPost.post"></a></td>
        <td ng-bind="reportedPost.reason"></td>
        <td ng-bind="reportedPost.reported_at | humanDate"></td>
        <td>
          <a href="#">Modify</a>&nbsp;&nbsp;
          <a href="#">Ignore</a>&nbsp;&nbsp;
          <a href="#">Warn</a>&nbsp;&nbsp;
          <a href="#">Ban</a>&nbsp;&nbsp;
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <h4>Moderation History</h4>
  <div class="small-6 columns queue-search">
    <div class="row collapse">
      <div class="small-10 columns">
        <input type="text" placeholder="Search">
      </div>
      <div class="small-2 columns">
        <a href="#" class="button postfix">Search</a>
      </div>
    </div>
  </div>
  <div class="small-6 columns">
    <div class="right"><pagination page-count="5" page="1"></pagination></div>
  </div>
  <table width="100%">
    <thead>
      <th>Post</th>
      <th>Reason</th>
      <th width="200">Date</th>
      <th width="250">Moderator Notes</th>
    </thead>
    <tbody>
      <tr ng-repeat="reportedPost in ModerationCtrl.reportedPosts track by reportedPost.post">
        <td><a href="#" ng-bind="reportedPost.post"></a></td>
        <td ng-bind="reportedPost.reason"></td>
        <td ng-bind="reportedPost.reported_at | humanDate"></td>
        <td ng-bind="reportedPost.moderator_notes"></td>
      </tr>
    </tbody>
  </table>
</div>
