<!-- Reported Users Header -->
<div class="row" ng-class="{'full-width' : ModerationCtrl.fullWidth }">
  <div class="small-12 columns">
    <div ng-click="ModerationCtrl.toggles.pending = !ModerationCtrl.toggles.pending" class="inline-block pointer no-select">
      <a ng-class="{ 'fa-chevron-right' : ModerationCtrl.toggles.pending, 'fa-chevron-down': !ModerationCtrl.toggles.pending }"
      class="fa collapse-btn no-select"></a>
      <h4 class="inline-block">Pending Moderation</h4>
    </div>
  </div>
</div>
<div slide-toggle="ModerationCtrl.toggles.pending">
  <!-- Reported Users Controls -->
  <div class="row" ng-class="{'full-width' : ModerationCtrl.fullWidth }">
    <div class="small-6 columns">
      <div class="row collapse">
        <div class="small-10 columns">
          <input type="text" placeholder="Search">
        </div>
        <div class="small-2 columns">
          <a href="#" class="button postfix">Search</a>
        </div>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="right"><pagination page-count="5" page="1"></pagination></div>
    </div>
  </div>
  <!-- Reported Users Table -->
  <div class="row" ng-class="{'full-width' : ModerationCtrl.fullWidth }">
    <div class="small-12 columns">
      <table width="100%">
        <thead>
          <th>Username</th>
          <th>Reason</th>
          <th width="200">Date</th>
          <th width="200">Actions</th>
        </thead>
        <tbody>
          <tr ng-repeat="reportedUser in ModerationCtrl.reportedUsers track by reportedUser.username">
            <td><a href="/profiles/{{reportedUser.username}}" ng-bind="reportedUser.username"></a></td>
            <td ng-bind="reportedUser.reason"></td>
            <td ng-bind="reportedUser.reported_at | humanDate"></td>
            <td>
              <a href="#">Ignore</a>&nbsp;&nbsp;
              <a href="#">Warn</a>&nbsp;&nbsp;
              <a href="#">Ban</a>&nbsp;&nbsp;
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br />
<!-- Reported Users History Header -->
<div class="row" ng-class="{'full-width' : ModerationCtrl.fullWidth }">
  <div class="small-12 columns">
    <div ng-click="ModerationCtrl.toggles.history = !ModerationCtrl.toggles.history" class="inline-block pointer no-select">
      <a ng-class="{ 'fa-chevron-right' : ModerationCtrl.toggles.history, 'fa-chevron-down': !ModerationCtrl.toggles.history }"
      class="fa collapse-btn no-select"></a>
      <h4 class="inline-block">Moderation History</h4>
    </div>
  </div>
</div>
<div slide-toggle="ModerationCtrl.toggles.history">
  <!-- Reported Users History Controls -->
  <div class="row" ng-class="{'full-width' : ModerationCtrl.fullWidth }">
    <div class="small-6 columns">
      <div class="row collapse">
        <div class="small-10 columns">
          <input type="text" placeholder="Search">
        </div>
        <div class="small-2 columns">
          <a href="#" class="button postfix">Search</a>
        </div>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="right"><pagination page-count="5" page="1"></pagination></div>
    </div>
  </div>
  <!--Reported Users History Table -->
  <div class="row" ng-class="{'full-width' : ModerationCtrl.fullWidth }">
    <div class="small-12 columns">
      <table width="100%">
        <thead>
          <th>Username</th>
          <th>Reason</th>
          <th width="200">Date</th>
          <th width="200">Moderator Notes</th>
        </thead>
        <tbody>
          <tr ng-repeat="reportedUser in ModerationCtrl.reportedUsers track by reportedUser.username">
            <td><a href="/profiles/{{reportedUser.username}}" ng-bind="reportedUser.username"></a></td>
            <td ng-bind="reportedUser.reason"></td>
            <td ng-bind="reportedUser.reported_at | humanDate"></td>
            <td ng-bind="reportedUser.moderator_notes"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
