.inverted-button {
  display: inline-block;
  @include border-radius(3px);
  color: $secondary-font-color;
  padding: 0.625rem 1rem;
  border: 1px solid $border-color;
  i { margin-right: 0.375rem; }
  &:hover { background-color: $color-primary; border-color: $color-primary; color: $button-text-color; }
  margin-bottom: 1rem;
  margin-right: 0.5rem;

  @include media($mobile) {
    @include span-columns(8);
    @include omega;
    margin-bottom: 0.5rem;
    &:last-child { margin-bottom: 1rem; }
    text-align: center;
  }
}

.button, button, button:focus, .button:focus {
  @include border-radius(8px);
  @include transition(color 0.15s ease, background-color 0.15s ease);
  border: 0;
  background-color: $color-primary;
  border-color: $color-primary;
  font-size: 1rem;
  font-family: $base-font-sans;
  outline: none;
  padding: 0.625rem 1.375rem;
  font-weight: normal;
  line-height: normal;
  cursor: pointer;
  margin: 0 0 1.25rem;
  position: relative;
  color: $button-text-color;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  &:hover {
   @include transition(color 0.15s ease, background-color 0.15s ease);
   background-color: $color-primary-alt;
   border-color: $color-primary-alt;
   color: $button-text-color;
   text-decoration: none;
  }
  &.disabled, &.disabled:hover, &.disabled:focus, &[disabled], &[disabled]:hover, &[disabled]:focus {
    background-color: $secondary-font-color-light;
    border-color: $secondary-font-color-light;
  }

  &.outline {
    background: #f4f4f4;
    border: 1px solid $border-color;
    color: $secondary-font-color;
    display: block;

    i { margin-right: 0.375rem; }
    &:hover { 
      background-color: $color-primary; 
      border-color: $color-primary; 
      color: #fff;
    }

  }
}

button.icon {
  @include pad(0);
  margin: 0 0.75rem 0 0;
  background: none;
  color: $color-primary;
  font-size: 0.875rem;
  &:hover, &:active {
    color: $color-primary-alt;
    background: none;
    font-size: 0.875rem;
  }
  &:disabled {
    color: $secondary-font-color-light;
    background: none;
    font-size: 0.875rem;
  }
}
