html, body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: $base-font-size;
  font-family: $base-font-sans;
  background-color: $base-background-color;
  color: $base-font-color;
  line-height: $base-line-height;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  @include media($mobile) { font-size: $base-font-size * 0.85; }
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.5rem;
  font-style: normal;
  font-weight: normal;
  color: $base-font-color;
  text-rendering: optimizedLegibility;
  text-transform: uppercase;
}
h1 { color: $text-gray-med; font-size: 2.75rem; line-height: 2.5rem; }
h2 { color: $text-gray-med; font-size: 2.3125rem; line-height: 2rem; }
h3 { color: $text-gray-med; font-size: 1.5rem; } // modal titles
h4 { color: $text-gray-med; font-size: 1.3125rem; } //Category Name, Board Name, Thread Name
h5 { font-size: 1.125rem; } // Board Name (Front Page), Section Headers Board View
h6 { font-size: 1rem; }
ul, ol, dl { list-style-position: outside; }
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4,
h5, h6, pre, form, p, blockquote, th, td { margin: 0; padding: 0; }
textarea { resize: vertical; }
table {
  table-layout: auto;
  border-collapse: collapse;
  thead tr th,
  thead tr td { padding: 0.5rem 0.625rem 0.625rem; font-size: 0.875rem; font-weight: bold; color: $base-font-color;}
  tr th, tr td { padding: 0.5625rem 0.625rem; font-size: 0.875rem; color: $base-font-color; text-align: left; }
  thead tr th, tbody tr th, tbody tr td, tr td { display: table-cell; line-height: 1.125rem; }
}
a {
  cursor: pointer;
  color: $color-primary;
  text-decoration: none;
  @include transition(color 0.15s ease, background-color 0.15s ease);
  &:hover, &:focus {
    @include transition(color 0.15s ease, background-color 0.15s ease);
    color: $color-primary-alt;
    text-decoration: underline;
  }
}
a.ng-show, a.ng-hide, input.ng-hide, input.ng-show { @include transition(none !important); }
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
label {
  font-family: $base-font-sans;
  font-size: 0.875rem;
  color: $base-font-color;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}
datalist { z-index: 10001; }
*:focus { outline: 0; }
input:-webkit-autofill { -webkit-box-shadow:0 0 0 500px white inset; }
hr { margin: 1rem 0; border: none; height: 1px; color: $border-color; background-color: $border-color; }
code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  background-color: $code-block-bg-color;
  padding: 1rem 1rem 1.5rem;
  margin-bottom: 0.5rem;
  display: block;
  font-size: 0.85rem;
  color: $code-block-text-color;
  line-height: 0.65rem;
  white-space: pre;
  word-break: normal;
  overflow-wrap: break-word;
  overflow-x: scroll;
  &.preview { padding: 0; display: inline-block; }
}

input[type], textarea {
  box-shadow: none;
  &.ng-invalid,
  &.ng-invalid-mismatch { border-color: red; }
  &.ng-untouched { border-color: $border-color; }
  &:focus { box-shadow: none; }
}
textarea { min-height: 6rem; }
select {
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 0;
  background-color: $input-background-color;
  background-position: right 0.25rem center;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAP1BMVEUAAAAAAABMTExVVVVPT09SUlJSUlJQUFBQUFBOTk5RUVFPT09QUFBRUVFRUVFRUVFQUFBRUVFRUVFRUVFRUVG88hzBAAAAFHRSTlMAAQoMEB8iIykqL2N8fYSTsdLe4uDLe30AAABOSURBVBjTY2CgDuBggdCMXMxgmltEiBXM5xMRZAIxBETAIkC+iAgHSIBNGCQC5vNA9LKDRPiBfF6YqSARZD5UhBfZZqAID6pbWDjJ9wcA8qMDufUl8j0AAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  border: 1px solid $border-color;
  padding: 0.5rem;
  font-size: 0.875rem;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: $input-font-color;
  line-height: normal;
  border-radius: 0;
  height: 2.3125rem;
  margin-top: 0.05rem;
}
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"],
input[type="number"], input[type="search"], input[type="tel"], input[type="time"],
input[type="url"], input[type="color"], select, textarea, .input-text {
  @include border-radius(0);
  @include transition(all 0.15s linear);
  -webkit-appearance: none;
  background-color: $input-background-color;
  font-family: inherit;
  border: 1px solid $border-color;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: $input-font-color;
  display: block;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height: 2.3125rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:disabled, &[disabled] { background-color: $secondary-font-color-light; }
}
input[type="checkbox"] { margin-bottom: 1rem; }
input[type="checkbox"] + label, input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.5rem;
  vertical-align: baseline;
}
