ul.pagination {
  display: inline-block;
  min-height: 1.3rem;
  li {
    line-height: 1.3rem;
    font-size: 0.875rem;
    margin-left: 0.3125rem;
    float: left;
    display: block;
    &.unavailable a:hover { background-color: transparent; }
    &.current a, &.current a:hover { color: $button-text-color; }
    &.arrow { font-family: 'Zapf Dingbats'; }
    a {
      @include transition(background-color 300ms ease-out);
      display: block;
      padding: 0.0325rem 0.325rem 0.0325rem;
      color: $secondary-font-color;
      background: none;
      border-radius: 3px;
      font-weight: normal;
      font-size: 1rem;
      line-height: inherit;
      &:hover { color: $secondary-font-color-dark; background-color: $secondary-font-color-light; }
    }
  }
  li.unavailable a { cursor: default; color: $secondary-font-color; }
  li.current a {
    background: $color-primary;
    &:hover, &:focus { background: $color-primary-alt; }
  }
  @include media($mobile) { margin-top: 1rem; }
}

.pagination-simple {
  float: right;
  margin-bottom: 1rem;
  span { color: $secondary-font-color; }
}
.pagination-slide {
  @include clearfix;
  height: 2.1875rem;
  margin-bottom: 1rem;
  .prev, .next {
    @include span-columns(3);
    button { display: inline-block; padding: 0.5rem; margin: 0; }
  }
  .next { @include omega; button { float: right; } }
  .page { @include span-columns(6); color: $secondary-font-color; text-align: center; line-height: 2.1875rem; }
}

.pagination-wrap {
  @include span-columns(12);
  @include omega;
  pagination { float: right; }

  @include media($mobile) {
    @include span-columns(8); @include omega;
    &, pagination { float: none; text-align: center; }
  }
}
