/*-- Layout Formatting --*/
.inline { display: inline; }
.inline-block { display: inline-block; }
.right { float: right; }
.left { float: left; }
.centered { text-align: center; }
.centered-text { text-align: center; }
.clear { @include clearfix; }
.show-mobile { display: none; @include media($mobile) { display: inline-block; } }
.hide-mobile { @include media($mobile) { display: none !important; } }
.padding-top { padding-top: 1rem; }


// Grid layout
$grid-2-column: 1fr $sidebarWidth;

@mixin grid-base-layout {
  display: grid;
  column-gap: 2rem;
  row-gap: 0;
}

@mixin grid-columns-base {
  grid-template-columns: minmax(0, 3fr) minmax($sidebarWidth, 1fr);
}

@mixin grid-columns {
  grid-template-columns: $grid-2-column;
}

/*-- Banner Message Layout --*/
.banner-container {
  @include row;
  .banner {
    @include span-columns(6);
    margin-bottom: 1rem;
    &:only-child { @include span-columns(12); }
    &.warning { @include label(warning, 0.8rem); }
    &.error { @include label(error, 0.8rem); }

    @include media($mobile) {
      @include span-columns(8);
      margin-bottom: 0.5rem;
      &:last-child { margin-bottom: 1rem; }
    }
  }
}

/*-- Shared Page Header Layout (Threads and Posts View) --*/
.page-header-split {
  // @include grid-base-layout();
  // @include grid-columns();

  h1 {
    color: $sub-header-font-color;
    display: inline;
    font-size: $font-size-xl;
    font-weight: 600;
    line-height: 1.2;
    text-transform: initial;
  }

  @include break-mobile-sm {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 1rem;

    // .thread-title {
    //   text-align: center;
    // }

    .user-controls {
      .user-controls-base {
        justify-content: space-evenly;
      }
    }
  }
}

/* -- Input Layout --*/
.input-section {
  position: relative;
  margin-bottom: 1rem;

  label {
    font-size: $font-size-tiny;
    color: $secondary-font-color;
    padding: 0.5rem;
    position: absolute;
    width: 100%;
  }

  input,
  textarea {
    border: $border;
    border-radius: 3px;
    box-shadow: none;
    font-size: $base-font-size;
    margin-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 1rem;

    &.icon-padding { 
      padding-right: 40px; 
    }

    &:hover {
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    }

    &:focus {
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    }
  }

  &.textarea {
    label {
      background-color: #fff;
      left: 1px;
      top: 1px;
      width: calc(100% - 4px);
    }

    textarea {
      height: 10rem;
    }
  }

  .input-validation-message {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    text-align: right;
  }

  .input-info {
    background: none;
    color: $secondary-font-color;
    padding: 0 0.5rem;
  }

  button, .button { margin-bottom: 0; }
  
  &:last-child {margin-bottom: 0px; }
  
  .input-error { margin-top: -1.5625rem; }
  
  .invalid { 
    color: $color-alert; 
    fill: $color-alert;
  }
  
  .valid { 
    color: $color-valid; 
    fill: $color-valid; 
  }
  
  .input-icon {
    cursor: text;
    font-size: 1.25rem;
    position: absolute;
    z-index: 99999;
    top: 1.5rem;
    right: 0.5rem;
    height: 1rem;
  }
}

.fieldgroup-double {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}


.login-view {
  max-width: 600px;
  width: calc(100vw - 2rem);
}

.login-form-actions {
    margin-top: 2rem;

    button {
      width: 100%
    }
  }

  .login-form-actions-sso-google {
    text-align: center;

    button {
      background: #fff;
      border: $border;
      color: rgba(0, 0, 0, 0.54);

      svg {
        margin-right: 1.5rem;
      }
    }

    .separator-text {
      color: $secondary-font-color;
      display: block;
      font-size: $font-size-sm;
      padding: 1rem 0;
    }
  }

  .login-form-dialog-secondary-actions {
    // border-top: $border;
    font-size: $font-size-sm;
    margin: 0 -1rem -1rem;
    padding: 1rem;
    text-align: center;
  }


.input-nine-three-col {
  @include omega(2n);
  div:first-child { @include span-columns(9); }
  div:last-child { @include span-columns(3); }
}
.input-two-col {
  @include omega(2n);
  div { @include span-columns(6); }
}
.input-three-col {
  @include omega(3n);
  div { @include span-columns(4); }

  @include media($mobile) {
    div { @include span-columns(8); @include omega; }
  }
}


.empty-message-container {
  color: $secondary-font-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 50vh;
}

.empty-message {
  color: $secondary-font-color;
  margin-bottom: 2rem;
}


/*-------------- Admin Panel - Global Components -------------- */

.button-container {
  @include clearfix;
  @include row;
  .half-button { @include span-columns(6); @include omega(2n); }
}

.user-search {
  @include span-columns(6); @include omega;

  @include media($mobile) { @include span-columns(8); @include omega; }
}

.mobile-buttons {
  & button { margin: 0; }

  @include media($mobile) {
    @include fill-parent;
    @include row;
    @include pad(1rem 0 0 0);
    button { @include span-columns(8); @include omega; margin: 0; margin-bottom: 1rem; }
    & button:last-child { margin-bottom: 0; }
  }
}
