table.underlined, table.report-details {
  border: none;
  margin-bottom: 1rem;
  thead {
    text-align: left;
    font-size: 0.875rem;
    background-color: transparent;
    tr { border-bottom: 1px solid $border-color; }
    th { color: $secondary-font-color; font-weight: 400; padding-bottom: 0.5rem; }
    th.left-icon-col { width: 1.5rem; }
    th.mod-actions { width: 5.25rem; }
    th.user-actions { width: 8rem; }
  }
  tr {
    border-bottom: 1px solid $border-color-alt;
    vertical-align: top;
    &.selectable-row { @include no-select; }
    &.selectable-row:hover { background-color: $sub-header-color; }
    &.active-row, &.active-row:nth-of-type(even) { background-color: $color-primary; }
    &.active-row.selectable-row:hover { background-color: $color-primary }
    &.active-row td { color: $button-text-color; }
    &.active-row td a, &.active-row td button { color: darken($color-primary-alt, 10%); }
    &.active-row td a:hover, &.active-row td button:not([disabled]):hover { color: $color-primary-alt; }
    &:nth-of-type(even) { background: transparent; }
    &:nth td { padding-top: 1.5rem; padding-bottom: 1.5rem; }
    &.active-row td.left-icon-col { color: $button-text-color; }
    td.left-icon-col { @include pad(0 0 0 0.5rem); color: $secondary-font-color; }
    td { padding-top: 0.5rem; padding-bottom: 0.5rem; vertical-align: middle; }
    td input { margin-bottom: 0; }
  }
}

table.striped {
  background: $base-background-color;
  margin-bottom: 1.25rem;
  border: solid 1px $border-color;
  table-layout: auto;
  thead {
    background: darken($sub-header-color, 4%);
    tr th, tr td {
      padding: 0.5rem 0.625rem 0.625rem;
      font-size: 0.875rem;
      font-weight: bold;
      color: $secondary-font-color;
    }
    tr th { color: lighten($base-font-color, 15%); }
  }
  tr th, tr td {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: $secondary-font-color-dark;
    text-align: left;
    &.centered-text { text-align: center; }
  }
  tr:nth-of-type(even), tbody:nth-of-type(even) { background: $sub-header-color; }
  tr { border: 0; }
  thead tr th, tbody tr th, tbody tr td, tr td { display: table-cell; line-height: 1.125rem; }
  &.rulesTable {
    table-layout: fixed;
    tr td:first-child { width: 25%; }
    tr td h6 { @include pad(1.5rem 0); text-align: center; }
    tr td:nth-child(2) { word-wrap: break-word; font-family: courier; }
  }
}
