<!-- Page Title -->
<div class="row" style="padding-top: 20px;">
  <!-- Recent Conversations -->
  <div class="small-3 columns" style="min-height: 600px;">
    <div style="border: 1px solid #ccc; border-bottom: 0;">
      <div id="recentMessagesHeader" style="font-weight: bold; border-bottom: 1px solid #ccc; background-color: #eee; height: 3rem;">
        <div class="small-9 columns" ng-click="MessagesCtrl.loadRecentMessages();" style="margin-top: 0.75rem; cursor: pointer;">Inbox</div>
        <div class="small-3 columns" ng-click="MessagesCtrl.showConvoModal = true" style="cursor: pointer; padding-top: 0.75rem; border-left: 1px solid #ccc; height: 100%; text-align: center;"> + </div>
      </div>
      <div ng-repeat="message in MessagesCtrl.recentMessages track by message.id" style="padding: 0.25rem; font-size: 0.8rem; border-bottom: 1px solid #ccc; white-space: nowrap; text-overflow: ellipsis; height: 3rem; cursor: pointer; overflow: hidden;" ng-click="MessagesCtrl.loadConversation(message.conversation_id)">
        To: <strong>{{ message.receiver_username }}</strong><br>
        <em>{{ message.body }}</em>
      </div>
      <div style="font-weight: bold; border-bottom: 1px solid #ccc; background-color: #eee; height: 3rem; text-align: center;">
        <button class="small-4 columns" ng-click="MessagesCtrl.loadRecentMessages(MessagesCtrl.page - 1)" ng-disabled="MessagesCtrl.page === 1" style="height: 100%;"><</button>
        <div class="small-4 columns" style="padding-top: 0.75rem;">{{ MessagesCtrl.page }}</div>
        <button class="small-4 columns" ng-click="MessagesCtrl.loadRecentMessages(MessagesCtrl.page + 1)" ng-disabled="MessagesCtrl.page === MessagesCtrl.pageMax" style="height: 100%;">></button>
      </div>
    </div>
  </div>

  <!-- Current Conversation -->
  <div class="small-9 columns" style="min-height: 600px;">
    <!-- load more message -->
    <button class="button expand" ng-if="MessagesCtrl.hasMoreMessages()" ng-click="MessagesCtrl.loadMoreMessages()">
      Load More Messages
    </button>

    <!-- Conversation Messages -->
    <div id="{{message.id}}" ng-repeat="message in MessagesCtrl.currentConversation.messages track by message.id" style="padding: 1rem; border: 1px solid #ccc; border-radius: 10px; margin-bottom: 1rem;">
      <strong>{{ message.sender_username}}</strong>
      <div ng-if="message.sender_id === MessagesCtrl.currentUserId" style="float: right;">
        <a href="#" class="css-tooltip" ng-click="MessagesCtrl.openDeleteModal(message.id)" data-css-tooltip="Delete">
          <i class="icon-epoch-unverified"></i>
        </a>
      </div>
      <br>
      <em style="font-size: smaller">{{ message.created_at | humanDate }}</em><br />
      <div post-processing="message.body" style-fix="true">{{ message.body }}</div>
    </div>
    <div ng-if="MessagesCtrl.currentConversation.messages.length < 1">
      <div style="margin: 50px auto; width: 200px;">
        No Conversation selected
      </div>
    </div>

    <!-- New Message -->
    <div ng-if="MessagesCtrl.currentConversation.messages.length > 0" style="width: 100%; border: 1px solid #ccc; padding: 1rem;">
      <!-- Messages Receiver -->
      <label>Receiver:
        <autocomplete-user-id user-id="MessagesCtrl.newMessage.receiver_id" username="MessagesCtrl.newMessage.receiver_username" ></autocomplete-user-id>
      </label>
      <!-- Message Body and Send button-->
      <label>Message:
        <textarea ng-model="MessagesCtrl.newMessage.body" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
         style="height: 5rem; margin: 0; resize: none;"></textarea>
        <div ng-show="MessagesCtrl.newMessage.preview" post-processing="MessagesCtrl.newMessage.previewBody" style="height: 5rem; margin:0; resize: none; background-color: #eee;"></div>
      </label>
      <button ng-click="MessagesCtrl.newMessage.preview = !MessagesCtrl.newMessage.preview">Toggle Preview</button>
      <button class="button expand" ng-click="MessagesCtrl.saveMessage()" ng-disabled="!MessagesCtrl.newMessage.body || !MessagesCtrl.newMessage.receiver_id">Send</button>
    </div>
  </div>
</div>


<!-- Create New Conversation Modal -->
<modal class="medium" show="MessagesCtrl.showConvoModal" on-close="MessagesCtrl.closeConvoModal()">
  <form name="$parent.form" class="css-form" novalidate>
    <!-- Select User -->
    <label>To:
      <autocomplete-user-id user-id="MessagesCtrl.newConversation.receiver_id" username="MessagesCtrl.newConversation.receiver_username" ></autocomplete-user-id>
    </label>

    <!-- Select copied users -->

    <!-- Message Body -->
    <label>Message:
      <textarea type="text" rows="10" ng-model="MessagesCtrl.newConversation.body"></textarea>
    </label>

    <!-- Save Button -->
    <div class="row">
      <button class="button expand" ng-click="MessagesCtrl.createConversation()" ng-disabled="!MessagesCtrl.newConversation.body || !MessagesCtrl.newConversation.receiver_id">
        Start Conversation
      </button>
    </div>
  </form>

  <a class="close-reveal-modal">&#215;</a>
</modal>

<!-- Delete Message Modal -->
<modal class="medium" show="MessagesCtrl.showDeleteModal" on-close="MessagesCtrl.closeDeleteModal()">
  <form name="$parent.form" class="css-form" novalidate>
    <center>
      <p>Are you sure you want to permanently delete this message?</p>
    </center>

    <!-- Save Button -->
    <div class="row">
      <button class="button expand" ng-click="MessagesCtrl.deleteMessage()">
        Delete Message
      </button>
    </div>
  </form>

  <a class="close-reveal-modal">&#215;</a>
</modal>
