<div class="polls" ng-if="poll">
  <!-- Poll Header -->
  <div class="poll-header">
    <!-- Poll Details -->
    <div class="poll-header-main">
      <!-- Poll Question -->
      <h1 class="poll-question" ng-bind="poll.question"></h1>
      <div class="poll-details">
        <span class="poll-info" ng-if="poll.display_mode === 'always'">Results Always Shown. </span>
        <span class="poll-info" ng-if="poll.display_mode === 'voted'">Results After Voting. </span>
        <span class="poll-info" ng-class="{'highlight':!poll.expired && !canVote() }" ng-if="poll.display_mode === 'expired'">Results After Expiration. </span>
        <span class="poll-info" ng-class="{'highlight':poll.expired}">
        {{ poll.expiration ? 'Exp: ' + (poll.expiration | date : 'short') : 'No Expiration. '}}</span>
      </div>
      <div class="poll-details">
        <span class="poll-info" ng-class="{'highlight':pollAnswers.length===poll.max_answers}">{{poll.max_answers + ' choice. ' + (poll.max_answers > 1 ? 's':'')}}</span>
        <span class="poll-info" ng-if="!poll.change_vote">Votes are Permanent. </span>
        <span class="poll-info" ng-if="poll.change_vote">Votes can be changed. </span>
      </div>
    </div>
    <div class="poll-controls">
      <!-- Poll Controls -->
      <div class="poll-control" ng-if="canLock()" data-balloon="Lock Poll">
        <input id="lockPoll" class="icon" type="checkbox" ng-model="poll.locked">
        <label for="lockPoll"  ng-click="updateLockPoll()" ng-include="'static/templates/layout/svg/lock.html'" >
        </label>
      </div>
      <div class="poll-control" ng-if="canEdit()" data-balloon="Edit Poll">
        <input id="editPoll" class="icon" type="checkbox" ng-model="switches.editPoll">
        <label for="editPoll" ng-include="'static/templates/layout/svg/edit-pencil.html'" >
        </label>
      </div>
    </div>
  </div>

  <!-- Poll Edit -->
  <div class="poll-edit" slide-toggle="switches.editPoll" initial-state="closed" ng-if="canEdit()">
    <div class="slide-wrapper">
      <div class="poll-edit-container column-container">
        <h5>Edit Poll Options:</h5>
        <input type="checkbox" id="pollVote" ng-model="options.change_vote">
        <label for="pollVote">Allow user to change vote</label>
        <label for="pollMaxVote">Poll expires at -- {{(options.expiration|humanDate) || 'No Expiration'}}</label>
        <div class="fill-row">
          <div class="half-column">
            <input type="date" ng-model="options.expiration_date" ng-change="calcExpiration()">
          </div>
          <div class="half-column">
            <input type="time" ng-model="options.expiration_time" ng-change="calcExpiration()">
          </div>
        </div>
        <div class="fill-row">
          <div class="half-column">
            <label for="pollMaxVote">Maximum answers per vote:</label>
            <input type="number" id="pollMaxVote" min="1" max="{{poll.answers.length}}" value="1" ng-model="options.max_answers">
          </div>
          <div class="half-column">
            <label>Show poll results: </label>
            <div class="fill-row thin-underline"></div>
            <label for="displayAlways">
              <input type="radio" id="displayAlways" ng-model="options.display_mode" value="always">
              Always shown
            </label>
            <label for="displayVoted">
              <input type="radio" id="displayVoted" ng-model="options.display_mode" value="voted">
              After voting
            </label>
            <label for="displayExpired">
              <input type="radio" id="displayExpired" ng-model="options.display_mode" value="expired" ng-disabled="!options.expiration">
              After expiration
            </label>
          </div>
        </div>
        <div class="fill-row">
          <div class="half-column">
            <button class="fill-row" ng-click="switches.editPoll = false">Cancel</button>
          </div>
          <div class="half-column">
            <button class="fill-row" ng-disabled="!pollValid()" ng-click="saveOptions()">Save Changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Poll Results -->
  <div class="poll-answer" ng-repeat="answer in poll.answers">
    <div ng-class="{ 'poll-answer-row':showPollResults(), 'selected-answer':answer.selected }">
      <label class="poll-select" ng-class="{ 'active':pollAnswers.indexOf(answer.id) > -1, 'default-cursor voted':!canVote() }">
        <span ng-if="answer.selected" ng-include="'static/templates/layout/svg/checkmark-circle.html'" class="selected-answer-icon"></span>
        <input ng-if="poll.max_answers === 1 && canVote()" ng-click="pollAnswers.pop(); toggleAnswer(answer.id);" name="pollanswer" type="radio">
        <input type="checkbox" ng-click="toggleAnswer(answer.id)" ng-disabled="pollAnswers.length >= poll.max_answers && pollAnswers.indexOf(answer.id) === -1" ng-checked="pollAnswers.indexOf(answer.id) > -1" ng-if="poll.max_answers > 1 && canVote()"/>
        <span ng-bind="answer.answer"></span>
      </label>
      <div ng-if="showPollResults()" class="poll-results">
        <div class="poll-results-data">
          <span class="poll-results-value"
            ng-bind="answer.percentage + '% '"></span>
          <span class="poll-results-label"
            ng-bind="'(' + answer.votes + (answer.votes > 1 || answer.votes === 0 ? ' votes)' : ' vote)')"></span>
        </div>
        <div class="poll-bar">
          <section ng-style="answer.style"></section>
        </div>
      </div>
    </div>
  </div>
  <button ng-click="vote()" ng-disabled="pollAnswers.length === 0" ng-if="canVote()">Vote</button>
  <button ng-if="canRemoveVote()" ng-click="removeVote()">Remove Vote</button>
  <div class="clear"></div>
</div>
