  <div id="sidebar" ng-cloak>
      <ul class="side-nav">
      <li><h6 class="thin-dotted-underline sidebar-category">General</h6></li>
      <li><a href="#">Getting Started</a></li>
      <li><a href="#">Post News</a></li>
      <li><a href="#">Forum Statistics</a></li>
      <li class="sidebar-spacer"></li>
      <li><h6 class="thin-dotted-underline sidebar-category">Manage</h6></li>
      <li><a href="#">Moderation Queue</a></li>
      <li><a href="/admin/categories">Boards and Categories</a></li>
      <li><a href="#">Moderators</a></li>
      <li><a href="#">Users</a></li>
      <li><a href="#">Groups and Permissions</a></li>
      <li><a href="#">Plugins</a></li>
      <li class="sidebar-spacer"></li>
      <li><h6 class="thin-dotted-underline sidebar-category">Settings</h6></li>
      <li><a href="#">General</a></li>
      <li><a href="#">Users</a></li>
      <li><a href="#">Messaging</a></li>
      <li><a href="#">Profiles</a></li>
      <li><a href="#">Appearance</a></li>
      <li class="sidebar-spacer"></li>
      <li><h6 class="thin-dotted-underline sidebar-category">Advanced</h6></li>
      <li><a href="#">Database</a></li>
      <li><a href="#">Logs</a></li>
    </ul>
  </div>
