<div class="admin-table-header">
  <div class="small-12 medium-6 columns">
    <autocomplete-username button-text="Add Administrator" button-action="AdminManagementCtrl.addAdministrator(user)" input-placeholder="Type the name of the user you wish to make an administrator"></autocomplete-username>
  </div>
  <div class="admin-table-fix"></div>
</div>
<div class="row full-width">
  <div class="small-12 columns">
    <table width="100%">
      <thead>
        <th class="pointer" ng-click="AdminManagementCtrl.setSortField('username')"><span ng-class="AdminManagementCtrl.getSortClass('username')"></span>&nbsp;Administrator Username</th>
        <th class="pointer" ng-click="AdminManagementCtrl.setSortField('roles')"><span ng-class="AdminManagementCtrl.getSortClass('roles')"></span>&nbsp;Super Administrator</th>
        <th>Administrator Since</th>
        <th>Last Active Date</th>
        <th width="175">Actions</th>
      </thead>
      <tbody>
        <tr ng-repeat="user in AdminManagementCtrl.admins track by user.username">
          <td><a href="/profiles/{{user.username}}" ng-bind="user.username"></a></td>
          <td>
            <div class="onoffswitch onoffswitch-left-align">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="super-admin-{{$index}}" ng-checked="AdminManagementCtrl.isSuperAdmin(user.roles)">
              <label class="onoffswitch-label" for="super-admin-{{$index}}">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </td>
          <td ng-bind="user.created_at | humanDate"></td>
          <!-- TODO: CHANGE THIS TO LAST LOGIN DATE -->
          <td ng-bind="user.created_at | humanDate"></td>
          <td>
            <a href="#">Remove Administrator</a>&nbsp;&nbsp;
          </td>
        </tr>
      </tbody>
    </table>
    <div class="right"><pagination page-count="AdminManagementCtrl.pageCount" page="AdminManagementCtrl.page" query-params="AdminManagementCtrl.queryParams"></pagination></div>
  </div>
</div>

