<div id="admin-subnav" class="fill-row">
  <h2>Management</h2>
  <dl class="tabs custom-tabs">
    <dd ng-if="AdminManagementCtrl.hasPermission('adminAccess.management.boards')" class="no-select" ng-class="{'active': AdminManagementCtrl.tab == 'boards'}">
      <a ui-sref=".boards" ng-click="AdminManagementCtrl.tab = 'boards'">Boards</a>
    </dd>
    <dd ng-if="AdminManagementCtrl.hasPermission('adminAccess.management.users')" class="no-select" ng-class="{'active': AdminManagementCtrl.tab == 'users'}">
      <a ui-sref=".users" ng-click="AdminManagementCtrl.tab = 'users'">Users</a>
    </dd>
    <dd ng-if="AdminManagementCtrl.hasPermission('adminAccess.management.roles')" class="no-select" ng-class="{'active': AdminManagementCtrl.tab == 'roles'}">
      <a ui-sref=".roles" ng-click="AdminManagementCtrl.tab = 'roles'">Roles</a>
    </dd>
  </dl>
</div>

<div ui-view="data" id="admin-data" class="fill-row"></div>
