<div class="admin-table-header">
  <div class="autocomplete-wrap">
    <autocomplete-username button-text="Add Moderator" button-action="AdminManagementCtrl.showConfirmAdd(user)" input-placeholder="Type the name of the user you wish to make a moderator"></autocomplete-username>
  </div>
  <div class="clear"></div>
</div>
<div class="fill-row centered-text" ng-if="AdminManagementCtrl.count < 1">
  <h4>No Moderators to display</h4>
</div>
<div class="fill-row" ng-if="AdminManagementCtrl.count > 0">
  <table width="100%">
    <thead>
      <th class="pointer" ng-click="AdminManagementCtrl.setSortField('username')"><span ng-class="AdminManagementCtrl.getSortClass('username')"></span>&nbsp;Moderator Username</th>
      <th class="pointer" ng-click="AdminManagementCtrl.setSortField('roles')"><span ng-class="AdminManagementCtrl.getSortClass('roles')"></span>&nbsp;Global Moderator</th>
      <th class="hide-mobile" width="45%">Boards</th>
      <th class="hide-mobile">Moderator Since</th>
      <th class="hide-mobile">Last Active Date</th>
      <th>Actions</th>
    </thead>
    <tbody ng-repeat="user in AdminManagementCtrl.moderators track by user.username">
      <tr>
        <td><a ui-sref="profile({ username: user.username })" ng-bind="user.username"></a></td>
        <td>
          <div class="switch-block" ng-init="globalMod = AdminManagementCtrl.isGlobalMod(user.roles)">
            <input class="toggle-switch" type="checkbox" id="global-mod-{{$index}}" ng-model="globalMod" ng-disabled="AdminManagementCtrl.user.id === user.user_id" ng-click="AdminManagementCtrl.toggleGlobalMod(user.user_id, globalMod)">
            <label for="global-mod-{{$index}}"></label>
          </div>
        </td>
        <td class="hide-mobile">
          <input ng-disabled="globalMod" type="text" class="no-margin" name="moderated-boards-{{$index}}" placeholder="{{ globalMod ? 'Disabled for Global Moderators' : 'Type a board name and hit enter to add' }}" />
        </td>
        <td class="hide-mobile" ng-bind="user.created_at | humanDate"></td>
        <!-- TODO: CHANGE THIS TO LAST LOGIN DATE -->
        <td class="hide-mobile"ng-bind="user.created_at | humanDate"></td>
        <td>
          <a ng-href="#" ng-if="AdminManagementCtrl.user.id !== user.user_id" ng-click="AdminManagementCtrl.showConfirmRemove(user)">Remove Moderator</a><span ng-if="AdminManagementCtrl.user.id === user.user_id">Remove Moderator</span>&nbsp;&nbsp;
        </td>
      </tr>
      <tr class="show-mobile">
        <td colspan="6">
          <input ng-disabled="globalMod" type="text" class="no-margin" name="moderated-boards-{{$index}}" placeholder="{{ globalMod ? 'Disabled for Global Moderators' : 'Type a board name and hit enter to add' }}" />
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination-wrap">
    <pagination page-count="AdminManagementCtrl.pageCount" page="AdminManagementCtrl.page" query-params="AdminManagementCtrl.queryParams"></pagination>
  </div>
</div>

<modal show="AdminManagementCtrl.showConfirmRemoveModal" on-close="AdminManagementCtrl.closeConfirmRemove()">
  <h3 class="thin-underline">Confirm Removal</h3>
  Are you sure you would like to remove <strong>{{AdminManagementCtrl.selectedUser.username}}</strong> from moderators?
  <br /><br />
  <div class="clear">
    <button class="fill-row" ng-click="AdminManagementCtrl.removeModerator()" ng-disabled="AdminManagementCtrl.roleRemoveSubmitted" ng-bind="AdminManagementCtrl.confirmRemoveBtnLabel"></button>
  </div>
</modal>

<modal show="AdminManagementCtrl.showConfirmAddModal" on-close="AdminManagementCtrl.closeConfirmAdd()">
  <form name="$parent.form" class="css-form">
    <h3 class="thin-underline">Confirm User Role</h3>
    <br />
    <label>User Information</label>
    <table class="striped" width="100%">
      <tr>
        <td>Username</td>
        <td ng-bind="AdminManagementCtrl.selectedUser.username"></td>
      </tr>
      <tr>
        <td>Email</td>
        <td ng-bind="AdminManagementCtrl.selectedUser.email"></td>
      </tr>
      <tr>
        <td>Register Date</td>
        <td ng-bind="AdminManagementCtrl.selectedUser.created_at | humanDate"></td>
      </tr>
    </table>
    <label>Select a role:</label>
    <input type="radio" name="roleMod" ng-model="AdminManagementCtrl.selectedRole" value="Moderator" id="roleMod" ng-disabled="AdminManagementCtrl.roleAddSubmitted" required><label for="roleMod">Moderator</label>
    <input type="radio" name="roleGlobal" ng-model="AdminManagementCtrl.selectedRole" value="Global Moderator" id="roleGlobal" ng-disabled="AdminManagementCtrl.roleAddSubmitted" required><label for="roleGlobal">Global Moderator</label>

    <div class="clear">
      <button class="fill-row" ng-click="AdminManagementCtrl.addModerator()"
        ng-disabled="$parent.form.$invalid || $parent.form.$errors || AdminManagementCtrl.roleAddSubmitted" ng-bind="AdminManagementCtrl.confirmAddBtnLabel"></button>
    </div>
  </form>
</modal>
