<div class="half-column">
  <br />
  <h3>Create and Edit Roles</h3><br />
  <div class="roles add-role">
    <div class="nested-input-container">
      <a ng-click="AdminManagementCtrl.showAddRole()" class="nested-btn">Add</a>
      <input class="nested-input" ng-model="AdminManagementCtrl.newRole" type="text" id="add-role" placeholder="Enter new role name" ng-keydown="$event.which === 13 && AdminManagementCtrl.addRole()" />
    </div>
  </div>
  <table sv-root sv-on-sort="AdminManagementCtrl.reprioritizeRoles()" sv-part="AdminManagementCtrl.roles" width="100%" class="admin-content-selectable">
    <thead>
      <th>Role Name</th>
      <th>Priority</th>
      <th>Description</th>
      <th>Actions</th>
    </thead>
    <tbody ng-repeat="role in AdminManagementCtrl.roles">
      <tr ng-class="{ 'active-row' : AdminManagementCtrl.selectedRole.name === role.name }" class="selectable-row pointer" ng-click="AdminManagementCtrl.selectRole(role)" sv-element>
        <td ng-bind-html="role.name"></td>
        <td ng-bind-html="role.priority"></td>
        <td ng-bind-html="role.description"></td>
        <td>
          <a ng-href="#">Edit Permissions</a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="right"><button ng-click="AdminManagementCtrl.resetPriority()">Reset Priority</button></div>
  <div class="right"><button ng-click="AdminManagementCtrl.savePriority()">Save Priority</button>&nbsp;&nbsp;&nbsp;</div>
</div>

<div class="half-column" ng-if="AdminManagementCtrl.selectedRole !== null && !AdminManagementCtrl.selectedRole.message">
  <br />
  <h3>{{AdminManagementCtrl.selectedRole.name}} ({{AdminManagementCtrl.userData.count}} users)</h3> <br />
  <div class="roles user-search">
    <div class="nested-input-container">
      <a ng-if="AdminManagementCtrl.search" ng-click="AdminManagementCtrl.clearSearch()" class="nested-clear-btn fa fa-times"></a>
      <a ng-click="AdminManagementCtrl.searchUsers()" class="nested-btn">Search</a>
      <input class="nested-input" ng-model="AdminManagementCtrl.searchStr" type="text" id="search-users" placeholder="Search users by username" ng-keydown="$event.which === 13 && AdminManagementCtrl.searchUsers()" ng-keyup="$event.which === 27 && AdminManagementCtrl.clearSearch()" />
    </div>
  </div>
  <table width="100%">
    <thead>
      <th>Username</th>
      <th>Email</th>
      <th>Actions</th>
    </thead>
    <tbody ng-repeat="user in AdminManagementCtrl.userData.users">
      <tr>
        <td ng-bind-html="user.username"></td>
        <td ng-bind-html="user.email"></td>
        <td>
          <a ng-href="#">Remove</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a ng-href="#">All Permissions</a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination-wrap">
    <pagination page-count="AdminManagementCtrl.pageCount" page="AdminManagementCtrl.page" query-params="AdminManagementCtrl.queryParams"></pagination>
  </div>
</div>

<div class="half-column" ng-if="AdminManagementCtrl.selectedRole !== null && AdminManagementCtrl.selectedRole.message">
  <br />
  <h3>{{AdminManagementCtrl.selectedRole.name}}</h3> <br />
  <h5>{{AdminManagementCtrl.selectedRole.message}}</h5>
</div>

<modal class="medium" show="AdminManagementCtrl.showAddRoleModal" on-close="AdminManagementCtrl.closeAddRole()">
  <h3 class="thin-underline">Set Role Permissions</h3>
  <div class="permissions-modal">
    <div class="left-column">
      <ul>
        <li><a ng-click="AdminManagementCtrl.selectedTab = 'user'" ng-class="{'active' : AdminManagementCtrl.selectedTab === 'user'}" ng-href="#">User</a></li>
        <li><a ng-click="AdminManagementCtrl.selectedTab = 'settings'" ng-class="{'active' : AdminManagementCtrl.selectedTab === 'settings'}" ng-href="#">Settings</a></li>
        <li><a ng-click="AdminManagementCtrl.selectedTab = 'reports'" ng-class="{'active' : AdminManagementCtrl.selectedTab === 'reports'}" ng-href="#">Reports</a></li>
        <li><a ng-click="AdminManagementCtrl.selectedTab = 'categories'" ng-class="{'active' : AdminManagementCtrl.selectedTab === 'categories'}" ng-href="#">Categories</a></li>
        <li><a ng-click="AdminManagementCtrl.selectedTab = 'boards'" ng-class="{'active' : AdminManagementCtrl.selectedTab === 'boards'}" ng-href="#">Boards</a></li>
        <li><a ng-click="AdminManagementCtrl.selectedTab = 'threads'" ng-class="{'active' : AdminManagementCtrl.selectedTab === 'threads'}" ng-href="#">Threads</a></li>
        <li><a ng-click="AdminManagementCtrl.selectedTab = 'posts'" ng-class="{'active' : AdminManagementCtrl.selectedTab === 'posts'}" ng-href="#">Posts</a></li>
      </ul>
    </div>
    <div class="right-column">
      <h4>Standard Permissions</h4><br /><br /><br /><br /><br />
      <h4>Elevated Permissions</h4>
    </div>
  </div>
  <div class="clear">
    <button class="fill-row">Save and Exit</button>
  </div>
</modal>
