<div class="category" ng-repeat="cat in BoardsCtrl.categorizedBoards">
  <!-- Category Title -->
  <div id="{{BoardsCtrl.generateCatId(cat.name, cat.view_order)}}" class="title">
    <div ng-click="cat.show = !cat.show" class="collapse-section">
      <a ng-class="{ 'fa-chevron-right' : cat.show, 'fa-chevron-down': !cat.show }"
      class="fa collapse-btn no-select"></a>
      <h4 ng-bind-html="::cat.name"></h4>
    </div>
    <div class="thin-underline"></div>
  </div>

  <!-- Boards in Category -->
  <div slide-toggle="cat.show" ng-init="cat.show = true">
    <div class="board" ng-repeat="board in cat.boards track by board.id">
      <!-- Board Info -->
      <div class="info">
        <!-- Board Name -->
        <h5>
          <a ui-sref="board.data({ boardId: board.id })" class="board-name" ng-bind-html="board.name"></a>
        </h5>
        <!-- Moderators -->
        <div ng-if="board.moderators.length > 0">
          <strong>Moderators: </strong>
          <a ui-sref="profile({ username: mod.username })" ng-repeat="mod in board.moderators" ng-bind="::mod.username + ($last ? '' : ', ')"></a>
        </div>
        <!-- Board Description -->
        <div class="description" ng-bind-html="::board.description"></div>

        <!-- Child Boards -->
        <div class="childboards" ng-if="board.children.length > 0">
          <strong>Child Boards:</strong>
          <span ng-repeat="child in board.children">
            <a ui-sref="board.data({ boardId: child.id })" class="board-name" ng-bind-html="::child.name"></a>{{$last ? '' : ', '}}
          </span>
        </div>
      </div>

      <!-- Board Posts and Threads -->
      <div class="view-count">
        <div>
          <strong ng-bind="::board.total_post_count | number:0"></strong> posts
        </div>
        <div>
          <strong ng-bind="::board.total_thread_count | number:0"></strong> threads
        </div>
      </div>

      <!-- Board Last Post By -->
      <div class="last-post">
        <div ng-if="board.last_post_username">
          Last post by
          <a ui-sref="profile({ username: board.last_post_username })" ng-bind-html="::board.last_post_username"></a>
        </div>
        <div ng-if="board.last_thread_title">
          in thread
          <a ui-sref="posts.data({ threadId: board.last_thread_id, start: board.last_post_position })" ng-bind-html="::board.last_thread_title | decode | truncate:25" title="{{board.last_thread_title | decode}}"></a>
        </div>
        <div ng-if="board.last_post_created_at">
          <i ng-bind="::board.last_post_created_at | humanDate"></i>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Threads -->
<!-- Thread listing headers -->
<div class="board-data" ng-if="BoardsCtrl.recentThreads">
  <div>
    <div class="title">
      <h4>Recently updated threads</h4>
      <div class="thin-underline"></div>
    </div>
  </div>
  <div class="threads-header">
    <div class="mobile-header">
      <h5>Threads</h5>
    </div>
    <div class="subject">
      <h5>Subject</h5>
    </div>
    <div class="replies">
      <h5>Replies</h5>
    </div>
    <div class="views">
      <h5>Views</h5>
    </div>
    <div class="last-reply">
      <h5>Last Post</h5>
    </div>
  </div>
  <div class="thin-underline"></div>
  <!-- Thread listing -->
  <div class="threads-data" ng-repeat="thread in BoardsCtrl.recentThreads track by thread.id">
    <div class="subject">
      <div class="title">
        <a ng-class="thread.title_class" class="thread-title" ui-sref="posts.data({ threadId: thread.id })" ng-bind-html="thread.title"></a>
        <i class="icon-epoch-lock right" ng-if="thread.locked"></i>
      </div>

      <div class="started-by">
        Started by <a ui-sref="profile({ username: thread.user.username })" ng-bind-html="thread.user.username"></a>
        <em ng-bind="'(' + (thread.created_at | humanDate) + ')'"></em>
      </div>

      <div class="mobile-stats">
        <strong class="mobile-replies" ng-bind="thread.post_count - 1 | number:0"></strong>
        <span> Replies and </span>
        <strong class="mobile-views" ng-bind="thread.view_count | number:0"></strong>
        <span> Views</span>
        <br />
        <span>Last post by </span>
        <a ui-sref="profile({ username: thread.last_post_username })" ng-bind-html="thread.last_post_username"></a>
        <em ng-bind="' (' + (thread.last_post_created_at | humanDate) + ')'"></em>
      </div>

      <div class="pages" ng-if="thread.page_count > 1">
        <span ng-repeat="pageKey in thread.page_keys">
          <a ng-if="pageKey.threadId !== null" ui-sref="posts.data({ threadId: pageKey.threadId, page: pageKey.val })" ng-bind-html="pageKey.val"></a>
          <span ng-if="pageKey.threadId === null" ng-bind-html="pageKey.val"></span>
        </span>
      </div>
    </div>

    <div class="replies" ng-bind="thread.post_count - 1 | number:0"></div>

    <div class="views" ng-bind="thread.view_count | number:0"></div>

    <div class="last-reply">
      <a ui-sref="posts.data({ threadId: thread.id, start: thread.last_post_position, '#': thread.last_post_id })">Last post</a>
      by <a ui-sref="profile({ username: thread.last_post_username })" ng-bind-html="thread.last_post_username"></a>
      <div ng-bind="thread.last_post_created_at | humanDate"></div>
      <div ng-if="thread.has_new_post">
        <a ui-sref="posts.data({ threadId: thread.id, start: thread.latest_unread_position, '#': thread.latest_unread_post_id })">Last unread post</a>
      </div>
    </div>
  </div>
</div>
