<!-- New Thread and Title -->
<div class="padded-row">
  <h4 class="fill-row">New Thread</h4>
</div>

<!-- Auth error message -->
<div class="banner-container">
  <div class="banner error" ng-if="!NewThreadCtrl.loggedIn()">
    You need to be logged in to make a new thread
  </div>
</div>

<!-- Title -->
<div class="padded-row" ng-if="NewThreadCtrl.loggedIn()">
  <div class="fill-row">
    <label for="title">Title:</label>
    <input type="text" class="input-text thread-title" name="title" placeholder="Title" ng-model="NewThreadCtrl.thread.title" maxlength="255" required autofocus/>
  </div>
</div>

<!-- Editor -->
<div class="padded-row" ng-if="NewThreadCtrl.loggedIn()">
  <div class="fill-row thread-editor-container">
    <form name="form" class="editor-form new-thread" novalidate>
      <epochtalk-editor class="posts-editor" body-html="NewThreadCtrl.thread.body_html" body="NewThreadCtrl.thread.body" reset-switch="NewThreadCtrl.resetEditor" exit-switch="NewThreadCtrl.exitEditor" dirty="NewThreadCtrl.dirtyEditor"></epochtalk-editor>
    </form>
  </div>
</div>

<!-- Thread Options -->
<div class="padded-row" ng-if="NewThreadCtrl.hasOptions()">
  <div class="fill-row">
    <label>Options:</label>
    <div class="option" ng-if="NewThreadCtrl.canLock()">
      <input type="checkbox" id="lockThread" ng-model="NewThreadCtrl.thread.locked" ng-disabled="!NewThreadCtrl.loggedIn()">
      <label for="lockThread">Lock Thread</label>
    </div>

    <div class="option" ng-if="NewThreadCtrl.canSticky()">
      <input type="checkbox" id="stickyThread" ng-model="NewThreadCtrl.thread.sticky" ng-disabled="!NewThreadCtrl.loggedIn()">
      <label for="stickyThread">Sticky Thread</label>
    </div>

    <div class="option" ng-if="NewThreadCtrl.canModerate()">
      <input type="checkbox" id="moderateThread" ng-model="NewThreadCtrl.thread.moderated" ng-disabled="!NewThreadCtrl.loggedIn()">
      <label for="moderateThread">Moderate Thread</label>
    </div>

    <div class="option" ng-if="NewThreadCtrl.canCreatePoll()">
      <input type="checkbox" id="threadPoll" ng-model="NewThreadCtrl.addPoll" ng-disabled="!NewThreadCtrl.loggedIn()">
      <label for="threadPoll">Add a Poll</label>
    </div>
  </div>
</div>

<poll-creator poll="NewThreadCtrl.poll" valid="NewThreadCtrl.pollValid" ng-if="NewThreadCtrl.addPoll"></poll-creator>

<!-- Submit Button -->
<div class="padded-row" ng-if="NewThreadCtrl.loggedIn()">
  <button class="fill-row" ng-click="NewThreadCtrl.save()" ng-disabled="!NewThreadCtrl.loggedIn() || NewThreadCtrl.thread.title.length === 0 || !NewThreadCtrl.canSave() || (NewThreadCtrl.addPoll && !NewThreadCtrl.pollValid)">
    Submit
  </button>
</div>
