.ng-modal.ng-hide { opacity: 1; }
.ng-modal { @include transition(opacity 0.2s linear); opacity: 1; }
.ng-modal-overlay {
  background: rgba(0, 0, 0, 0.45);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
.ng-modal.ng-hide .ng-modal-dialog { @include transition(all 0.2s); @include transform(scale(1.2)); opacity: 0; }

.ng-modal .ng-modal-dialog { 
  @include transition(all 0.2s); 
  @include transform(scale(1)); 
  opacity: 1; 
}

.ng-modal-dialog {
  border-radius: 8px;
  left: 0;
  right: 0;
  top: 10vh;
  margin: 0 auto;
  padding: 1rem;
  position: fixed;
  z-index: 10000;
  background-color: $base-background-color;
  box-shadow: 4px 4px 80px #000;
  overflow-y: auto;
  max-height: 80vh;
  max-width: 600px;
  width: 50vw;

  .modal-dialog-main {
    padding: 2rem;

    @include media($mobile) {
      padding: 1rem 0 2rem;
    }
  }

  .view-title {
    border-bottom: $border;
    color: $secondary-font-color;
    font-size: $font-size-sm;
    font-weight: normal;
    margin: -1rem -1rem 0;
    padding-left: 1rem;
    text-transform: uppercase;

    @include media($mobile) {
      padding-left: 1rem;
    }
  }

  p { 
    margin-bottom: 1rem; 
  }

  .modal-actions {
    margin-top: 2rem;

    button {
      width: 100%
    }
  }

  .modal-actions-sso-google {
    text-align: center;

    button {
      background: #fff;
      border: $border;
      color: rgba(0, 0, 0, 0.54);

      svg {
        margin-right: 1.5rem;
      }
    }

    .separator-text {
      color: $secondary-font-color;
      display: block;
      font-size: $font-size-sm;
      padding: 1rem 0;
    }
  }

  .modal-dialog-secondary-actions {
    border-top: $border;
    margin: 0 -1rem -1rem;
    padding: 1rem;
    text-align: center;
  }

  button, 
  .button, 
  .clear button, 
  button.fill-row { 
    margin-bottom: 0; 
  }

  .wildcard {
    input { @include span-columns(3); text-align: center;}
    input:last-child { @include omega;}
  }

  @include media($desktop-small) {  }
  @include media($mobile) { top: 5vh; max-height: 90vh; width: 90vw; }
}
.ng-modal.overflow .ng-modal-dialog { overflow: visible; }
.ng-modal.medium .ng-modal-dialog {
  @include span-columns(7, block-collapse);
  @include media($desktop-small) { @include span-columns(9, block-collapse); }
  @include media($mobile) { @include span-columns(7, block-collapse); top: 5vh; max-height: 90vh; }
}
.ng-modal.image-modal .ng-modal-dialog { top: 10vh; max-height: 80vh; overflow: auto; }

.ng-modal-dialog-content { 
  padding: 0; 
  text-align: left; 
}

.ng-modal-close {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  color: $secondary-font-color-light;
  cursor: pointer;
}
.ng-modal-dialog-content input[type="radio"] { margin-bottom: 1rem; }
