<div class="editor-header">
  <div class="medium-6 columns editor-column-left">
    <label>Input:</label>
  </div>
  <div class="medium-6 columns editor-column-right">
    <label>Preview:</label>
  </div>
</div>

<div class="editor-body">
  <div class="medium-6 columns editor-column-left">
    <div class="editor-input" contenteditable="true" scroll-lock tabindex="1"></div>
  </div>
  <div class="medium-6 columns editor-column-right">
    <div class="editor-preview" scroll-lock post-processing="body" style-fix="false"></div>
  </div>
</div>

<div class="editor-footer">
  <div class="medium-6 columns editor-images-container">
    <div class="editor-images">
      <image-uploader purpose="editor"  on-done="insertImageUrl(data)"></image-uploader>
    </div>
  </div>
</div>
