<div class="editor-header">
  <div class="medium-6 columns editor-column-left">
    <label>Input:</label>
  </div>
  <div class="medium-6 columns editor-column-right">
    <label>Preview:</label>
  </div>
</div>

<div class="editor-body row">
  <div class="medium-6 columns editor-column-left">
    <div class="editor-input" contenteditable="true" tabindex="1"></div>
  </div>
  <div class="medium-6 columns editor-column-right">
    <div class="editor-preview"></div>
  </div>
</div>

<div class="editor-footer">
  To upload a image, either drag and drop them into this area 
  or just <a ng-href="#" ng-click="openImagePicker()">click here</a>
  <input type="file" accept="image/*" multiple style="display: none;">
  <div class="imageProgressContainer" ng-repeat="image in images">
    <i class="icon-epoch-add" ng-click="insertImageUrl(image.url)" ng-if="image.url"></i>
    <span ng-bind=image.status></span> (<span ng-bind="image.progress"></span>): 
    <a ng-href="{{image.url}}" target="_blank" ng-if="image.url">
      <span ng-bind="image.name"></span>
    </a>
    <span ng-bind="image.name" ng-if="!image.url"></span>
  </div>
</div>
