<div class="board-controls">
  <div class="board-title">
    <h1 ng-bind-html="ThreadsWrapperCtrl.board.name"></h1>
    <div class="moderators" ng-if="ThreadsWrapperCtrl.board.moderators.length > 0">
      <span class="label">Moderators: </span>
      <a ui-sref="profile.posts({ username: mod.username })" ng-repeat="mod in ThreadsWrapperCtrl.board.moderators"
        ng-bind="mod.username + ($last ? '' : ', ')"></a>
    </div>
  </div>
  <pagination page-count="ThreadsWrapperCtrl.pageCount" page="ThreadsWrapperCtrl.page"></pagination>
</div>

<div class="board-data" ui-view="data"></div>
<div class="board-sidebar">
  <div class="board-actions" ng-if="ThreadsWrapperCtrl.loggedIn()">
    <a ng-if="ThreadsWrapperCtrl.canCreate()" class="button outline" ng-href="" ng-click="ThreadsWrapperCtrl.loadEditor()">
      <i class="icon-epoch-add"></i>Start a New Thread
    </a>
    <a class="button outline" ng-click="ThreadsWrapperCtrl.watchBoard()" ng-if="!ThreadsWrapperCtrl.board.watched">
      <i class="icon-epoch-watch"></i>Watch This Board
    </a>
    <a class="button outline" ng-click="ThreadsWrapperCtrl.showSetModerators = true"
      ng-if="ThreadsWrapperCtrl.canSetModerator()">
      <i class="icon-epoch-watch"></i>Set Moderators
    </a>
  </div>
</div>

<div class="board-footer">
  <pagination page-count="ThreadsWrapperCtrl.pageCount" page="ThreadsWrapperCtrl.page"></pagination>
</div>

<set-moderators board="ThreadsWrapperCtrl.board" show="ThreadsWrapperCtrl.showSetModerators"></set-moderators>

<div ng-if="ThreadsWrapperCtrl.canCreate() && ThreadsWrapperCtrl.showEditor">
  <epochtalk-editor class="posts-editor"
    body-html="ThreadsWrapperCtrl.posting.post.body_html"
    body="ThreadsWrapperCtrl.posting.post.body"
    posting="ThreadsWrapperCtrl.posting"
    reset-switch="ThreadsWrapperCtrl.resetEditor"
    focus-switch="ThreadsWrapperCtrl.focusEditor"
    dirty="ThreadsWrapperCtrl.dirtyEditor"
    thread="ThreadsWrapperCtrl.thread"
    thread-editor-mode="true"
    create-action="ThreadsWrapperCtrl.saveThread"
    can-create="ThreadsWrapperCtrl.canCreate"
    show-switch="ThreadsWrapperCtrl.showEditor">
  </epochtalk-editor>
</div>
