<div class="board-controls-wrap">
  <div class="page-header-split">
    <div>
      <h4 ng-bind-html="ThreadsWrapperCtrl.board.name"></h4>
    </div>
    <div>
      <pagination page-count="ThreadsWrapperCtrl.pageCount" page="ThreadsWrapperCtrl.page"></pagination>
    </div>
    <div class="moderators" ng-if="ThreadsWrapperCtrl.board.moderators.length > 0">
      <span class="label">Moderators: </span>
      <a ui-sref="profile.posts({ username: mod.username })" ng-repeat="mod in ThreadsWrapperCtrl.board.moderators" ng-bind="mod.username + ($last ? '' : ', ')"></a>
    </div>
  </div>

  <div class="fill-row" ng-if="ThreadsWrapperCtrl.loggedIn()">
    <a ng-if="ThreadsWrapperCtrl.canCreate()" class="inverted-button" ui-sref="newThread({boardId: ThreadsWrapperCtrl.board.id})">
      <i class="icon-epoch-add"></i>Start a New Thread
    </a>
    <a class="inverted-button" ng-click="ThreadsWrapperCtrl.watchBoard()" ng-if="!ThreadsWrapperCtrl.board.watched">
      <i class="icon-epoch-watch"></i>Watch This Board
    </a>
    <a class="inverted-button" ng-click="ThreadsWrapperCtrl.showSetModerators = true" ng-if="ThreadsWrapperCtrl.canSetModerator()">
      <i class="icon-epoch-watch"></i>Set Moderators
    </a>
  </div>

  <div class="clear"></div>
</div>

<div class="board-data" ui-view="data"></div>

<div class="fill-row">
  <pagination page-count="ThreadsWrapperCtrl.pageCount" page="ThreadsWrapperCtrl.page"></pagination>
</div>

<set-moderators board="ThreadsWrapperCtrl.board" show="ThreadsWrapperCtrl.showSetModerators"></set-moderators>
