<!-- Child Boards -->
<!-- <div class="child-boards" ng-if="ThreadsCtrl.board.children.length > 0 && ThreadsCtrl.page === 1">
  <h1>Child Boards</h1>
  <div class="board" ng-repeat="childBoard in ThreadsCtrl.board.children"> -->

    <!-- Child Board's Name, Description, Child Boards -->
    <!-- <div class="info">
      <h2>
        <a ui-sref="threads.data({ boardId: childBoard.id })" class="board-name" ng-bind-html="childBoard.name"></a>
      </h2>

      <div class="description" ng-bind-html="childBoard.description"></div>

      <div class="children" ng-if="childBoard.children.length > 0">
        <span class="label">Child Boards:</span>
        <span ng-repeat="child in childBoard.children">
          <a ui-sref="threads.data({ boardId: child.id })" ng-bind-html="child.name"></a>{{$last ? '' : ', '}}
        </span>
      </div>
    </div> -->

    <!-- Child Board Posts and Threads -->
    <!-- <div class="info-secondary">
      <div class="view-count">
        <p class="view-count-posts">
          <span class="view-count-number" ng-bind="(childBoard.total_post_count | number:0) || 0"></span><span class="label">posts,</span>
        </p>
        <p class="view-count-threads">
          <span class="view-count-number" ng-bind="(childBoard.total_thread_count | number:0) || 0"></span><span class="label">threads</span>
        </p>
        
      </div>
      <div class="last-post">
        <div ng-if="childBoard.last_thread_id">
          <span ng-if="!childBoard.last_post_username">deleted</span>
          <img ng-if="childBoard.last_post_username" class="avatar-small"
            ng-src="{{childBoard.last_post_avatar || $webConfigs.default_avatar}}" />
          <a ng-if="childBoard.last_post_username" ui-sref="profile.posts({ username: childBoard.last_post_username })"
            ng-bind="childBoard.last_post_username"></a>
          <span ng-if="childBoard.last_thread_id">
            posted in
            <a ui-sref="posts.data({ threadId: childBoard.last_thread_id, start: childBoard.last_post_position })"
              ng-bind-html="childBoard.last_thread_title | decode | truncate:25"
              title="{{childBoard.last_thread_title | decode}}"></a> on  
          </span>
          <span ng-if="childBoard.last_thread_id">
            <span ng-bind="childBoard.last_post_created_at | humanDate"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Child Boards -->
<!-- @ruesato here -->

<table class="child-boards" ng-if="ThreadsCtrl.board.children.length > 0 && ThreadsCtrl.page === 1">
  <caption>Child Boards</caption>
  <tbody>
    <tr ng-repeat="childBoard in ThreadsCtrl.board.children">
      <td class="board-name">
        <a ui-sref="threads.data({ boardId: childBoard.id })" class="board-name" ng-bind-html="childBoard.name"></a>
        <div class="description" ng-bind-html="childBoard.description"></div>
        
        <div class="children" ng-if="childBoard.children.length > 0">
          <span class="label">Child Boards:</span>
          <span ng-repeat="child in childBoard.children">
            <a ui-sref="threads.data({ boardId: child.id })" ng-bind-html="child.name"></a>{{$last ? '' : ', '}}
          </span>
        </div>
      </td>
      <td class="views">
          <span class="views-number" ng-bind="(childBoard.total_post_count | number:0) || 0"></span>
          <span class="label"> posts,</span>
          <span class="views-number" ng-bind="(childBoard.total_thread_count | number:0) || 0"></span>
          <span class="label"> threads</span>
      </td>
        
      <td class="last-post">
        <div ng-if="childBoard.last_thread_id">
          <span ng-if="!childBoard.last_post_username">deleted</span>
          <img ng-if="childBoard.last_post_username" class="avatar-small"
            ng-src="{{childBoard.last_post_avatar || $webConfigs.default_avatar}}" />
          <a ng-if="childBoard.last_post_username" ui-sref="profile.posts({ username: childBoard.last_post_username })"
            ng-bind="childBoard.last_post_username"></a>
          <span ng-if="childBoard.last_thread_id">
            posted in
            <a ui-sref="posts.data({ threadId: childBoard.last_thread_id, start: childBoard.last_post_position })"
              ng-bind-html="childBoard.last_thread_title | decode | truncate:25"
              title="{{childBoard.last_thread_title | decode}}"></a> on
          </span>
          <span ng-if="childBoard.last_thread_id">
            <span ng-bind="childBoard.last_post_created_at | humanDate"></span>
          </span>
        </div>
      </td>
    </tr>
  </tbody>
</table>


<!-- Threads (table) -->
<table class="threads-list">
  <caption>Threads</caption>
  <thead>
    <tr>
      <th class="subject">Threads</th>
      <th class="replies">Replies</th>
      <th class="views">Views</th>
      <th class="last-post">Last Post</th>
    </tr>
  </thead>
  <tbody>
    <!-- Sticky Threads -->
    <tr class="threads-data sticky" ng-repeat="thread in ThreadsCtrl.stickyThreads track by thread.id">
      <td class="subject">
        <div class="title">
          <a ng-class="{bold: thread.has_new_post}" class="thread-title" ui-sref="posts.data({ threadId: thread.id })"
            ng-bind-html="thread.title"></a>
          <i class="icon-epoch-lock right" ng-if="thread.locked"></i>
          <i class="icon-epoch-verified right" ng-if="thread.sticky"></i>
          <i class="fa fa-bar-chart icon-fix right" ng-if="thread.poll"></i>
        </div>
        
        <div class="started-by">
          Started by
          <span ng-if="thread.user.deleted">deleted</span>
          <a ng-if="!thread.user.deleted" ui-sref="profile.posts({ username: thread.user.username })"
            ng-bind-html="thread.user.username"></a>
          <span ng-bind="'on ' + (thread.created_at | humanDate)"></span>
        </div>
      </td>
      <td class="replies" ng-bind="(thread.post_count - 1 | number:0) || 0"></td>
      <td class="views" ng-bind="(thread.view_count | number:0) || 0"></td>
      <td class="last-post">
        <span ng-if="thread.last_deleted">deleted</span>
        <img ng-if="!thread.last_deleted" class="avatar-small"
          ng-src="{{thread.last_post_avatar || $webConfigs.default_avatar}}" />
        <a ng-if="!thread.last_deleted" ui-sref="profile.posts({ username: thread.last_post_username })"
          ng-bind="thread.last_post_username"></a> posted on
        <a ui-sref="posts.data({ threadId: thread.id, start: thread.last_post_position, '#': thread.last_post_id })"><span ng-bind="thread.last_post_created_at | humanDate"></span></a>
        <div ng-if="thread.has_new_post">
          <a
            ui-sref="posts.data({ threadId: thread.id, start: thread.latest_unread_position, '#': thread.latest_unread_post_id })">Last
            unread post</a>
        </div>
      </td>
    </tr>

    <!-- Threads -->
    <tr class="threads-data" ng-repeat="thread in ThreadsCtrl.threads track by thread.id">
      <td class="subject">
        <div class="title">
          <a ng-class="{bold: thread.has_new_post}" class="thread-title" ui-sref="posts.data({ threadId: thread.id })"
            ng-bind-html="thread.title"></a>
          <i class="icon-epoch-lock right" ng-if="thread.locked"></i>
          <i class="fa fa-bar-chart icon-fix right" ng-if="thread.poll"></i>
        </div>
        
        <div class="started-by">
          Started by
          <span ng-if="thread.user.deleted">deleted</span>
          <a ng-if="!thread.user.deleted" ui-sref="profile.posts({ username: thread.user.username })"
            ng-bind-html="thread.user.username"></a>
          <span ng-bind="'on ' + (thread.created_at | humanDate)"></span>
        </div>
      </td>
      <td class="replies" ng-bind="(thread.post_count - 1 | number:0) || 0"></td>
      <td class="views" ng-bind="(thread.view_count | number:0) || 0"></td>
      <td class="last-post">
        <span ng-if="thread.last_deleted">deleted</span>
        <img ng-if="!thread.last_deleted" class="avatar-small"
          ng-src="{{thread.last_post_avatar || $webConfigs.default_avatar}}" />
        <a ng-if="!thread.last_deleted" ui-sref="profile.posts({ username: thread.last_post_username })"
          ng-bind="thread.last_post_username"></a> posted on 
        <a ui-sref="posts.data({ threadId: thread.id, start: thread.last_post_position, '#': thread.last_post_id })"><span ng-bind="thread.last_post_created_at | humanDate"></span></a>
        <div ng-if="thread.has_new_post">
          <a
            ui-sref="posts.data({ threadId: thread.id, start: thread.latest_unread_position, '#': thread.latest_unread_post_id })">Last
            unread post</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
