/*-------------- Admin Panel - Settings Layout -------------- */
.settings.half-column {
  .section-header-top-spacing { padding-top: 2.1875rem; clear: both; }
  &.section-header-top-spacing { padding-top: 0; }
  .desc, .switch-desc { @include span-columns(9); }
  .button { @include span-columns(3); @include omega; font-size: 0.875rem; padding: 0.625rem; }
  .switch-block { @include span-columns(3); @include omega; padding-top: 0.25rem; }
  .switch-block {
    input[type="number"] {
      text-align: right;
      width: 5rem;
      float: right;
    }
  }
  .setting-row { @include clearfix; padding-bottom: 1rem; }
  .img-wrap {
    @include omega(3n);
    @include clearfix;
    padding-bottom: 1rem;
    .img-server-wrap { @include span-columns(8); }
    .radio-button { @include span-columns(2); }
  }
  .input-block { @include span-columns(3); @include omega; margin-bottom: 0; }
  .swatch-input {
    @include span-columns(3); @include omega;
    position: relative;
    input { margin-bottom: 0; }
    div { position: absolute; top: 0.2rem; right: 0.2rem; height: 1.925rem; width: 1rem; border: 1px solid $border-color; }
  }
  .postfix-input {
    @include span-columns(3); @include omega;
    position: relative;
    input { margin-bottom: 0; }
    div {
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      background-color: $sub-header-color;
      padding: 0.5rem;
      font-size: 0.875rem;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      color: $secondary-font-color-dark;
    }
  }
  a.header-link {
    font-size: 0.875rem;
    &.show-mobile { display: none; }
  }
}

@include media($mobile) {
  .settings.half-column {
    &.section-header-top-spacing { padding-top: 2.1875rem; }
    .desc, .button, .input-block, .swatch-input, .postfix-input { @include span-columns(8); @include omega; }
    .img-wrap .img-server-wrap { @include span-columns(8); @include omega; }
    .img-wrap .radio-button { @include span-columns(4); padding-top: 0.5rem; }
    a.header-link {
      &.show-mobile { display: inline-block; }
      &.hide-mobile { display: none; }
    }
  }
}
