<div class="row">
  <!-- Left Sidebar -->
  <div class="large-3 columns word-wrap">
    <!-- User's Avatar -->
    <div class="profile-avatar-container">
      <img ng-src="{{ProfileCtrl.displayAvatar}}" />
      <a href="#" class="after" ng-if="ProfileCtrl.editable()" ng-click="ProfileCtrl.editAvatar = true">
        <div>Change Avatar</div>
      </a>
    </div>

    <!-- Edit Profile Controls -->
    <div class="profile-edit-container" ng-if="ProfileCtrl.editable()">
      Edit:
      <a href="#" ng-click="ProfileCtrl.editProfile = true">Profile</a>
      |
      <a href="#" ng-click="ProfileCtrl.editPassword = true">Password </a>
    </div>

    <!-- User Information -->
    <h4 ng-bind="::ProfileCtrl.displayUsername"></h4>
    <div><span ng-bind="::ProfileCtrl.user.name"></span></div>
    <div><span ng-bind="::ProfileCtrl.user.position"></span></div>
    <div><span ng-bind="::ProfileCtrl.user.status"></span></div>
    <div ng-if="ProfileCtrl.displayPostsUrl"><a ui-sref="users-posts({ username: ProfileCtrl.user.username })" ui-sref-opts="{ reload: true }">View Posts</a></div>
    <hr ng-if="ProfileCtrl.displayEmail || ProfileCtrl.user.btcAddress || ProfileCtrl.user.website">
    <div><span ng-bind="::ProfileCtrl.displayEmail"></span></div>
    <div><span ng-bind="::ProfileCtrl.user.btcAddress"></span></div>
    <div><a ng-href="{{ProfileCtrl.user.website}}">{{::ProfileCtrl.user.website}}</a></div>
    <hr>
    <div><span ng-bind="::ProfileCtrl.user.gender"></span></div>
    <div><span ng-bind="::ProfileCtrl.userAge"></span></div>
    <div><span ng-bind="::ProfileCtrl.user.location"></span></div>
    <div><span ng-bind="::ProfileCtrl.user.language"></span></div>
    <div><span ng-bind="::ProfileCtrl.userLocalTime"></span></div>
  </div>

  <!-- Right Side Content -->
  <div class="large-9 columns word-wrap">

    <div class="profile-boxes">
      <div class="row">
        <div class="large-4 columns profile-stats">
          Account Created On:<br>
          <span class="profile-stat" ng-bind="ProfileCtrl.user.created_at | date:'mediumDate'"></span>
        </div>
        <div class="large-4 columns profile-stats">
          Number of Posts:<br>
          <span class="profile-stat" ng-bind="ProfileCtrl.user.post_count + ' Posts'"></span>
        </div>
        <div class="large-4 columns profile-stats">
          Account Last Used:<br>
          <span class="profile-stat" ng-bind="ProfileCtrl.user.updated_at | date:'mediumDate'"></span>
        </div>
      </div>
    </div>

    <div class="profile-boxes">
      <div class="row">
        <div class="large-12 columns"><strong>Posts over time:</strong></div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <canvas id="myChart" height="300" width="700"></canvas>
        </div>
      </div>
    </div>

    <div class="profile-boxes">
      <div class="row">
        <div class="large-12 columns">
          <strong>Signature:</strong>
          <a ng-href="#" ng-click="ProfileCtrl.editSignature = true" ng-if="ProfileCtrl.editable()">
            <i class="icon-epoch-edit-pencil"></i>
          </a>
        </div>
      </div>
      <div class="post-signature" post-processing="ProfileCtrl.user.signature" style-fix="true"></div>
    </div>
  </div>
</div>

<br /><br />

<div ui-view="posts"></div>

<!-- Change Password Modal -->
<modal class="tiny" show="ProfileCtrl.editPassword" on-close="ProfileCtrl.clearPasswordFields()">
  <form name="$parent.form" class="css-form" novalidate>
    <h3 class="thin-dotted-underline">Change Password</h3>

    <!-- Old Password -->
    <div class='input-section'>
      <label>&nbsp;
        <!-- input error -->
        <div ng-if="$parent.form.oldPass.$touched && $parent.form.oldPass.$error.required" class="invalid right">
          Old password is required
        </div>
        <!-- old password input -->
        <input type="password" name="oldPass" placeholder="Old Password" ng-model="ProfileCtrl.passData.old_password" auto-focus="$parent.focus" required>
        <i ng-if="$parent.form.oldPass.$touched && !$parent.form.oldPass.$error.required" class="fa fa-check input-icon valid"></i>
        <i ng-if="$parent.form.oldPass.$touched && $parent.form.oldPass.$error.required" class="fa fa-times input-icon invalid"></i>
      </label>
    </div>

    <!-- New Password -->
    <div class='input-section'>
      <label>
        <div ng-if="$parent.form.pass.$touched && $parent.form.pass.$error.required" class="input-error invalid right">
          New password is required
        </div>
        <div ng-if="$parent.form.pass.$touched && $parent.form.passConf.$touched && ProfileCtrl.passData.password !== ProfileCtrl.passData.confirmation && !$parent.form.pass.$error.required" class="input-error invalid right">
          Password and confirmation do not match
        </div>
        <input type="password" name="pass" placeholder="New Password" ng-model="ProfileCtrl.passData.password" ng-class="{'ng-invalid-mismatch' : ProfileCtrl.passData.password !== ProfileCtrl.passData.confirmation }" required>
        <i ng-if="($parent.form.pass.$touched && !$parent.form.passConf.$touched && !$parent.form.pass.$error.required) || ($parent.form.pass.$touched && $parent.form.passConf.$touched && ProfileCtrl.passData.password === ProfileCtrl.passData.confirmation && !$parent.form.pass.$error.required)" class="fa fa-check input-icon valid"></i>
        <i ng-if="($parent.form.pass.$touched && $parent.form.pass.$error.required) || ($parent.form.pass.$touched && $parent.form.passConf.$touched && ProfileCtrl.passData.password !== ProfileCtrl.passData.confirmation)" class="fa fa-times input-icon invalid"></i>
      </label>
    </div>

    <!-- Confirm Password -->
    <div class='input-section'>
      <label>
        <div ng-if="$parent.form.passConf.$touched && $parent.form.passConf.$error.required" class="input-error invalid right">
          Password confirmation is required
        </div>
        <div ng-if="$parent.form.passConf.$touched && $parent.form.passConf.$touched && ProfileCtrl.passData.password !== ProfileCtrl.passData.confirmation && !$parent.form.passConf.$error.required" class="input-error invalid right">
          Password and confirmation do not match
        </div>
        <input type="password" name="passConf" placeholder="Confirm New Password" ng-model="ProfileCtrl.passData.confirmation" ng-class="{'ng-invalid-mismatch' : ProfileCtrl.passData.password !== ProfileCtrl.passData.confirmation }" required>
        <i ng-if="($parent.form.passConf.$touched  && ProfileCtrl.passData.confirmation !== '' && !$parent.form.pass.$touched && !$parent.form.passConf.$error.required) || ($parent.form.pass.$touched && $parent.form.passConf.$touched && ProfileCtrl.passData.password === ProfileCtrl.passData.confirmation && !$parent.form.passConf.$error.required)" class="fa fa-check input-icon valid"></i>
        <i ng-if="($parent.form.passConf.$touched && $parent.form.passConf.$error.required) || ($parent.form.pass.$touched && $parent.form.passConf.$touched && ProfileCtrl.passData.password !== ProfileCtrl.passData.confirmation)" class="fa fa-times input-icon invalid"></i>
      </label>
    </div>

    <!-- Submit Button -->
    <div class="form-action">
      <button class="button no-margin" ng-click="ProfileCtrl.savePassword()"
        ng-disabled="$parent.form.$invalid || $parent.form.$errors || ProfileCtrl.passData.password !== ProfileCtrl.passData.confirmation">
        Confirm
      </button>
    </div>
  </form>

  <a class="close-reveal-modal">&#215;</a>
</modal>

<!-- Edit Profile Modal -->
<modal class="medium" show="ProfileCtrl.editProfile">
  <form name="$parent.form" class="css-form" novalidate>
    <!-- Profile Fields -->
    <div class="row">
      <div class="medium-6 columns">
        <label>Username
          <div ng-if="ProfileCtrl.user.username.length === 0" class="right">
            Username will not be changed
          </div>
          <div ng-if="$parent.form.username.$error.unique" class="invalid right">
            Username already taken
          </div>
          <input type="text" name="username" ng-model="ProfileCtrl.user.username" unique-username="{{ProfileCtrl.displayUsername}}" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" auto-focus="$parent.focus"/>
        </label>

        <label>Name
          <input type="text" placeholder="Name" ng-model="ProfileCtrl.user.name">
        </label>

        <label>Email
          <div ng-if="$parent.form.email.$error.email" class="invalid right">
            Email is not valid
          </div>
          <div ng-if="ProfileCtrl.user.email.length === 0" class="right">
            Email will not be changed
          </div>
          <div ng-if="$parent.form.email.$error.unique" class="invalid right">
            Email already taken
          </div>
          <input type="email" name="email" ng-model="ProfileCtrl.user.email" unique-email="{{ProfileCtrl.displayEmail}}" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" />
        </label>

        <label>Website
          <input type="text" placeholder="Website" ng-model="ProfileCtrl.user.website">
        </label>

        <label>Bitcoin Address
          <input type="text" placeholder="Bitcoin Address" ng-model="ProfileCtrl.user.btcAddress">
        </label>
      </div>

      <div class="medium-6 columns">
        <label>Gender
          <input type="text" placeholder="Gender" ng-model="ProfileCtrl.user.gender">
        </label>

        <label>Date of Birth
          <input type="text" placeholder="Date of Birth" ng-model="ProfileCtrl.user.dob">
        </label>

        <label>Location
          <input type="text" placeholder="Location" ng-model="ProfileCtrl.user.location">
        </label>

        <label>Language
          <input type="text" placeholder="Language" ng-model="ProfileCtrl.user.language">
        </label>
      </div>
    </div>

    <!-- Save Button -->
    <div class="row profile-save-container">
      <button class="button expand" ng-click="ProfileCtrl.saveProfile()" ng-disabled="$parent.form.$invalid || $parent.form.$errors">
        Save
      </button>
    </div>
  </form>

  <a class="close-reveal-modal">&#215;</a>
</modal>

<!-- Change Avatar Modal -->
<modal class="small" show="ProfileCtrl.editAvatar">
  <form name="$parent.form" class="css-form" novalidate>
    <label>Avatar address
      <input type="text" name="avatar" ng-model="ProfileCtrl.user.avatar" auto-focus="$parent.focus" required />
    </label>

    <image-uploader model="ProfileCtrl.user.avatar" purpose="avatar"></image-uploader>
    <br /><br />

    <!-- Save Button -->
    <div class="row">
      <button class="button expand" ng-click="ProfileCtrl.saveAvatar()" ng-disabled="$parent.form.$invalid || $parent.form.$errors">
        Save
      </button>
    </div>
  </form>

  <a class="close-reveal-modal">&#215;</a>
</modal>

<!-- Change Signature Modal -->
<modal class="medium" show="ProfileCtrl.editSignature">
  <form name="$parent.form" class="css-form" novalidate>
    <label>Signature
      <textarea type="text" rows="10" placeholder="Signature" ng-model="ProfileCtrl.user.raw_signature" auto-focus="$parent.focus" ></textarea>
    </label>

    <!-- Save Button -->
    <div class="row">
      <button class="button expand" ng-click="ProfileCtrl.saveSignature()" ng-disabled="$parent.form.$invalid || $parent.form.errors">
        Save
      </button>
    </div>
  </form>

  <a class="close-reveal-modal">&#215;</a>
</modal>
