<div class="row">
  <div class="small-12 columns">
    <div class="alert-box radius" ng-class="profiles.pageStatus.type" ng-if="profiles.pageStatus.status">
      {{profiles.pageStatus.message}}
      <a ng-click="profiles.pageStatus = {}" class="close">&times;</a>
    </div>
  </div>
</div>

<div class="row">
  <!-- Left Sidebar -->
  <div class="large-3 columns word-wrap">
    <!-- User's Avatar -->
    <div class="profile-avatar-container">
      <img ng-src="{{profiles.displayAvatar}}" />
      <a href="#" class="after" ng-if="profiles.user.editable" ng-click="profiles.editAvatar = true">
        <div>Change Avatar</div>
      </a>
    </div>

    <!-- Edit Profile Controls -->
    <div class="profile-edit-container" ng-if="profiles.user.editable">
      Edit:
      <a href="#" ng-click="profiles.editMode = true">Profile</a>
      |
      <a href="#" ng-click="profiles.openChangePassModal()">Password </a>
    </div>

    <!-- User Information -->
    <h4 ng-bind="profiles.displayUsername"></h4>
    <div><span ng-bind="profiles.user.name"></span></div>
    <div><span ng-bind="profiles.user.position"></span></div>
    <div><span ng-bind="profiles.user.status"></span></div>
    <hr ng-if="profiles.user.email || profiles.user.btcAddress || profiles.user.website">
    <div><span ng-bind="profiles.user.email"></span></div>
    <div><span ng-bind="profiles.user.btcAddress"></span></div>
    <div><a ng-href="{{profiles.user.website}}">{{profiles.user.website}}</a></div>
    <hr>
    <div><span ng-bind="profiles.user.gender"></span></div>
    <div><span ng-bind="profiles.userAge"></span></div>
    <div><span ng-bind="profiles.user.location"></span></div>
    <div><span ng-bind="profiles.user.language"></span></div>
    <div><span ng-bind="profiles.userLocalTime"></span></div>
  </div>

  <!-- Right Side Content -->
  <div class="large-9 columns word-wrap">

    <div class="profile-boxes">
      <div class="row">
        <div class="large-4 columns profile-stats">
          Account Created On:<br>
          <span class="profile-stat" ng-bind="profiles.user.created_at | date:'mediumDate'"></span>
        </div>
        <div class="large-4 columns profile-stats">
          Number of Posts:<br>
          <span class="profile-stat" ng-bind="profiles.user.post_count + ' Posts'"></span>
        </div>
        <div class="large-4 columns profile-stats">
          Account Last Used:<br>
          <span class="profile-stat" ng-bind="profiles.user.updated_at | date:'mediumDate'"></span>
        </div>
      </div>
    </div>

    <div class="profile-boxes">
      <div class="row">
        <div class="large-12 columns"><strong>Posts over time:</strong></div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <canvas id="myChart" height="300" width="700"></canvas>
        </div>
      </div>
    </div>

    <div class="profile-boxes">
      <div class="row">
        <div class="large-12 columns">
          <strong>Signature:</strong>
          <a ng-href="#" ng-click="profiles.editSignature = true" ng-if="profiles.user.editable">
            <i class="icon-epoch-edit-pencil"></i>
          </a>
        </div>
      </div>
      <div class="post-signature" post-processing="profiles.user.signature" style-fix="true"></div>
    </div>
  </div>
</div>

<!-- Change Password Modal -->
<modal class="tiny" show="profiles.showChangePass" on-close="profiles.clearChangePassFields">
  <form name="changePass" class="css-form" novalidate>
    <h3 class="thin-dotted-underline">Change Password</h3>
    <!-- Modal Error Message -->
    <div class="error-container">
      <div ng-if="profiles.changePassStatus.status" ng-bind="profiles.changePassStatus.message" ng-class="profiles.changePassStatus.type"></div>
    </div>

    <!-- Old Password -->
    <div class='input-section'>
      <label>&nbsp;
        <!-- input error -->
        <div ng-if="changePass.oldPass.$touched && changePass.oldPass.$error.required" class="invalid right">
          Old password is required
        </div>
        <!-- old password input -->
        <input ng-if="profiles.changePassModalVisible" type="password" name="oldPass" placeholder="Old Password" ng-model="profiles.passData.oldPass" ng-if="profiles.changePassModalVisible" auto-focus required>
        <i ng-if="changePass.oldPass.$touched && !changePass.oldPass.$error.required" class="fa fa-check input-icon valid"></i>
        <i ng-if="changePass.oldPass.$touched && changePass.oldPass.$error.required" class="fa fa-times input-icon invalid"></i>
      </label>
    </div>

    <!-- New Password -->
    <div class='input-section'>
      <label>
        <div ng-if="changePass.pass.$touched && changePass.pass.$error.required" class="input-error invalid right">
          New password is required
        </div>
        <div ng-if="changePass.pass.$touched && changePass.passConf.$touched && profiles.passData.password !== profiles.passData.confirmation && !changePass.pass.$error.required" class="input-error invalid right">
          Password and confirmation do not match
        </div>
        <input ng-if="profiles.changePassModalVisible" type="password" name="pass" placeholder="New Password" ng-model="profiles.passData.password" ng-class="{'ng-invalid-mismatch' : profiles.passData.password !== profiles.passData.confirmation }" required>
        <i ng-if="(changePass.pass.$touched && !changePass.passConf.$touched && !changePass.pass.$error.required) || (changePass.pass.$touched && changePass.passConf.$touched && profiles.passData.password === profiles.passData.confirmation && !changePass.pass.$error.required)" class="fa fa-check input-icon valid"></i>
        <i ng-if="(changePass.pass.$touched && changePass.pass.$error.required) || (changePass.pass.$touched && changePass.passConf.$touched && profiles.passData.password !== profiles.passData.confirmation)" class="fa fa-times input-icon invalid"></i>
      </label>
    </div>

    <!-- Confirm Password -->
    <div class='input-section'>
      <label>
        <div ng-if="changePass.passConf.$touched && changePass.passConf.$error.required" class="input-error invalid right">
          Password confirmation is required
        </div>
        <div ng-if="changePass.passConf.$touched && changePass.passConf.$touched && profiles.passData.password !== profiles.passData.confirmation && !changePass.passConf.$error.required" class="input-error invalid right">
          Password and confirmation do not match
        </div>
        <input ng-if="profiles.changePassModalVisible" type="password" name="passConf" placeholder="Confirm New Password" ng-model="profiles.passData.confirmation" ng-class="{'ng-invalid-mismatch' : profiles.passData.password !== profiles.passData.confirmation }" required>
        <i ng-if="(changePass.passConf.$touched  && profiles.passData.confirmation !== '' && !changePass.pass.$touched && !changePass.passConf.$error.required) || (changePass.pass.$touched && changePass.passConf.$touched && profiles.passData.password === profiles.passData.confirmation && !changePass.passConf.$error.required)" class="fa fa-check input-icon valid"></i>
        <i ng-if="(changePass.passConf.$touched && changePass.passConf.$error.required) || (changePass.pass.$touched && changePass.passConf.$touched && profiles.passData.password !== profiles.passData.confirmation)" class="fa fa-times input-icon invalid"></i>
      </label>
    </div>

    <div class="form-action">
      <button class="button no-margin" ng-click="profiles.changePassword()"
        ng-disabled="changePass.$invalid || profiles.passData.password !== profiles.passData.confirmation">
        Confirm
      </button>
    </div>
  </form>
  <a class="close-reveal-modal">&#215;</a>
</modal>

<!-- Edit Profile Modal -->
<modal class="medium" show="profiles.editMode">
  <form name="form" class="css-form" novalidate>
    <div class="row">

      <div class="medium-6 columns">
        <label>Username
          <input type="text" name="username" required ng-model="profiles.user.username" unique-username="{{profiles.displayUsername}}" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"/>
          <small class="label error" ng-if="form.username.$error.unique">
            Username Already Taken
          </small>
          <small class="label error" ng-if="form.username.$error.required">
            Username Required
          </small>
          <small class="label success" ng-if="profiles.displayUsername !== profiles.user.username && !form.username.$error.unique && !form.username.$error.required">
            Username Available
          </small>
        </label>

        <label>Name
          <input type="text" placeholder="Name" ng-model="profiles.user.name">
        </label>

        <label>Email
          <input type="email" name="email" required ng-model="profiles.user.email" unique-email="{{profiles.displayEmail}}" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" />
          <small class="label error" ng-if="form.email.$error.email">
            Email is not valid
          </small>
          <small class="label error" ng-if="form.email.$error.unique">
            Email Already Taken
          </small>
          <small class="label error" ng-if="!form.email.$error.email && form.email.$error.required">
            Email Required
          </small>
          <small class="label success" ng-if="profiles.displayEmail !== profiles.user.email && !form.email.$error.email && !form.email.$error.required && !form.email.$error.unique">
            Email Available
          </small>
        </label>

        <label>Website
          <input type="text" placeholder="Website" ng-model="profiles.user.website">
        </label>

        <label>Bitcoin Address
          <input type="text" placeholder="Bitcoin Address" ng-model="profiles.user.btcAddress">
        </label>
      </div>

      <div class="medium-6 columns">
        <label>Gender
          <input type="text" placeholder="Gender" ng-model="profiles.user.gender">
        </label>

        <label>Date of Birth
          <input type="text" placeholder="Date of Birth" ng-model="profiles.user.dob">
        </label>

        <label>Location
          <input type="text" placeholder="Location" ng-model="profiles.user.location">
        </label>

        <label>Language
          <input type="text" placeholder="Language" ng-model="profiles.user.language">
        </label>
      </div>
    </div>
  </form>

  <!-- Cancel/Save Buttons -->
  <div class="row profile-save-container">
    <div class="small-6 columns">
      <button class="button expand alert" ng-click="profiles.editMode = false">
        Close
      </button>
    </div>
    <div class="small-6 columns">
      <button class="button expand" ng-click="profiles.saveProfile()" ng-disabled="form.$invalid">
        Save
      </button>
    </div>
  </div>

  <div class="row" ng-if="profiles.error.status">
    <div class="small-12 columns">
      <div class="alert-box alert radius" ng-bind="profiles.error.message"></div>
    </div>
  </div>

  <a class="close-reveal-modal">&#215;</a>
</modal>

<!-- Change Avatar Modal -->
<modal class="small" show="profiles.editAvatar">
  <form name="form" class="css-form" novalidate>
    <label>Avatar address
      <input type="text" name="avatar" ng-model="profiles.user.avatar" />
    </label>
  </form>

  <image-uploader model="profiles.user.avatar" purpose="avatar"></image-uploader>
  <br /><br />

  <!-- Cancel/Save Buttons -->
  <div class="row">
    <div class="small-6 columns">
      <button class="button expand alert" ng-click="profiles.editAvatar = false">
        Close
      </button>
    </div>
    <div class="small-6 columns">
      <button class="button expand" ng-click="profiles.saveAvatar()" ng-disabled="form.$invalid">
        Save
      </button>
    </div>
  </div>

  <div class="row" ng-if="profiles.error.status">
    <div class="small-12 columns">
      <div class="alert-box alert radius" ng-bind="profiles.error.message"></div>
    </div>
  </div>

  <a class="close-reveal-modal">&#215;</a>
</modal>

<!-- Change Signature Modal -->
<modal class="medium" show="profiles.editSignature">
  <form name="form" class="css-form" novalidate>
    <label>Signature
      <textarea type="text" rows="10" placeholder="Signature" ng-model="profiles.user.raw_signature"></textarea>
    </label>
  </form>

  <!-- Cancel/Save Buttons -->
  <div class="row">
    <div class="small-6 columns">
      <button class="button expand alert" ng-click="profiles.editSignature = false">
        Close
      </button>
    </div>
    <div class="small-6 columns">
      <button class="button expand" ng-click="profiles.saveSignature()" ng-disabled="form.$invalid">
        Save
      </button>
    </div>
  </div>

  <div class="row" ng-if="profiles.error.status">
    <div class="small-12 columns">
      <div class="alert-box alert radius" ng-bind="profiles.error.message"></div>
    </div>
  </div>

  <a class="close-reveal-modal">&#215;</a>
</modal>
