<div class="row">
  <div class="small-12 columns">
    <div class="alert-box radius" ng-class="profiles.pageStatus.type" ng-if="profiles.pageStatus.status">
      {{profiles.pageStatus.message}}
      <a ng-click="profiles.pageStatus = {}" class="close">&times;</a>
    </div>
  </div>
</div>

<div class="row">
  <!-- Left Sidebar -->
  <div class="large-3 columns word-wrap">
    <!-- User's Avatar -->
    <div class="profile-avatar-container">
      <img ng-src="{{profiles.displayAvatar}}" />
      <a href="#" class="after" ng-if="profiles.editable()" ng-click="profiles.editAvatar = true">
        <div>Change Avatar</div>
      </a>
    </div>

    <!-- Edit Profile Controls -->
    <div class="profile-edit-container" ng-if="profiles.editable()">
      Edit:
      <a href="#" ng-click="profiles.editProfile = true">Profile</a>
      |
      <a href="#" ng-click="profiles.editPassword = true">Password </a>
    </div>

    <!-- User Information -->
    <h4 ng-bind="profiles.displayUsername"></h4>
    <div><span ng-bind="profiles.user.name"></span></div>
    <div><span ng-bind="profiles.user.position"></span></div>
    <div><span ng-bind="profiles.user.status"></span></div>
    <hr ng-if="profiles.displayEmail || profiles.user.btcAddress || profiles.user.website">
    <div><span ng-bind="profiles.displayEmail"></span></div>
    <div><span ng-bind="profiles.user.btcAddress"></span></div>
    <div><a ng-href="{{profiles.user.website}}">{{profiles.user.website}}</a></div>
    <hr>
    <div><span ng-bind="profiles.user.gender"></span></div>
    <div><span ng-bind="profiles.userAge"></span></div>
    <div><span ng-bind="profiles.user.location"></span></div>
    <div><span ng-bind="profiles.user.language"></span></div>
    <div><span ng-bind="profiles.userLocalTime"></span></div>
  </div>

  <!-- Right Side Content -->
  <div class="large-9 columns word-wrap">

    <div class="profile-boxes">
      <div class="row">
        <div class="large-4 columns profile-stats">
          Account Created On:<br>
          <span class="profile-stat" ng-bind="profiles.user.created_at | date:'mediumDate'"></span>
        </div>
        <div class="large-4 columns profile-stats">
          Number of Posts:<br>
          <span class="profile-stat" ng-bind="profiles.user.post_count + ' Posts'"></span>
        </div>
        <div class="large-4 columns profile-stats">
          Account Last Used:<br>
          <span class="profile-stat" ng-bind="profiles.user.updated_at | date:'mediumDate'"></span>
        </div>
      </div>
    </div>

    <div class="profile-boxes">
      <div class="row">
        <div class="large-12 columns"><strong>Posts over time:</strong></div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <canvas id="myChart" height="300" width="700"></canvas>
        </div>
      </div>
    </div>

    <div class="profile-boxes">
      <div class="row">
        <div class="large-12 columns">
          <strong>Signature:</strong>
          <a ng-href="#" ng-click="profiles.editSignature = true" ng-if="profiles.editable()">
            <i class="icon-epoch-edit-pencil"></i>
          </a>
        </div>
      </div>
      <div class="post-signature" post-processing="profiles.user.signature" style-fix="true"></div>
    </div>
  </div>
</div>

<!-- Change Password Modal -->
<modal class="tiny" show="profiles.editPassword" on-close="profiles.clearPasswordFields()">
  <form name="$parent.form" class="css-form" novalidate>
    <h3 class="thin-dotted-underline">Change Password</h3>

    <!-- Old Password -->
    <div class='input-section'>
      <label>&nbsp;
        <!-- input error -->
        <div ng-if="$parent.form.oldPass.$touched && $parent.form.oldPass.$error.required" class="invalid right">
          Old password is required
        </div>
        <!-- old password input -->
        <input type="password" name="oldPass" placeholder="Old Password" ng-model="profiles.passData.old_password" auto-focus="$parent.focus" required>
        <i ng-if="$parent.form.oldPass.$touched && !$parent.form.oldPass.$error.required" class="fa fa-check input-icon valid"></i>
        <i ng-if="$parent.form.oldPass.$touched && $parent.form.oldPass.$error.required" class="fa fa-times input-icon invalid"></i>
      </label>
    </div>

    <!-- New Password -->
    <div class='input-section'>
      <label>
        <div ng-if="$parent.form.pass.$touched && $parent.form.pass.$error.required" class="input-error invalid right">
          New password is required
        </div>
        <div ng-if="$parent.form.pass.$touched && $parent.form.passConf.$touched && profiles.passData.password !== profiles.passData.confirmation && !$parent.form.pass.$error.required" class="input-error invalid right">
          Password and confirmation do not match
        </div>
        <input type="password" name="pass" placeholder="New Password" ng-model="profiles.passData.password" ng-class="{'ng-invalid-mismatch' : profiles.passData.password !== profiles.passData.confirmation }" required>
        <i ng-if="($parent.form.pass.$touched && !$parent.form.passConf.$touched && !$parent.form.pass.$error.required) || ($parent.form.pass.$touched && $parent.form.passConf.$touched && profiles.passData.password === profiles.passData.confirmation && !$parent.form.pass.$error.required)" class="fa fa-check input-icon valid"></i>
        <i ng-if="($parent.form.pass.$touched && $parent.form.pass.$error.required) || ($parent.form.pass.$touched && $parent.form.passConf.$touched && profiles.passData.password !== profiles.passData.confirmation)" class="fa fa-times input-icon invalid"></i>
      </label>
    </div>

    <!-- Confirm Password -->
    <div class='input-section'>
      <label>
        <div ng-if="$parent.form.passConf.$touched && $parent.form.passConf.$error.required" class="input-error invalid right">
          Password confirmation is required
        </div>
        <div ng-if="$parent.form.passConf.$touched && $parent.form.passConf.$touched && profiles.passData.password !== profiles.passData.confirmation && !$parent.form.passConf.$error.required" class="input-error invalid right">
          Password and confirmation do not match
        </div>
        <input type="password" name="passConf" placeholder="Confirm New Password" ng-model="profiles.passData.confirmation" ng-class="{'ng-invalid-mismatch' : profiles.passData.password !== profiles.passData.confirmation }" required>
        <i ng-if="($parent.form.passConf.$touched  && profiles.passData.confirmation !== '' && !$parent.form.pass.$touched && !$parent.form.passConf.$error.required) || ($parent.form.pass.$touched && $parent.form.passConf.$touched && profiles.passData.password === profiles.passData.confirmation && !$parent.form.passConf.$error.required)" class="fa fa-check input-icon valid"></i>
        <i ng-if="($parent.form.passConf.$touched && $parent.form.passConf.$error.required) || ($parent.form.pass.$touched && $parent.form.passConf.$touched && profiles.passData.password !== profiles.passData.confirmation)" class="fa fa-times input-icon invalid"></i>
      </label>
    </div>

    <!-- Submit Button -->
    <div class="form-action">
      <button class="button no-margin" ng-click="profiles.savePassword()"
        ng-disabled="$parent.form.$invalid || $parent.form.$errors || profiles.passData.password !== profiles.passData.confirmation">
        Confirm
      </button>
    </div>

    <!-- Modal Error Message -->
    <div class="error-container">
      <div ng-if="profiles.errors.password" ng-bind="profiles.errors.password.message" ng-class="profiles.errors.password.type"></div>
    </div>
  </form>

  <a class="close-reveal-modal">&#215;</a>
</modal>

<!-- Edit Profile Modal -->
<modal class="medium" show="profiles.editProfile" on-close="profiles.clearProfileFields()">
  <form name="$parent.form" class="css-form" novalidate>
    <!-- Profile Fields -->
    <div class="row">
      <div class="medium-6 columns">
        <label>Username
          <div ng-if="profiles.user.username.length === 0" class="right">
            Username will not be changed
          </div>
          <div ng-if="$parent.form.username.$error.unique" class="invalid right">
            Username already taken
          </div>
          <input type="text" name="username" ng-model="profiles.user.username" unique-username="{{profiles.displayUsername}}" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" auto-focus="$parent.focus"/>
        </label>

        <label>Name
          <input type="text" placeholder="Name" ng-model="profiles.user.name">
        </label>

        <label>Email
          <div ng-if="$parent.form.email.$error.email" class="invalid right">
            Email is not valid
          </div>
          <div ng-if="profiles.user.email.length === 0" class="right">
            Email will not be changed
          </div>
          <div ng-if="$parent.form.email.$error.unique" class="invalid right">
            Email already taken
          </div>
          <input type="email" name="email" ng-model="profiles.user.email" unique-email="{{profiles.displayEmail}}" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" />
        </label>

        <label>Website
          <input type="text" placeholder="Website" ng-model="profiles.user.website">
        </label>

        <label>Bitcoin Address
          <input type="text" placeholder="Bitcoin Address" ng-model="profiles.user.btcAddress">
        </label>
      </div>

      <div class="medium-6 columns">
        <label>Gender
          <input type="text" placeholder="Gender" ng-model="profiles.user.gender">
        </label>

        <label>Date of Birth
          <input type="text" placeholder="Date of Birth" ng-model="profiles.user.dob">
        </label>

        <label>Location
          <input type="text" placeholder="Location" ng-model="profiles.user.location">
        </label>

        <label>Language
          <input type="text" placeholder="Language" ng-model="profiles.user.language">
        </label>
      </div>
    </div>

    <!-- Save Button -->
    <div class="row profile-save-container">
      <button class="button expand" ng-click="profiles.saveProfile()" ng-disabled="$parent.form.$invalid || $parent.form.$errors">
        Save
      </button>
    </div>

    <!-- Modal Error Message -->
    <div class="error-container">
      <div ng-if="profiles.errors.profile" ng-bind="profiles.errors.profile.message" ng-class="profiles.errors.profile.type"></div>
    </div>
  </form>

  <a class="close-reveal-modal">&#215;</a>
</modal>

<!-- Change Avatar Modal -->
<modal class="small" show="profiles.editAvatar" on-close="profiles.clearAvatarFields()">
  <form name="$parent.form" class="css-form" novalidate>
    <label>Avatar address
      <input type="text" name="avatar" ng-model="profiles.user.avatar" auto-focus="$parent.focus" required />
    </label>

    <image-uploader model="profiles.user.avatar" purpose="avatar"></image-uploader>
    <br /><br />

    <!-- Save Button -->
    <div class="row">
      <button class="button expand" ng-click="profiles.saveAvatar()" ng-disabled="$parent.form.$invalid || $parent.form.$errors">
        Save
      </button>
    </div>

    <!-- Modal Error Message -->
    <div class="error-container">
      <div ng-if="profiles.errors.avatar" ng-bind="profiles.errors.avatar.message" ng-class="profiles.errors.avatar.type"></div>
  </form>

  <a class="close-reveal-modal">&#215;</a>
</modal>

<!-- Change Signature Modal -->
<modal class="medium" show="profiles.editSignature" on-close="profiles.clearSignatureFields()">
  <form name="$parent.form" class="css-form" novalidate>
    <label>Signature
      <textarea type="text" rows="10" placeholder="Signature" ng-model="profiles.user.raw_signature" auto-focus="$parent.focus" ></textarea>
    </label>

    <!-- Save Button -->
    <div class="row">
      <button class="button expand" ng-click="profiles.saveSignature()" ng-disabled="$parent.form.$invalid || $parent.form.errors">
        Save
      </button>
    </div>

    <!-- Modal Error Message -->
    <div class="error-container">
      <div ng-if="profiles.errors.signature" ng-bind="profiles.errors.signature.message" ng-class="profiles.errors.signature.type"></div>
  </form>

  <a class="close-reveal-modal">&#215;</a>
</modal>
