<!-- Black List -->
<h5 class="thin-underline section-header-top-spacing">IP Blacklist Rules
  <span class="info-tooltip" data-balloon="Adding an IP address/range/wildcard to the blacklist will disallow users with that specific IP or in that IP Range from loading the forum or its data" data-balloon-pos="down" data-balloon-length="large" data-balloon-break><i class="fa fa-info-circle"></i></span>
  <a ng-click="vmBlacklist.showAddModal = true" class="right"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Rule</a></h5>

<table class="striped rulesTable" width="100%">
  <thead>
    <th>Rule Name</th>
    <th>Rule</th>
    <th>Actions</th>
  </thead>
  <tbody ng-if="!vmBlacklist.blacklist.length">
    <tr>
      <td colspan="3">
        <h6>There are currently no IP blacklist rules. Click "+ Add Rule" above to create a new rule.</h6>
      </td>
  </tbody>
  <tbody ng-if="vmBlacklist.blacklist.length" ng-repeat="rule in vmBlacklist.blacklist track by rule.id">
    <tr>
      <td class="name" ng-bind="rule.note"></td>
      <td ng-bind-html="rule.ip_data | replace: '-' : ' - ' "></td>
      <td>
        <a ng-click="vmBlacklist.openEditModal(rule)"><i class="fa fa-pencil"></i></a>
        &nbsp;&nbsp;&nbsp;
        <a ng-click="vmBlacklist.selectedRule = rule; vmBlacklist.showDeleteModal = true"><i class="fa fa-trash"></i></a>
      </td>
    </tr>
  </tbody>
</table>


<!-- Add Rule Modal -->
<modal show="vmBlacklist.showAddModal" on-close="vmBlacklist.closeAdd()">
  <form name="$parent.form" class="css-form">
    <h3 class="thin-underline">Add IP Blacklist Rule</h3>

    <label>Enter Rule Name
      <input type="text" placeholder="Rule Name" ng-model="vmBlacklist.rule.note" ng-disabled="vmBlacklist.addSubmitted" modal-focus="{{vmBlacklist.showAddModal}}" required />
    </label>

    <label for="ruleType">Select Rule Type:</label>
    <input type="radio" class="pointer" name="ruleType" ng-model="vmBlacklist.rule.type" ng-value="0" id="single" ng-disabled="vmBlacklist.addSubmitted" required />
    <label for="single">Single IP</label>

    <input type="radio" class="pointer" name="ruleType" ng-model="vmBlacklist.rule.type" ng-value="1" id="range" ng-disabled="vmBlacklist.addSubmitted" required />
    <label for="range">IP Range</label>

    <input type="radio" class="pointer" name="ruleType" ng-model="vmBlacklist.rule.type" ng-value="2" id="wildcard" ng-disabled="vmBlacklist.addSubmitted" required />
    <label for="wildcard">Wildcard IP</label>

    <div ng-if="vmBlacklist.rule.type === 0" ng-init="vmBlacklist.rule = { note: vmBlacklist.rule.note, type: 0 }">
      <label>Enter a single IPV4 or IPV6 address
        <input type="text" ng-model="vmBlacklist.rule.ip" placeholder="Ex: 203.0.113.15 or 2001:0db8:0f61:a1ff:0000:0000:0000:0080" ng-pattern="vmBlacklist.ipRegex" required />
      </label>
    </div>

    <div ng-if="vmBlacklist.rule.type === 1" ng-init="vmBlacklist.rule = { note: vmBlacklist.rule.note, type: 1 }">
      <label>Enter a range of IPV4 or IPV6 addresses</label>
      <div>
        <div class="half-column">
          <input type="text" ng-model="vmBlacklist.rule.start" placeholder="Start Ex: 203.0.113.0 or 2001:0db8:0000:0000:0000:0000:0000:0000" ng-pattern="vmBlacklist.ipRegex" ng-disabled="vmBlacklist.addSubmitted" required />
        </div>
        <div class="half-column">
          <input type="text" ng-model="vmBlacklist.rule.end" placeholder="End Ex: 203.0.113.255 or 2001:0db8:ffff:ffff:ffff:ffff:ffff:ffff" ng-pattern="vmBlacklist.ipRegex" ng-disabled="vmBlacklist.addSubmitted" required />
        </div>
      </div>
    </div>

    <div ng-if="vmBlacklist.rule.type === 2" ng-init="vmBlacklist.rule = { note: vmBlacklist.rule.note, type: 2 }">
      <label>Enter an IPV4 wildcard</label>
      <div class="wildcard">
        <input type="text" ng-model="vmBlacklist.rule.blockOne" ng-pattern="vmBlacklist.blockRegex" placeholder="203" maxlength="3" ng-disabled="vmBlacklist.addSubmitted" required />
        <input type="text" ng-model="vmBlacklist.rule.blockTwo" ng-disabled="vmBlacklist.addSubmitted" ng-pattern="vmBlacklist.blockWildcardRegex" placeholder="0" maxlength="3" required />
        <input type="text" ng-model="vmBlacklist.rule.blockThree" ng-disabled="vmBlacklist.addSubmitted" ng-pattern="vmBlacklist.blockWildcardRegex" placeholder="113" maxlength="3" required />
        <input type="text" ng-model="vmBlacklist.rule.blockFour" ng-pattern="vmBlacklist.blockWildcardRegex" placeholder="*" maxlength="3" ng-disabled="vmBlacklist.addSubmitted" required />
      </div>
    </div>

    <div class="clear">
      <div class="half-column">
        <button class="fill-row" ng-click="vmBlacklist.addRule()"
        ng-disabled="$parent.form.$invalid || $parent.form.$errors || vmBlacklist.addSubmitted" ng-bind="vmBlacklist.saveRuleBtnLabel"></button>
      </div>
      <div class="half-column">
        <button class="fill-row" ng-click="vmBlacklist.addRule($parent.form)"
        ng-disabled="$parent.form.$invalid || $parent.form.$errors || vmBlacklist.addSubmitted" ng-bind="vmBlacklist.saveContinueBtnLabel"></button>
      </div>
    </div>
  </form>
</modal>

<!-- Edit Rule Modal -->
<modal show="vmBlacklist.showEditModal" on-close="vmBlacklist.closeEdit()">
  <form name="$parent.form" class="css-form">
    <h3 class="thin-underline">Edit IP Blacklist Rule</h3>

    <label>Rule Name
      <input type="text" placeholder="Rule Name" ng-model="vmBlacklist.selectedRule.note" ng-disabled="vmBlacklist.editSubmitted" modal-focus="{{vmBlacklist.showEditModal}}" required />
    </label>

    <label for="ruleType">Select Rule Type:</label>
    <input type="radio" class="pointer" name="ruleType" ng-model="vmBlacklist.selectedRule.type" ng-value="0" id="single-edit" ng-click="vmBlacklist.selectedRule = { id: vmBlacklist.selectedRule.id, note: vmBlacklist.selectedRule.note, type: 0 }" ng-disabled="vmBlacklist.editSubmitted" required />
    <label for="single-edit">Single IP</label>

    <input type="radio" class="pointer" name="ruleType" ng-model="vmBlacklist.selectedRule.type" ng-value="1" id="range-edit" ng-click="vmBlacklist.selectedRule = { id: vmBlacklist.selectedRule.id, note: vmBlacklist.selectedRule.note, type: 1 }" ng-disabled="vmBlacklist.editSubmitted" required />
    <label for="range-edit">IP Range</label>

    <input type="radio" class="pointer" name="ruleType" ng-model="vmBlacklist.selectedRule.type" ng-value="2" id="wildcard-edit" ng-click="vmBlacklist.selectedRule = { id: vmBlacklist.selectedRule.id, note: vmBlacklist.selectedRule.note, type: 2 }" ng-disabled="vmBlacklist.editSubmitted" required />
    <label for="wildcard-edit">Wildcard IP</label>

    <div ng-if="vmBlacklist.selectedRule.type === 0">
      <label>Enter a single IPV4 or IPV6 address
        <input type="text" ng-model="vmBlacklist.selectedRule.ip" placeholder="Ex: 203.0.113.15 or 2001:0db8:0f61:a1ff:0000:0000:0000:0080" ng-pattern="vmBlacklist.ipRegex" required />
      </label>
    </div>

    <div ng-if="vmBlacklist.selectedRule.type === 1">
      <label>Enter a range of IPV4 or IPV6 addresses</label>
      <div>
        <div class="half-column">
          <input type="text" ng-model="vmBlacklist.selectedRule.start" placeholder="Start Ex: 203.0.113.0 or 2001:0db8:0000:0000:0000:0000:0000:0000" ng-pattern="vmBlacklist.ipRegex" ng-disabled="vmBlacklist.editSubmitted" required />
        </div>
        <div class="half-column">
          <input type="text" ng-model="vmBlacklist.selectedRule.end" placeholder="End Ex: 203.0.113.255 or 2001:0db8:ffff:ffff:ffff:ffff:ffff:ffff" ng-pattern="vmBlacklist.ipRegex" ng-disabled="vmBlacklist.editSubmitted" required />
        </div>
      </div>
    </div>

    <div ng-if="vmBlacklist.selectedRule.type === 2">
      <label>Enter an IPV4 wildcard</label>
      <div class="wildcard">
        <input type="text" ng-model="vmBlacklist.selectedRule.blockOne" ng-pattern="vmBlacklist.blockRegex" placeholder="203" maxlength="3" ng-disabled="vmBlacklist.editSubmitted" required />
        <input type="text" ng-model="vmBlacklist.selectedRule.blockTwo" ng-disabled="vmBlacklist.editSubmitted" ng-pattern="vmBlacklist.blockWildcardRegex" placeholder="0" maxlength="3" required />
        <input type="text" ng-model="vmBlacklist.selectedRule.blockThree" ng-disabled="vmBlacklist.editSubmitted" ng-pattern="vmBlacklist.blockWildcardRegex" placeholder="113" maxlength="3" required />
        <input type="text" ng-model="vmBlacklist.selectedRule.blockFour" ng-pattern="vmBlacklist.blockWildcardRegex" placeholder="*" maxlength="3" ng-disabled="vmBlacklist.editSubmitted" required />
      </div>
    </div>

    <div class="clear">
      <button class="fill-row" ng-click="vmBlacklist.editRule()"
        ng-disabled="$parent.form.$invalid || $parent.form.$errors || vmBlacklist.editSubmitted" ng-bind="vmBlacklist.editRuleBtnLabel"></button>
    </div>
  </form>
</modal>

<!-- Delete Rule Modal -->
<modal show="vmBlacklist.showDeleteModal" on-close="vmBlacklist.closeDelete()">
  <form name="$parent.form" class="css-form">
    <h3 class="thin-underline">Confirm Rule Deletion</h3>
    <table class="striped" width="100%">
      <thead>
        <tr>
          <th colspan="2">
          Rule to Delete
          </th>
        </tr>
      </thead>
      <tr>
        <td>Rule Name</td>
        <td ng-bind="vmBlacklist.selectedRule.note"></td>
      </tr>
      <tr>
        <td>IP Rule</td>
        <td ng-bind="vmBlacklist.selectedRule.ip_data"></td>
      </tr>
    </table>
    <div class="clear">
      <button class="fill-row" ng-click="vmBlacklist.deleteRule(vmBlacklist.selectedRule)"
        ng-disabled="$parent.form.$invalid || $parent.form.$errors || vmBlacklist.deleteSubmitted" ng-bind="vmBlacklist.deleteRuleBtnLabel"></button>
    </div>
  </form>
</modal>
