<!-- User's Paged Posts -->
<div class="profile-row">
  <h5 class="title">Posts by {{ProfilePostsCtrl.user.username}}</h5>

  <div class="centered-text" ng-if="ProfilePostsCtrl.pageCount === 0">
    <br /><br />
    <h4>This user has no posts to display</h4>
  </div>

  <div class="pagination-wrap" ng-if="ProfilePostsCtrl.pageCount > 0">
    <pagination page-count="ProfilePostsCtrl.pageCount" page="ProfilePostsCtrl.page" query-params="ProfilePostsCtrl.queryParams"></pagination>
  </div>
</div>

<div class="fill-row hide-mobile" ng-if="ProfilePostsCtrl.pageCount > 0">
  <table class="striped" width="100%">
    <thead>
      <th width="20%"></span>Thread</th>
      <th width="58%">Post</th>
      <th class="pointer" ng-click="ProfilePostsCtrl.setDesc()"><span ng-class="ProfilePostsCtrl.getDesc()"></span>&nbsp;Post Date</th>
    </thead>

    <tbody>
      <tr ng-repeat="post in ProfilePostsCtrl.usersPosts track by post.id">
        <td data-balloon="{{post.thread_title}}" data-balloon-pos="left">
          <div class="truncate-title">
            <span ng-if="post.hidden && !post._deleted"><i class="fa fa-eye-slash"></i></span>
            <a ui-sref="posts.data({ threadId: post.thread_id, start: post.position, '#': post.id })" ng-bind-html="post.thread_title" ng-if="!post._deleted"></a>
            <span ng-if="post._deleted">Deleted</span>
          </div>
        </td>
        <td ng-click="post.open = !post.open">
          <!-- Post Content -->
          <div class="post-body" ng-class="{ closed: !post.open }" post-processing="post.body_html" style-fix="true"></div>
        </td>
        <td ng-bind="post.created_at | date:'MM/dd/yy @ h:mma'"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="fill-row show-mobile" ng-if="ProfilePostsCtrl.pageCount > 0">
  <div class="mobile-post" ng-repeat="post in ProfilePostsCtrl.usersPosts track by post.id">
    <div>
      <div>
        <a ui-sref="posts.data({ threadId: post.thread_id, start: post.position, '#': post.id })" ng-bind-html="post.thread_title" ng-if="!post._deleted"></a>
      </div>
      <div class="mobile-post-time"><small ng-bind="post.created_at | date:'MM/dd/yy @ h:mma'"></small></div>
      <div class="post-body" post-processing="post.body_html" style-fix="true"></div>
    </div>
  </div>
</div>

<div class="fill-row" ng-if="ProfilePostsCtrl.pageCount > 0">
  <div class="pagination-wrap">
    <pagination page-count="ProfilePostsCtrl.pageCount" page="ProfilePostsCtrl.page" query-params="ProfilePostsCtrl.queryParams"></pagination>
  </div>
</div>

<!-- User's Paged Threads -->
<div class="profile-row">
  <h5 class="title">Threads by {{ProfilePostsCtrl.user.username}}</h5>

  <div class="centered-text" ng-if="ProfilePostsCtrl.usersThreads.length < 1">
    <br /><br />
    <h4>This user has no threads to display</h4>
  </div>

  <div class="pagination-wrap" ng-if="ProfilePostsCtrl.usersThreads.length > 0">
    <div class="pagination-simple">
      <a ng-show="ProfilePostsCtrl.prev" ui-sref=".({ tpage: ProfilePostsCtrl.prev, tlimit: ProfilePostsCtrl.tlimit, tdesc: ProfilePostsCtrl.tdesc, page: ProfilePostsCtrl.page,  limit: ProfilePostsCtrl.limit, desc: ProfilePostsCtrl.desc })">
        &#10094; Previous
      </a>
      <span ng-hide="ProfilePostsCtrl.prev">&#10094; Previous</span>
      &nbsp;&nbsp;&nbsp;
      <a ng-show="ProfilePostsCtrl.next" ui-sref=".({ tpage: ProfilePostsCtrl.next, tlimit: ProfilePostsCtrl.tlimit, tdesc: ProfilePostsCtrl.tdesc, page: ProfilePostsCtrl.page, limit: ProfilePostsCtrl.limit, desc: ProfilePostsCtrl.desc })">
         Next &#10095;
      </a>
      <span ng-hide="ProfilePostsCtrl.next">Next &#10095;</span>
    </div>
  </div>
</div>

<div class="fill-row hide-mobile" ng-if="ProfilePostsCtrl.usersThreads.length > 0">
  <table class="striped" width="100%">
    <thead>
      <th width="20%"></span>Thread</th>
      <th width="58%">Post</th>
      <th class="pointer" ng-click="ProfilePostsCtrl.setTDesc()"><span ng-class="ProfilePostsCtrl.getTDesc()"></span>&nbsp;Post Date</th>
    </thead>

    <tbody>
      <tr ng-repeat="post in ProfilePostsCtrl.usersThreads track by post.id">
        <td data-balloon="{{post.thread_title}}" data-balloon-pos="left">
          <div class="truncate-title">
            <span ng-if="post.hidden && !post._deleted"><i class="fa fa-eye-slash"></i></span>
            <a ui-sref="posts.data({ threadId: post.thread_id, start: post.position, '#': post.id })" ng-bind-html="post.thread_title" ng-if="!post._deleted"></a>
            <span ng-if="post._deleted">Deleted</span>
          </div>
        </td>
        <td ng-click="post.open = !post.open">
          <!-- Post Content -->
          <div class="post-body" ng-class="{ closed: !post.open }" post-processing="post.body_html" style-fix="true"></div>
        </td>
        <td ng-bind="post.created_at | date:'MM/dd/yy @ h:mma'"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="fill-row show-mobile" ng-if="ProfilePostsCtrl.usersThreads.length > 0">
  <div class="mobile-post" ng-repeat="post in ProfilePostsCtrl.usersThreads track by post.id">
    <div>
      <div>
        <a ui-sref="posts.data({ threadId: post.thread_id, start: post.position, '#': post.id })" ng-bind-html="post.thread_title" ng-if="!post._deleted"></a>
      </div>
      <div class="mobile-post-time"><small ng-bind="post.created_at | date:'MM/dd/yy @ h:mma'"></small></div>
      <div class="post-body" post-processing="post.body_html" style-fix="true"></div>
    </div>
  </div>
</div>

<div class="fill-row" ng-if="ProfilePostsCtrl.usersThreads.length > 0">
  <div class="pagination-wrap">
    <div class="pagination-simple">
      <a ng-show="ProfilePostsCtrl.prev" ui-sref=".({ tpage: ProfilePostsCtrl.prev, tlimit: ProfilePostsCtrl.tlimit, tdesc: ProfilePostsCtrl.tdesc, page: ProfilePostsCtrl.page,  limit: ProfilePostsCtrl.limit, desc: ProfilePostsCtrl.desc })">
        &#10094; Previous
      </a>
      <span ng-hide="ProfilePostsCtrl.prev">&#10094; Previous</span>
      &nbsp;&nbsp;&nbsp;
      <a ng-show="ProfilePostsCtrl.next" ui-sref=".({ tpage: ProfilePostsCtrl.next, tlimit: ProfilePostsCtrl.tlimit, tdesc: ProfilePostsCtrl.tdesc, page: ProfilePostsCtrl.page, limit: ProfilePostsCtrl.limit, desc: ProfilePostsCtrl.desc })">
         Next &#10095;
      </a>
      <span ng-hide="ProfilePostsCtrl.next">Next &#10095;</span>
    </div>
  </div>
</div>
