.tabs {
  display: inline-block;
  padding-left: 1.5625rem;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: -0.25rem;
  dd {
    margin-bottom: 0;
    margin-left: 0;
    list-style: none;
    display: inline-block;
    a {
      display: inline-block;
      background-color: $base-background-color;
      color: $base-font-color;
      height: 2.5rem;
      padding: 0 1rem;
      line-height: 2.5rem;
      font-size: 1rem;
      &:focus { outline: none; }
    }
    &.active a { border: 1px solid $color-primary; border-radius: 3px; color: $color-primary; }
  }

  @include media($mobile) {
    @include span-columns(8);
    @include omega;
    padding-left: 0;
    margin-top: 0.5rem;
    dd a { font-size: 0.75rem; }
  }
}


