<div class="content-main">
  <div class="category" ng-repeat="cat in BoardsCtrl.categorizedBoards">
    <!-- Category Title -->
    <div id="{{BoardsCtrl.generateCatId(cat.name, cat.view_order)}}" class="title">
      <!-- <div ng-click="BoardsCtrl.toggleCategory(cat)" class="collapse-section">
        <a ng-class="{ 'fa-chevron-down' : cat.show, 'fa-chevron-right': !cat.show }"
        class="fa collapse-btn no-select"></a>
        <h1 ng-bind-html="::cat.name"></h1>
      </div> -->
      <div ng-click="BoardsCtrl.toggleCategory(cat)" class="collapse-section">
        <a ng-class="{ 'is-open' : cat.show, 'is-closed': !cat.show }" class="test">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39.84 22.63" class="icon__caretDown">
            <title>icon__caretDown</title>
            <g id="Layer_2" data-name="Layer 2">
              <polyline class="icon" points="37.92 1.92 19.92 19.92 1.92 1.92" />
            </g>
          </svg>
        </a>
        <h1 ng-bind-html="::cat.name"></h1>
      </div>
    </div>
  
    <!-- Boards in Category -->
    <div slide-toggle="cat.show" initial-state="{{cat.initial}}">
      <div class="slide-wrapper">
        <div class="board" ng-repeat="board in cat.boards track by board.id">
  
          <!-- Board Info -->
          <div class="info">
            <!-- Board Name -->
            <h2>
              <a ui-sref="threads.data({ boardId: board.id })" class="board-name" ng-bind-html="board.name"></a>
            </h2>
            <!-- Board Description -->
            <div class="description" ng-bind-html="::board.description"></div>
            <!-- Moderators -->
            <div class="moderators" ng-if="board.moderators.length > 0">
              <span class="label">Moderators: </span>
              <a ui-sref="profile.posts({ username: mod.username })" ng-repeat="mod in board.moderators" ng-bind="::mod.username + ($last ? '' : ', ')"></a>
            </div>
  
            <!-- Child Boards -->
            <div class="childboards" ng-if="board.children.length > 0">
              <span class="label">Child Boards:</span>
              <span ng-repeat="child in board.children">
                <a ui-sref="threads.data({ boardId: child.id })" class="board-name" ng-bind-html="::child.name"></a>{{$last ? '' : ', '}}
              </span>
            </div>
          </div>
  
          <div class="board-secondary">
            <!-- Board Posts and Threads -->
            <div class="view-count">
              <p class="view-count-posts">
                <span class="view-count-number" ng-bind="::board.total_post_count | number:0"></span>
                 <span class="label">posts,</span>
              </p>
              <p class="view-count-threads">
                <span class="view-count-number" ng-bind="::board.total_thread_count | number:0"></span>
                 <span class="label">threads</span>
              </p>
            </div>
    
            <!-- Board Last Post By -->
            <div class="last-post">
              <div ng-if="board.last_post_username">
                <span ng-if="board.user_deleted || board.post_deleted">deleted</span>
                <img ng-if="!board.user_deleted && !board.post_deleted" class="avatar-small" ng-src="{{::board.last_post_avatar || $webConfigs.default_avatar}}" />
                <a ng-if="!board.user_deleted && !board.post_deleted" ui-sref="profile.posts({ username: board.last_post_username })" ng-bind="::board.last_post_username"></a> posted in
                <span ng-if="board.last_thread_title">
                  <a ui-sref="posts.data({ threadId: board.last_thread_id, start: board.last_post_position })"
                    ng-bind-html="::board.last_thread_title | decode | truncate:25" title="{{board.last_thread_title | decode}}"></a> on
                </span>
                <span ng-if="board.last_post_created_at">
                  <span ng-bind="::board.last_post_created_at | humanDate"></span>
                </span>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Threads -->
<div class="content-sidebar">
  <div class="board-data">
    <div class="title column-container">
      <h1>Recent Threads</h1>
    </div>
  
    <div class="centered-text" ng-if="!BoardsCtrl.recentThreads">
      <h5>No recently updated threads available</h5>
    </div>
  
    <div ng-if="BoardsCtrl.recentThreads">
      <!-- Thread listing -->
      <div class="threads-data" ng-repeat="thread in BoardsCtrl.recentThreads track by thread.id">
        <div class="subject">
          <div class="thread-state">
            <svg ng-if="thread.sticky" class="is-sticky" viewBox="0 0 40.68 40.68" xmlns="http://www.w3.org/2000/svg">
              <path d="m40 9.92-9.24-9.19a2.5 2.5 0 0 0 -3.54 3.54l9.2 9.19a2.5 2.5 0 0 0 3.58-3.54z" />
              <path
                d="m12 14.52a3 3 0 0 0 -4.24 4.24l5.66 5.66-11.3 11.31-2.12 4.95 5-2.12 11.26-11.31 5.66 5.66a3 3 0 0 0 4.24-4.25z" />
              <path d="m17.46 9.23h16v12h-16z" transform="matrix(.70710678 -.70710678 .70710678 .70710678 -3.31 22.46)" /></svg>

              <svg ng-if="thread.latest" class="is-unread" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>icon__unread</title>
                <g id="icons">
                  <circle cx="16" cy="16" r="16" />
                </g>
              </svg>
              
          </div>
          <div class="title">
            <a ng-class="{bold: thread.latest}" class="thread-title" ui-sref="posts.data({ threadId: thread.id, start: thread.post.position })" ng-bind-html="thread.title"></a>
            (in <a ui-sref="threads.data({ boardId: thread.board.id })" ng-bind-html="thread.board.name"></a>)

            <span class="user">
              by
              <span ng-if="thread.deleted">deleted</span>
              <a ng-if="!thread.deleted" ui-sref="profile.posts({ username: thread.user.username })"
                ng-bind-html="thread.user.username"></a>
            </span>
          </div>

          <div class="thread-status">
            <i class="icon-epoch-lock" ng-if="thread.locked"></i>
            <!-- <i class="icon-epoch-verified " ng-if="thread.sticky"></i> -->
            <i class="fa fa-bar-chart icon-fix " ng-if="thread.poll"></i>
          </div>
        </div>

        <div class="last-reply">
          <div ng-bind="thread.post.created_at | humanDate"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="threads-posted-in" ng-if="BoardsCtrl.loggedIn()">
    <a ui-sref="posted.data()">Threads Posted In</a>
  </div>
</div>
