<div class="admin-table-header">
  <div class="half-column">
    <div class="nested-input-container">
      <a ng-href="#" ng-click="insertNewCategory()" class="nested-btn">Add Category</a>
      <input class="input-text nested-input" type="text" id="new-cat" ng-model="newCatName" placeholder="New Category Name" maxlength="255">
    </div>
  </div>
  <a ng-href="#" ng-click="showAddBoard = true" class="button half-column">Add New Board</a>
  <div class="clear"></div>
</div>

<div class="row-section">
  <div class="half-column">
    <h5 class="thin-underline">
      Categorized Boards
      <span class="info-tooltip" data-balloon="Drag and drop the boards and categories below to order them" data-balloon-pos="down" data-balloon-length="large" data-balloon-break><i class="fa fa-info-circle"></i></span>
      <div class="right">
        <a ng-click="expandAll()"><i class="fa fa-expand"></i> Expand</a>&nbsp;
        <a ng-click="collapseAll()"><i class="fa fa-compress"></i> Collapse</a>
      </div>
    </h5>
    <nestable-categories></nestable-categories>
    <button class="tiny" ng-click="reset()"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Reset</button>&nbsp;
    <button class="tiny" ng-click="save()"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
  </div>
  <div class="half-column">
    <h5 class="thin-underline">Uncategorized Boards
      <span class="info-tooltip" data-balloon="Drag the boards from the Uncategorized Boards list to the Categorized Boards list to make them visible to the public. Boards left in the Uncategorized Boards list will be inaccessable and hidden from public view" data-balloon-pos="down" data-balloon-length="large" data-balloon-break><i class="fa fa-info-circle"></i></span>
    </h5>
    <nestable-boards></nestable-boards>
  </div>
</div>

<!-- MODALS -->
<modal show="showAddBoard" on-close="clearAddBoardFields()">
  <h3 class="thin-underline">Add New Board</h3>
  <label>Board Name
    <input modal-focus="{{showAddBoard}}" type="text" class="input-text" id="newBoardName" placeholder="Board Name" maxlength="255"/>
  </label>
  <label>Board Description
    <textarea rows="5" id="newBoardDesc" placeholder="Board Description" maxlength="255"></textarea>
  </label>
  <label>Board Read Access:
    <span class="info-tooltip" data-balloon="Minimum role a user must have to read the posts in this board" data-balloon-pos="down" data-balloon-length="large" data-balloon-break><i class="fa fa-info-circle"></i></span>
    <select id="newBoardViewable">
      <option value="">Minimum role level</option>
      <option value="{{::role.priority}}" ng-repeat="role in roles | orderBy: 'priority'">{{::role.name}}</option>
    </select>
  </label>
  <label>Board Write Access:
    <span class="info-tooltip" data-balloon="Minimum role a user must have to create posts within this board" data-balloon-pos="down" data-balloon-length="large" data-balloon-break><i class="fa fa-info-circle"></i></span>
    <select id="newBoardPostable">
      <option value="">Minimum role level</option>
      <option value="{{::role.priority}}" ng-repeat="role in roles | orderBy: 'priority'">{{::role.name}}</option>
    </select>
  </label>
  <div class="form-switch">
    <label for="newDisablePostEdit">Disable Post Editing
      <span class="info-tooltip" data-balloon="Disables the editing of posts for this board" data-balloon-pos="down" data-balloon-length="large" data-balloon-break><i class="fa fa-info-circle"></i></span>
    </label>
    <div class="switch-field">
      <input type="radio" id="new-disble-post-edit" name="newDisablePostEdit" value="false" checked/>
      <label for="new-disble-post-edit">Disable Edit</label>
      <input type="radio" id="new-enable-post-edit" name="newDisablePostEdit" value="true" />
      <label for="new-enable-post-edit">Enable Edit</label>
    </div>
  </div>
  <div class="form-switch">
    <label for="newBoardRTL">Text Direction
      <span class="info-tooltip" data-balloon="Sets the read direction of the text for this board" data-balloon-pos="down" data-balloon-length="large" data-balloon-break><i class="fa fa-info-circle"></i></span>
    </label>
    <div class="switch-field">
      <input type="radio" id="ltr" name="newBoardRTL" value="false" checked/>
      <label for="ltr">Left to Right</label>
      <input type="radio" id="rtl" name="newBoardRTL" value="true" />
      <label for="rtl">Right to Left</label>
    </div>
  </div>
  <div class="clear">
    <button ng-click="insertNewBoard()" class="fill-row">Add Board</button>
  </div>
</modal>

<modal show="showEditBoard">
  <h3 class="thin-underline">Edit Board</h3>
  <label>Board Name
    <input modal-focus="{{showEditBoard}}" type="text" class="input-text" id="editBoardName" ng-model="editBoardName" placeholder="Board Name" maxlength="255"/>
  </label>
  <label>Board Description
    <textarea rows="5" id="editBoardDesc" ng-model="editBoardDesc" placeholder="Board Description" maxlength="255"></textarea>
  </label>
  <label>Board Read Access:
    <span class="info-tooltip" data-balloon="Minimum role a user must have to read the posts in this board" data-balloon-pos="down" data-balloon-length="large" data-balloon-break><i class="fa fa-info-circle"></i></span>
    <select id="editBoardViewable">
      <option value="">Minimum role level</option>
      <option value="{{::role.priority}}" ng-repeat="role in roles | orderBy: 'priority'">{{::role.name}}</option>
    </select>
  </label>
  <label>Board Write Access:
    <span class="info-tooltip" data-balloon="Minimum role a user must have to create posts within this board" data-balloon-pos="down" data-balloon-length="large" data-balloon-break><i class="fa fa-info-circle"></i></span>
    <select id="editBoardPostable">
      <option value="">Minimum role level</option>
      <option value="{{::role.priority}}" ng-repeat="role in roles | orderBy: 'priority'">{{::role.name}}</option>
    </select>
  </label>
  <div class="form-switch">
    <label for="editDisablePostEdit">Disable Post Editing
      <span class="info-tooltip" data-balloon="Disables the editing of posts for this board" data-balloon-pos="down" data-balloon-length="large" data-balloon-break><i class="fa fa-info-circle"></i></span>
    </label>
    <div class="switch-field">
      <input type="radio" id="disble-post-edit" name="newDisablePostEdit" value="false" checked/>
      <label for="disble-post-edit">Disable Edit</label>
      <input type="radio" id="enable-post-edit" name="newDisablePostEdit" value="true" />
      <label for="enable-post-edit">Enable Edit</label>
    </div>
  </div>
  <div class="form-switch">
    <label for="editBoardRTL">Text Direction
      <span class="info-tooltip" data-balloon="Sets the read direction of the text for this board" data-balloon-pos="down" data-balloon-length="large" data-balloon-break><i class="fa fa-info-circle"></i></span>
    </label>
    <div class="switch-field">
      <input type="radio" id="ltr-edit" name="editBoardRTL" value="false" checked/>
      <label for="ltr-edit">Left to Right</label>
      <input type="radio" id="rtl-edit" name="editBoardRTL" value="true" />
      <label for="rtl-edit">Right to Left</label>
    </div>
  </div>
  <div class="clear">
    <button ng-click="editBoard()" class="fill-row">Edit Board</button>
  </div>
</modal>

<modal show="showDeleteBoard">
  <h3 class="thin-underline">Confirm Delete</h3>
  <p>
    Are you sure you would like to mark this board for deletion? Delete will not take effect until the changes are saved.
  </p>
  <p>
    <strong>WARNING: Deleting this board will delete all threads and posts in this board.</strong>
  </p>
  <div class="clear">
    <button ng-click="confirmBoardDelete()" class="fill-row">Delete</button>
  </div>
</modal>

<modal show="showEditCategory">
  <h3 class="thin-underline">Edit Category</h3>
  <label>Category Name
    <input modal-focus="{{showEditCategory}}" type="text" class="input-text" id="editCatName" placeholder="Category Name" maxlength="255"/>
  </label>
  <label>Category Read Access:
    <span class="info-tooltip" data-balloon="Minimum role a user must have to read the posts in this category" data-balloon-pos="down" data-balloon-length="large" data-balloon-break><i class="fa fa-info-circle"></i></span>
    <select id="editCatViewable">
      <option value="">Minimum role level</option>
      <option value="{{::role.priority}}" ng-repeat="role in roles | orderBy: 'priority'">{{::role.name}}</option>
    </select>
  </label>
  <div class="clear">
    <button ng-click="editCategory()" class="fill-row">Edit Category</button>
  </div>
</modal>

<modal show="showDeleteCategory">
  <h3 class="thin-underline">Confirm Delete</h3>
  <p>
    Are you sure you would like to mark this category for deletion? Delete will not take effect until the changes are saved.
  </p>
  <p>
    All boards under this category will be moved to the 'Uncategorized Boards' section.
  </p>
  <div class="clear">
    <button ng-click="confirmCatDelete()" class="fill-row">Delete</button>
  </div>
</modal>
