<form name="$parent.form" novalidate>
  <h3 class="thin-underline">Register</h3>

  <div class='input-section'>
    <label>
      <div class="input-info">
        Email must be valid to confirm account
      </div>
      <div ng-if="$parent.form.email.$touched && $parent.form.email.$error.required" class="invalid right">
        Email is required
      </div>
      <div ng-if="$parent.form.email.$touched && $parent.form.email.$error.email" class="invalid right">
        Email is invalid
      </div>
      <div ng-if="$parent.form.email.$touched && $parent.form.email.$error.unique" class="invalid right">
        Email is taken
      </div>
      <input type="email" class="icon-padding" name="email" maxlength="255" ng-model="JoinCtrl.joinUser.email" unique-email ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0}}" placeholder="Email" auto-focus="$parent.focus" required>
      <i ng-if="$parent.form.email.$touched && !$parent.form.email.$error.email && !$parent.form.email.$error.required && !$parent.form.email.$error.unique" class="fa fa-check input-icon valid"></i>
      <i ng-if="$parent.form.email.$touched && ($parent.form.email.$error.email || $parent.form.email.$error.required || $parent.form.email.$error.unique)" class="fa fa-times input-icon invalid"></i>
    </label>
  </div>

  <div class="input-section">
    <label>
      <div ng-if="$parent.form.username.$touched && $parent.form.username.$error.required" class="input-error invalid right">
        Username is required
      </div>
      <div ng-if="$parent.form.username.$touched && $parent.form.username.$error.unique && !$parent.form.username.$error.pattern" class="input-error invalid right">
        Username is taken
      </div>
      <div ng-if="$parent.form.username.$touched && !$parent.form.username.$error.unique && $parent.form.username.$error.pattern" class="input-error invalid right">
        Usernames may only contain A-Z, 0-9, -, _ and .
      </div>
      <input type="text" class="input-text icon-padding" name="username" maxlength="50" ng-model="JoinCtrl.joinUser.username" unique-username ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0}}" placeholder="Username ( a-z, 0-9, -, _ and . )" ng-pattern=/^[a-zA-Z\d-_.]+$/ required>
      <i ng-if="$parent.form.username.$touched && !$parent.form.username.$error.unique && !$parent.form.username.$error.pattern && !$parent.form.username.$error.required" class="fa fa-check input-icon valid"></i>
      <i ng-if="$parent.form.username.$touched && ($parent.form.username.$error.required || $parent.form.username.$error.unique || $parent.form.username.$error.pattern)" class="fa fa-times input-icon invalid"></i>
    </label>
  </div>

  <div class="input-section">
    <label>
      <div ng-if="$parent.form.password.$touched && $parent.form.password.$error.required" class="input-error invalid right">
        Password is required
      </div>
      <div ng-if="$parent.form.password.$touched && JoinCtrl.joinUser.password.length < 8" class="input-error invalid right">
        Password must be at least 8 characters
      </div>
      <div ng-if="$parent.form.password.$touched && $parent.form.confirmation.$touched && JoinCtrl.joinUser.password !== JoinCtrl.joinUser.confirmation && JoinCtrl.joinUser.password.length >= 8 && !$parent.form.password.$error.required" class="input-error invalid right">
        Password and confirmation do not match
      </div>
      <input type="password" ng-class="{'ng-invalid-mismatch': JoinCtrl.joinUser.password !== JoinCtrl.joinUser.confirmation || JoinCtrl.joinUser.password.length < 8 }" class="icon-padding" name="password" ng-model="JoinCtrl.joinUser.password" placeholder="Password" required>
      <i ng-if="($parent.form.password.$touched && !$parent.form.confirmation.$touched && !$parent.form.password.$error.required && JoinCtrl.joinUser.password.length >= 8) || ($parent.form.password.$touched && $parent.form.confirmation.$touched && JoinCtrl.joinUser.password === JoinCtrl.joinUser.confirmation && JoinCtrl.joinUser.password.length >= 8 && !$parent.form.password.$error.required)" class="fa fa-check input-icon valid"></i>
      <i ng-if="($parent.form.password.$touched && $parent.form.password.$error.required) || ($parent.form.password.$touched && JoinCtrl.joinUser.password.length < 8) || ($parent.form.password.$touched && $parent.form.confirmation.$touched && JoinCtrl.joinUser.password !== JoinCtrl.joinUser.confirmation)" class="fa fa-times input-icon invalid"></i>
    </label>
  </div>

  <div class="input-section">
    <label>
      <div ng-if="$parent.form.confirmation.$touched && $parent.form.confirmation.$error.required" class="input-error invalid right">
        Confirmation is required
      </div>
      <div ng-if="$parent.form.confirmation.$touched && JoinCtrl.joinUser.confirmation.length < 8" class="input-error invalid right">
        Confirmation must be at least 8 characters
      </div>
      <div ng-if="$parent.form.password.$touched && JoinCtrl.joinUser.password !== '' && $parent.form.confirmation.$touched && JoinCtrl.joinUser.password !== JoinCtrl.joinUser.confirmation && JoinCtrl.joinUser.confirmation.length >= 8 && !$parent.form.confirmation.$error.required" class="input-error invalid right">
        Password and confirmation do not match
      </div>
      <input type="password" ng-class="{'ng-invalid-mismatch': JoinCtrl.joinUser.password !== JoinCtrl.joinUser.confirmation || JoinCtrl.joinUser.confirmation.length < 8 }" class="icon-padding" name="confirmation" ng-model="JoinCtrl.joinUser.confirmation" placeholder="Confirm Password" required>
      <i ng-if="($parent.form.confirmation.$touched  && JoinCtrl.joinUser.confirmation !== '' && !$parent.form.password.$touched && !$parent.form.confirmation.$error.required && JoinCtrl.joinUser.confirmation.length >= 8) || ($parent.form.password.$touched && $parent.form.confirmation.$touched && JoinCtrl.joinUser.password === JoinCtrl.joinUser.confirmation && JoinCtrl.joinUser.confirmation.length >= 8 && !$parent.form.confirmation.$error.required)" class="fa fa-check input-icon valid"></i>
      <i ng-if="($parent.form.confirmation.$touched && $parent.form.confirmation.$error.required) || ($parent.form.confirmation.$touched && JoinCtrl.joinUser.confirmation.length < 8) || ($parent.form.password.$touched && $parent.form.confirmation.$touched && JoinCtrl.joinUser.password !== JoinCtrl.joinUser.confirmation)" class="fa fa-times input-icon invalid"></i>
    </label>
  </div>

  <div class="input-section clear">
    <button class="fill-row" ng-click="JoinCtrl.register()" ng-disabled="$parent.form.$invalid || $parent.form.$errors || JoinCtrl.joinUser.password.length < 8 || JoinCtrl.joinUser.password !== JoinCtrl.joinUser.confirmation">
      Register
    </button>
  </div>
</form>
