<!--<pagination page-count="BoardCtrl.pageCount" page="BoardCtrl.page"></pagination>-->
<div ui-view="pagination"></div>

<div class="row board-page">
  <!-- Page Header -->
  <div class="small-12 columns">
    <h3 ng-bind-html="BoardCtrl.board.name"></h3>
    <span class="moderators">
      <strong>Moderators: </strong> Unknown, Unknown, Unknown
    </span>
    <div class="thin-dotted-underline"></div>
  </div>

  <!-- Page Controls -->
  <div class="small-12 columns page-controls" ng-if="BoardCtrl.loggedIn()">
    <dl class="sub-nav">
      <dd><a ui-sref="newThread">Start a New Thread</a></dd>
    </dl>
    <div class="thin-dotted-underline"></div>
  </div>

  <!-- Child Boards -->
  <div class="small-12 columns" ng-if="BoardCtrl.board.children && BoardCtrl.page === 1">
    <h5><strong>Child Boards</strong></h5>

    <div class="child-board" ng-repeat="childBoard in BoardCtrl.board.children">
      <!-- Child Board Title -->
      <h5>
        <a ui-sref="threads({ boardId: childBoard.id })" class="board-name" ng-bind-html="childBoard.name"></a>
      </h5>

      <!-- Child Board description and content -->
      <div class="row">
        <!-- Description and child boards -->
        <div class="small-12 medium-9 columns child-board-desc">
          <div ng-bind-html="childBoard.description"></div>
          <span class="child-boards" ng-if="childBoard.children.length > 0">
            <strong>Child Boards:</strong>
            <span ng-repeat="child in childBoard.children">
              <a ui-sref="threads({ boardId: child.id })" ng-bind-html="child.name"></a>{{$last ? '' : ', '}}
            </span>
          </span>
        </div>

        <!-- Posts and threads -->
        <div class="small-12 medium-3 columns text-info">
          <div>
            <strong ng-bind="childBoard.total_post_count"></strong> posts
          </div>
          <div>
            <strong ng-bind="childBoard.total_thread_count"></strong> threads
          </div>
        </div>
      </div>
      <!-- Last Post By -->
      <div class="row">
        <div class="small-12 medium-8 columns text-info">
          Last post by
          <a ui-sref="profiles({ username: childBoard.last_post_username })" ng-bind-html="childBoard.last_post_username"></a>
          in thread <a ui-sref="posts({ threadId: childBoard.last_thread_id })" ng-bind-html="childBoard.last_thread_title"></a>
          <br>
          <span ng-bind="childBoard.last_post_created_at | humanDate"></span>
        </div>
      </div>

    </div>
    <div class="thin-dotted-underline"></div>
  </div>

  <div ui-view="data"></div>
</div>

<div ui-view="pagination"></div>

<!--<pagination page-count="BoardCtrl.pageCount" page="BoardCtrl.page"></pagination>-->
