<div class="row">
  <div class="small-12 columns">
    <h3 class="thin-dotted-underline">All Boards</h3>
  </div>
</div>

<div ng-repeat="board in boards">
  <div class="row board-section">
    <div class="small-12 medium-10 columns">
      <a class="board" ng-href="/boards/{{board.id}}" ng-bind-html="board.name"></a>
      <br />
      <span class="moderators"><strong>Moderators:</strong> <a href="#">WonderWoman</a>, <a href="#">Flash</a>, <a href="#">Batman</a></span>
      <br />
      {{board.description}} - {{board.id}}
    </div>
    <div class="small-12 medium-2 columns">
      <div class="board-info board-info-spacer"><strong>999</strong> posts</div>
      <div class="board-info"><strong>999</strong> threads</div><br />
      <div class="board-info board-info-spacer">Last post by</div>
      <div class="board-info"><a href="#">Slickage</a></div>
      <div class="board-info">in thread <a href="#">not hooked up</a></div>
      <div class="board-info">07/25/14 10:54am</div>
    </div>
  </div>

<!--   <a ng-href="/boards/{{board.id}}" style="font-size: 18px; color: #09f;"></a>
  <br />
  <span style="font-size: 12px; color: #555"><strong>Board ID:</strong> <span style="font-family:monospace;">{{board.id}}</span></span>
  <p>{{board.description}}<br /></p>
  <div ng-repeat="subBoard in subBoards[board.id]">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a ng-href="/boards/{{subBoard.id}}" style="font-size: 1.0em; font-family: monospace; color: #09f;">{{subBoard.id}}</a>
    <a ng-href="/boards/{{subBoard.id}}" ng-bind-html="subBoard.name"></a>
  </div>
  <hr /> -->
</div>

