<div class="row">

  <ng-include src="'partials/pagination.html'"></ng-include>

  <div class="small-12 columns">
    <h3>{{board.name}}</h3>
    <span class="moderators"><strong>Moderators: </strong> Unknown, Unknown, Unknown</span>
    <div class="thin-dotted-underline bottom-spacer-10"></div>
  </div>

  <div class="small-12 columns">
    <span ng-if="board.children && page === 1">
      <h6><strong>Child Boards</strong></h6>
      <div ng-repeat="childBoard in board.children">
        <div class="row">
          <div class="small-12 columns">
           <h5 ng-class="$first ? '' : 'top-spacer-15'">
             <a ng-href="/boards/{{childBoard.id}}" ng-bind-html="childBoard.name"></a>
           </h5>
          </div>
        </div>
        <div class="row">
          <div class="small-12 medium-8 columns">
           {{childBoard.description}}<br />
           <span class="child-boards" ng-if="childBoard.children.length > 0">
             <strong>Child Boards:</strong>
              <span ng-repeat="child in childBoard.children">
               <a ng-href="/boards/{{child.id}}" ng-bind-html="child.name"></a>{{$last ? '' : ', '}}
              </span>
           </span>
          </div>
          <div class="small-12 medium-2 columns">
            <div class="board-info">
              <strong>{{childBoard.total_post_count}}</strong> posts
            </div>
            <div class="board-info">
              <strong>{{childBoard.total_thread_count}}</strong> threads
            </div>
          </div>
          <div class="small-12 medium-2 columns">
            <div class="board-info">Last post by</div>
            <div class="board-info"><a href="#">{{childBoard.last_post_username}}</a></div>
            <div class="board-info">in thread <a ng-href="/threads/{{childBoard.last_thread_id}}/posts">{{childBoard.last_thread_title}}</a></div>
            <div class="board-info">@ {{childBoard.last_post_created_at | date:'medium'}}</div>
          </div>
        </div>
      </div>
      <div class="thin-dotted-underline top-spacer-10 bottom-spacer-10"></div>
    </span>
    <div ng-if="threads" class="row show-for-medium-up">
      <div class="small-11 medium-7 columns">
        <h6>Subject</h6>
      </div>
      <div class="small-6 medium-1 columns">
        <h6>Replies</h6>
      </div>
      <div class="small-6 medium-1 columns">
        <h6>Views</h6>
      </div>
      <div class="small-12 medium-2 columns">
        <h6>Last Reply</h6>
      </div>
    </div>
    <div class="bottom-spacer-10" ng-repeat="thread in threads">
      <div class="top-spacer-15"></div>
      <div class="row">
        <div class="small-11 medium-7 columns">
          <h6 class="no-margin"><a ng-href="/threads/{{thread.id}}/posts" style="font-size: 18px;">{{thread.title}}</a></h6>
          <div>
          Started by: <a href="#">{{thread.user.username}}</a> @ <em>{{thread.created_at | date:'medium'}}</em>
          </div>
          <div class="top-spacer-5">
            <span ng-if="thread.page_count > 1">
              <span ng-repeat="i in range(thread.page_count) track by $index">
                <a ng-href="/threads/{{thread.id}}/posts?page={{$index+1}}">{{$index + 1}}</a>
              </span>
              <a ng-href="/threads/{{thread.id}}/posts?limit={{thread.post_count}}">All</a>
            </span>
          </div>
        </div>
        <div class="medium-1 columns show-for-medium-up">
          {{thread.post_count - 1}}
        </div>
        <div class="medium-1 columns show-for-medium-up">
          {{thread.view_count}}
        </div>
        <div class="small-12 columns board-info show-for-small-only">
          <strong>{{thread.post_count - 1}}</strong> replies and <strong>{{thread.view_count}}</strong> views
        </div>
        <div class="small-12 medium-2 columns">
          <div class="board-info">Last post by</div>
          <div class="board-info"><a href="#">{{thread.last_post_username}}</a></div>
          <div class="board-info">@ {{thread.last_post_created_at | date:'medium'}}</div>
        </div>
      </div>
    </div>
  </div>

  <ng-include src="'partials/pagination.html'"></ng-include>
</div>