<div class="row">
  <div class="small-12 columns">
    <h3 class="thin-dotted-underline">All Boards</h3>
  </div>
</div>

<div ng-repeat="board in boards">
  <div class="row board-section">
    <div class="small-12 medium-10 columns">
      <a class="board" ng-href="/boards/{{board.id}}" ng-bind-html="board.name"></a>
      <br />
      <span class="moderators"><strong>Moderators:</strong> <a href="#">WonderWoman</a>, <a href="#">Flash</a>, <a href="#">Batman</a></span>
      <br />
      {{board.description}} - {{board.id}}
      <br />
      <span class="child-boards" ng-if="board.child_boards">
        <strong>Child Boards:</strong>
         <span ng-repeat="childBoard in board.child_boards">
          <a ng-href="/boards/{{childBoard.id}}" ng-bind-html="childBoard.name"></a>{{$last ? '' : ', '}}
         </span>
      </span>
    </div>
    <div class="small-12 medium-2 columns">
      <div class="board-info board-info-spacer"><strong>unknown</strong> posts</div>
      <div class="board-info"><strong>unknown</strong> threads</div><br />
      <div class="board-info board-info-spacer">Last post by</div>
      <div class="board-info"><a href="#">unknown</a></div>
      <div class="board-info">in thread <a href="#">unknown</a></div>
      <div class="board-info">@ unknown</div>
    </div>
  </div>
</div>

