<pagination page-count="BoardCtrl.pageCount" page="BoardCtrl.page"></pagination>

<div class="row board-page">
  <!-- Page Header -->
  <div class="small-12 columns">
    <h3 ng-bind-html="BoardCtrl.board.name"></h3>
    <span class="moderators">
      <strong>Moderators: </strong> Unknown, Unknown, Unknown
    </span>
    <div class="thin-dotted-underline"></div>
  </div>

  <!-- Page Controls -->
  <div class="small-12 columns page-controls" ng-if="BoardCtrl.loggedIn()">
    <dl class="sub-nav">
      <dd><a ng-href="{{ BoardCtrl.newThreadUrl }}">Start a New Thread</a></dd>
    </dl>
    <div class="thin-dotted-underline"></div>
  </div>

  <!-- Child Boards -->
  <div class="small-12 columns" ng-if="BoardCtrl.board.children && BoardCtrl.page === 1">
    <h5><strong>Child Boards</strong></h5>

    <div class="child-board" ng-repeat="childBoard in BoardCtrl.board.children">
      <!-- Child Board Title -->
      <h5>
        <a ng-href="/boards/{{childBoard.id}}" ng-bind-html="childBoard.name"></a>
      </h5>

      <!-- Child Board description and content -->
      <div class="row">
        <!-- Description and child boards -->
        <div class="small-12 medium-9 columns child-board-desc">
          <div ng-bind-html="childBoard.description"></div>
          <span class="child-boards" ng-if="childBoard.children.length > 0">
            <strong>Child Boards:</strong>
            <span ng-repeat="child in childBoard.children">
              <a ng-href="/boards/{{child.id}}" ng-bind-html="child.name"></a>{{$last ? '' : ', '}}
            </span>
          </span>
        </div>

        <!-- Posts and threads -->
        <div class="small-12 medium-3 columns text-info">
          <div>
            <strong ng-bind="childBoard.total_post_count"></strong> posts
          </div>
          <div>
            <strong ng-bind="childBoard.total_thread_count"></strong> threads
          </div>
        </div>
      </div>
      <!-- Last Post By -->
      <div class="row">
        <div class="small-12 medium-8 columns text-info">
          Last post by
          <a href="/profiles/{{ childBoard.last_post_username }}" ng-bind-html="childBoard.last_post_username"></a>
          in thread <a ng-href="/threads/{{childBoard.last_thread_id}}/posts" ng-bind-html="childBoard.last_thread_title"></a>
          <br>
          <span ng-bind="childBoard.last_post_created_at | date:'medium'"></span>
        </div>
      </div>

    </div>
    <div class="thin-dotted-underline"></div>
  </div>

  <!-- Threads -->
  <div class="small-12 columns" style="min-height: 483px;">
    <!-- Thread listing headers -->
    <div ng-if="BoardCtrl.threads" class="row show-for-medium-up">
      <div class="small-11 medium-7 columns">
        <h6><strong>Subject</strong></h6>
      </div>
      <div class="small-6 medium-1 columns text-center">
        <h6><strong>Replies</strong></h6>
      </div>
      <div class="small-6 medium-1 columns text-center">
        <h6><strong>Views</strong></h6>
      </div>
      <div class="small-12 medium-3 columns">
        <h6><strong>Last Reply</strong></h6>
      </div>
    </div>

    <!-- Thread listing -->
    <div class="thread-listItem" ng-repeat="thread in BoardCtrl.threads track by thread.id">
      <div class="row">
        <div class="small-12 medium-7 columns">
          <a ng-class="thread.title_class" ng-href="/threads/{{thread.id}}/posts" ng-bind-html="thread.title"></a><br>

          <div class="division">
            Started by: <a href="/profiles/{{thread.user.username}}" ng-bind-html="thread.user.username"></a>
            <em ng-bind="'(' + (thread.created_at | date:'medium') + ')'"></em>
          </div>

          <div class="division" ng-if="thread.page_count > 1">
            <span ng-repeat="pageKey in thread.page_keys">
              <a ng-href="{{pageKey.url}}" ng-bind="pageKey.val"></a>
            </span>
          </div>
        </div>

        <div class="medium-1 columns show-for-medium-up text-center" ng-bind="thread.post_count - 1"></div>

        <div class="medium-1 columns show-for-medium-up text-center" ng-bind="thread.view_count"></div>

        <div class="small-12 columns text-info show-for-small-only">
          <strong ng-bind="thread.post_count-1"></strong> replies and <strong ng-bind="thread.view_count"></strong> views
        </div>

        <div class="small-12 medium-3 columns text-info">
          <div ng-bind="thread.last_post_created_at | date:'medium'"></div>
          <br>
          <a href="/profiles/{{thread.last_post_username}}" ng-bind-html="thread.last_post_username"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<pagination page-count="BoardCtrl.pageCount" page="BoardCtrl.page"></pagination>
