<pagination page-count="PostsCtrl.pageCount" page="PostsCtrl.page"></pagination>

<div class="row post-block" ng-repeat="post in PostsCtrl.posts track by post.id">
  <a class="anchor-offset" id="{{post.id}}"></a>
  <!-- public view of post -->
  <div class="small-12 medium-2 columns">
    <!-- User info -->
      <div class="post-user">
        <div class="user-avatar" style="background-image:url('/static/img/rides-a-fixie.jpg');">
          <span class="user-role">Hero</span>
        </div>
        <ul class="user-details">
          <li class="name"><a href="#" ng-bind-html="post.user.username"></a></li>
          <li class="points"> * * * * *</li>
          <li class="activity">Activity: 879</li>
        </ul>
      </div>
  </div>

  <div class="small-12 medium-10 columns">
    <!-- Post Title -->
    <div class="post-title">
      <!-- <span ng-bind-html="post.title"></span> -->
      <span class="timestamp">
      {{post.created_at | date:'medium'}}
      </span>
      <ul class="post-action">
        <li><a href="#"><i class="icon-epoch-heart"></i></a></li>
        <li><a href="#"><i class="icon-epoch-flag"></i></a></li>
        <li><a href="#"><i class="icon-epoch-reply"></i></a></li>
        <li><a href="#"><i class="icon-epoch-quote"></i></a></li>
      </ul>
      <button class="button tiny" ng-click="startEditPost($index)" ng-if="post.editable">
        Edit
      </button>
    </div>
    <!-- Post Body -->
    <div class="post-body" ng-bind-html="post.body"></div>

    <!-- private edit view of post -->
      <div class="editable" ng-if="post.editMode">
        <!-- Editor -->
        <form name="form" class="css-form editor-form" novalidate>
          <!-- Title -->
          <label>Title:
            <input type="text" name="title" placeholder="Title" ng-model="post.title" required>
            <small class="label error" ng-if="form.title.$touched && form.title.$error.required">
              Title is Required
            </small>
          </label>
          <!-- Body -->
          <div class="row">
            <div class="small-6 columns">
              <label>Reply:</label>
            </div>
            <div class="small-6 columns" class="preview-title">
              <label>Preview:</label>
            </div>
          </div>
          <!-- Editor -->
          <div class="editor-container">
            <epochtalk-editor body="post.body" encoded-body="post.encodedBody" class="editor"></epochtalk-editor>
          </div>
        </form>
        <div class="editor-button-container">
          <button class="button tiny" ng-click="PostsCtrl.cancelEditPost($index)">
            Close
          </button>
          <button class="button tiny" ng-click="PostsCtrl.saveEditPost($index)" ng-disabled="form.title.$error.required || !post.body.length > 0">
            Save
          </button>
          <span class="label alert" ng-if="post.error" ng-bind="post.error.message"></span>
        </div>
      </div>
      
      <!-- Editor if logged in -->
      <div ng-if="PostsCtrl.loggedIn()" class="post-editor-auth">
        <!-- editor -->
        <form name="form" class="css-form editor-form" novalidate>
          <!-- Title -->
          <label>Title:
            <input type="text" name="title" placeholder="Title" ng-model="PostsCtrl.newPost.title" required>
            <small class="label error" ng-if="form.title.$touched && form.title.$error.required">
              Title is Required
            </small>
          </label>
          <!-- Body -->
          <div class="row">
            <div class="small-6 columns">
              <label>Reply:</label>
            </div>
            <div class="small-6 columns" class="preview-title">
              <label>Preview:</label>
            </div>
          </div>
          <!-- Editor -->
          <div class="editor-container">
            <epochtalk-editor body="PostsCtrl.newPost.body" encoded-body="PostsCtrl.newPost.encodedBody" reset="PostsCtrl.resetEditor" class="editor"></epochtalk-editor>
          </div>
        </form>
        <div class="editor-button-container">
          <button class="button expand" ng-click="PostsCtrl.savePost()" ng-disabled="form.title.$error.required || !PostsCtrl.newPost.body.length > 0">
            Send
          </button>
          <span class="label alert" ng-if="PostsCtrl.newPost.error" ng-bind="PostsCtrl.newPost.error.message"></span>
        </div>
      </div>
  </div>
</div>



<pagination page-count="PostsCtrl.pageCount" page="PostsCtrl.page"></pagination>