<pagination page-count="{{pageCount}}" page="{{page}}"></pagination>

<div class="row">
  <div class="small-12 columns">

    <!-- Post Listing -->
    <div ng-repeat="post in posts track by post.id" >
      <!-- public view of post -->
      <div class="viewable post-block" ng-if="!post.editMode">
        <!-- User info -->
        <div class="post-user">
          <div class="user-avatar" style="background-image:url('http://lorempixel.com/400/200/people/')">
            <!-- <img src="" alt=""> -->
            <span class="user-role">Hero</span>
          </div>
          <ul class="user-details">
            <li class="name"><a href="#" ng-bind-html="post.user.username"></a></li>
            <li class="points"> * * * * *</li>
            <li class="activity">Activity: 879</li>
          </ul>
        </div>
        <!-- Post Title -->
        <div class="post-title">
          <!-- <span ng-bind-html="post.title"></span> -->
          <span class="timestamp">
          {{post.created_at | date:'medium'}}
          </span>
          <button class="button tiny" ng-click="startEditPost($index)" ng-if="post.editable">
            Edit
          </button>
        </div>
        <!-- Post Body -->
        <div class="post-body" ng-bind-html="post.body"></div>
      </div>

      <!-- private edit view of post -->
      <div class="editable" ng-if="post.editMode">
        <div style="font-weight: 700; margin-top: 10px; margin-bottom: 2px;">
          <label>Title:</label>
          <input type="text" ng-model="post.title">
          <div class="row">
            <div class="small-6 columns">
              <label>Reply:</label>
            </div>
            <div class="small-6 columns" style="padding-left: 0;">
              <label>Preview:</label>
            </div>
          </div>
          <div style="height: 200px; width: 100%; margin-bottom: 20px;">
            <epochtalk-editor text="post.encodedBody" save-text="saveEditText(post, encoded, text)" style="height: 100%; width: 100%; display: block;"></epochtalk-editor>
          </div>
        </div>
        <button class="button tiny" ng-click="cancelEditPost($index)">
          Close
        </button>
        <button class="button tiny" ng-click="saveEditPost($index)">
          Save
        </button>
        <span class="label alert" ng-if="post.error">
          {{ post.error.message }}
        </span>
      </div>
    </div>

    <!-- editor -->
    <div ng-if="loggedIn()" style="padding: 10px 0;">
      <label>Title:</label>
      <input type="text" ng-model="newPost.title">
      <div class="row">
        <div class="small-6 columns">
          <label>Reply:</label>
        </div>
        <div class="small-6 columns" style="padding-left: 0;">
          <label>Preview:</label>
        </div>
      </div>
      <div style="height: 200px; width: 100%; margin-bottom: 20px;">
        <epochtalk-editor text="newPost.encodedBody" save-text="saveText(encoded, text)" style="height: 100%; width: 100%; display: block;"></epochtalk-editor>
      </div>
      <button class="button expand" ng-click="savePost()">Send</button>
      <span class="label alert" ng-if="newPost.error">
        {{ newPost.error.message }}
      </span>
    </div>

  </div>
</div>

<pagination page-count="{{pageCount}}" page="{{page}}"></pagination>