<pagination page-count="{{pageCount}}" page="{{page}}"></pagination>

<div class="row">
  <div class="small-12 columns">
    <!-- Post Listing -->
    <div ng-repeat="post in posts track by post.id" >
      <!-- public view of post -->
      <a class="anchor-offset" id="{{post.id}}"></a>
      <div class="viewable post-block" ng-if="!post.editMode">
        <!-- User info -->
        <div class="post-user">
          <div class="user-avatar" style="background-image:url('/static/img/rides-a-fixie.jpg');">
            <span class="user-role">Hero</span>
          </div>
          <ul class="user-details">
            <li class="name"><a href="#" ng-bind-html="post.user.username"></a></li>
            <li class="points"> * * * * *</li>
            <li class="activity">Activity: 879</li>
          </ul>
        </div>
        <!-- Post Title -->
        <div class="post-title">
          <!-- <span ng-bind-html="post.title"></span> -->
          <span class="timestamp">
          {{post.created_at | date:'medium'}}
          </span>
          <ul class="post-action">
            <li><a href="#"><i class="icon-epoch-heart"></i></a></li>
            <li><a href="#"><i class="icon-epoch-flag"></i></a></li>
            <li><a href="#"><i class="icon-epoch-reply"></i></a></li>
            <li><a href="#"><i class="icon-epoch-quote"></i></a></li>
          </ul>
          <button class="button tiny" ng-click="startEditPost($index)" ng-if="post.editable">
            Edit
          </button>
        </div>
        <!-- Post Body -->
        <div class="post-body" ng-bind-html="post.body"></div>
      </div>

      <!-- private edit view of post -->
      <div class="editable" ng-if="post.editMode">
        <div class="post-title">
          <label>Title:</label>
          <input type="text" ng-model="post.title">
          <div class="row">
            <div class="small-6 columns">
              <label>Reply:</label>
            </div>
            <div class="small-6 columns" class="post-preview-lbl">
              <label>Preview:</label>
            </div>
          </div>
          <div class="post-editor-container">
            <epochtalk-editor text="post.encodedBody" save-text="saveEditText(post, encoded, text)" class="post-editor"></epochtalk-editor>
          </div>
        </div>
        <button class="button tiny" ng-click="cancelEditPost($index)">
          Close
        </button>
        <button class="button tiny" ng-click="saveEditPost($index)">
          Save
        </button>
        <span class="label alert" ng-if="post.error">
          {{ post.error.message }}
        </span>
      </div>
    </div>

    <!-- editor -->
    <div ng-if="loggedIn()" class="post-editor-auth">
      <label>Title:</label>
      <input type="text" ng-model="newPost.title">
      <div class="row">
        <div class="small-6 columns">
          <label>Reply:</label>
        </div>
        <div class="small-6 columns" class="post-preview-lbl">
          <label>Preview:</label>
        </div>
      </div>
      <div class="post-editor-container">
        <epochtalk-editor text="newPost.encodedBody" save-text="saveText(encoded, text)" class="post-editor"></epochtalk-editor>
      </div>
      <button class="button expand" ng-click="savePost()">Send</button>
      <span class="label alert" ng-if="newPost.error">
        {{ newPost.error.message }}
      </span>
    </div>

  </div>
</div>

<pagination page-count="{{pageCount}}" page="{{page}}"></pagination>