<div class="row">
  <!-- Left Sidebar -->
  <div class="large-3 columns">
    <img src="http://placehold.it/320x240&text=Avatar"/>
    <ul class="side-nav">
      <li><a href="#">Send Personal Message</a></li>
      <li><a href="#">Show Last Post</a></li>
      <li><a href="#">Show General Statistics</a></li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="large-9 columns">
    <!-- Page Header and Edit Button -->
    <div class="row">
      <div class="small-9 columns">
        <h3>{{ profiles.displayUsername }}'s Profile</h3>
      </div>
      <div class="small-3 columns" ng-If="profiles.user.editable">
        <button class="button small radius right" ng-click="profiles.editMode = true">
          Edit Profile
        </button>
      </div>
    </div>
    
    <!-- Show Content -->
    <div ng-If="profiles.editMode === false">
      <div class="panel">
        <div>
          Name: {{ profiles.user.name }}
        </div>
        
        <div>
          Posts: {{ profiles.user.posts }}
        </div>

        <div>
          Position: {{ profiles.user.postion }}
        </div>
        
        <div>
          Date Registered: {{ profiles.user.created_at | date:'medium' }}
        </div>

        <div>
          Last Active: {{ profiles.user.updated_at | date:'medium' }}
        </div>
      </div>

      <div class="panel">
        <div>
          Email: {{ profiles.user.email }}
        </div>

        <div>
          Website: {{ profiles.user.website }}
        </div>

        <div>
          Current Status: {{ profiles.user.status }}
        </div>

        <div>
          Bitcoin Address(s): {{ profiles.user.btcAddress }}
        </div>
      </div>

      <div class="panel">
        <div>
          Gender: {{ profiles.user.gender }}
        </div>

        <div>
          Age: {{ profiles.user.dob }}
        </div>

        <div>
          Location: {{ profiles.user.location }}
        </div>

        <div>
          Local Time: {{ Date.now() | date:'medium' }}
        </div>

        <div>
          Language: {{ profiles.user.language }}
        </div>
      </div>

      <div class="panel">
        Signature: {{ profiles.user.signature }}
      </div>
    </div>

    <!-- Edit Content -->
    <div ng-If="profiles.editMode === true">
        
      <form name="form" class="css-form" novalidate>
        <div class="panel">
          <label>Username
            <input type="text" ng-model="profiles.user.username"/>
          </label>

          <label>Name
            <input type="text" placeholder="Name" ng-model="profiles.user.name">
          </label>

          <label>Email
            <input type="text" placeholder="Email" ng-model="profiles.user.email">
          </label>

          <label>Website
            <input type="text" placeholder="Website" ng-model="profiles.user.website">
          </label>

          <label>Bitcoin Address
            <input type="text" placeholder="Bitcoin Address" ng-model="profiles.user.btcAddress">
          </label>

          <label>Gender
            <input type="text" placeholder="Gender" ng-model="profiles.user.gender">
          </label>

          <label>Date of Birth
            <input type="text" placeholder="Date of Birth" ng-model="profiles.user.dob">
          </label>

          <label>Location
            <input type="text" placeholder="Location" ng-model="profiles.user.location">
          </label>

          <label>Language
            <input type="text" placeholder="Language" ng-model="profiles.user.language">
          </label>

          <label>Signature
            <textarea type="text" placeholder="Signature" ng-model="profiles.user.signature"></textarea>
          </label>

          <!-- Cancel/Save Buttons -->
          <div class="row">
            <div class="small-6 columns">
              <button class="button expand alert" ng-click="profiles.editMode = false">
                Close
              </button>
            </div>
            <div class="small-6 columns">
              <button class="button expand" ng-click="profiles.saveProfile()">
                Save
              </button>
            </div>
          </div>

          <div class="row" ng-if="profiles.error.status">
            <div class="small-12 columns">
              <div class="alert-box alert radius">
                {{ profiles.error.message }}
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
