<div class="row">
  <!-- Left Sidebar -->
  <div class="large-3 columns">
    <img src="http://placehold.it/320x240&text=Avatar"/>
    <ul class="side-nav">
      <li ng-if="profiles.user.editable"><a href="#">Change Avatar</a></li>
      <li><a href="#">Send Personal Message</a></li>
      <li><a href="#">Show Last Post</a></li>
      <li><a href="#">Show General Statistics</a></li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="large-9 columns">
    <!-- Page Header and Edit Button -->
    <div class="row">
      <div class="small-9 columns">
        <h3 ng-bind-html="(profiles.displayUsername) + '\'s Profiles'"></h3>
      </div>
      <div class="small-3 columns" ng-If="profiles.user.editable && profiles.editMode === false">
        <button class="button small radius right" ng-click="profiles.editMode = true">
          Edit Profile
        </button>
      </div>
    </div>
    
    <!-- Show Content -->
    <div ng-If="profiles.editMode === false">
      <div class="panel">
        <div>
          Name:
          <span ng-bind-html="profiles.user.name"></span>
        </div>
        
        <div>
          Posts: 
          <span ng-bind="profiles.user.posts"></span>
        </div>

        <div>
          Position: 
          <span ng-bind="profiles.user.position"></span>
        </div>
        
        <div>
          Date Registered: 
          <span ng-bind="profiles.user.created_at | date:'medium'"></span>
        </div>

        <div>
          Last Active: 
          <span ng-bind="profiles.user.updated_at | date:'medium'"></span>
        </div>
      </div>

      <div class="panel">
        <div>
          Email: 
          <span ng-bind="profiles.user.email"></span>
        </div>

        <div>
          Website: 
          <span ng-bind="profiles.user.website"></span>
        </div>

        <div>
          Current Status: 
          <span ng-bind="profiles.user.status"></span>
        </div>

        <div>
          Bitcoin Address(s): 
          <span ng-bind="profiles.user.btcAddress"></span>
        </div>
      </div>

      <div class="panel">
        <div>
          Gender: 
          <span ng-bind="profiles.user.gender"></span>
        </div>

        <div>
          Age: 
          <span ng-bind="profiles.user.dob"></span>
        </div>

        <div>
          Location: 
          <span ng-bind="profiles.user.location"></span>
        </div>

        <div>
          Local Time: 
          <span ng-bind="Date.now() | date:'medium'"></span>
        </div>

        <div>
          Language: 
          <span ng-bind="profiles.user.language"></span>
        </div>
      </div>

      <div class="panel">
        Signature: 
        <span ng-bind-html="profiles.user.signature"></span>
      </div>
    </div>

    <!-- Edit Content -->
    <div ng-If="profiles.editMode === true">
        
      <div class="panel profile-form">
        <form name="form" class="css-form" novalidate>
          <label>Username
            <input type="text" name="username" required ng-model="profiles.user.username" unique-username="{{profiles.displayUsername}}" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"/>
            <small class="label error" ng-if="form.username.$error.unique">
              Username Already Taken
            </small>
            <small class="label error" ng-if="form.username.$error.required">
              Username Required
            </small>
            <small class="label success" ng-if="profiles.displayUsername !== profiles.user.username && !form.username.$error.unique && !form.username.$error.required">
              Username Available
            </small>
          </label>

          <label>Name
            <input type="text" placeholder="Name" ng-model="profiles.user.name">
          </label>

          <label>Email
            <input type="email" name="email" required ng-model="profiles.user.email" unique-email="{{profiles.displayEmail}}" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" />
            <small class="label error" ng-if="form.email.$error.email">
              Email is not valid
            </small>
            <small class="label error" ng-if="form.email.$error.unique">
              Email Already Taken
            </small>
            <small class="label error" ng-if="!form.email.$error.email && form.email.$error.required">
              Email Required
            </small>
            <small class="label success" ng-if="profiles.displayEmail !== profiles.user.email && !form.email.$error.email && !form.email.$error.required && !form.email.$error.unique">
              Email Available
            </small>
          </label>

          <label>Website
            <input type="text" placeholder="Website" ng-model="profiles.user.website">
          </label>

          <label>Bitcoin Address
            <input type="text" placeholder="Bitcoin Address" ng-model="profiles.user.btcAddress">
          </label>

          <label>Gender
            <input type="text" placeholder="Gender" ng-model="profiles.user.gender">
          </label>

          <label>Date of Birth
            <input type="text" placeholder="Date of Birth" ng-model="profiles.user.dob">
          </label>

          <label>Location
            <input type="text" placeholder="Location" ng-model="profiles.user.location">
          </label>

          <label>Language
            <input type="text" placeholder="Language" ng-model="profiles.user.language">
          </label>

          <label>Signature
            <textarea type="text" placeholder="Signature" ng-model="profiles.user.signature"></textarea>
          </label>
        </form>

        <!-- Cancel/Save Buttons -->
        <div class="row">
          <div class="small-6 columns">
            <button class="button expand alert" ng-click="profiles.editMode = false">
              Close
            </button>
          </div>
          <div class="small-6 columns">
            <button class="button expand" ng-click="profiles.saveProfile()" ng-disabled="form.$invalid">
              Save
            </button>
          </div>
        </div>

        <div class="row" ng-if="profiles.error.status">
          <div class="small-12 columns">
            <div class="alert-box alert radius" ng-bind="profiles.error.message"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
