<div class="row">
  <div class="small-10 small-offset-1 columns reg-page-title">
    <h3>Registration</h3>
  </div>
</div>

<div class="row">
  <div class="small-10 small-offset-1 columns">
    <form name="form" class="css-form" novalidate>
      <div class='reg-input-section'>
        <label>Email
          <input type="email" name="email" ng-model="RegistrationCtrl.user.email" unique-email ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0}}" placeholder="Email" ng-keyup="RegistrationCtrl.submit($event)" required autofocus>
          <small class="label error" ng-if="form.email.$error.email">
            Email is not valid
          </small>
          <small class="label error" ng-if="form.email.$error.unique">
            Email Already Taken
          </small>
          <small class="label error" ng-if="form.email.$touched && form.email.$error.required">
            Email Required
          </small>
          <small class="label success" ng-if="!form.email.$error.email && !form.email.$error.required && !form.email.$error.unique">
            Email Available
          </small>
        </label>
      </div>

      <div class="reg-input-section">
        <label>Username
          <input type="text" name="username" ng-model="RegistrationCtrl.user.username" unique-username ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0}}" placeholder="Username" ng-keyup="RegistrationCtrl.submit($event)" required>
          <small class="label error" ng-if="form.username.$error.unique">
            Username Already Taken
          </small>
          <small class="label error" ng-if="form.username.$touched && form.username.$error.required">
            Username Required
          </small>
          <small class="label success" ng-if="!form.username.$error.unique && !form.username.$error.required">
            Username Available
          </small>
        </label>
      </div>

      <div class="reg-input-section">
        <label>Password
          <input type="password" name="password" ng-model="RegistrationCtrl.user.password" placeholder="Password" ng-keyup="RegistrationCtrl.submit($event)" required>
          <small class="label error" ng-if="form.password.$touched && form.password.$error.required">
            Password is Required
          </small>
          <small class="label error" ng-if="!form.password.$error.required && RegistrationCtrl.user.password !== RegistrationCtrl.user.confirmation">
            Password and Confirmation do not match
          </small>
          <small class="label success" ng-if="RegistrationCtrl.user.password === RegistrationCtrl.user.confirmation && !form.password.$error.required">
            Looks Good
          </small>
        </label>
      </div>

      <div class="reg-input-section">
        <label>Password Confirmation
          <input type="password" name="confirmation" ng-model="RegistrationCtrl.user.confirmation" placeholder="Password Confirmation" ng-keyup="RegistrationCtrl.submit($event)" required>
          <small class="label error" ng-if="form.confirmation.$touched && form.confirmation.$error.required">
            Confirmation is Required
          </small>
          <small class="label error" ng-if="!form.confirmation.$error.required && RegistrationCtrl.user.password !== RegistrationCtrl.user.confirmation">
            Password and Confirmation do not match
          </small>
          <small class="label success" ng-if="RegistrationCtrl.user.password === RegistrationCtrl.user.confirmation && !form.confirmation.$error.required">
            Looks Good
          </small>
        </label>
      </div>
    </form>

    <div class="reg-input-section">
      <button class="button expand" ng-click="RegistrationCtrl.register()" ng-disabled="form.$invalid || RegistrationCtrl.user.password !== RegistrationCtrl.user.confirmation">
        Register
      </button>
      <small class="error" ng-if="RegistrationCtrl.error.status" ng-bind="RegistrationCtrl.error.message"></small>
    </div>

  </div>
</div>
