<div class="row">
  <div class="small-10 small-offset-1 columns">
    <h3>Registration</h3>
    <br>
  </div>
</div>

<div class="row">
  <div class="small-10 small-offset-1 columns">
    <label>Email</label>
    <input type="text" ng-class="validation.email.classes" ng-model="user.email" ng-blur="checkEmail()" placeholder="Email">
    <span ng-class="validation.email.classes" ng-if="validation.email.success">
      Email Available
    </span>
    <small class="error" ng-if="validation.email.error">
      {{ validation.email.message }}
    </small>
    <br>

    <label>Username</label>
    <input type="text" ng-class="validation.username.classes" ng-model="user.username" ng-blur="checkUsername()" placeholder="Username">
    <span ng-class="validation.username.classes" ng-if="validation.username.success">
      Username Available
    </span>
    <small class="error" ng-if="validation.username.error">
      {{ validation.username.message }}
    </small>
    <br>
    
    <label>Password</label>
    <input type="password" ng-class="validation.password.classes" ng-model="user.password" placeholder="Password">
    <small class="error" ng-if="validation.password.error">
      {{ validation.password.message }}
    </small>
    <br>
    
    <label>Password Confirmation</label>
    <input type="password" ng-class="validation.confirmation.classes" ng-model="user.confirmation" placeholder="Password Confirmation">
    <small class="error" ng-if="validation.confirmation.error">
      {{ validation.confirmation.message }}
    </small>
    <br>

    <button class="button expand" ng-class="validation.register.classes" ng-click="register()">Register</button>
    <small class="error" ng-if="validation.register.error">
      {{ validation.register.message }}
    </small>
  </div>
</div>
