/*-------------- Boards Layout -------------- */
#public-content {
  @include grid-columns-base;
  grid-template-areas: 
    "header header"
    "main sidebar"
    "main sidebar";
  grid-gap: 2rem;
  row-gap: 1rem;
  margin-bottom: 2rem;

  @include break-mobile-sm {
    column-gap: 0;
    grid-template-columns: 1fr;
  }

  .boards & {
    grid-template-areas:
      "header header"
      "main main"
      "sidebar sidebar";
  }
}
.main {
  grid-area: main;

}

.dashboard-hero {
  background-color: $sub-header-color;
  grid-area: main;
  margin: -1rem 0 2rem;
  padding: 2rem;
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  .recent-threads {
    max-width: $view-maxWidth;
    margin: 0 auto;
  }

  .title {
    color: $secondary-font-color;
    font-size: $font-size-sm;
  }

  .threads-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }

  .threads-data {
    background-color: $base-background-color;
    // border: 1px solid rgba($border-color, .5);
    border-radius: 6px;
    box-shadow: 0 4px 16px 8px $card-shadow-color;
    cursor: pointer;
    padding: 0.75rem 1rem 1rem;
    // padding-bottom: 1.5rem;
    transition: box-shadow ease-in-out 150ms, transform ease-in-out 150ms;

    &:hover {
      box-shadow: 0 8px 16px 8px rgba($card-shadow-color, 0.15);
      transform: translateY(-2px);
    }

    .title {
      font-size: $font-size-med;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    .user {
      margin-bottom: 0.25rem;
    }

    .states {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      min-height: 1.25rem;

      .thread-state {
        position: initial;
        height: initial;
        width: auto;

        .is-sticky {
          width: 0.875rem;
        }
      }

      .thread-status {
        display: flex;
        align-items: center;
      }

      .is-unread {
        width: 8px;
      }

      svg {
        margin-right: 0.5rem;
      }
    }
  }
}

.sidebar {
  grid-area: sidebar;
  padding-top: 1rem;

  h1 {
    font-size: $font-size-sm;
    line-height: inherit;
    margin-bottom: 0.5rem;
  }

  .threads-recent {
    color: $secondary-font-color;
    font-size: $font-size-sm;
    margin-bottom: 1rem;

    .title {
      font-size: $font-size-base;;
    }

    .user {
      font-size: $font-size-sm;
    }

    .thread-status {
      font-size: $font-size-sm;

      svg {
        height: 0.875rem;
      }
    }
  }

  @media screen and (min-width: 1280px) {
    border-top: none;
    // border-left: $border;
    padding-left: 1rem;
    padding-top: 0;
  }
}

.subject {
  position: relative;
}

.thread-state {
  position: absolute;
  top: 0;
  left: -1.625rem;
  height: 1.25rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  svg {
    width: 9px;
    height: auto;
    margin-right: 0.25rem;

    path {
      fill: $secondary-font-color;
    }
  }

  .is-unread {
    width: 5px;
    height: auto;

    circle {
      fill: $color-primary;
    }
  }
}

.category {
  @include row;
  // border-top: $border;
  margin-bottom: 0.875rem;
  padding-top: 0.375rem;
  .title {
    h1 {
      display: inline-block;
      font-size: $font-size-sm;
      line-height: 1.5;
      // margin-top: 0.5rem;
      padding-left: 0;
    }
    a {
      display: inline-block;
      color: $secondary-font-color;
      width: 1rem;
      // font-size: 0.65rem;
      position: relative;
      // top: -0.2rem;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    .collapse-section {
       @include no-select;
       display: flex;
       align-items: center;
       margin-left: -1rem;
       cursor: pointer;

      .is-open {
        .icon__caretDown {
          transform: rotateZ(0deg);
          transition: all ease-in-out 150ms;
        }
      }

      .is-closed {
        .icon__caretDown {
          transform: rotateZ(-90deg);
          transition: all ease-in-out 150ms;
        }
      }

       .icon__caretDown {
         margin-bottom: 4px;
         width: 8px;

         polyline {
           fill: none;
           stroke: $secondary-font-color;
           stroke-linecap: round;
           stroke-miterlimit: 10;
           stroke-width: 7px;
         }
       }
      }
  }
  .board {
    display: flex;
    flex-direction: row;
    padding: 0 0 1rem 0;

    .info {
      flex: 2 0 0;
      margin-right: 1rem;
      word-break: break-word;

      .description,
      .childboards,
      .moderators {
        color: $secondary-font-color;
        font-size: $font-size-sm;
        line-height: 1;
        margin-bottom: 0.5rem;

        a {

        }
      }

      .description {
        color: $base-font-color;
      }
    }

    h2 {
      font-size: $font-size-med;
      font-weight: 600;
      text-transform: none;

      a {
        color: $base-font-color;

        &:hover {
          color: $color-primary;
        }
      }
    }

    .board-secondary {
      display: flex;
      flex: 1;
      flex-direction: column;
    }

    .view-count {
      @include info-text;
      flex: 0 0 50%;

      &-posts,
      &-threads {
        display: flex;

        .label {
          flex: 0 0 50px;
          text-align: left;
        }
      }

      &-number {
        flex: 1 0 auto;
        font-weight: 600;
        margin-right: .25rem;;
        text-align: right;
      }
    }

    .last-post {
      @include info-text;
      flex: 2;
    }

    @media screen and (max-width: 960px) {
      .view-count {
        flex: 0 0 auto;
      }
      .view-count-posts,
      .view-count-threads {
        display: inline;
      }
      .view-count-number {
        margin-right: 0;
        text-align: left;
      }
    }

    @media screen and  (min-width: 960px) {
      .info {
        flex: 2;
      }
      .board-secondary {
        flex-direction: row;
          .view-count {
            padding-right: 2rem;
          }
        }
      }
  }
}

// Mobile Boards Layout
@include media($mobile) {
  .category .board {
    // .info { @include span-columns(8);}
    // .view-count { @include span-columns(3); @include shift(5); @include pad(0.5rem 0 0 0); }
    // .last-post { @include span-columns(5); @include shift(-8); @include pad(0.5rem 0 0 0); }
    flex-direction: column;

    .description {
      margin-bottom: 0.5rem;
    }

    .info {
      .moderators,
      .childboards {
        margin-bottom: 0.25rem;
      }
    }

    .board-secondary {
      margin-top: 0.25rem;
    }

    .view-count {
      margin-bottom: 0.25rem;
    }
  }
}
