/*-------------- Boards Layout -------------- */
.category {
  @include row;
  margin-bottom: 0.5rem;
  .title {
    h4 { display: inline-block; padding-left: 0; }
    a { display: inline-block; width: 1rem; font-size: 0.65rem; position: relative; top: -0.2rem; }
    .collapse-section { @include no-select; margin-left: -1.15rem; cursor: pointer; display: inline-block; }
  }
  .board {
    @include row;
    @include pad(0 0 1.25rem 0);
    .info {
      @include span-columns(7);
      word-break: break-word;
      .description, .childboards { font-size: 0.875rem; }
    }
    .view-count { @include span-columns(2); @include info-text; }
    .last-post {
      @include span-columns(3);
      @include omega;
      @include info-text;
    }
  }
}

// Mobile Boards Layout
@include media($mobile) {
  .category .board {
    .info { @include span-columns(8);}
    .view-count { @include span-columns(3); @include shift(5); @include pad(0.5rem 0 0 0); }
    .last-post { @include span-columns(5); @include shift(-8); @include pad(0.5rem 0 0 0); }
  }
}
