/*-------------- Boards Layout -------------- */
.category {
  @include row;
  // border-top: $border;
  margin-bottom: 0.875rem;
  padding-top: 0.375rem;
  .title {
    h1 { 
      display: inline-block; 
      font-size: 0.875rem;
      line-height: 1.5;
      margin-top: 0.5rem;
      padding-left: 0; 
    }
    a { 
      display: inline-block; 
      color: $text-gray-med;
      width: 1rem; 
      font-size: 0.65rem; 
      position: relative; 
      top: -0.2rem; 
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
    .collapse-section { @include no-select; margin-left: -1.15rem; cursor: pointer; display: inline-block; }
  }
  .board {
    @include row;
    @include pad(0 0 1rem 0);
    .info {
      @include span-columns(7);
      word-break: break-all;

      .description, 
      .childboards,
      .moderators { 
        color: $text-gray-dark;
        font-size: $base-font-size; 
        line-height: 1;
        margin-bottom: 0.5rem;

        .label {
          font-size: $font-size-sm;
          text-transform: uppercase;
        }

        a {
          
        }
      }

      .description {
        color: $base-font-color;
      }
    }

    h2 {
      font-size: $font-size-med;
      font-weight: 600;
      text-transform: none;

      a {
        color: $base-font-color;
        
        &:hover {
          color: $color-primary;
        }
      }

    }

    .view-count { 
      @include span-columns(2); 
      @include info-text; 
      display: flex;
      flex-direction: row;

      &-posts {
        margin-right: 0.2rem;
      }

      &-number {
        font-weight: 600;
      }
    }

    .last-post {
      @include span-columns(3);
      @include omega;
      @include info-text;
    }
  }
}

// Mobile Boards Layout
@include media($mobile) {
  .category .board {
    .info { @include span-columns(8);}
    .view-count { @include span-columns(3); @include shift(5); @include pad(0.5rem 0 0 0); }
    .last-post { @include span-columns(5); @include shift(-8); @include pad(0.5rem 0 0 0); }
  }
}
