/*-------------- Messages Layout -------------- */
.conversations {
  @include span-columns(3);
  margin-bottom: 2rem;
  .list {
    border: 1px solid $border-color;
    margin-bottom: 1rem;
    .cell {
      @include fill-parent;
      @include truncate-ellipsis;
      @include pad(0.2rem 0.8rem);
      border-bottom: 1px solid $border-color;
      font-size: 0.8rem;
      line-height: 0.95rem;
      cursor: pointer;
      .msg-preview { color: $secondary-font-color; }
      &:hover { background-color: $sub-header-color; }
      &.active { background-color: darken($sub-header-color, 5%); }
      &:last-child { border-bottom: 0; }
    }
  }
  #recentMessagesHeader {
    @include clearfix;
    cursor: pointer;
    color: $secondary-font-color;
    margin-bottom: 1rem;
    .inbox {
      @include span-columns(4);
      @include transition(color 0.15s ease);
      &:hover { @include transition(color 0.15s ease); color: $secondary-font-color-dark; }
    }
    .add {
      @include span-columns(8);
      @include omega;
      color: $color-primary;
      text-align: right;
      @include transition(color 0.15s ease);
      &:hover { @include transition(color 0.15s ease); color: $color-primary-alt; }
    }
  }
}
.messages {
  @include span-columns(9);
  @include omega;
  .thin-underline {
    @include no-select;
    margin-bottom: 0;
    h4 { margin-bottom: 0; display: inline-block;}
  }
  .reply {
    border: 1px solid $border-color;
    border-top: 0;
    background-color: $sub-header-color;
    padding: 1rem;
    margin-bottom: 1rem;
    .preview {
      background-color: #fff;
      height: 7rem;
      margin-bottom: 1rem;
      cursor: default;
      white-space: pre-wrap;
      overflow-y: auto;
      padding: 0.5rem;
      border: 1px solid $border-color;
    }
    button { margin-bottom: 0; }
  }
  .msg-container {
    .message {
      @include clearfix;
      @include pad(1rem);
      border-bottom: 1px solid $border-color;
      &:last-child { margin-bottom: 2rem; }
      &.sender { background-color: $sub-header-color; }
      .avatar {
        @include span-columns(1);
        img {
          @include border-radius(100px);
          height: 2.5rem;
          width: 2.5rem;
        }
      }
      .content {
        @include span-columns(12);
        .title {
          margin-bottom: 0.5rem;
          .date { @include pad(0 0 0 0.25rem); font-size: 0.8rem; color: $secondary-font-color; }
          .action { color: $secondary-font-color; }
          &:hover .action { color: $secondary-font-color-dark; }
          &:hover .action:hover { color: $color-primary;; }
        }
      }
    }
  }
}

@include media($mobile) {
  .conversations { @include span-columns(8); @include omega; }
  .messages { @include span-columns(8); @include omega; }
}
