// Grid Layout
main #public-content {
  // grid-template-columns: 1fr 2fr;
  // grid-template-areas:
  //   "sidebar main"
  //   "sidebar main";
}

.messages-grid {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: minmax(320px, 1fr) 2fr;
  grid-template-areas:
    "list details"
    "list details";
  column-gap: 2rem;

  @include break-mobile-sm {
    grid-template-columns: 1fr;
    grid-template-areas:
      "list"
      "details";
    grid-column: 1;
  }
}

/*-------------- Messages Layout -------------- */
.conversations {
  grid-area: list;
  // min-height: calc(100vh - 95px);

  .pagination-slide {
    font-size: $font-size-sm;
    grid-template-columns: 40px 1fr 40px;
    align-items: center;
    justify-items: center;

    button {
      background-color: transparent;
      color: $text-gray-dark;
      padding: 0.5rem;
      margin: 0;

      &:disabled {
        color: #ccc;
      }
    }
  }

  .list {
    margin-bottom: 1rem;

    .cell {
      @include fill-parent;
      // @include truncate-ellipsis;
      display: flex;
      font-size: 0.8rem;
      line-height: 0.95rem;
      cursor: pointer;
      padding: 0.5rem 0;
      padding-left: 12px;
      position: relative;

      .msg-preview { 
        color: $secondary-font-color; 
      }

      .message-body {
        display: flex;
        flex-direction: column;
        width: 100%;

        span {
          padding-bottom: 0.25rem
        }

        .recipient,
        .msg-preview {
          font-weight: 600;
        }

        .msg-preview {
          @include truncate-ellipsis;
        }
      }

      .action {
        position: absolute; 
        top: 0.5rem; 
        right: 0.2rem; 
        color: $secondary-font-color; 
        opacity: .25;
        transition: all ease-in-out 200ms;
      }

      .state-unread {
        margin-left: -12px;
        padding-top: 2px;
        width: 14px;

        svg {
          display: none;
          fill: $color-primary;
          width: 10px;
        }
      }
      
      &.active { background-color: $sub-header-color; }

      &.unread { 
        .state-unread {
          svg {
            display: block;
          }
        }
      }

      &:hover {
        .action {
          opacity: 1;

          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }

  #recentMessagesHeader {
    display: flex;
    align-content: center;
    cursor: pointer;
    color: $secondary-font-color;
    margin-bottom: 1rem;

    .inbox {
      @include transition(color 0.15s ease);
      &:hover { @include transition(color 0.15s ease); color: $secondary-font-color-dark; }
      flex: 1 0 auto;
    }
    
    .add {
      color: $color-primary;
      display: flex;
      font-size: $font-size-sm;
      align-content: center;      
      @include transition(color 0.15s ease);
      &:hover { @include transition(color 0.15s ease); color: $color-primary-alt; }

      svg {
        margin-right: 0.25rem;
        fill: $color-primary;

        &:hover {
          fill: $color-primary-alt;
        }
      }
    }
  }

  @include break-mobile-sm {
    // min-height: unset;
    // height: 35vh;
    // overflow-y: scroll;
    margin-bottom: 2rem;
    // border-bottom: $border;
  }
}

.messages {
  grid-area: details;

  .action-bar {
    display: none;
    font-size: $font-size-sm;
    margin-bottom: 0.25rem;
    width: 100%;

    .to__messages {
      display: flex;
      align-items: center;
      text-decoration: none;

      svg {
        height: 10px;
        fill: $color-primary;
        transform: rotateZ(90deg);
      }
    }

    @include break-mobile-sm {
      display: block;
    }
  }

  .message-details-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    .to__reply {
      flex: 0 0 auto;
      font-size: $font-size-sm;
    }
  }

  .message-details-header {
    flex: 1 0 auto;
    font-size: $font-size-base;
    text-transform: none;
  }

  .message-details-subject {
    font-size: $font-size-xl;
    text-transform: none;

    span {
      font-weight: 600;
    }
  }

  .thin-underline {
    @include no-select;
    margin-bottom: 0;
    h4 { margin-bottom: 0; display: inline-block;}
  }
  .reply {
    margin-top: 1rem;
    .preview {
      background-color: #fff;
      height: 7rem;
      margin-bottom: 1rem;
      cursor: default;
      white-space: pre-wrap;
      overflow-y: auto;
      padding: 0.5rem;
      border: 1px solid $border-color;
    }
    button { margin-bottom: 0; }
  }

  .msg-container {
    .message-body-header {
      display: flex;
      margin-bottom: 1rem;

      .title {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;

        .title-username-role {
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        .username {
          font-size: 1rem;
          font-weight: 600;
          margin-right: 0.5rem;
        }

        .date {
          color: $secondary-font-color;
          font-size: 1rem;
        }
      }

      .actions {
        align-self: center;
      }

      .action {
        color: $secondary-font-color;
        flex: 1 0 auto;
        opacity: 0.25;
        padding-left: 1rem;
        transition: opacity ease-in-out 200ms, color  ease-in-out 200ms;
      }
    }

    .message {
      @include clearfix;
      border-bottom: 1px solid $border-color;
      padding: 1rem 1rem 1rem 1.5rem;

      &:last-child { margin-bottom: 2rem; }
      &:first-child { border-top: 1px solid $border-color; margin-top: 1rem;}

      &.unread {
        .message-status {
          .status-unread {
            display: block;
          }
        }
      }

      &.sender {
        .message-status {
          .status-sender {
            display: block;
          }
        }
      }


      .message-status {
        margin-left: -1.5rem;
        padding-top: 2px;
        width: 1.5rem;

        .status-unread,
        .status-sender {
          display: none;
        }

        svg {
          fill: $color-primary;
          width: 10px;
        }

        .status-sender {
          svg {
            fill: $secondary-font-color;
          }
        }
      }

      .avatar {
        margin-right: 0.5rem;
        &.circle {
          img {
            @include border-radius(100px);
            height: 2.5rem;
            width: 2.5rem;
          }
        }
        &.rect {
          img {
            height: 2.5rem;
            width: 2.5rem;
          }
        }
      }
      .content {
        @include span-columns(12);
        word-wrap: break-word;
      }

      &:hover {
        .action {
          color: $secondary-font-color-dark;
          opacity: 1;

          &:hover {
            color: $color-primary;
            opacity: 1;
          }
        }
      }
    }
  }

  @include break-mobile-sm {
    background: $base-background-color;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 1rem;
    padding: 0.5rem;
    transform: translateX(100%);
    transition: all ease-in-out 150ms;

    &.is__active {
      transform: translateX(0%);
    }
  }
}

@include break-mobile-sm {
  .conversations {
     width: calc(100vw - 32px);
    }

  .messages { 
    // @include span-columns(8); @include omega; 
  }
}
