/*-------------- Posts (Thread View) Layout -------------- */

#public-content {
  .posts & {
    grid-template-columns: minmax(0, 1fr) 320px;
  }
}

ad-viewer {
  grid-column: 1 / span 2;
}

.sidebar {
  .sidebar-block {
    display: block;
    position: sticky;
    top: calc(#{$header-offset} + 1rem);
  }

  @include break-mobile-sm {
    background-color: rgba($base-background-color, 0.9);
    border-top: $border;
    position: fixed;
    bottom: 3rem;
    left: 0;
    right: 0;
    padding: 1rem;
    text-align: right;
    z-index: 900;
  }
}

.thread-controls-wrap {
  // background-color: $sub-header-color;
  margin: -$header-bottom-margin -2rem $header-bottom-margin;
  padding: $header-bottom-margin 2rem 1rem;
  border-bottom: $border;
  // margin: -1.5rem -2rem 1.5rem;
  // padding: 1.5rem 2rem;
  grid-column: 1 / span 2;

  .inverted-button {
    color: $secondary-font-color;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    text-align: center;
    &:hover {
      background-color: $secondary-font-color-light;
      border-color: $secondary-font-color;
      color: $secondary-font-color-dark;
    }
  }
  button, .button {
    // float: right;
    color: $button-text-color;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    border: 1px solid transparent;
    line-height: unset;
    text-align: center;
  }
  .controls.two-thirds-column {
    text-align: right;
    .control:last-child {
      margin-right: 0.5rem;
    }
  }

  .user-controls-base {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    a {
      padding: 0 0.5rem;
    }
  }

  a {
    color: $secondary-font-color;
  }
}

.thread-data {
  @include pad(0 0 1rem 0);
}

.post-block {
    @include transition(background-color 250ms ease-in);
    min-height: 10rem;
    // max-width: calc(#{$view-maxWidth} - #{$sidebarWidth} - 2rem);
    border-bottom: $border;
    padding: 1.5rem 0 2rem;

    &.highlighted {
      background-color: $color-highlighted;
    }
    &.editing {
      background-color: RGBA(235, 200, 120, 0.5);
    }
    &.hidden {
      background-color: $sub-header-color;
    }
    &.deleted {
      min-height: 0;
      padding: 0.5rem 0.5rem;
      color: $secondary-font-color;
      text-align: center;
    }

    &:hover {
      .post-content {
        .post-title {
          .post-action {
            .post-action-icon, a {
              opacity: 1;
            }
          }
        }
      }
    }

    .post-block-grid {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .post-user {
      width: 5rem;
      padding-right: 1.25rem;
      font-size: $font-size-tiny;
      text-align: center;
      text-transform: uppercase;

      a {
        display: block;
      }
      .user-avatar {
        @include bg-cover;
        background: no-repeat center center;
        position: relative;
        margin-bottom: 1rem;
        height: 3.75rem;
        width: 3.75rem;
        
        .online {
          position: absolute;
          top: -4px;
          right: -4px;

          svg {
            stroke: white;
            stroke-width: 6;
            fill: green;
            width: 20px;
            height: auto;
          }
        }

        img {
          @include border-radius(100px);
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .user-trust,
      .user-rank, 
      .user-activity {
        line-height: 1;
        color: $secondary-font-color;
        overflow: hidden;
        margin-bottom: 0.25rem;
        white-space: nowrap;
        text-align: center;
        text-transform: uppercase;
        width: 100%;

        &-value {
          font-weight: 600;
        }
      }
    }
    .post-content {
      width: 100%;

      .bbcode-column {
        img.image-loader.loaded {
          max-width: 350px;
          margin: 5px auto;
          display: inline;
        }
      }
      .post-title {
        color: $secondary-font-color;
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
        width: 100%;

        .post-title-user {
          display: flex;
          align-items: center;
          flex: 2 1 auto;
          flex-wrap: wrap;
        }

        a.username {
          margin-right: 0.5rem;
          color: $base-font-color;
          font-weight: 600;
          &:hover {
            color: $color-primary;
          }
        }

        .user-role {
          @include truncate-ellipsis;
          background-color: transparent;
          border: 1px solid $secondary-font-color;
          border-radius: 2px;
          color: $secondary-font-color-dark;
          display: inline-block;
          font-size: $font-size-xs;
          font-weight: 400;
          line-height: 1.4;
          margin-right: 0.5rem;
          max-width: 100px;
          padding: 1px 6px;
          text-align: center;
        }

        .timestamp, .display-name {
          display: inline-block;
          color: $text-gray-med;
          font-size: $font-size-xs;
          font-weight: 400;
        }
        .display-name {
          color: $secondary-font-color-dark;
        }

        .post-action {
          // opacity: .4;
          @include list-clean;
          display: flex;
          align-items: center;
          justify-self: flex-end;
          color: $secondary-font-color;
          // transition: opacity ease-in-out 150ms;

          li {
            padding-left: 1rem;
          }

          svg {
            fill: $secondary-font-color;
          }

          .post-action-icon,
          a {
            color: $secondary-font-color;
            display: flex;
            font-size: $font-size-sm;
            opacity: .25;
            transition: opacity ease-in-out 150ms;

            @include break-mobile-sm {
              opacity: 1;
            }

            &.selected {
              opacity: .6;

              svg {
                // fill: $secondary-font-color-dark;
                fill: $dark-text-default;
              }
            }

            &:hover {
              svg {
                fill: $color-primary;
              }
            }
          }
        }
      }

      .post-sig-border {
        clear: both;
        width: 250px;
        border-top: $border;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
      }
      .post-signature {
        @include truncate-ellipsis;
        clear: both;
        color: $secondary-font-color;
        font-size: 13px;
        max-height: 50px;
        word-wrap: break-word;
        white-space: pre-wrap;
        a {
          color: $secondary-font-color;
          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }

#post-spacer {
  min-height: 175px;
}

#post-tools-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 3rem;
  z-index: 900;
  // border-top: $border;
  background-color: rgba($base-background-color, 0.9);
  .tool-wrap {
    max-width: $max-width;
    margin: 0 auto;
    .tool-container {
      line-height: 3rem;
      .button {
        margin: 0;
        padding: 0.35rem 1rem;
      }
      .left-col {
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .right-col {
        text-align: right;
      }
    }
  }
}

#post-tools-fixed .tool-wrap .tool-container, .thread-controls-wrap .two-thirds-column {
  .control {
    display: inline-block;
    text-align: center;
    line-height: 2.25rem;
    margin-right: 1.5rem;
    a {
      color: $secondary-font-color;
      &.clicked {
        color: $color-primary;
      }
    }
  }
}

.pagination-bottom {
  grid-column: 1 / span 2;
}

// Posts Layout Mobile

@include media($desktop-small) {
  .thread-controls-wrap {
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    .controls.two-thirds-column {
      text-align: center;
      @include span-columns(6);
      .control:last-child {
        margin-right: 1rem;
      }
    }
    .controls.one-third-column {
      @include span-columns(6);
      .button {
        @include span-columns(12);
      }
    }
  }
}

@include media($mobile-portrait) {
  .thread-data .post-block .post-content .display-name {
    float: none;
    width: 100%;
  }
  .thread-controls-wrap {
    .controls.one-third-column {
      @include span-columns(8);
    }
    .controls.two-thirds-column {
      text-align: center;
      @include span-columns(8);
      .control:last-child {
        margin-right: 0;
      }
    }
  }
  #post-tools-fixed .tool-wrap {
    .right-col .button {
      width: 100%;
      .hide-post {
        display: none;
      }
    }
  }
}

@include media($mobile) {
  .thread-data,
  .sidebar {
    grid-column: 1 / span 2;
  }

  .thread-data {
    margin-bottom: 3rem;
  }
  
  .thread-data .post-block .post-user {
    display: none;
  }
  .thread-data .post-block .post-content {
    margin-left: 0;
  }
  .thread-data .post-block .post-content .post-title {
    position: relative;
  }
  .thread-data .post-block .post-content .timestamp {
    float: none;
    width: 100%;
  }
  .thread-data .post-block .post-content .post-action {
    position: absolute;
    top: 0;
    right: 0;
  }
  #post-tools-fixed {
    // height: 2.5rem;
    .tool-wrap .tool-container {
      line-height: 2.5rem;
      padding: 0 $base-grid-padding;
      .left-col {
        @include span-columns(5);
      }
      .right-col {
        @include span-columns(3);
        .button {
          padding: 0.15rem 0.76rem;
          display: inline-block;
        }
      }
    }
  }
}
