/*-------------- Profile Layout -------------- */
.message-banned {
  background-color: $color-primary;
  color: $light-text-default;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
}



profile {
  grid-column: span 2;
  display: grid;
  @include grid-columns-base
  grid-template-areas: 
    "header sidebar"
    "main sidebar";
  column-gap: 2rem;

  @include break-mobile-med {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "header"
      "sidebar"
      "main";
    width: 100%;
  }
}

.profile-header {
  display: flex;
  grid-area: header;
  padding: 1rem 0;

  $avatar-width: 120px;
  .profile-avatar {
    flex: 0 0 $avatar-width;
    margin-right: 2rem;
    position: relative;

    .imageContainer {
      width: $avatar-width;
      height: $avatar-width;
      margin-bottom: 0.5rem;
    }

    .edit-avatar {
      font-size: $font-size-sm;
    }

    .profile-user-status {
      position: absolute;
      top: 4px;
      right: 4px;
      
      svg {
        stroke: #fff;
        stroke-width: 6;
        fill: green;
        width: 1.5rem;
      }
    }

    .rectangle {
      .profile-user-status {
        top: -8px;
        right: -8px;
      }
    }
  }

  .profile-user-details {
    display: flex;
    flex-direction: column;

    .profile-user-name-role {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      line-height: 1.1;
      margin-bottom: 0.5rem;

      h1 {
        color: $dark-text-default;
        font-size: inherit;
        font-weight: 600;
        line-height: inherit;
        padding-right: 0.5rem;
        text-transform: none;
      }

      .username-screen {
        color: $text-gray-med;
        font-weight: 400;
        margin-right: 0.5rem;
      }

      .user-role {
        background: $color-primary;
        border-radius: 2px;
        color: #fff;
        font-size: $font-size-xs;
        line-height: 1.4;
        max-width: 140px;
        overflow: hidden;
        padding: 1px 6px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .profile-user-activity {
      color: $text-gray-med;
      font-size: $font-size-sm;
      margin-bottom: 1rem;
      text-transform: uppercase;

      .user-activity-stat,
      trust-profile {
        display: inline;
      }

      .user-activity-stat {
        margin-right: 1rem;
      }

      .value {
        font-weight: 600;
      }

      trust-profile {
        div {
          display: inline;
        }

        .trust-score {
          font-weight: 600;
          margin-right: 1rem;
        }

        a {
          color: $text-gray-med;
          text-decoration: underline;
        }
      }
    }

    .signature-block {
      display: flex;
      margin-bottom: 1rem;
    }

    .signature {
      @include truncate-ellipsis;
      // flex: 1 0 auto;
      font-size: $font-size-xs;
      color: $text-gray-med;
      line-height: 1.2;
      max-height: 50px;
      word-wrap: break-word;
      white-space: pre-wrap;
      width: 100%;
    }

    .signature-edit {
      flex: 0 0 20px;
    }
  }

  .profile-user-stats {
    display: flex;
    margin-bottom: 2rem;

    .stats {
      border: $border;
      border-radius: 6px;
      color: $text-gray-dark;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;
      padding: 0.5rem;
      text-align: center;
      width: 100px;
      max-width: 120px;

      .label {
        font-size: $font-size-xs;
      }

      .stat-text {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0.25rem;

        &-sm {
          font-size: 21px;
          font-weight: 600;
        }
      }
    }
  }

  @include break-mobile-med {
    align-items: center;
    flex-direction: column;

    .profile-avatar {
      margin-bottom: 1rem;
      margin-right: 0;
    }

    .imageContainer {
      width: 60px;
      height: 60px;
    }

    .profile-user-details {
      .profile-user-name-role {
        flex-direction: column;
        margin-bottom: 1.5rem;

        h1,
        .username-screen {
          margin-bottom: 0.25rem;
        }
      }
    }

    .profile-user-activity {
      text-align: center;
    }

    trust-profile {
      .trust-link {
        white-space: nowrap;
      }
    }
  }
}

.profile-threads-posts {
  grid-area: main;
}

.table-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  button {
    background: transparent;
    border-bottom: 1px solid rgba(0,0,0,0);
    border-radius: 0;
    color: $text-gray-dark;
    margin-right: 2rem;
    padding: 0.5rem 0;

    &:hover {
      background: inherit;
      border-color: rgba($color-primary, .8);
      color: rgba($color-primary, .8);
    }

    &.active {
      color: $color-primary;
      border-color: $color-primary;
    }
  }
}

.profile-sidebar {
  color: $text-gray-dark;
  grid-area: sidebar;

  .actions-panel {
    border-bottom: $border;
    line-height: 1.5;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
}

.profile-save-container { padding-top: 20px; }
.profile-posts, .profile-content, .profile-row {
  // @include clearfix;
  // @include row;
  margin-bottom: 1rem;
}
.profile-content {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 1fr 3fr;
  display: none;

  .profile-left {
    word-wrap: break-word;

    .profile-avatar-container {
      width: 100%;
      height: 100%;

      .imageContainer.loaded { background: none; }
      .imageContainer { background: url('/static/img/loading.gif') no-repeat center; display: inline;}
      
      .profile-avatar-image {
        display: block;
        position: relative;
      }

      .profile-user-status {
        position: absolute;
        right: -1rem;
        top: -1rem;

        svg {
          stroke: #fff;
          stroke-width: 6;
          fill: green;
          height: 2rem;
          width: auto;
        }
      }

      img {
        @include transition(opacity 0.5s ease-in);
        opacity: 0;
        object-fit: cover;
      }
      img.loaded { opacity: 1; }
      &:hover .after { transition-delay:0s; visibility: visible; opacity: 1;}
      .after {
        @include transition(visibility 0s linear 0.1s, opacity 0.1s linear);
        visibility: hidden;
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        line-height: 1.5rem;
        width: 100%;
        height: 45px;
        color: #FFF;
        padding: 0.625rem;
        background: rgba(0, 0, 0, .6);
      }
    }
  }
  .profile-right {
    word-wrap: break-word;

    #myChart { height: 375px !important; width: 100% !important; }
    // .stats {
    //   @include span-columns(4);
    //   @include omega(3n);
    //   text-align: center;
    //   .stat-text { font-size: 1.625rem; }
    // }
    // .signature {
    //   @include truncate-ellipsis;
    //   clear: both;
    //   color: $secondary-font-color;
    //   font-size: 13px;
    //   max-height: 50px;
    //   word-wrap: break-word;
    //   white-space: pre-wrap;
    //   a {
    //     color: $secondary-font-color;
    //     &:hover { color: $color-primary; }
    //   }
    // }
  }
}
.profile-posts {
  .profile-row {
    .title { @include span-columns(3); font-weight: 600; }
    .pagination-wrap {
      @include span-columns(9);
      @include omega;
      float: right;
      ul.pagination { float: right; margin-bottom: 0px; }
    }
  }
}

.more-posts { margin-bottom: 2rem; }


.profile-posts {
  button {
    margin-bottom: 0;
  }
}

.pagination-simple {
  margin-bottom: 0;
}

.profile-posts-table {
  table-layout: fixed;
  
  tr {
    td {
      font-size: $base-font-size;
      line-height: 1.3;
      padding: 0.5rem 0;
      vertical-align: top;
    }
  }

  .timestamp {
    color: $text-gray-med;
    min-width: 150px;
    padding-left: 1rem;
    width: 25%;
  }

  .truncate-title { 
    width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; 
  }

  .thread-title {
    font-weight: 600;
  }

  .post {
    cursor: pointer;
    padding: 0 0.25rem;
    transition: all ease-in-out 200ms;

    &:hover {
      background-color: darken($base-background-color, 5%);
    }
  }

  .post-body {
    white-space: pre-wrap;

    &.open {
      background-color: darken($base-background-color, 5%);
    }

    ul { 
      white-space: normal 
    }

    &.closed {
      width: 100%;
      max-height: 18px;
      white-space: pre-wrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .no-table-contents {
    color: $text-gray-med;
    font-size: $font-size-med;
    font-weight: 400;
  }

  @include break-mobile-med {
    display: grid;
    grid-template-columns: 1fr;

    thead,
    th,
    tbody,
    tr {
      display: contents;
    }

    thead {
      display: none;
    }

    tr {
      display: flex;
      flex-direction: column;
      padding: 0.5rem 0;

      td {
        padding: 0;
      }
    }

    .timestamp {
      font-size: $font-size-sm;
      padding: 0;
      order: -1;
      width: 100%;
    }
  }
}



@include media($mobile) {
  .profile-content {
    .profile-right {
      border-top: 1px solid #ddd;
      padding-top: 1rem;
      .stats .stat-text { font-size: 1rem; }
    }
    .profile-left, .profile-right { @include span-columns(8); @include omega; }
  }
  .profile-posts, & {
    .profile-row .title, .profile-row .pagination-wrap, .pagination-wrap {
      @include span-columns(8);
      @include omega;
    }
    .profile-row .pagination-wrap, .profile-row .pagination-wrap ul.pagination {
      float: none;
      text-align: center;
    }
  }
  .profile-row.profile-action { text-align: center; }
  .mobile-post-time { color: $secondary-font-color; padding-bottom: 1rem; }
  .mobile-post { padding: 1rem; }
  .mobile-post:nth-child(even) { background: $sub-header-color; }
  .mobile-post:last-child { border-bottom: 0px; }
}
