
.recent-mentions-header {
  display: flex;
  align-items: center;
  grid-area: header;

  h1 {
    color: $dark-text-default;
    font-size: $font-size-lg;
    font-weight: 600;
    flex: 1 0 auto;
    text-transform: none;
  }
}

.recent-mentions {
  display: flex;
  flex-direction: column;
  grid-area: main;
  margin-bottom: 1.5rem;

  .mention {
    padding: 1rem 0 2rem;
    border-bottom: $border;
    
    .actions {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 2rem;

      div {
        width: 1rem;
        cursor: pointer;
        z-index: 999;
        display: none;
      }
    }
    
    &:hover {
      background-color: darken($sub-header-color, 1%);
      .actions div {
        display: block;;
      }
    }

    &.dismissed, 
    &.dismissed:hover {
      svg {
        display: none;
      }
      background-color: transparent;
    }
  }

  .mention-content {
    color: $base-font-color;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: 
      "status title actions"
      "status message actions";
    grid-template-columns: min-content 1fr min-content;

    &:hover {
      text-decoration: none;
    }

    .mention-status {
      grid-area: status;
      padding-top: 1rem;
      padding-left: 0.5rem;

      svg {
        fill: $color-primary;
        width: 12px;
      }
    }

    .mention-title {
      grid-area: title;
      display: flex;
      width: 100%;
    }

    .avatar {
      flex: 0 0 50px;
      margin-right: 0.5rem;
        &.circle {
          img {
            height: 3.125rem;
            width: 3.125rem;
            border-radius: 100%;
            border: 2px solid $border-color;
            object-fit: cover;
          }
        }
        &.rect {
          img {
            height: 3.125rem;
            width: 3.125rem;
            border: 2px solid $border-color;
            object-fit: cover;
          }
        }
      }
      .msg {
        height: 3.125rem;
        padding-top: 0.5rem;
        line-height: 1rem;
        float: left;
        width: calc(100% - 6.4375rem);
        font-size: 0.875rem;
        div {
          display: inline-block;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          @include media($mobile-portrait) {
            .hidden-mobile { display: none; }
          }
        }
      }

    .mention-body {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: $text-gray-dark;

      .timestamp {
        display: block;
      }

      a:hover { 
        color: $color-primary;
      }
    }

    .mention-reference {
      color: $dark-text-default;
      grid-area: message;
      margin-left: 56px;
      // display: -webkit-box;
      // -webkit-line-clamp: 3;
      // -webkit-box-orient: vertical;
      max-height: calc(#{$base-line-height} * 4);
      overflow: hidden;
    }
  }
}

.pagination-simple {
  background-color: $base-background-color;
  padding: 1rem 0;
  position: sticky;
  bottom: 0;
  left: 0;
  text-align: right;
}