
.recent-mentions-header {
  display: flex;
  align-items: center;
  grid-area: header;

  h1 {
    color: $base-font-color;
    font-size: $font-size-xl;
    font-weight: 600;
    flex: 1 0 auto;
    text-transform: none;
  }
}

.recent-mentions {
  display: flex;
  flex-direction: column;
  grid-area: main;
  margin-bottom: 1.5rem;

  .mention {
    padding: 1rem 0 2rem;
    border-bottom: $border;
    transition: all ease-in-out 200ms;
    
    .actions {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 2rem;

      .action-button {
        width: 1rem;
        cursor: pointer;
        z-index: 999;
        display: none;
      }
    }
    
    &:hover {
      background-color: darken($sub-header-color, 1%);
      .actions div {
        display: block;;
      }
    }

    &.dismissed, 
    &.dismissed:hover {
      background-color: transparent;
      .mention-status {
        svg {
          display: none;
        }
      }
    }

    &.dismissed:hover {
      .actions {
        svg {
          display: block;
        }
      }
    }
  }

  .mention-content {
    color: $base-font-color;
    display: grid;
    column-gap: 1rem;
    row-gap: 0.25rem;
    grid-template-areas: 
      "status title actions"
      "status message actions";
    grid-template-columns: min-content 1fr min-content;

    &:hover {
      text-decoration: none;
    }

    .mention-status {
      grid-area: status;
      min-width: 20px;
      padding-top: 1rem;
      padding-left: 0.5rem;

      svg {
        fill: $color-primary;
        width: 12px;
      }
    }

    .mention-title {
      grid-area: title;
      display: flex;
      width: 100%;
    }

    .avatar {
      flex: 0 0 50px;
      margin-right: 0.5rem;
        &.circle {
          img {
            height: 3.125rem;
            width: 3.125rem;
            border-radius: 100%;
            border: 2px solid $border-color;
            object-fit: cover;
          }
        }
        &.rect {
          img {
            height: 3.125rem;
            width: 3.125rem;
            border: 2px solid $border-color;
            object-fit: cover;
          }
        }
      }

    .mention-body {
      color: $secondary-font-color;

      .user,
      .boardName,
      .title {
        font-weight: 600;
      }

      .title {
        max-height: calc(#{$base-line-height} * 2);
        overflow: hidden;
      }

      .timestamp {
        color: $secondary-font-color;
        display: block;
        font-size: $font-size-sm;
      }

      svg {
        fill: $secondary-font-color;
      }

      a:hover { 
        color: $color-primary;
      }
    }

    .mention-reference {
      color: $base-font-color;
      grid-area: message;
      margin-left: 56px;
      max-height: calc(#{$base-line-height} * 4);
      overflow: hidden;
    }
  }
}

.pagination-simple {
  background-color: $base-background-color;
  padding: 1rem 0;
  position: sticky;
  bottom: 0;
  left: 0;
  text-align: right;

  .user-settings & {
    position: relative;
  }
}

.caret-right {
  height: 12px;
  position: relative;
  transform: rotate(-90deg);
  top: 1px;
}

// Small screen layout
$avatar-small: 2rem;
$columnGap-small: 0.5rem;

@media screen and (max-width: 767px) {
  main #public-content {
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "footer";
  }

  .recent-mentions {
    .mention {
      .mention-content {
        column-gap: $columnGap-small;
        grid-template-areas:
          "status actions actions"
          "status title title"
          "status message message";

        .mention-status {
          padding-left: 0;
          padding-top: 2rem;
        }

        .avatar {
          flex: 0 0 $avatar-small;
          width: 100%;
          height: auto;
          
          img {
            height: 2rem;
            width: 2rem;
          }
        }

        .actions {
          display: flex;
          justify-content: flex-end;
          flex-direction: row;
          justify-self: flex-end;

          .action-button {
            display: block;
            line-height: 1;
            margin-left: 1rem;
          }
        }

        .mention-reference {
          margin-left: calc(#{$avatar-small} + #{$columnGap-small});
          margin-top: 0.5rem;
        }
      }
    }
  }

  .pagination-simple {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
  }
}
