/*-------------- Threads Layout -------------- */
// .board-controls-wrap {
//   // background-color: $sub-header-color;
//   background-color: #fff;
//   border-bottom: $border;
//   margin: -$header-bottom-margin -100% $header-bottom-margin;
//   padding: $header-bottom-margin 100% 0;
//   grid-column: 1 / span 2;
//   .inverted-button {
//     color: $secondary-font-color;
//     padding-top: 0.35rem;
//     padding-bottom: 0.35rem;
//     text-align: center;
//     &:hover {
//       background-color: $secondary-font-color-light;
//       border-color: $secondary-font-color;
//       color: $secondary-font-color-dark;
//     }
//   }
// }

.board-controls {
  background-color: #fff;
  border-bottom: $border;
  // margin: -$header-bottom-margin -100% $header-bottom-margin;
  // padding: $header-bottom-margin 100% 0;
  margin: -1.5rem -2rem 0;
  padding: 1rem 2rem;
  grid-column: 1 / span 2;
  display: grid;
  // grid-template-areas: 'main secondary';
  grid-template-columns: repeat(2, 1fr);

  h1 {
    color: $base-font-color;
    // grid-area: main;
    font-size: $font-size-lg;
    font-weight: 600;
    text-transform: none;
  }

  pagination {
    // grid-area: secondary;
    justify-self: end;
  }

  @include break-mobile-sm {
    grid-template-columns: auto;
    justify-items: center;

    pagination {
      justify-self: center;
    }
  }
}

.board-data {
  grid-column: 1 / span 2;

  @include break-min-large {
    grid-column: auto;
  }
}

.board-data, .watchlist-data {
  // h1 { 
  //   display: inline-block; 
  //   font-size: $font-size-sm;
  //   line-height: 1.5;
  //   margin-top: 0.5rem;
  //   padding-left: 0; 
  // }
  // a { 
    
  // }

  // h2 {
  //   font-size: $font-size-med;
  //   font-weight: 600;
  //   text-transform: none;

  //   a {
  //     color: $base-font-color;
      
  //     &:hover {
  //       color: $color-primary;
  //     }
  //   }
  // }

  // .child-boards {
  //   margin-bottom: 3rem;
  //   .board {
  //     display: flex;
  //     flex-direction: row;
  //     padding: 0 0 1rem 0;

  //     .info {
  //       flex: 2;
  //       .description { 
  //         // font-size: 0.875rem; 
  //         line-height: 1.5;
  //       }

  //       .childboards {
  //         color: $text-gray-dark;
  //       }

  //       .label {
  //         font-size: $font-size-sm;
  //         // text-transform: uppercase;
  //       }
  //     }

  //     .info-secondary {
  //       color: $text-gray-dark;
  //       flex: 1;
  //       font-size: $font-size-sm;
  //       display: flex;
  //       flex-direction: column;
  //     }

  //     .value {
  //       font-weight: 600;
  //     }

  //     .view-count { 
  //       flex: 0 0 50%;
  //     }

  //     .view-count-posts,
  //     .view-count-threads {
  //       display: flex;
  //       justify-content: flex-end;
  //     }

  //     .view-count-number {
  //       flex: 1 0 auto;
  //       font-weight: 600;
  //       margin-right: 0.2rem;
  //       text-align: right;
  //     }

  //     .label {
  //       flex: 0 0 50%;
  //       text-align: left;
  //     }

  //     .last-post {  
  //     }
  //   }

  //   @include media($mobile) {
  //     .board {
  //       flex-direction: column;
  //     }
  //   }@media screen and (max-width: 960px) {
  //     .info-secondary {
  //       .view-count {
  //         flex: 0 0 auto;
  //       }

  //       .view-count-posts,
  //       .view-count-threads {
  //         display: inline;
  //       }

  //       .view-count-number {
  //         text-align: left;
  //       }
  //     }
  //   }

  //   @media screen and (min-width: 960px) {
  //     .board {
  //       .info-secondary {
  //         flex-direction: row;

  //         .view-count {
  //           padding-right: 2rem;
  //         }
  //       }
  //     }
  //   }
  // }

  // .threads-header,
  // .threads-data {
  //   display: flex;
  //   margin-bottom: 1rem;

  //   .subject {
  //     flex: 6;
  //   }

  //   .replies,
  //   .views {
  //     flex: 1;
  //   }

  //   .last-reply,
  //   .actions {
  //     flex: 2;
  //   }

  //   .replies, 
  //   .views,
  //   .last-post { 
  //     font-size: $font-size-sm;
  //     margin-left: 1rem;
  //   }

  //   .replies,
  //   .views {
  //     text-align: right;
  //   }
  // }
  // .threads-data {
  //   .subject {
  //     .title i {
  //       color: $secondary-font-color-dark;
  //       padding-left: 0.25rem;
  //       &.icon-fix { margin-top: 0.2rem; font-size: 0.95rem; }
  //     }
  //     .thread-title {
  //       word-wrap: break-word;
  //       overflow-wrap: break-word;
  //       &.bold { font-weight: bold; }
  //     }
  //     .started-by, .pages { font-size: 0.875rem; }
  //     .mobile-stats { @include info-text; display: none; }
  //   }

  //   .actions { 
  //     @include span-columns(3); 
  //     @include omega; 
  //     @include info-text; 
  //   }
  // }
  
  // .threads-data.compact {
  //   @include clearfix;
  //   @include pad(0 0 0.25rem 0);
  //   color: $secondary-font-color-dark;
  //   &:last-child { @include pad(0 0 1rem 0); }
  //   .subject{ @include span-columns(9); }
  //   .updated-at { @include span-columns(3); @include omega; @include info-text; }
  // }
}

.board-sidebar {
  grid-column: 1 / span 2;
  grid-row: 2 / 3;

  .board-actions {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 1280px) {
    grid-column: 2 / span 1;
  }

  @media screen and (min-width: 767px) and (max-width: 1279px) {
    .board-actions {
      flex-direction: row;
      justify-content: center;

      a {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  }
}

.board-footer {
  grid-column: 1 / span 2;
  justify-self: end;
}

// Mobile Board Layout
// @include media($mobile) {
//   .board-data, .watchlist-data {
//     grid-column: 1 / span 2;
//     // .child-boards .board {
//     //   .info { @include span-columns(8); }
//     //   .view-count { @include span-columns(3); @include shift(5); @include pad(0.5rem 0 0 0); }
//     //   .last-post { @include span-columns(5); @include shift(-8); @include pad(0.5rem 0 0 0); }
//     // }
//     .threads-header {
//       .mobile-header { @include span-columns(8); @include omega; display: block; }
//       .subject, .replies, .views, .last-reply { display: none; }
//     }
//     .threads-data {
//       @include clearfix;
//       &.compact {
//         @include pad(0 0 0.5rem 0);
//         .subject { @include span-columns(6.5); }
//         .show-mobile { @include span-columns(1.5); @include omega; }
//       }
//       .replies, .views { display: none; }
//     }
//   }
// }

/*-------------- New Thread Layout -------------- */
.padded-row { @include row; @include pad(0 0 1rem 0); }
.padded-row { .h4, .h6 { display: inline-block; } }
@include media($mobile) { input[type="text"].thread-title { margin-bottom: 0; } }


//  New Board Layout
.content-sidebar {
  .board-data {
    h1 {
      font-size: $font-size-sm;
      color: $text-gray-med;
      text-transform: uppercase;
    }

    .threads-data {
      color: $text-gray-med;
      display: flex;
      flex-direction: row;
    }

    .subject {
      display: flex;
      flex: 3;
      margin-right: 0.5rem;
    }

    .title {
      flex: 2;
      margin-right: 0.5rem;
    }

    .last-reply {
      flex: 1;
      font-size: $font-size-sm;
    }

    @media screen and (min-width: 1280px) {
      font-size: $font-size-sm;
      flex-direction: column;

      .threads-data {
        flex-direction: column;
        margin-bottom: 1rem;
      }
    }

    @media screen and (max-width: 767px) {
      .threads-data {
        flex-direction: column;
      }

      .last-reply {
        font-size: $font-size-sm;
      }
    }
  }
}


// Grid test
.grid {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);

  thead, tbody, tr {
    display: contents;
  }

  caption {
    grid-column: 1 / span 4;
  }

  @include break-mobile-sm {
    grid-template-columns: 1fr;

    caption {
      grid-column: inherit;
    }
  }
}

// Child Boards view
.child-boards {
  display: grid;
  grid-template-columns: minmax(200px, 600px) 2fr minmax(100px, 200px);
  column-gap: 1.5rem;
  // row-gap: 1rem;
  margin-bottom: 3rem;

  caption {
    color: $text-gray-med;
    font-size: $font-size-xs;
    font-weight: 400;
    grid-column: 1 / span 3;
    margin-bottom: .25rem;
    text-align: left;
    text-transform: uppercase;
  }

  thead, tbody, tr {
    display: contents;
  }

   thead, tbody {
    tr {
      td, th {
        font-size: $base-font-size;
        padding: 0; 
        padding-bottom: 1rem;
        line-height: 20px;
      }
    }
  }

  .description {
    font-size: $font-size-sm;
  }

  .children {
    color: $text-gray-dark;
    font-size: $font-size-sm;
  }

  .views {
    color: $text-gray-dark;
    font-size: $font-size-sm;
    font-weight: 600;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content;
    column-gap: 0.2rem;

    .views-number {
      justify-self: end;
    }

    .label {
      font-weight: 400;
    }
  }

  .last-post {
    color: $text-gray-dark;
    font-size: $font-size-sm;
  }

  @include break-mobile-sm {
    grid-template-columns: 1fr;
    row-gap: 0;
    margin-bottom: 2rem;

    td:last-child {
      margin-bottom: 2rem;
    }

    caption {
      grid-column: inherit;
    }

    .views {
      grid-template-columns: repeat(4, min-content);
    }

    .board-name {
      // margin-top: 1rem;
    }
  }
}


// Thread List view
.threads-list {
  display: grid;
  // grid-template-columns: minmax(200px, 600px) repeat(2, 1fr) 3fr;
  grid-template-columns: minmax(200px, 600px) repeat(2, 1fr) minmax(100px, 200px);
  column-gap: 1.5rem;
  row-gap: 1rem;

  caption {
    display: none;
    grid-column: 1 / span 2;
  }

  thead, tbody, tr {
    display: contents;
  }

  thead, tbody {
    tr {
      td, th {
        font-size: $base-font-size;
        padding: 0; 
        line-height: 20px;
      }
    }
  }

  thead {
    tr {
      th {
        &.subject,
        &.replies,
        &.views,
        &.last-post {
          color: $text-gray-med;
          font-size: $font-size-sm;
          font-weight: 400;
          text-transform: uppercase;
        }
      }
    }
  }

  .started-by,
  .replies,
  .views,
  .last-post {
    color: $text-gray-dark;
  }

  .replies,
  .views,
  .last-post {
    font-size: $font-size-sm;
  }

  .replies,
  .views {
    text-align: right;
  }

  // .sticky {
  //   td {
  //     border-bottom: $border;
  //   }
  // }



  // Mobile Thread Table
  @include break-mobile-sm {
    grid-template-columns: 1fr;
    row-gap: 0;

    caption {
      display: block;
      color: $text-gray-med;
      text-align: left;
      text-transform: uppercase;
    }

    tbody, thead {
      tr {
        td, th {
          line-height: 18px;
        }
      }
    }

    thead {
      display: none;
    }

    td {
      &:first-child {
        margin-top: 0.5rem;
      }
      &:last-child {
        margin-bottom: 1.5rem;
      }
    }

    .started-by {
      font-size: $font-size-sm;
    }

    .replies,
    .views {
      text-align: left;
    }

    .replies {
      &:after {
        content: ' replies';
      }
    }

    .views {
      &:after {
        content: ' views'; 
      }
    }

    // .sticky {
    //   td {
    //     border-bottom: none;
    //     &:last-child {
    //       border-bottom: $border;
    //       margin-bottom: 1rem;
    //       padding-bottom: 1rem;
    //     }
    //   }
    // }

  }
}