/*-------------- Threads Layout -------------- */
.threads {
  main {
    #public-content {
      grid-template-areas:  
        "header header"
        "main sidebar"
        "main sidebar";
      
      @include break-max-large {
        grid-template-areas: 
          "header header"
          "sidebar sidebar"
          "main main";
      }
    }
  }
}

.board-controls {
  background-color: #fff;
  border-bottom: $border;
  margin: 0 0 1.5rem;
  padding: 0 0 1.5rem;
  grid-column: 1 / span 2;
  display: grid;
  grid-area: header;

  h1 {
    color: $base-font-color;
    // grid-area: main;
    font-size: $font-size-lg;
    font-weight: 600;
    text-transform: none;
  }

  pagination {
    justify-self: end;
  }

  @include break-mobile-sm {
    grid-template-columns: 1fr;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100vw;

    pagination {
      justify-self: center;
    }
  }
}

.board-data {
  padding-left: 1rem;
  grid-area: main;

  @include break-min-large {
    // grid-column: auto;
  }
}

.board-data, .watchlist-data {
  // removed legacy styles
}

.board-sidebar {
  grid-area: sidebar;

  .board-actions {
    display: flex;
    flex-direction: column;
  }

  @include break-mobile-sm {
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 1280px) {
    grid-column: 2 / span 1;
    position: sticky;
    height: 100vh;
    top: $header-offset;
  }

  @media screen and (min-width: 767px) and (max-width: 1279px) {
    .board-actions {
      flex-direction: row;
      justify-content: flex-start;

      a {
        margin-right: 1rem;
      }
    }
  }
}

.board-footer {
  grid-column: 1 / span 2;
  justify-self: end;
}

.threads {
  .actions-bottom {
    @media screen and (max-width: 1280px) {
      padding: 0.75rem 1.5rem;

      .pagination-bottom {
        bottom: 0;
      }

      .actions-bottom-grid {
        grid-template-columns: 1fr;
      }
    }

    @include break-mobile-sm {
      padding: 0.5rem 1rem;
    }
  }
}


// Mobile Board Layout
// @include media($mobile) {
//   .board-data, .watchlist-data {
//     grid-column: 1 / span 2;
//     // .child-boards .board {
//     //   .info { @include span-columns(8); }
//     //   .view-count { @include span-columns(3); @include shift(5); @include pad(0.5rem 0 0 0); }
//     //   .last-post { @include span-columns(5); @include shift(-8); @include pad(0.5rem 0 0 0); }
//     // }
//     .threads-header {
//       .mobile-header { @include span-columns(8); @include omega; display: block; }
//       .subject, .replies, .views, .last-reply { display: none; }
//     }
//     .threads-data {
//       @include clearfix;
//       &.compact {
//         @include pad(0 0 0.5rem 0);
//         .subject { @include span-columns(6.5); }
//         .show-mobile { @include span-columns(1.5); @include omega; }
//       }
//       .replies, .views { display: none; }
//     }
//   }
// }

/*-------------- New Thread Layout -------------- */
.padded-row { @include row; @include pad(0 0 1rem 0); }
.padded-row { .h4, .h6 { display: inline-block; } }
@include media($mobile) { input[type="text"].thread-title { margin-bottom: 0; } }

//  New Board Layout
.content-sidebar {
  .board-data {
    h1 {
      font-size: $font-size-sm;
      color: $text-gray-med;
      text-transform: uppercase;
    }

    .threads-data {
      color: $text-gray-med;
      display: flex;
      flex-direction: row;
    }

    .subject {
      display: flex;
      flex: 3;
      margin-right: 0.5rem;
    }

    .title {
      flex: 2;
      margin-right: 0.5rem;
    }

    .last-reply {
      flex: 1;
      font-size: $font-size-sm;
    }

    @media screen and (min-width: 1280px) {
      font-size: $font-size-sm;
      flex-direction: column;

      .threads-data {
        flex-direction: column;
        margin-bottom: 1rem;
      }
    }

    @media screen and (max-width: 767px) {
      .threads-data {
        flex-direction: column;
      }

      .last-reply {
        font-size: $font-size-sm;
      }
    }
  }
}



// General Thread Table styles
.child-boards,
.threads-list {
  display: grid;
  column-gap: 1.5rem;
  margin-bottom: 3rem;

  caption {
    color: $text-gray-med;
    font-size: $font-size-xs;
    font-weight: 400;
    grid-column: 1 / span 3;
    margin-bottom: .25rem;
    text-align: left;
    text-transform: uppercase;
  }

  thead, tbody, tr {
    display: contents;
  }

   thead, tbody {
    tr {
      td, th {
        font-size: $base-font-size;
        line-height: 20px;
      }
    }
  }

  td, th {
    padding: 0;
    padding-bottom: 1rem;
  }

  .description {
    font-size: $font-size-sm;
  }

  .last-post {
    color: $text-gray-dark;
    font-size: $font-size-sm;
  }
}


// Child Boards view
.child-boards {
  grid-template-columns: minmax(calc(400px + 4rem), 800px) 2fr minmax(200px, 400px);
  border-bottom: $border;
  margin-bottom: 2.5rem;
  padding-bottom: 1.5rem;
  margin-left: -1rem;

  .children {
    color: $text-gray-dark;
    font-size: $font-size-sm;
  }

  .views {
    color: $text-gray-dark;
    font-size: $font-size-sm;
    font-weight: 600;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content;
    column-gap: 0.2rem;

    .views-number {
      justify-self: end;
    }

    .label {
      font-weight: 400;
    }
  }

  @include break-mobile-sm {
    grid-template-columns: 1fr;
    row-gap: 0;
    margin-bottom: 2rem;

    td {
      padding-bottom: 0;
    }

    td:last-child {
      margin-bottom: 2rem;
    }

    caption {
      grid-column: inherit;
    }

    .views {
      grid-template-columns: repeat(4, min-content);
    }
  }
}


// Thread List view
.threads-list {
  display: grid;
  grid-template-columns: minmax(400px, 800px) minmax(100px, auto) minmax(200px, 400px);
  column-gap: 1.5rem;
  row-gap: 1rem;

  caption {
    display: none;
    grid-column: 1 / span 4;
  }

  thead, tbody, tr {
    display: contents;
  }

  thead, tbody {
    tr {
      td, th {
        font-size: $base-font-size;
        padding: 0; 
        line-height: 20px;
      }
    }
  }

  thead {
    tr {
      th {
        &.subject,
        &.replies,
        &.views,
        &.views-replies,
        &.last-post {
          color: $text-gray-med;
          font-size: $font-size-xs;
          font-weight: 400;
          text-transform: uppercase;
        }
      }
    }
  }

  .started-by,
  .replies,
  .views,
  .last-post {
    color: $text-gray-dark;
  }

  .replies,
  .views,
  .last-post {
    font-size: $font-size-sm;
  }

  .replies,
  .views {
    text-align: right;
  }

  .views-replies {
    display: grid;
    grid-template-columns: repeat(2, minmax(60px, auto));
    text-align: right;
  }

  .replies {
    margin-left: 0.5rem;
  }

  .subject {
    display: flex;
    flex-direction: column;
  }

  .title {
    display: flex;
    flex: 0 auto;
  }

  .thread-state {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    position: absolute;
    top: 0;
    left: -1.625rem;
    height: 1.25rem;
    width: 1.5rem;

    svg {
      height: 9px;
      margin-right: 0.25rem;
      width: auto;

      path {
        fill: $text-gray-dark;
      }
    }

    .is-unread {
      height: 5px;
      fill: $color-primary;
    }

    @include break-mobile-sm {
      flex-direction: column;
      height: auto;
      margin-top: 0.25rem;

      svg {
        margin-bottom: 0.5rem;
      }
    }
  }

  .thread-title {
    flex: 1 0 auto;
    margin-bottom: 0;
    max-width: 100%;
  }

  .thread-state-secondary {
    display: flex;
    align-items: center;

    .thread-state-locked,
    .thread-state-hasPoll {
      line-height: 1;
      margin-left: 0.25rem;
    }

    svg {
      height: 14px;
      width: auto;

      &:hover {
        fill: $text-gray-med;
      }
    }
  }



  // Mobile Thread Table
  @include break-mobile-sm {
    grid-template-columns: 1fr;
    row-gap: 0;

    caption {
      display: block;
      color: $text-gray-med;
      grid-column: inherit;
      text-align: left;
      text-transform: uppercase;
    }

    tbody, thead {
      tr {
        td, th {
          line-height: 18px;
        }
      }
    }

    thead {
      display: none;
    }

    td {
      &:first-child {
        margin-top: 0.5rem;
      }
      &:last-child {
        margin-bottom: 1.5rem;
      }
    }

    .started-by {
      font-size: $font-size-sm;
    }

    .views-replies {
      grid-template-columns: repeat(3, max-content);
    }

    .replies,
    .views {
      font-weight: 600;
      text-align: left;

      &:after {
        font-weight: 400;
        white-space: nowrap;
      }
    }

    .replies {
      margin-left: 0;
      &:after {
        content: ' replies, ';
        margin-right: 0.25rem;
      }
    }

    .views {
      &:after {
        content: ' views'; 
      }
    }
  }
}