/*-------------- Threads Layout -------------- */
.board-controls-wrap {
  // background-color: $sub-header-color;
  background-color: #fff;
  border-bottom: $border;
  margin: -$header-bottom-margin -100% $header-bottom-margin;
  padding: $header-bottom-margin 100% 0;
  grid-column: 1 / span 2;
  .inverted-button {
    color: $secondary-font-color;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    text-align: center;
    &:hover {
      background-color: $secondary-font-color-light;
      border-color: $secondary-font-color;
      color: $secondary-font-color-dark;
    }
  }
}

.board-data, .watchlist-data {
  h1 { 
    display: inline-block; 
    font-size: $font-size-sm;
    line-height: 1.5;
    margin-top: 0.5rem;
    padding-left: 0; 
  }
  a { 
    
  }

  h2 {
    font-size: $font-size-med;
    font-weight: 600;
    text-transform: none;

    a {
      color: $base-font-color;
      
      &:hover {
        color: $color-primary;
      }
    }
  }

  .child-boards {
    margin-bottom: 3rem;
    .board {
      display: flex;
      flex-direction: row;
      padding: 0 0 1rem 0;

      .info {
        flex: 2;
        .description { 
          // font-size: 0.875rem; 
          line-height: 1.5;
        }

        .childboards {
          color: $text-gray-dark;
        }

        .label {
          font-size: $font-size-sm;
          // text-transform: uppercase;
        }
      }

      .info-secondary {
        color: $text-gray-dark;
        flex: 1;
        font-size: $font-size-sm;
        display: flex;
        flex-direction: column;
      }

      .value {
        font-weight: 600;
      }

      .view-count { 
        flex: 0 0 50%;
      }

      .view-count-posts,
      .view-count-threads {
        display: flex;
        justify-content: flex-end;
      }

      .view-count-number {
        flex: 1 0 auto;
        font-weight: 600;
        margin-right: 0.25rem;
        text-align: right;
      }

      .label {
        flex: 0 0 50%;
        text-align: left;
      }

      .last-post {  
      }
    }

    @include media($mobile) {
      .board {
        flex-direction: column;
      }
    }

    @media screen and (min-width: 960px) {
      .board {
        .info-secondary {
          flex-direction: row;

          .view-count {
            padding-right: 2rem;
          }
        }
      }
    }
  }

  .threads-header,
  .threads-data {
    display: flex;
    margin-bottom: 1rem;

    .subject {
      flex: 6;
    }

    .replies,
    .views {
      flex: 1;
    }

    .last-reply,
    .actions {
      flex: 2;
    }

    .replies, 
    .views,
    .last-post { 
      font-size: $font-size-sm;
      margin-left: 1rem;
    }

    .replies,
    .views {
      text-align: right;
    }
  }
  .threads-data {
    .subject {
      .title i {
        color: $secondary-font-color-dark;
        padding-left: 0.25rem;
        &.icon-fix { margin-top: 0.2rem; font-size: 0.95rem; }
      }
      .thread-title {
        word-wrap: break-word;
        overflow-wrap: break-word;
        &.bold { font-weight: bold; }
      }
      .started-by, .pages { font-size: 0.875rem; }
      .mobile-stats { @include info-text; display: none; }
    }

    .actions { 
      @include span-columns(3); 
      @include omega; 
      @include info-text; 
    }
  }
  .threads-data.compact {
    @include clearfix;
    @include pad(0 0 0.25rem 0);
    color: $secondary-font-color-dark;
    &:last-child { @include pad(0 0 1rem 0); }
    .subject{ @include span-columns(9); }
    .updated-at { @include span-columns(3); @include omega; @include info-text; }
  }
}

.board-sidebar {
  @include media($mobile) {
    grid-column: 1 / span 2;
    grid-row: 2 / 3;
  }
}

.board-footer {
  grid-column: 1 / span 2;
  justify-self: end;
}

// Mobile Board Layout
@include media($mobile) {
  .board-data, .watchlist-data {
    grid-column: 1 / span 2;
    // .child-boards .board {
    //   .info { @include span-columns(8); }
    //   .view-count { @include span-columns(3); @include shift(5); @include pad(0.5rem 0 0 0); }
    //   .last-post { @include span-columns(5); @include shift(-8); @include pad(0.5rem 0 0 0); }
    // }
    .threads-header {
      .mobile-header { @include span-columns(8); @include omega; display: block; }
      .subject, .replies, .views, .last-reply { display: none; }
    }
    .threads-data {
      @include clearfix;
      &.compact {
        @include pad(0 0 0.5rem 0);
        .subject { @include span-columns(6.5); }
        .show-mobile { @include span-columns(1.5); @include omega; }
      }
      .replies, .views { display: none; }
    }
  }
}

/*-------------- New Thread Layout -------------- */
.padded-row { @include row; @include pad(0 0 1rem 0); }
.padded-row { .h4, .h6 { display: inline-block; } }
@include media($mobile) { input[type="text"].thread-title { margin-bottom: 0; } }


//  New Board Layout
.content-sidebar {
  .board-data {
    h1 {
      font-size: $font-size-sm;
      color: $text-gray-med;
      text-transform: uppercase;
    }

    .threads-data {
      color: $text-gray-med;
      display: flex;
      flex-direction: row;
    }

    .subject {
      display: flex;
      flex: 3;
      margin-right: 0.5rem;
    }

    .title {
      flex: 2;
      margin-right: 0.5rem;
    }

    .last-reply {
      flex: 1;
      font-size: $font-size-sm;
    }

    @media screen and (min-width: 1280px) {
      font-size: $font-size-sm;
      flex-direction: column;

      .threads-data {
        flex-direction: column;
        margin-bottom: 1rem;
      }
    }

    @media screen and (max-width: 767px) {
      .threads-data {
        flex-direction: column;
      }

      .last-reply {
        font-size: $font-size-sm;
      }
    }
  }
}