/*-------------- Threads Layout -------------- */
.board-controls-wrap {
  background-color: $sub-header-color;
  margin: -$header-bottom-margin -100% $header-bottom-margin;
  padding: $header-bottom-margin 100% 0;
  .inverted-button {
    color: $secondary-font-color;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    text-align: center;
    &:hover {
      background-color: $secondary-font-color-light;
      border-color: $secondary-font-color;
      color: $secondary-font-color-dark;
    }
  }
}

.board-data, .watchlist-data {
  @include row;
  .child-boards {
    @include pad(0 0 1rem 0);
    .board {
      @include clearfix;
      @include pad(0 0 1rem 0);
      .info {
        @include span-columns(7);
        .description { font-size: 0.875rem; }
      }
      .view-count { @include span-columns(2); @include info-text; }
      .last-post { @include span-columns(3); @include omega; @include info-text;}
    }
  }
  .threads-header {
    .mobile-header { display: none; }
    .subject { @include span-columns(7); }
    .replies, .views { @include span-columns(1); text-align: center; }
    .last-reply, .actions { @include span-columns(3); @include omega; }
  }
  .threads-data {
    @include clearfix;
    @include pad(0 0 1rem 0);
    font-size: 0.95rem;
    .subject {
      @include span-columns(7);
      .title i {
        color: $secondary-font-color-dark;
        padding-left: 0.25rem;
        &.icon-fix { margin-top: 0.2rem; font-size: 0.95rem; }
      }
      .thread-title {
        word-wrap: break-word;
        overflow-wrap: break-word;
        &.bold { font-weight: bold; }
      }
      .started-by, .pages { font-size: 0.875rem; }
      .mobile-stats { @include info-text; display: none; }
    }
    .replies, .views { @include span-columns(1); @include info-text; text-align: center; }
    .last-reply, .actions { @include span-columns(3); @include omega; @include info-text; }
  }
  .threads-data.compact {
    @include clearfix;
    @include pad(0 0 0.25rem 0);
    color: $secondary-font-color-dark;
    &:last-child { @include pad(0 0 1rem 0); }
    .subject{ @include span-columns(9); }
    .updated-at { @include span-columns(3); @include omega; @include info-text; }
  }
}

// Mobile Board Layout
@include media($mobile) {
  .board-data, .watchlist-data {
    .child-boards .board {
      .info { @include span-columns(8); }
      .view-count { @include span-columns(3); @include shift(5); @include pad(0.5rem 0 0 0); }
      .last-post { @include span-columns(5); @include shift(-8); @include pad(0.5rem 0 0 0); }
    }
    .threads-header {
      .mobile-header { @include span-columns(8); @include omega; display: block; }
      .subject, .replies, .views, .last-reply { display: none; }
    }
    .threads-data {
      @include clearfix;
      &.compact {
        @include pad(0 0 0.5rem 0);
        .subject { @include span-columns(6.5); }
        .show-mobile { @include span-columns(1.5); @include omega; }
      }
      .subject { @include span-columns(8); @include omega; }
      .subject .mobile-stats { display: block; }
      .replies, .views, .last-reply { display: none; }
    }
  }
}

/*-------------- New Thread Layout -------------- */
.padded-row { @include row; @include pad(0 0 1rem 0); }
.padded-row { .h4, .h6 { display: inline-block; } }
@include media($mobile) { input[type="text"].thread-title { margin-bottom: 0; } }
