.trust-section {
  @include row;
  @include clearfix;
  margin-bottom: 1rem;
  .trust-select {
    background: none;
    height: 18rem;
    width: 100%;
  }
  .remove-active, .remove-inactive {
    font-size: 0.825rem;
    height: 1rem;
    display: inline-block;
    line-height: 1.65rem;
  }
  .remove-inactive { color: $secondary-font-color; }
  ul.depth-tree {
    list-style-position: outside;
    margin-bottom: 1rem;
    margin-left: 1.25rem;
    ul { margin-left: 2rem; }
  }
  select { margin-bottom: 0; }
  .trust-button {
    margin-top: 1.25rem;
    margin-bottom: 0;
    @include media($mobile) {
      margin: 0;
      width: 100%;
    }
  }
}

.trust-score {
  color: $secondary-font-color;
  &.unknown { color: #FA8072; }
  &.low { color: #DC143C; }
  &.mid { color: #74C365; }
  &.high { color: #008000; }
  .neg { color: orange; }
}
td .trust-score { float: right; margin-left: 1rem; }

.pos-feedback { color: #008000; }
.neu-feedback { color: orange; }
.neg-feedback { color: #FF0000; }
