/*-------------- Watchlist Layout --------------- */
.watchlist-section {
  display: flex;
  grid-area: header;
  margin-bottom: 1rem;

  h1 {
    color: $dark-text-default;
    font-size: $font-size-xl;
    font-weight: 600;
    text-transform: none;
  }

  @include break-mobile-sm {
    flex-direction: column;
  }
}

.watchlist-data {
  grid-area: main;
}

.watchlist-threads {
  font-size: 1rem;
  display: grid;
  column-gap: 1.5rem;
  row-gap: 1rem;

  tr {
    td {
      font-size: 1rem;
      padding: 0;
    }
  }

  .views-replies {
    grid-template-columns: repeat(2, minmax(30px, auto));
  }

  @include break-mobile-sm {
    padding-left: 0.5rem;
    row-gap: 0;

    .thread-state {
      margin-right: 0;
    }

    .views-replies {
      grid-template-columns: repeat(2, max-content);
    }
  }
}

.watchlist-data-edit {
  .threads-header, .threads-data {
    .mobile-header { display: none; }
    .subject { @include span-columns(9); }
    .replies, .views { @include span-columns(1); text-align: center; }
    .actions { @include span-columns(1); @include omega; }
  }
}

.watchlist-data-spacer { margin-bottom: 2.5rem; }

@include media($mobile) {
  .watchlist-section {
    .leftcol {
      @include span-columns(8);
    }
    .rightcol {
      @include span-columns(8);
      @include omega;
      .pagination-slide { @include fill-parent; }
    }
  }
  .watchlist-data-edit {
    .threads-header {
      .mobile-header { @include span-columns(8); @include omega; display: block; }
      .subject, .replies, .views, .actions { display: none; }
    }
    .threads-data {
      .subject { @include span-columns(8); @include omega; }
      .subject .mobile-stats { display: block; }
      .replies, .views, .actions { display: none; }
    }
  }
}
